:root {
  --taas-fileviewer-card-bg-color-default: rgba(255, 255, 255, 1);
  --taas-fileviewer-card-icon-color: rgba(35, 40, 115, 1);
  --taas-fileviewer-card-title-color-default: rgba(35, 40, 115, 1);
  --taas-fileviewer-card-subtitle-color-default: rgba(35, 40, 115, 1);
  --taas-fileviewer-card-line-color: rgba(204, 204, 204, 1);
  --taas-fileviewer-card-button-text-color-default: rgba(126, 123, 123, 1);
  --taas-fileviewer-card-button-icon-color-default: rgba(126, 123, 123, 1);
  --taas-title-text-color: rgba(35, 40, 115, 1);
  --taas-title-secondary-text-color: rgba(107, 110, 119, 1);
  --taas-header-bg-color: rgba(20, 0, 142, 1);
  --label-text-title-color-default: rgba(35, 40, 115, 1);
  --link-primary-text-color-default: rgba(107, 110, 119, 1);
  --otp-border-color-default: rgba(189, 191, 213, 1);
  --otp-bg-color-default: rgba(255, 255, 255, 1);
  --checkbox-selected-icon-color-default: rgba(35, 40, 115, 1);
  --checkbox-unselect-icon-color-default: rgba(35, 40, 115, 1);
  --checkbox-text-color-default: rgba(0, 0, 0, 1);
  --checkbox-text-color-disable: rgba(200, 200, 200, 1);
  --checkbox-icon-color-mandatory: rgba(255, 90, 35, 1);
  --checkbox-unselected-border-color-focus: rgba(255, 90, 35, 1);
  --checkbox-selected-icon-color-focus: rgba(255, 90, 35, 1);
  --checkbox-selected-icon-color-disable: rgba(200, 200, 200, 1);
  --button-primary-bg-color-default: rgba(255, 90, 35, 1);
  --button-primary-text-color-default: rgba(255, 255, 255, 1);
  --button-primary-icon-color-default: rgba(255, 255, 255, 1);
  --button-primary-text-color-default: rgba(255, 255, 255, 1);
  --button-primary-bg-color-hover: rgba(229, 62, 7, 1);
  --button-primary-bg-color-focus: rgba(255, 90, 35, 1);
  --button-primary-bg-color-disable: rgba(240, 240, 241, 1);
  --button-primary-border-color-disable: rgba(231, 231, 231, 1);
  --button-primary-icon-color-disable: rgba(107, 110, 119, 1);
  --button-primary-text-color-disable: rgba(107, 110, 119, 1);
  --button-secondary-bg-color-default: rgba(255, 255, 255, 1);
  --button-secondary-border-color-default: rgba(189, 191, 213, 0.30000001192092896);
  --button-secondary-text-color-default: rgba(35, 40, 115, 1);
  --button-secondary-icon-color-default: rgba(35, 40, 115, 1);
  --button-secondary-bg-color-disable: rgba(240, 240, 241, 1);
  --button-secondary-text-color-disable: rgba(107, 110, 119, 1);
  --button-secondary-icon-color-disable: rgba(107, 110, 119, 1);
  --button-secondary-bg-color-hover: rgba(35, 40, 115, 1);
  --button-secondary-icon-color-hover: rgba(255, 255, 255, 1);
  --button-secondary-text-color-hover: rgba(255, 255, 255, 1);
  --button-secondary-bg-color-focus: rgba(255, 255, 255, 1);
  --button-secondary-text-color-focus: rgba(35, 40, 115, 1);
  --button-secondary-icon-color-focus: rgba(35, 40, 115, 1);
  --button-secondary-border-color-focus: rgba(189, 191, 213, 0.30000001192092896);
  --link-secondary-text-color-default: rgba(35, 40, 115, 1);
  --linklist-arrow-icon-color-default: rgba(35, 40, 115, 1);
  --link-secondary-text-color-hover: rgba(35, 40, 115, 1);
  --link-primary-text-color-disable: rgba(187, 187, 187, 1);
  --link-primary-text-color-default: rgba(35, 40, 115, 1);
  --link-primary-text-color-hover: rgba(107, 110, 119, 1);
  --link-secondary-text-color-disable: rgba(187, 187, 187, 1);
  --link-primary-text-color-focus: rgba(107, 110, 119, 1);
  --link-secondary-text-color-focus: rgba(35, 40, 115, 1);
  --link-bg-color-focus: rgba(255, 255, 255, 1);
  --mandatory-text-color: rgba(255, 90, 35, 1);
  --input-bg-color-default: rgba(255, 255, 255, 1);
  --input-text-color-default: rgba(35, 40, 115, 1);
  --input-text-color-place-holder: rgba(107, 110, 119, 1);
  --input-border-color-default: rgba(189, 191, 213, 1);
  --input-border-color-error: rgba(238, 9, 9, 1);
  --input-border-color-focus: rgba(255, 90, 35, 1);
  --input-border-color-disable: rgba(231, 231, 231, 1);
  --input-icon-color-default: rgba(35, 40, 115, 1);
  --input-massage-error-color: rgba(238, 9, 9, 1);
  --input-text-color-disable: rgba(200, 200, 200, 1);
  --input-icon-color-hover: rgba(80, 106, 118, 1);
  --label-text-color-caption: rgba(107, 110, 119, 1);
  --label-text-color-listvalue: rgba(35, 40, 115, 1);
  --label-text-color-listcaption: rgba(35, 40, 115, 1);
  --checkbox-unselected-icon-color-disable: rgba(200, 200, 200, 1);
  --label-text-color-default: rgba(0, 0, 0, 1);
  --label-text-color-title: rgba(35, 40, 115, 1);
  --label-text-color-subtitle: rgba(35, 40, 115, 1);
  --label-text-color-listvalue: rgba(0, 130, 171, 1);
  --label-text-color-listcaption: rgba(0, 130, 171, 1);
  --label-text-color-disable: rgba(200, 200, 200, 1);
  --input-icon-color-disable: rgba(200, 200, 200, 1);
  --icon-color-error: rgba(238, 9, 9, 1);
  --icon-color-default: rgba(20, 0, 142, 1);
  --icon-color-close: rgba(161, 163, 165, 1);
  --upload-icon-color-sucess: rgba(35, 40, 115, 1);
  --upload-border-color: rgba(189, 191, 213, 1);
  --upload-filename-text-color: rgba(0, 0, 0, 1);
  --upload-status-text-color-sucess: rgba(255, 90, 35, 1);
  --upload-bg-color: rgba(255, 255, 255, 1);
  --upload-icon-color-error: rgba(200, 200, 200, 1);
  --upload-status-text-color-error: rgba(238, 9, 9, 1);
  --switch-track-bg-color-default: rgba(248, 248, 248, 1);
  --switch-track-border-color-default: rgba(189, 191, 213, 1);
  --switch-off-handle-bg-color: rgba(161, 163, 165, 1);
  --switch-on-handle-bg-color-default: rgba(255, 90, 35, 1);
  --switch-handle-bg-color-disable: rgba(231, 231, 231, 1);
  --switch-track-bg-color-hover: rgba(231, 231, 231, 1);
  --switch-track-border-color-focus: rgba(254, 129, 88, 1);
  --switch-on-handle-bg-color-hover: rgba(80, 106, 118, 1);
  --switch-on-handle-bg-color-focus: rgba(254, 129, 88, 1);
  --radio-selected-icon-color-default: rgba(35, 40, 115, 1);
  --radio-unselect-icon-color-default: rgba(189, 191, 213, 1);
  --radio-icon-color-disable: rgba(200, 200, 200, 1);
  --listitem-arrow-color-default: rgba(35, 40, 115, 1);
  --listitem-bg-color-default: rgba(252, 252, 252, 1);
  --listitem-border-color-default: rgba(189, 191, 213, 1);
  --listitem-icon-color-default: rgba(35, 40, 115, 1);
  --listitem-text-color-default: rgba(35, 40, 115, 1);
  --listitem-bg-color-hover: rgba(245, 245, 245, 1);
  --listitem-bg-color-selected: rgba(255, 90, 35, 1);
  --listitem-border-color-focus: rgba(222, 222, 222, 1);
  --listitem-arrow-color-disable: rgba(200, 200, 200, 1);
  --listitem-icon-color-selected: rgba(255, 255, 255, 1);
  --listitem-arrow-color-selected: rgba(255, 255, 255, 1);
  --listitem-text-color-disable: rgba(200, 200, 200, 1);
  --listitem-text-color-selected: rgba(255, 255, 255, 1);
  --listitem-icon-color-disable: rgba(200, 200, 200, 1);
  --listitem-border-color-disable: rgba(230, 230, 230, 1);
  --listitem-container-border-color: rgba(204, 204, 204, 1);
  --otp-border-color-error: rgba(238, 9, 9, 1);
  --otp-border-color-default: rgba(189, 191, 213, 1);
  --otp-border-color-focus: rgba(255, 90, 35, 1);
  --otp-border-color-disable: rgba(231, 231, 231, 1);
  --taas-payment-row-bg-bg-color: rgba(255, 90, 35, 1);
  --row-primary-bg-color: rgba(255, 255, 255, 1);
  --taas-bg-color: rgba(20, 0, 142, 1);
  --taas-payment-main-text-color: rgba(255, 255, 255, 1);
  --taas-payment-icon-color: rgba(255, 90, 35, 1);
  --message-title-text-color: rgba(255, 90, 35, 1);
  --messagebox-bg-color: rgba(255, 255, 255, 1);
  --canvas-buttom-line-color: rgba(200, 200, 200, 1);
  --canvas-icon-bg-color-default: rgba(255, 255, 255, 1);
  --canvas-icon-bg-color-selected: rgba(255, 90, 35, 1);
  --canvas-icon-bg-color-hover: rgba(249, 249, 249, 1);
  --canvas-icon-color-disable: rgba(200, 200, 200, 1);
  --canvas-icon-color-selected: rgba(255, 255, 255, 1);
  --canvas-icon-color-default: rgba(35, 40, 115, 1);
  --scrollbar-track-bg-color: rgba(249, 249, 249, 1);
  --scrollbar-thumb-bg-color-default: rgba(20, 0, 142, 1);
  --grid-pager-numpage-text-color-default: rgba(200, 200, 200, 1);
  --grid-pager-info-text-color: rgba(0, 0, 0, 1);
  --grid-pager-nav-arrow-icon-color-default: rgba(35, 40, 115, 1);
  --grid-pager-nav-arrow-icon-color-disable: rgba(222, 222, 222, 1);
  --grid-pager-numpage-text-color-selected: rgba(35, 40, 115, 1);
  --grid-header-border-color-default: rgba(189, 191, 213, 1);
  --grid-header-bg-color-default: rgba(255, 255, 255, 1);
  --grid-header-text-color-default: rgba(35, 40, 115, 1);
  --grid-header-icon-color-default: rgba(20, 0, 142, 1);
  --grid-cell-border-color-default: rgba(231, 231, 231, 1);
  --grid-cell-border-color-focus: rgba(222, 222, 222, 1);
  --grid-cell-text-color-default: rgba(0, 0, 0, 1);
  --grid-cell-edit-border-color-focus: rgba(142, 187, 207, 1);
  --grid-cell-edit-border-color-default: rgba(231, 231, 231, 1);
  --grid-cell-edit-border-color-focus: rgba(255, 90, 35, 1);
  --grid-cell-bg-color-default: rgba(255, 255, 255, 1);
  --grid-cell-icon-color-default: rgba(20, 0, 142, 1);
  --grid-cell-bg-color-hover: rgba(248, 248, 248, 1);
  --grid-cell-selected-bg-color: rgba(62, 46, 163, 1);
  --grid-cell-selected-bg-color-hover: rgba(20, 0, 142, 1);
  --label-text-color-selected: rgba(255, 255, 255, 1);
  --grid-toolbar-bg-color-default: rgba(255, 255, 255, 1);
  --grid-filter-bg-color: rgba(255, 255, 255, 1);
  --grid-filter-border-color: rgba(189, 191, 213, 1);
  --chip-bg-color-default: rgba(245, 245, 245, 1);
  --chip-border-color-default: rgba(189, 191, 213, 1);
  --chip-icon-color-disable: rgba(200, 200, 200, 1);
  --chip-icon-color-default: rgba(20, 0, 142, 1);
  --chip-bg-color-hover: rgba(231, 231, 231, 1);
  --chip-bg-color-selected: rgba(20, 0, 142, 1);
  --chip-border-color-focus: rgba(255, 90, 35, 1);
  --chip-text-color-selected: rgba(255, 255, 255, 1);
  --chip-border-color-selected: rgba(20, 0, 142, 1);
  --chip-icon-color-selected: rgba(255, 255, 255, 1);
  --multiselect-bg-color-default: rgba(255, 255, 255, 1);
  --mulltiselect-border-color-default: rgba(222, 222, 222, 1);
  --multiselect-bg-color-hover: rgba(245, 245, 245, 1);
  --multiselect-border-color-focus: rgba(172, 206, 221, 1);
  --multiselect-border-color-error: rgba(238, 9, 9, 1);
  --multiselect-border-color-focus: rgba(255, 90, 35, 1);
  --taas-error-row-bg-bg-color: rgba(255, 90, 35, 1);
  --label-text-color-display: rgba(255, 255, 255, 1);
  --labelstar-off-icon-color: rgba(189, 191, 213, 1);
  --labelstar-on-icon-color: rgba(20, 0, 142, 1);
  --labelstar-off-text-color: rgba(200, 200, 200, 1);
  --labelstar-on-text-color: rgba(20, 0, 142, 1);
  --window-bg-color-default: rgba(255, 255, 255, 1);
  --window-border-color: rgba(189, 191, 213, 1);
  /* Text-size styles */
  --link-primary-default: 14px;
  --link-primary-hover: 14px;
  --link-primary-focus: 14px;
  --link-secondary-default: 16px;
  --link-secondary-hover: 16px;
  --link-secondary-focus: 16px;
  --disaplay-large: 80px;
  --display-medium: 64px;
  --display-small: 48px;
  --login-large: 32px;
  --login-medium: 24px;
  --login-small: 20px;
  --title-large: 32px;
  --title-medium: 22px;
  --title-small: 18px;
  --subtitle-large: 20px;
  --subtitle-medium: 16px;
  --subtitle-small: 14px;
  --label-large: 22px;
  --label-medium: 18px;
  --label-small: 14px;
  --caption-medium: 14px;
  --list-large: 15px;
  --list-medium: 14px;
  /* Effect styles */
  --checkbox-on-shadow: 0px 0px 4px rgba(20, 0, 142, 0.2);
  --button-primary-focus: 0px 0px 6px rgba(229, 62, 7, 0.6);
  --button-secondary-focus: 0px 2px 6px rgba(20, 0, 142, 0.2);
  --taas-fileviewer-card-shadow-default: 0px 1px 2px rgba(108, 108, 108, 0.12);
  --row-shadow: 0px 2px 16px rgba(11, 0, 77, 0.14);
  --link-focus: 0px 0px 6px rgba(20, 0, 142, 0.15);
  --input-focus-shadow: 0px 2px 6px rgba(255, 90, 35, 0.2);
  --switch-focus: 0px 3px 4px rgba(255, 90, 35, 0.3);
  --radio-focus: 0px 0px 0px rgba(62, 46, 163, 0.3);
  --list-container-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.03), 0px 4px 5px rgba(0, 0, 0, 0.04);
  --taas-payment-button-img-shadow: 0px 0px 12px rgba(20, 0, 142, 0.2);
  --taas-payment-row-shadow: 0px 10px 6px rgba(17, 21, 88, 0.4);
  --messagebox-box-shadow: 0px 0px 6px rgba(17, 21, 88, 0.1), 0px 4px 3px rgba(17, 21, 88, 0.2);
  --canvas-icon-shdow-focus: 0px 0px 6px rgba(142, 187, 207, 0.25);
  --grid-cell-edit-shadow: 0px 0px 2px rgba(255, 90, 35, 1);
  --chip-focus-shadow: 0px 4px 4px rgba(255, 90, 35, 0.3);
  --multiselect-focus-shdow: 0px 4px 4px rgba(255, 90, 35, 0.3);
  --window-shadow: 0px 5px 8px rgba(20, 0, 142, 0.2);
}

button.k-button {
  border-radius: 30px !important;
}/*# sourceMappingURL=style.css.map */