@use  './varible/varible' as *;
@use './components/textcontrol';
@use './components/buttoncontrol';
@use './components/dynamiclabelcontrol';
@use './components/header';
@use './components/fotter';
@use './components/dropdwon';
@use './components/datecontrol';
@use './components/textarea';
@use './components/linkcontrol';
@use './components/drawer';
@use './components/tabLabel';
@use './components/grid';
@use './components/calnder';
@use './components/upload';
@use './components/popupWindow';
@use './components/errormessage';
@use './components/timeControl';
@use './components/checkBox';
@use './components/intlphone';
@use './components/mandatory';
@use './components/googleAdrress';
@use './page/documents';
@use './page/message';

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@100;300;500&display=swap');


    body {
        font-family: 'Heebo' !important;
    }

#uber-container{
    & .beforeLoad{
    margin-top: 50% !important;

    }
    & #progress-bar{
        color: #39B54A !important;
    }
}

.k-mobile{
    background-image: url('../../../../../Images/Customer/eurodrive/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto !important;
    background-attachment: fixed !important; 


}
body{    
    background: none !important;
}
 mainbody > .row{
    background: none !important;
    border: none !important;
    margin-bottom: 20px;
}


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Main{


        margin-bottom: 70px !important;
      
    
    
}
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Login{



    & .imgCar{
        padding: 0 !important;
      

        & img{
            float: right;
            margin-right: -2%;
            width: 73% !important;
        }
    }
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_ServiceCalls{


    & .optionServ {
        padding: 0 !important;
    }

    & .optionServ .border{
        min-height: 60px !important;
        background: #FFFFFF !important;
        border: 1px solid #BBBBBB !important;
        border-radius: 20px 0px !important;
        margin-bottom: 10px !important;

        & > div {
            height: 60px !important;
        }

     & > div.col-12:last-child{
      color: #39B54A;
   
        &:has(.d-none){

            display: none !important;
        }
        
     }

 
        & .titleServ,
        & .DateServ,
        & .StateServ{
            position: absolute !important;
            top: 62% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            & span{
              
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 130% !important;
                color: #39B54A !important;
                text-align: right !important;
                margin-right: 11px;
                top: 50%;
                transform: translateY(-35%);
            }
        }

        & .extraDataServ{

          & span{

             text-align: right !important;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400 !important;
            color: black !important;
            font-size: 16px !important;
            line-height: 130% !important;

          }
        }

        & .xstyle-dynamiclabelcontrol-wrapper.StateServ{
            
            left: 70% !important;

            & span{
                text-align: left !important;
                font-size: 12px !important;
                margin-right: 0 !important;
            }

        }

        & .xstyle-dynamiclabelcontrol-wrapper.DateServ{
            

            & span{
                text-align: left !important;
                font-size: 14px !important;
                color: #AAAAAA !important;
            }

        }

    }
}


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SelectedGarageDetailes{

    & .textAddress{
        margin-bottom: 30px;  
      }

      & .secondaryTitle{
        & span{
            margin-bottom: -5px !important;
        }
    }

    div[uxid="lAgencyDescription"]{
        margin-bottom: 30px;
    }
}
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_FindGarage{

& .garageName {

    div.x-self-container:nth-child(1){
        margin-top: 5px;
    } 
    div.x-self-container:nth-child(2){
        margin-top: -5px;
    } 
}
    

    & .optionServ .border{
        min-height: 81px !important;
        background: #FFFFFF !important;
        border: 1px solid #BBBBBB !important;
        border-radius: 20px 0px !important;
        margin-bottom: 15px !important;
        box-shadow: 0px 4px 4px rgba(57, 181, 74, 0.2), 0px 0px 4px rgba(57, 181, 74, 0.1) !important;


        & .garageName{
            & .address{

                & span.x-dynamic-label-control.s-dynamic-label-control{

                    color: #BBBBBB !important;
                    font-size: 14px !important;
                    font-weight: 400 !important;
                    margin-top:  0 !important;
                }
            }
            & span.x-dynamic-label-control.s-dynamic-label-control{

                margin-bottom: 0 !important;
                color: #39B54A !important;
                font-weight: 500 !important;
                font-size: 16px !important;
                text-align: right !important;
                margin-top: 5%;
              

            }
        }

        & .distance {
            & span.x-dynamic-label-control.s-dynamic-label-control{

                color: #39B54A !important;
                font-weight: 400 !important;
                font-size: 12px !important;
                line-height: 100% !important;
                margin-top: 60% !important;
            
            }

        }
    }
}


.headerNone{
    margin-top: 20px !important;
}

.mt-2{
    margin-top: 20px !important;
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_AppointmentSummary{
    img{
        width: 80%;
    }
}