
.k-window:has(#TafnitCore_CarOrder_UI_Addaccessory){
    width: 350px !important;
    height: fit-content !important;
    top: 30% !important;
    left: 15% !important;
    margin: unset;
    position: absolute !important;

}