
.k-window:has(#TafnitCore_CarOrder_UI_RemarksOrder){
    width: 344px !important;
    height: fit-content !important;
    top: 38% !important;
    right: 20%!important;
    margin: unset !important;
    left: unset !important;

    position: absolute !important;
}