.dotIcon.xstyle-buttoncontrol-wrapper{
    bottom: 55%;
}

.btn-small{
    button{
        height: 30px ;
    }
}
.btn-medium{
    button{
        height: 40px  ;
    }
}
.borderRadius{
    button{
        border-radius: 50px;
    }
}

.k-toolbar-tool.k-button.k-button, .k-toolbar-item .k-button{
    min-width: auto;
    background-color: #8EBBCF ;
    position: relative ;
    height: 50px ;
    border: none;
    border-radius: 4px;
    &:hover{
        border: none;
        background-color: #ACCEDD ;

        span{
            color: white;
        }
    }
    &:focus{
        background: #759BAC ;
    }




}
.k-state-disabled{
    opacity: 1;
}
.k-button.k-disabled, .k-button[disabled]{
    border: 1px solid #ECECEC;
    background:  #FBFBFB;
    color: #C8C8C8;
    opacity: 1;
}
button.k-button {
    
    border: none;
    color:white;
    background-color: #8EBBCF;
    border-radius: 4px;
    height: 50px ;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    &.k-input-button{
        border: 0px ;
        position: absolute;
        left: 0;
        z-index: 10;
        height: auto ;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover{
        border: none;
        background-color: #ACCEDD;

        span{
            color: white;
        }
    }

    &:focus{
        background: #759BAC;
    }

    .k-button-text{
        text-align: center;
        align-items: center;
        display: grid;
        color: white;
        font-family: Heebo;
        font-size: 14px;

    }
    
    &.x-button {
        width: 100%;
        display: inline-block;
        padding-top: 0px;
        padding-bottom: 0px;

        .x-button_caption_text {
            position: relative;
            display: block;
        }
    }
    .k-icon{
        overflow: visible;
    }


}

/*row collapse button arrow*/

.x-btn-collapse {
    width: 20px;
    height: 20px;
    top: 5px;
    position: absolute;
    border: 1px solid;
    left: 15px;
    right: auto;

    &.collapsed{
        transform: rotate(180deg);
    }

    #x-arrow-collapse {
        position: absolute;
        top: 0;
        left: 15%;
    }
}

.k-ltr {
    .x-btn-collapse {
        right: 15px;
        left: auto;
    }
}

.k-filter-menu{
    .k-picker,.k-datepicker{
        background: #fafafa ;
        border: 0px ;
        border-bottom: 1px solid ;
        border-radius: 0;

        &:focus{
            color: #003f59;
            background-color: #fff ;
            box-shadow: 0 0 3px 0 hsla(0, 0%, 0%, 0.3);
        }
    }
    .k-icon-button{
        border: 0px ;
    }
}

.k-calendar-container{
    .k-button{
        background: transparent ;
        border: 0px ;
    }
}

.k-window{
    .k-icon-button{
        background: transparent ;
        border: 0px ;
    }
}

