

.xstyle-checkbox-wrapper{
    min-height: 39px;

 input{
    border: 1px solid var(--vanilla-other-black, #000);

    &:checked{
        border: 1px solid #759BAC;


    }

    &:focus{
        fill: var(--color-other-white, #FFF);
             filter: drop-shadow(0px 4px 8px rgba(142, 187, 207, 0.50));
             box-shadow: none;
             border: 1px solid var(--vanilla-primary-400, #ACCEDD);
    }
    &::before{
        color: #759BAC;
    }


 }

 label{
    color: var(--black-text, #000);
    text-align: right;
    font-family: 'Heebo';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%
 }

 &.mandatory{
    .mandatory.active + input{
        background: none;
        border: 1px solid #FF7A00;

        &::before{
            color: #FF7A00;
        }
    }


 }

}
