.xstyle-colorpicker-wrapper{
    .k-colorpicker{
        border-radius: 4px;
        border: 1px solid var(--vanilla-neutral-400, #DEDEDE);
        background: none;

        &:focus-within,&:active,&:focus{
            box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);

        }
    }
    button.k-button.k-input-button{
        position: relative;
        top: 0;
        transform: none;

        &:hover{
            background: none !important;
            span{
                color: #8EBBCF;
            }
        }
            &:focus{
                background: none !important;
                span{
                    color: #8EBBCF;
                }
            }
        
    }

    .k-i-arrow-s{
        font-size: 18px;
        color:#8EBBCF !important;


    }
    
}

.k-animation-container .k-popup.k-colorpicker-popup{
    border-radius: 4px;
    border: 1px solid var(--component-border, rgba(0, 0, 0, 0.08));
    background: var(--component-bg, #FFF); 


    .k-coloreditor-cancel{

        border: 1px solid var(--vanilla-primary-500, #8EBBCF);
        background: var(--vanilla-other-white, #FFF);
        span.k-button-text{
          color: var(--vanilla-primary-500, #8EBBCF);
          text-align: right;
          font-family: Heebo;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 110%; 
        }
        span{
          color: #8EBBCF;
          font-weight: 400;
          &::before{
            color: #8EBBCF;
          }
        }

    }
}