
@use '../variables/masterVariable' as *;

.k-grid {
    border: none;
    outline: 0;


    th,td{


      & input.k-checkbox{
        border-color: $Grid-checkBox-border;
        border-radius: 50%;

        &:checked{
          border-radius: 50%;
       
            &:before{
            background: $Grid-checkBox-bg;
            content: "";
            border-radius: 50%;
            }
        }
    
        &:focus{
            box-shadow: none;
        }
      }

      i,.k-icon{

        &::before{
        color: $grid-filter-icon  ;
        font-weight: 300;
        }

        &.fa-circle::before{
          color: #000000 ;
        }
      }
    }

    table {
        @media only screen and (min-width:700px) {
            width: 100% ;
        }
    }

    .k-toolbar {
        background: $grid-header-background;


        &.k-grid-toolbar {
            border-color: $grid-header-toolbar-border-color ;

            >a.k-button {
                align-items: center;
                height: 35px;

                >i {
                    margin-left: .1875rem;
                }
            }
        }

        .k-grid-serach {
            max-width: 100%;
            float: $grid-header-serach-float ;
            border: $grid-header-serach-border ;
            border-radius: $grid-header-serach-border-radius ;
        }
    }

    .k-grid-header {
        background: $grid-header-background;
        border-top: 1px solid #8EBBCF ;
        border-bottom: 1px solid #8EBBCF ;
        padding: 5px;


        .k-grid-filter {
            &.k-state-active {
                background: $grid-header-filter-active-background;

  
            }
        }

        tr {

          &.k-alt{
            background:$grid-tr-background-k-alt ;
          }

            &:hover,
            &:hover td {
                background-image: none ;
                background: $grid-tr-background-hover ;

                td{
                  background: $grid-tr-background-hover ;
                }
            }
        }
        

        th {
            &.k-header {
              font-family: 'Assistant';
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 130%;
              text-align: right;
              color: $Grid-color-title-th ;
              
            }

              

            background: none;
            border: none ;

            a {
                color: $grid-header-text-color ;

                span {
                    &:before {
                        color: $grid-filter-icon;
                    }
                }
            }
        }

        thead {
            background: $grid-header-title-background;
        }
    }

    .k-grid-content {
        height: auto;
        overflow: auto;

       



    }

}



@media only screen and (max-width: 850px) and (min-width: 700px){
    .k-pager-wrap.k-grid-pager.k-floatwrap{
      & .k-pager-first.k-pager-nav{
  
        margin-right: 10% ;
      }
  
   
  }
  }
    
    .k-pager-wrap.k-grid-pager.k-floatwrap{
      margin-top: 30px ;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      width: auto;
      justify-content: center;
      margin: auto;
      border: none;
      background: none;
     
      & >.k-pager-nav:hover{
        border: none ;
        background: none ;
      } 
    
  
      .k-pager-nav{
        background: none;
        border: none;
        color: #8EBBCF;
          &:focus{
            box-shadow: none;
            border: none;
          }
      }
  
      & .k-pager-info.k-label{
  
        position: absolute;
        right: 0;
        color:  #000;
        text-align: right;
        font-family: Heebo;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
     }
    
  
    }

    .k-pager-numbers .k-link{
      color:  #ECECEC;
      font-family: Assistant;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &:hover{
        background: #8EBBCF;
        color: #000;
      }
    
      &.k-selected{
         background: none;
         border: none;
         color: #8EBBCF;
        font-family: 'Assistant';
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6.5px;
      }
    }
  
    .k-window-content{
      margin-top: 20px;
    }
    
    .k-grid-content.k-auto-scrollable,.k-window-content{
  
      scrollbar-face-color: #bb2e71;
      scrollbar-track-color: #f3e9f8;
      scrollbar-arrow-color: #bb2e71;
    
      /* width */
      /* Track */
      /* Handle */
      /* Handle on hover */
    
      &::-webkit-scrollbar {
        width: 10px ;
        border-radius: 10px;
        position: absolute;
      }
    
  
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #f0f0f0;
      }
    
      &::-webkit-scrollbar-thumb {
        background:$grid-scrollbar-color;
        border-radius: 10px;
        
    
        &:hover {
          background:$grid-scrollbar-color-hover ;
          
        }
        }
  
    
      & >table>tbody>tr{
       
        &.k-alt{
          background:$grid-tr-background-k-alt ;
        }
  
          &:hover,
          &:hover td {
              background-image: none ;
              background: $grid-tr-background-hover ;
  
              td{
                background: $grid-tr-background-hover ;
              }
          }
      }
    
    
    
    
    
    
      & >table>tbody>tr>td>button{
        align-items: center;
        padding: 20px;
        height: 35px ;
      

        }
    
  
          
      
          & >table>tbody>tr>td{
    
            font-family:'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            text-align: right ;
            color: $Grid-color-text-td  ;
            border: none;
            border-bottom:$grid-border-td;
            height: 35px ;
            padding-left: 19px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
  
            a{
       
  
              font-family: 'Heebo';
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 130%;
              text-align: right;
              color: $grid-color-link-td;
              text-decoration: none;
      
              
        &:hover {
          color: $grid-color-link-td ;
          font-weight: 500;
          text-decoration: underline ;
        }
          }
           
          }
    
    
    
    }
  
  
  
          .k-action-buttons {
            display: flex;
            flex-direction: row ;
          
    
            > button {
              width: 45% ;
              height: 30px;
              background: $Button-bg ;
              border-radius: 10px ;
              color: $Button-color-text ;
  
              &.k-button-solid-base{
                  background: #FFFFFF ;
                  border: 1px solid #DA3382  ;
                  color: #DA3382  ;
              }
            }
          }
     
    









.gridSearch.searchDesign{

    .k-toolbar.k-toolbar-resizable{
        background: none;
        border: none;
    }
}

.k-grid .k-grid-header .k-grid-header-wrap th.k-header{ 

     white-space: pre-line ;
}

.k-grid {


 

    .x-searchinput {
        width: 150px;
    }

    .k-toolbar{
        background: none;
        border: none;
    
        &.k-grid-toolbar:empty{
            display: none;
        }
    }
}

.k-rtl{
    .k-grid{
        .k-grid-header-wrap{ 
            a.k-grid-filter{
                float: right ;
                margin-left: 5px ;
            }
        }
    }
}



/* unknow */


.x-oldGrid-control {
    display: inline-block;
}