

.xstyle-linkslist-wrapper{

    div{
        background: none;

        th,td,tr{
            background: none;
            border: none;
        }

        
    }

    .x-grid-control{
        border: none;
        .k-grid-header{
            border: none;

        }

        .k-grid-content{

            tr{
                background: none !important;
                
                &:focus,&:active{

                    a{
                        font-weight: 700;
                    }
                    

                }
            }

            td{
                a{
                    color: var(--vanilla-secondary-500, #0EAADC);
                    text-align: right;
                    /* Link */
                    font-family: Heebo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; 
                    text-decoration: none ;

                    &:hover{
                        text-decoration: underline;
                        color: var(--vanilla-secondary-500, #0EAADC);
                    }

                    &:focus{
                        font-weight: 700;
                    }

                    &::after{
                        content: "\e974";
                        font-family: 'icomoon';
                        margin-right: 5px;
                        color: black;
                        font-size: 12px;
                    }


                }
                &:focus,&:active{

                    a{
                        font-weight: 700;
                    }
                    

                }

                &:hover{
                    background: none !important;
                }

             
            }
        }
    }
}