



#TafnitCore_System_UI_App_ErrorPage{

   
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1600;

    & .logoErro {
        background: none ;
        border: none !important;
        box-shadow: none;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        & .xstyle-image-wrapper {
            width: 35%;
            float: left !important;
        }
    }

    & .row{
        background: none ;
        border: none !important;
        box-shadow: none;
    }

    & .k-icon{
        font-size: 45px;
        color: #8C4D9C !important;

    }

    & .titleErro{
          
        & .xstyle-dynamiclabelcontrol-wrapper {

            & span{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 700 !important;
                font-size: 24px !important;
                line-height: 50px !important;
                text-align: right !important;
                color: #000000 !important; 
            }
        }
    }

    & .lineErro {
        border-top: 1px solid #8C4D9C !important;
        margin-bottom: 10px !important;
    }

    & .messageErro{
        font-family: 'Heebo' !important;
        font-style: normal !important;
        color: #000000 !important;
        font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 35px !important;
        text-align: right !important;
    }
}