@use '../variable/variable' as *;



.header-grid{
  .gridHeaderButton{
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    padding: 0px;
  }
}

// button bordr //
.gridHeaderButton{
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    padding: 0px;
    & .spicelBTN{

        & button{
        @extend %spicel-button;
        }
    }

    & button{
       
        @extend %button;

      &:hover{
        background: $Button-bg-hover;

        & span:before,& span:after{
          color: $Button-color-icon !important;
        }
      }

      &:focus{
        background: $Button-color-bg-focus;
        opacity: 1;
      }
      & span{
        color: $Button-color-icon !important;
        font-size: 30px;
        right: -2px;


    }

   
    
    }



// button icon + text //
    & .icon-btn-text{
        & button{
            width: 110px;

            span:before{
                right: -15px;
            }
        }
    }
// button icon //
    & .icon-btn{
       
        & button{
            width: 50px !important;
            min-width: auto;

        }
    }
  }

  .xstyle-buttoncontrol-wrapper{

    &.spicelBTN{

      & button{
      @extend %spicel-button;


      &:hover{
        background: $Button-bg-hover;
        color: white !important;
        span::before{
          color:  white !important;
        }
      }

      &:focus{
        background: $Button-color-bg-focus;
        color: white !important;
        opacity: 1;
        span{
          color:  white !important;
        }
      }
      }
     }
    & button{
        @extend %button;
        max-width: 200px;
      &:hover{
        background: $Button-bg-hover;
        color: $Button-color-text;
       
      }

      &:focus{
        background: $Button-color-bg-focus;
        opacity: 1;
     
      }
        }

  }