

.navbar-fixed-top {
    max-height: 100px;
    background: none;
    border: none;
    & .header-page{
        height: 100px;
        background: #14008E !important;
        border-radius: 0;
        display: grid;
        grid-template-columns: 12% 1fr 20%;
        padding: 0px 20px;

        & .img-page{
            & .xstyle-image-wrapper{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                & img{
                    width: 146px !important;
                    height: 60px !important;
                }
            }
        }

      & .info-page{
         & .xstyle-dynamiclabelcontrol-wrapper{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);


            & .x-dynamic-label-control{

                font-family: 'Ploni DL 1.1 AAA';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                text-align: right;
                color: #FFFFFF;
                padding-right: 20px;
                padding-top: 35px;
                margin-right: -25px;
            }
         }

      }


     & .help-page{
        & .xstyle-dynamiclabelcontrol-wrapper{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);


            & .x-dynamic-label-control{

                font-family: 'Ploni DL 1.1 AAA';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                text-align: left !important;
                padding-left: 20px;
                color: #FFFFFF;
            }
         }
     }
    }
}