
.xstyle-progressbar-wrapper{
    &.active-progress{
        & label{
            color: #232873;
        }
    }
    & label{
        font-family: 'Ploni DL 1.1 AAA';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #6B6E77;
    }
  .x-control-content-wrapper{
    .x-progressBar.s-progressBar{
      .k-progressbar.k-progressbar-horizontal{
        height: 6px;
        background: none;
        border-radius: 4px;
        border: none;
          .k-progress-status-wrap{
            height: 6px;
            background: #6B6E77;
            opacity: 0.3;
            border-radius: 4px;
            .k-progress-status{
                display: none;
            }
          }
          .k-selected{
            right: 0 !important;
            height: 6px;
            border-radius: 0px 4px 4px 0px !important;
            background: #14008E;
          }
      }
    }
  }  
}

div[uxid="rProgress"]{
    width: 800px;
    margin-right: 150px;
}