
.k-animation-container{
  
    & .k-list-optionlabel{
        display: none;
    }
    & div{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }


    & .k-popup.k-group.k-reset.k-rtl{
        
        margin: 0px auto;
        left: 0px;
        right: 0px;
        background: rgb(255, 255, 255) !important;
        border: 1px solid #14008E !important;
        border-radius: 10px !important;        
        top: 0px;
    }
    div.k-list-content span.k-list-item-text{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 130% !important;
        color: #052436 !important;
    }

    & li{
        height: 44px !important;

      

    &.k-selected.k-focus {
        background: #F8F8F8 !important;
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;

        &::after{
            content: "\f00c";
            font-family: "Font Awesome 5 pro" !important;
            color: #14008E !important;
        }

        & span{
            font-weight: 700 !important;
            color: #14008E !important;
        }
    } 
        // &:nth-child(1){
        //     background: #FFFFFF !important;
        //     box-shadow: 0px 0px 4px rgba(57, 181, 74, 0.3) !important;
        // }

        &:hover{
            background: #F5F5F5 !important;
            border-radius: 0px !important;
            
            & span:hover{
            font-weight: 700 !important;
            }
        }
    }
}