


$background: #14008e; 
$main-square: #ff5a23; 
$text-square: #ffffff; 
$text-default: #000000; 
$icon-description: #7e7b7b; 
$back-button: #989696; 
$icon-approve: #ff5a23; 
$title-approve: #ff5a23;

$shadow-icon: 0px 0px 12px 0px rgba(20, 0, 142, 0.20);
$shadow-big-cube: 0px 10px 6px 0px rgba(17, 21, 88, 0.60); 
$shadow-icon-press: 0px 0px 10px 0px rgba(20, 0, 142, 0.10);


