@use '../variables/masterVariable' as *;

.x-floatbutton {
    background: $float-button-backgorund;
    color: $float-button-color;
    border: $float-button-border-color!important;
}

.xstyle-floatbuttonv2-wrapper{
    button{
        background: $float-button-backgorund!important;
        color: $float-button-color!important;
        border: $float-button-border-color!important;
    }
}

