

#TafnitCore_System_UI_App_WebSDK_SearchRoutineResult{

    background: #FBFBFB;
    box-shadow: 0px 0px 15px rgba(123, 9, 141, 0.15);
    border-radius: 10px;
    padding: 0px 35px 35px;

    & .k-grid-content{
      

        & .k-grid-norecords-template{
            border: none;
            background: #FBFBFB;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: #000000;
        }
    }

 


    & .popup_close_btn.k-window-actions{
        height: 35px;

        & a{
            background: none !important;
            position: absolute;
        }
    }
    & .headerNone{

        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(123, 9, 141, 0.08);
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px !important;

        & .k-grid-header{
            display: none;
        }

        & .x-section-header-wrapper{
            & h3.x-section-header.s-section-header{
                font-family: 'Heebo' !important;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 130%;
                color: #7B098B !important;
                padding: 20px 0;
            }

        }

        
        & .x-treeList.s-treeList{

            & .k-grid-content.k-auto-scrollable{

                & tr{
                    height: 50px ;

                    &.k-treelist-group{

                        background: #FCFCFC;
                    }
                    & .k-icon.k-i-none{
                        display: none ;
                    }
                }

                  & td:has(span) {
                    padding: 0;
                    font-size: 14px !important;
                    &:last-child{
                        color: #7B098B !important;
                        text-decoration: none;
                    }
                    & .k-icon{
                        color: #7B098B ;
                        margin-left: 5px;
                        &.k-i-expand:before{
      
                            content: "\f0da" !important;
                            font-family: 'Font Awesome 5 Pro';
                            font-weight: 700;   
                    }
                    &.k-i-collapse{
                        &::before{
                            content: "\f0d7";
                            font-family: 'Font Awesome 5 Pro';
                            font-weight: 700;
                        }
                    }
                    }
                    &.k-focus{
                        box-shadow: none;
                        border: none;
                    }

                  & div{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    color: black;
                    height: 20px;
                    & span{
                        color: #7B098B !important;
                        font-weight: 700;
                        & span{
                            background: none !important;
                        }
                    }
                  }
                  }
            }
        }
    }







}