.navbar-fixed-top {
  max-height: 100px;
  background: none;
  border: none;
}
.navbar-fixed-top .header-page {
  height: 100px;
  background: #14008E !important;
  border-radius: 0;
  display: grid;
  grid-template-columns: 12% 1fr 20%;
  padding: 0px 20px;
}
.navbar-fixed-top .header-page .img-page .xstyle-image-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-fixed-top .header-page .img-page .xstyle-image-wrapper img {
  width: 146px !important;
  height: 60px !important;
}
.navbar-fixed-top .header-page .info-page .xstyle-dynamiclabelcontrol-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-fixed-top .header-page .info-page .xstyle-dynamiclabelcontrol-wrapper .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #FFFFFF;
  padding-right: 20px;
  padding-top: 35px;
  margin-right: -25px;
}
.navbar-fixed-top .header-page .help-page .xstyle-dynamiclabelcontrol-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-fixed-top .header-page .help-page .xstyle-dynamiclabelcontrol-wrapper .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: left !important;
  padding-left: 20px;
  color: #FFFFFF;
}

.bg-cube.row {
  position: absolute;
  width: 234.5px;
  height: 219px;
  left: -79px;
  top: -98px;
  opacity: 0.16;
  border: 6px solid #232873 !important;
  transform: rotate(163deg);
  border-radius: 0;
  z-index: 1;
}

.bg-cube1.row {
  background: linear-gradient(359.87deg, rgba(171, 193, 255, 0.26) -261.88%, rgba(82, 111, 249, 0.26) 203.51%, rgba(82, 111, 249, 0.26) 203.51%) !important;
  opacity: 0.6;
  transform: rotate(163deg);
  position: absolute;
  width: 179.5px;
  height: 302px;
  left: -68px;
  top: -109px;
  z-index: 1;
  border-radius: 0;
  border: none !important;
}

.row {
  background: none !important;
  border: none !important;
}

.main-title {
  padding: 0 !important;
}
.main-title .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #232873;
  margin-top: 40px;
}

.card-start {
  background: #FFFFFF !important;
  border-radius: 6px;
  padding: 40px 34px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.card-start .title-card .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #333333;
}

.secndary-title {
  padding: 0 !important;
  margin-bottom: 40px;
}
.secndary-title .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #232873;
}

.text-card textarea {
  min-height: 300px;
  border: none;
  background: none;
  outline: none !important;
  margin-top: 15px;
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #333333;
  resize: none;
}

@media only screen and (max-width: 1680px) {
  textarea.k-textbox.k-textarea {
    min-height: 480px;
  }
}
.btn-page {
  padding: 0;
}
.btn-page .xstyle-buttoncontrol-wrapper button.x-button {
  background: #14008E;
  border-radius: 30px;
  border: none;
  width: 235px;
  height: 44px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .xstyle-buttoncontrol-wrapper,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .xstyle-buttoncontrol-wrapper,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome .xstyle-buttoncontrol-wrapper,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-buttoncontrol-wrapper {
  margin-top: 65px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .xstyle-buttoncontrol-wrapper button.x-button,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .xstyle-buttoncontrol-wrapper button.x-button,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome .xstyle-buttoncontrol-wrapper button.x-button,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-buttoncontrol-wrapper button.x-button {
  background: #14008E;
  border-radius: 30px;
  border: none;
  width: 235px;
  height: 44px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.xstyle-progressbar-wrapper.active-progress label {
  color: #232873;
}
.xstyle-progressbar-wrapper label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #6B6E77;
}
.xstyle-progressbar-wrapper .x-control-content-wrapper .x-progressBar.s-progressBar .k-progressbar.k-progressbar-horizontal {
  height: 6px;
  background: none;
  border-radius: 4px;
  border: none;
}
.xstyle-progressbar-wrapper .x-control-content-wrapper .x-progressBar.s-progressBar .k-progressbar.k-progressbar-horizontal .k-progress-status-wrap {
  height: 6px;
  background: #6B6E77;
  opacity: 0.3;
  border-radius: 4px;
}
.xstyle-progressbar-wrapper .x-control-content-wrapper .x-progressBar.s-progressBar .k-progressbar.k-progressbar-horizontal .k-progress-status-wrap .k-progress-status {
  display: none;
}
.xstyle-progressbar-wrapper .x-control-content-wrapper .x-progressBar.s-progressBar .k-progressbar.k-progressbar-horizontal .k-selected {
  right: 0 !important;
  height: 6px;
  border-radius: 0px 4px 4px 0px !important;
  background: #14008E;
}

div[uxid=rProgress] {
  width: 800px;
  margin-right: 150px;
}

.k-animation-container .k-list-optionlabel {
  display: none;
}
.k-animation-container div {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.k-animation-container .k-popup.k-group.k-reset.k-rtl {
  margin: 0px auto;
  left: 0px;
  right: 0px;
  background: rgb(255, 255, 255) !important;
  border: 1px solid #14008E !important;
  border-radius: 10px !important;
  top: 0px;
}
.k-animation-container div.k-list-content span.k-list-item-text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 130% !important;
  color: #052436 !important;
}
.k-animation-container li {
  height: 44px !important;
}
.k-animation-container li.k-selected.k-focus {
  background: #F8F8F8 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.k-animation-container li.k-selected.k-focus::after {
  content: "\f00c";
  font-family: "Font Awesome 5 pro" !important;
  color: #14008E !important;
}
.k-animation-container li.k-selected.k-focus span {
  font-weight: 700 !important;
  color: #14008E !important;
}
.k-animation-container li:hover {
  background: #F5F5F5 !important;
  border-radius: 0px !important;
}
.k-animation-container li:hover span:hover {
  font-weight: 700 !important;
}

@media only screen and (max-width: 950px) {
  #TafnitCore_SaaSServer_Portal_FnxFunding_UI_StartPage.xtafnit_pageContainer {
    width: 90% !important;
    margin: auto !important;
    margin-top: -70px !important;
  }
  #TafnitCore_SaaSServer_Portal_FnxFunding_UI_StartPage.xtafnit_pageContainer textarea.k-textbox.k-textarea {
    min-height: 780px;
  }
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts {
  margin-top: 80px !important;
  margin-right: 150px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product {
  padding: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div {
  display: grid;
  grid-template-columns: auto 20% 20% 20%;
  gap: 30px;
  background: white !important;
  max-width: 700px;
  height: 90px;
  align-items: center;
  margin-top: 14px;
  padding-right: 20px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .title-Product:has(.x-control-caption-wrapper) span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 19px;
  text-align: right;
  color: #232873;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .title-Product .x-control-caption-wrapper {
  height: 20px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .title-Product label, #TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .title-Product span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #232873;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .infoGap {
  grid-column: 2;
  grid-row: 1;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoBubble {
  background: white;
  border-radius: 6px;
  border: none;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.1));
  padding: 15px;
  width: 335px;
  right: -100%;
  top: 122% !important;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoBubble::after {
  top: 0;
  right: 10px;
  transform: rotate(225deg);
  z-index: -1;
  width: 40px;
  height: 40px;
  background: white;
  border: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoBubble .x-infoBubbleTitle {
  display: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoBubble .x-infoBubbleContent {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #333333 !important;
  padding: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoButton {
  background: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoButton::before {
  content: "\e97b";
  font-family: "icomoon";
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product .x-infoWrap.s-infoWrap {
  text-align: left;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product .info-product span {
  color: #6B6E77;
  font-size: 16px !important;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .products .product > div .main-Product span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #333333;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .Explanation {
  margin-top: 16px;
  max-width: 480px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_SavingsProducts .Explanation .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
}

#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection {
  margin-top: 80px !important;
  margin-right: 150px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products {
  margin-top: 45px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product {
  padding: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div {
  display: grid;
  grid-template-columns: 1fr 20% 22% 22% 22%;
  background: white !important;
  height: 154px;
  align-items: center;
  margin-top: 14px;
  padding-right: 20px;
  max-width: 1300px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div:focus-within {
  border: 1px solid #14008E !important;
  margin-top: 30px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .title-Product .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 23px;
  text-align: right;
  color: #232873;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-textcontrol-wrapper {
  margin-top: 30px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-textcontrol-wrapper label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-textcontrol-wrapper input {
  background: #FFFFFF;
  border: 1px solid rgba(35, 40, 115, 0.3);
  border-radius: 6px;
  height: 44px;
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #232873;
  padding-right: 10px;
  margin-top: -5px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .secandary-label .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .infoGap {
  grid-column: 2;
  grid-row: 1;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .x-infoBubble {
  background: white;
  border-radius: 6px;
  border: none;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.1));
  padding: 15px;
  width: 335px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .x-infoBubble .x-infoBubbleTitle {
  display: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .x-infoBubble .x-infoBubbleContent {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #333333 !important;
  padding: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .x-infoButton {
  background: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .x-infoButton::before {
  content: "\e97b";
  font-family: "icomoon";
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product .x-infoWrap.s-infoWrap {
  text-align: left;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .info-product span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
  margin-bottom: 7px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-idropdownlist-wrapper label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-idropdownlist-wrapper .x-dropdown-comp {
  background: #FFFFFF;
  border: 1px solid rgba(35, 40, 115, 0.3);
  border-radius: 6px !important;
  height: 44px;
  margin-top: -5px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-idropdownlist-wrapper .x-dropdown-comp .k-input-value-text {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #232873;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-idropdownlist-wrapper .x-dropdown-comp .k-input-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .main-Product .xstyle-idropdownlist-wrapper .x-dropdown-comp .k-input-button .k-icon::before {
  content: "\f078";
  font-family: "Font Awesome 5 pro" !important;
  color: #232873;
  font-weight: 600;
  font-size: 21px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .small-card {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #F5F6FA;
  border-radius: 6px;
  padding: 23px;
  width: 95%;
  height: 114px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .small-card .x-control-content-wrapper {
  position: absolute;
  bottom: -10px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .small-card .x-dynamic-label-control {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #333333;
  margin-top: 20px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .products .product > div .small-card .textBottom label.x-control-caption-text {
  font-family: "Ploni DL 1.1 AAA";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
  height: 50px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .amountAvailableForLoan {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(108, 108, 108, 0.12);
  border-radius: 6px;
  height: 147px;
  flex: 0 0 1300px;
  max-width: 1300px;
  margin-bottom: 20px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .amountAvailableForLoan .x-self-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 20px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .amountAvailableForLoan label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .amountAvailableForLoan span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .main-title2 {
  padding: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .main-title2 span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #232873;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .secndary-title2 {
  padding: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .secndary-title2.note {
  margin-top: 10px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .secndary-title2 span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .Summary {
  background: #FFFFFF !important;
  box-shadow: 0px 1px 2px rgba(108, 108, 108, 0.12);
  border-radius: 6px;
  height: 147px;
  margin-bottom: 20px;
  max-width: 1300px;
  margin-top: 60px;
  align-items: center;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 15% 15% 15%;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .Summary label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .Summary span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: right;
  color: #333333;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .TitleSecndaryProduct1 .x-kicon-caption {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #6B6E77;
  margin-right: 5px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_LoanSelection .TitleSecndaryProduct1 .k-icon {
  color: #6B6E77;
  font-size: 14px;
}

#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome {
  margin-top: 80px !important;
  margin-right: 150px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome .col {
  padding: 0 !important;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome .xstyle-textcontrol-wrapper {
  max-width: 518px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome .xstyle-textcontrol-wrapper label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #6B6E77;
  margin-top: 5px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_MonthlyIncome .xstyle-textcontrol-wrapper input {
  background: #FFFFFF;
  height: 55px;
  border: 1px solid #B5BDDB;
  border-radius: 6px;
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  max-width: 388px;
  padding-right: 10px;
}

#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent {
  margin-top: 80px !important;
  margin-right: 150px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .card-start {
  padding: 0;
  margin-top: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .card-start .text-card textarea {
  min-height: 485px !important;
  resize: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent div[uxid=lDtae] span,
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent div[uxid=lDate2] span {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #232873;
  margin-bottom: 10px;
  margin-top: 35px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .title-icon {
  padding: 65px 0;
  border-top: 1px solid #F1F1F1 !important;
  border-bottom: 1px solid #F1F1F1 !important;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .title-icon h3 {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .title-icon .x-btn {
  width: 40px;
  height: 40px;
  background: #F5F6FA;
  border-radius: 20px;
  border: none;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .title-icon .x-btn.x-collapse-open span {
  position: absolute;
  left: 0 !important;
  right: 0;
  margin: 0 auto;
  top: 50% !important;
  transform: translateY(-50%);
  font-size: 20px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .title-icon .x-btn.x-collapse-open span::before {
  content: "\f078";
  font-family: "Font Awesome 5 pro" !important;
  color: #232873;
  font-weight: 600;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper {
  max-width: 470px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper label {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6B6E77;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper .x-dropdown-comp {
  background: #FFFFFF;
  border: 1px solid rgba(35, 40, 115, 0.3);
  border-radius: 6px !important;
  height: 44px;
  margin-top: -5px;
  max-width: 300px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper .x-dropdown-comp label {
  padding: 3px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper .x-dropdown-comp .k-input-value-text {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #232873;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper .x-dropdown-comp .k-input-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 0;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .xstyle-idropdownlist-wrapper .x-dropdown-comp .k-input-button .k-icon::before {
  content: "\f078";
  font-family: "Font Awesome 5 pro" !important;
  color: #232873;
  font-weight: 600;
  font-size: 21px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .page-panle {
  background: #FFFFFF !important;
  box-shadow: 0px 1px 2px rgba(108, 108, 108, 0.12);
  border-radius: 6px;
  padding: 40px 34px;
  max-width: 900px;
}
#TafnitCore_SaaSServer_Portal_FnxFunding_UI_CreditCardConsent .page-panle > div {
  padding: 0;
}

#TafnitCore_SaaSServer_Portal_FnxFunding_UI_StartPage {
  width: 60%;
  margin-right: 150px;
  margin-top: 30px !important;
}

html {
  background: #F5F6FA !important;
}

body {
  background: none !important;
}

.previous-item {
  padding: 0;
}
.previous-item .x-kicon-caption {
  font-family: "Ploni DL 1.1 AAA";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #232873;
  margin-right: 5px;
}
.previous-item .k-icon {
  color: #232873;
  top: -1px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */