






$mandatory-color: #ff7100;



//grid//
$grid-header-text-color:#868387;
$grid-header-background:#F8F9FA ;
$grid-tr-background-hover:#F8F9FA  ;
$grid-tr-background-k-alt:#FCFCFC  ;
$grid-header-serach-float:right;
$grid-header-serach-border:1px solid #ccc;
$grid-header-serach-border-radius:1px solid #ccc;
$grid-header-title-background: none;
$grid-header-toolbar-border-color:#fff;
$grid-header-filter-active-background:#ccc;
$grid-header-filter-active-color:#fff;
$grid-border-td: 1px solid #F5F5F5;
$grid-filter-icon:#FF5A23;
$grid-color-link-td:#ff7100;
$grid-scrollbar-color:#ff7100;
$grid-scrollbar-color-hover:#E53E07;
$Grid-color-title-th:#323C4B ;
$Grid-color-text-td:#323C4B ;
$grid-icon-search-color:#14008E;
$Grid-checkBox-bg:#14008E;
$Grid-checkBox-border:#14008E;
$grid-content-padding:10px 0px;
// drower //

$drawer-background-color:#FFFFFF;
$drawer-box-shdow:0px 0px 10px rgba(35, 40, 115, 0.2);
$drawer-k-drawer-item-box-shdow: 0px 0px 10px rgba(35, 40, 115, 0.2);
$drawer-k-drawer-item-color:#004B93;
$drawer-icon-color:#004070;
$drawer-color-text:#323C4B;
$drawer-color-link:#004070;
$overlay-color: #052136;

//footer//

$Footer-bg:#ffff;
$Footer-box-shadow:0px -1px 10px rgba(50, 60, 75, 0.2);
$Footer-button-bg: #FF780B  ;

// button //

$Button-bg-hover:#E53E07;
$Button-bg-disabled:#FFFFFF;
$Button-border-disabled:#ADB5BD;
$Button-color-disabled:#ADB5BD;
$Button-color-text: #FFFFFF;
$Button-color-border:none;
$Button-color-border-focus: #FFA182;;
$Button-color-filter-focus:drop-shadow(0px 0px 6px rgba(255, 120, 11, 0.2));
$Button-color-icon:#14008E;
$Button-bg:#14008E;
$Button-float-bg:#14008E;
$Button-float-color: white;

//spicel-button//

$spicel-button-bg:#FFFFFF;
$spicel-button-color-text:#FF5A23;
$spicel-button-color-border:1px solid #FF5A23;

//messagebox//

$messageBox-bg:#FFFFFF;
$messageBox-box-shaow:  0px 0px 6px rgba(218, 51, 130, 0.2);
$messageBox-color-icon-close:#7E7B7B;
$messageBox-color-icon:#02C467;
$messageBox-color-text:#323C4B;
$messageBox-bg-button:#14008E;
$messageBox-bg-button-focus:#14008E;
$messageBox-bg-button-hover:#E53E07;

//tooltip//

$tooltip-box-shadow:0px 0px 5px rgba(9, 79, 141, 0.25) ;


//upload//
$upload-border-file:1px solid #14008E;
$upload-color-name-file: #14008E;
$upload-color-text-success: #4194E4;

/*controls*/
$control-caption-color-text: #323C4B;
$control-background: #FFFFFF;
$control-border-input:1px solid #CED4DA;
$control-color-input:#323c4b;
$control-radius-input:0px;
$control-caption-color-text-disable: #C7C7C7;
$control-border-input-disable: 1px solid #E7E7E7;;
$control-border-focus:1px solid #FFC4B0;
$control-box-shadow-focus: 0px 0px 6px rgba(255, 90, 35, 0.2);
$control-color-placeholder:#ADB5BD;
$control-color-icon:#232873;
$control-border-error:1px solid #E91E63;
//calnder //

$calendar-box-shadow:0px 0px 10px rgba(35, 40, 115, 0.2);
$calendar-bg-header:#FCFCFC;
$calendar-color-icon-header:#14008E;
$calendar-color-text-header:#323C4B;
$calendar-bg-body:#F5F5F5;
$calendar-border-bottom-body:1px solid #14008E;
$calendar-body-button-color:#232873; 
$calendar-body-butoon-color-text-focus:white;
$calendar-body-butoon-bg-focus:#0F1134;
$calendar-body-butoon-color-text-hover: white;
$calendar-body-butoon-border-hover:1px solid #14008E;
$calendar-month-color-days-focus:#ffffff;
$calendar-month-bg-days-focus:#0F1134;
$calendar-month-color-today:#232873;
$calendar-month-border-today: 1px solid #14008E;
$calendar-month-color-days-other-month:#8E8E8E;
$calendar-month-border-other-month-hover:1px solid #8E8E8E;
$calendar-month-color-other-month-hover:#8E8E8E;
$calendar-month-color-title:#323C4B;
$calendar-month-color-days:#232873;
$calendar-month-color-days-hover:#232873;
$calendar-month-border-days-hover:1px solid #14008E;;
$calendar-fotter-color-text:#14008E;

//checkBox //
$CheckBox-border:#323C4B;
$CheckBox-border-checked:#14008E;
$CheckBox-color-checked: #FFFFFF;
$CheckBox-caption:#000000;
$CheckBox--checked-bg: #14008E;




// row //

$row-bg:#fff;
$row-box-shadow:  0px 0px 2px rgba(2, 111, 158, 0.1), 0px 8px 8px rgba(2, 111, 158, 0.15);


// popup //
$popup-border:1px solid #CED4DA;
$popup-bg:white;
$popup-color-text:#323C4B;
$popup-bg-selected:#EEF7FB;
$popup-color-text-selected:#14008E;
$popup-bg-hover:#EEF7FB;
$popup-color-text-hover:#14008E;


// cube-main//

$cube-main-box-shadow:0px 0px 10px rgba(2, 111, 158, 0.2);
$cube-main-title-color:#323C4B;
$cube-main-sum-color:#14008E;
$cube-main-sum-icon: #14008E;
$cube-main-card-border: 1px solid #14008E;
$cube-main-card-num-color: #14008E;
$cube-main-card-text-color: #323C4B;
$cube-main-card-icon: #14008E;
$cube-main-text-color: #323C4B;
$cube-main-route-text-color: #14008E;
$cube-main-price-color:#14008E;


// cube-small //

$small-cube-box-shdow:0px 0px 2px rgba(2, 111, 158, 0.1), 0px 8px 8px rgba(2, 111, 158, 0.15);
$small-cube-text-color: #14008E;
$small-cube-icon-color: #323C4B;



// B2B header //

$B2B-header-border-col: 1px solid #f1c779;
$B2B-header-icon:#14008E;
$B2B-header-box-shadow:0px 5px 10px rgba(2, 111, 158, 0.1);
$B2B-header-text-defult:#000000;
$B2B-header-link-color:#ff7100;


//steper//


$steper-bg:#323C4B;
$steper-color-text:#323C4B;

//label//

%texbox-label{

   
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 21px;
    text-align: right;
    color: $control-caption-color-text;
    margin: 0;
}

//input//

%texbox-input{

    height: 50px;
    background: $control-background;
    border: $control-border-input !important;
    border-radius: $control-radius-input;
    padding: 10px 20px;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: $control-color-input;
    text-align: right;
}


// disable // 

%texbox-input-disable{

    background: $control-background;
    border:$control-border-input-disable;
}

// disable-caption // 

%texbox-label-disable{
    color: $control-caption-color-text-disable;
}


// spicel button //

%spicel-button{
    height: 50px !important;
    background: $spicel-button-bg;
    border-radius: 10px;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: $spicel-button-color-text;
    border: $spicel-button-color-border;
    
}

// button//

%button{
    background: $Button-bg;
    border: 1px solid $Button-color-border;
    border-radius: 10px;
    align-items: center;
    height: 50px !important;
    color: $Button-color-text;
    font-family: 'Assistant' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}