@use '../variables/masterVariable' as *;

.k-autocomplete {
    border-radius: $autocomplete-input-border-radius;
    border: 0;

    &.k-state-border-down {
        .k-input {
            border-radius: $autocomplete-input-border-radius;
        }
    }

    &.k-state-focused {
        border-radius: $autocomplete-input-border-radius;
    }

    .k-textbox {
     
        border: $autocomplete-input-border;
      
      
    }
}

