



mainbody {
    .row {
       
        background-color: $row-background-color;
        box-shadow:  0px 0px 12px map-get($map: $Colors, $key: login-screen-boxshadow ) ;
        border-radius: 10px;
        padding: $row-padding;
        margin: $row-margin;
        margin-bottom: $row-margin-bottom;
    }
}


