
@use '../variables/masterVariable' as *;

.xstyle-freehandhtml-wrapper {
    center {
        color: $freehand-color !important;
        background: $freehand-background !important;
        border-color: $freehand-border-color !important;
    }
}