
@use '../variables/masterVariable' as *;

.k-timepicker {
    .k-picker-wrap {
        border: $time-border;
        border-bottom: $time-border-bottom;

        input {
            width: 100%;
            background: $time-background;
        }

        .k-select {
            border: $time-border;
            background: $time-icon-background;
            color: $time-icon-color;
        }
    }
}

//mobile//
input {
    &[type="time"] {
        width: 100%;
        border: $time-border;
        background: $time-background;
        border-bottom: $time-border-bottom !important;
        border-radius: #f7e8ff  !important;
    }

}


