@use '../variables/masterVariable' as *;


.k-tooltip {
    &.k-widget {
        border-color: $tooltip-border-color;
        color: $tooltip-color;
        background-color: $tooltip-background-color;
        box-shadow: $tooltip-box-shadow;
        font-size: $tooltip-font-size;
        border-radius: $tooltip-border-radius;
        padding: 5px 10px;
    }
}



