%texbox-input{

    
    background: var(--input-bg-color-default) ;
    border: 1px solid var(--input-border-color-default)  ;
    border-radius:6px ;
    padding: 10px ; ;
    font-family: 'Heebo' ;
    font-style: normal ;
    font-weight: 400 ;
    font-size: var(--input)  ;
    color: var(--input-text-color-default) ;

    width: 100% ;
    height: 40px;
}


:root{
    /* Color styles */
--input-bg-color-default: rgba(255, 255, 255, 1);
--input-text-color-default: rgba(30, 42, 50, 1);
--input-text-color-place-holder: rgba(107, 107, 107, 1);
--input-border-color-default: rgba(232, 232, 232, 1);
--input-border-color-error: rgba(255, 0, 0, 1);
--input-border-color-focus: rgba(255, 0, 0, 1);
--input-border-color-disable: rgba(231, 231, 231, 1);
--input-icon-color-default: rgba(0, 0, 0, 1);
--input-massage-error-color: rgba(255, 0, 0, 1);
--input-text-color-disable: rgba(200, 200, 200, 1);
--input-icon-color-hover: rgba(40, 40, 48, 0.800000011920929);
--input-icon-color-disable: rgba(200, 200, 200, 1);
--link-text-color-default: rgba(255, 0, 0, 1);
--link-text-color-hover: rgba(200, 29, 36, 1);
--link-text-color-disable: rgba(255, 184, 187, 1);
--linklist-arrow-icon-color-default: rgba(255, 0, 0, 1);
--linklist-arrow-icon-color-disable: rgba(255, 184, 187, 1);
--label-text-color-default: rgba(0, 0, 0, 1);
--label-text-color-disable: rgba(200, 200, 200, 1);
--label-text-color-caption: rgba(0, 0, 0, 1);
--mandatory-text-color: rgba(158, 0, 0, 1);
--icon-color-default: rgba(0, 0, 0, 1);
--icon-color-error: rgba(255, 0, 0, 1);
--icon-color-close: rgba(161, 163, 165, 1);
--button-primary-bg-color-default: rgba(40, 40, 48, 1);
--button-primary-text-color-default: rgba(255, 255, 255, 1);
--button-primary-icon-color-default: rgba(255, 255, 255, 1);
--button-primary-bg-color-disable: rgba(248, 248, 248, 1);
--button-primary-border-color-disable: rgba(231, 231, 231, 1);
--button-primary-text-color-disable: rgba(200, 200, 200, 1);
--button-primary-icon-color-disable: rgba(200, 200, 200, 1);
--button-primary-bg-color-press: rgba(0, 0, 0, 1);
--button-primary-bg-color-hover: rgba(40, 40, 48, 0.800000011920929);
--button-primary-bg-color-focus: rgba(255, 0, 0, 1);
--button-secondary-bg-color-default: rgba(255, 255, 255, 1);
--button-secondary-text-color-default: rgba(40, 40, 48, 1);
--button-secondary-icon-color-default: rgba(40, 40, 48, 1);
--button-secondary-border-color-default: rgba(40, 40, 48, 1);
--button-secondary-bg-color-disable: rgba(248, 248, 248, 1);
--button-secondary-border-color-disable: rgba(231, 231, 231, 1);
--button-secondary-text-color-disable: rgba(200, 200, 200, 1);
--button-secondary-icon-color-disable: rgba(200, 200, 200, 1);
--button-secondary-bg-color-hover: rgba(40, 40, 48, 0.800000011920929);
--button-secondary-icon-color-hover: rgba(255, 255, 255, 1);
--button-secondary-text-color-hover: rgba(255, 255, 255, 1);
--floatbutton-bg-color-default: rgba(255, 0, 0, 1);
--floatbutton-icon-color-default: rgba(255, 255, 255, 1);
--floatbutton-text-color-dafault: rgba(255, 255, 255, 1);
--floatbutton-bg-color-disable: rgba(248, 248, 248, 1);
--floatbutton-icon-color-disable: rgba(200, 200, 200, 1);
--floatbutton-text-color-disable: rgba(200, 200, 200, 1);
--floatbutton-bg-color-press: rgba(161, 0, 0, 1);
--floatbutton-bg-color-hover: rgba(210, 1, 1, 1);
--floatbutton-border-color-focus: rgba(255, 255, 255, 1);
--floatburron-bg-color-focus: rgba(255, 0, 0, 1);
--chip-bg-color-default: rgba(245, 245, 245, 1);
--chip-border-color-default: rgba(222, 222, 222, 1);
--chip-icon-color-default: rgba(0, 0, 0, 1);
--chip-icon-color-selected: rgba(255, 255, 255, 1);
--chip-icon-color-disable: rgba(200, 200, 200, 1);
--chip-bg-color-hover: rgba(231, 231, 231, 1);
--chip-bg-color-selected: rgba(0, 0, 0, 1);
--chip-border-color-selected: rgba(0, 0, 0, 1);
--chip-text-color-selected: rgba(255, 255, 255, 1);
--chip-border-color-focus: rgba(255, 0, 0, 1);
--cardamage-index-bg-color-disable: rgba(255, 255, 255, 1);
--cardamage-index-border-color-disable: rgba(200, 200, 200, 1);
--cardamage-index-text-color-disable: rgba(200, 200, 200, 1);
--cardamage-index-text-color-default: rgba(255, 255, 255, 1);
--cardamage-index-bg-color-selected: rgba(255, 0, 0, 1);
--cardamage-index-bg-color-hover: rgba(40, 40, 48, 0.800000011920929);
--cardamage-index-bg-color-default: rgba(0, 0, 0, 1);
--upload-border-color: rgba(232, 232, 232, 1);
--upload-status-text-color-sucess: rgba(126, 123, 123, 1);
--upload-status-text-color-error: rgba(255, 0, 0, 1);
--upload-filename-text-color: rgba(0, 0, 0, 1);
--upload-icon-color-sucess: rgba(0, 0, 0, 1);
--upload-icon-color-error: rgba(255, 0, 0, 1);
--switch-on-handle-bg-color-default: rgba(0, 0, 0, 1);
--switch-on-handle-bg-color-hover: rgba(94, 97, 100, 1);
--switch-on-handle-bg-color-focus: rgba(0, 0, 0, 1);
--switch-handle-bg-color-disable: rgba(231, 231, 231, 1);
--switch-off-handle-bg-color: rgba(222, 222, 222, 1);
--switch-track-bg-color-default: rgba(248, 248, 248, 1);
--switch-track-bg-color-hover: rgba(231, 231, 231, 1);
--switch-track-border-color-default: rgba(222, 222, 222, 1);
--switch-track-border-color-focus: rgba(255, 0, 0, 1);
--row-border-border-color: rgba(222, 222, 222, 1);
--row-primary-bg-color: rgba(255, 255, 255, 1);
--row-special-bg-color: rgba(255, 0, 0, 1);
--checbox-focus: 0px 0px 5px 0px rgba(142, 187, 207, 0.60);

--checkbox-focus: 0px 0px 0px 0px rgba(0, 0, 0, 0.00);

--checkbox-unselected-bg-color-default: #ffffff;
--checkbox-unselected-bg-color-disable: #ffffff;
--checkbox-unselected-bg-color-mandatory: #ffffff;
--checkbox-unselected-bg-color-hover: #ffffff;
--checkbox-unselected-bg-color-focus: #ffffff;

--checkbox-unselected-border-color-default: #000000;
--checkbox-unselected-border-color-disable: #C8C8C8;
--checkbox-unselected-border-color-mandatory: #000000;
--checkbox-unselected-border-color-hover: #000000;
--checkbox-unselected-border-color-focus: #FF0000;

--checkbox-selected-bg-color-default: #000000;
--checkbox-selected-bg-color-disable: #F5F5F5;
--checkbox-selected-bg-color-mandatory: #000000;
--checkbox-selected-bg-color-hover: #000000;
--checkbox-selected-bg-color-focus: #000000;

--checkbox-selected-border-color-default: #000000;
--checkbox-selected-border-color-disable: #C8C8C8;
--checkbox-selected-border-color-mandatory: #000000;
--checkbox-selected-border-color-hover: #000000;
--checkbox-selected-border-color-focus: #FF0000;

--checkbox-selected-icon-color-default: #FFFFFF;
--checkbox-selected-icon-color-disable: #C8C8C8;
--checkbox-selected-icon-color-mandatory: #FFFFFF;
--checkbox-selected-icon-color-hover: #FFFFFF;
--checkbox-selected-icon-color-focus: #FFFFFF;

--radio-unselected-bg-color-default: #ffffff;
--radio-unselected-border-color-default: #000000;
--radio-unselected-border-color-disable: #C8C8C8;
--radio-unselected-border-color-mandatory: #000000;
--radio-unselected-border-color-hover: #5E6164;
--radio-unselected-border-color-focus: #FF0000;
--radio-selected-bg-color-default: #000000;
--radio-selected-border-color-default: #8EBBCF;
--radio-selected-bg-color-disable: #C8C8C8;
--radio-selected-border-color-disable: #C8C8C8;
--radio-selected-bg-color-mandatory: #000000;
--radio-selected-border-color-mandatory: #000000;
--radio-selected-bg-color-hover: #5E6164;
--radio-selected-border-color-hover: #5E6164;
--radio-selected-bg-color-focus: #FF0000;
--radio-selected-border-color-focus: #FF0000;



--treeview-arrow-color-default: rgba(0, 0, 0, 1);
--treeview-arrow-color-disable: rgba(200, 200, 200, 1);
--treeview-bg-color-focus: rgba(255, 255, 255, 1);
--treeview-bg-color-hover: rgba(245, 245, 245, 1);
--treeview-bg-color-selected: rgba(0, 0, 0, 1);
--treeview-border-color-focus: rgba(255, 255, 255, 1);
--treeview-text-color-selected: rgba(255, 255, 255, 1);
--treeview-text-color-default: rgba(0, 0, 0, 1);
--treeview-text-color-disable: rgba(200, 200, 200, 1);
--listitem-bg-color-default: rgba(252, 252, 252, 1);
--listitem-bg-color-hover: rgba(245, 245, 245, 1);
--listitem-border-color-default: rgba(245, 245, 245, 1);
--listitem-icon-color-default: rgba(0, 0, 0, 1);
--listitem-arrow-color-default: rgba(0, 0, 0, 1);
--listitem-bg-color-selected: rgba(0, 0, 0, 1);
--listitem-border-color-focus: rgba(222, 222, 222, 1);
--listitem-icon-color-disable: rgba(200, 200, 200, 1);
--listitem-arrow-color-disable: rgba(200, 200, 200, 1);
--listitem-text-color-default: rgba(0, 0, 0, 1);
--listitem-text-color-selected: rgba(255, 255, 255, 1);
--listitem-icon-color-selected: rgba(255, 255, 255, 1);
--listitem-arrow-color-selected: rgba(255, 255, 255, 1);
--otp-bg-color-default: rgba(255, 255, 255, 1);
--otp-border-color-default: rgba(222, 222, 222, 1);
--otp-bg-color-disable: rgba(248, 248, 248, 1);
--otp-border-color-disable: rgba(231, 231, 231, 1);
--otp-border-color-focus: rgba(255, 0, 0, 1);
--otp-border-color-error: rgba(255, 0, 0, 1);
--tooltip-border-color: rgba(222, 222, 222, 1);
--tooltip-caption-text-color: rgba(126, 123, 123, 1);
--tooltip-message-text-color: rgba(0, 0, 0, 1);
--tooltip-bg-color: rgba(255, 255, 255, 1);
--grid-header-border-color-default: rgba(200, 200, 200, 1);
--grid-header-bg-color-default: rgba(255, 255, 255, 1);
--grid-header-text-color-default: rgba(108, 112, 115, 1);
--grid-header-icon-color-default: rgba(0, 0, 0, 1);
--grid-cell-icon-color-default: rgba(0, 0, 0, 1);
--grid-cell-bg-color-default: rgba(255, 255, 255, 1);
--grid-cell-bg-color-hover: rgba(245, 245, 245, 1);
--grid-cell-border-color-default: rgba(231, 231, 231, 1);
--grid-cell-border-color-focus: rgba(222, 222, 222, 1);
--grid-cell-text-color-default: rgba(0, 0, 0, 1);
--grid-cell-edit-border-color-focus: rgba(255, 0, 0, 1);
--grid-cell-edit-border-color-default: rgba(231, 231, 231, 1);
--grid-toolbar-bg-color-default: rgba(245, 245, 245, 1);
--grid-pager-info-text-color: rgba(0, 0, 0, 1);
--grid-pager-nav-arrow-icon-color-default: rgba(0, 0, 0, 1);
--grid-pager-nav-arrow-icon-color-disable: rgba(222, 222, 222, 1);
--grid-pager-numpage-text-color-selected: rgba(0, 0, 0, 1);
--grid-pager-numpage-text-color-default: rgba(126, 123, 123, 1);
--scrollbar-track-bg-color: rgba(249, 249, 249, 1);
--scrollbar-thumb-bg-color-default: rgba(0, 0, 0, 1);
--scrollbar-thumb-bg-color-hover: rgba(40, 40, 48, 0.800000011920929);
--multiselect-bg-color-hover: rgba(245, 245, 245, 1);
--multiselect-bg-color-default: rgba(255, 255, 255, 1);
--mulltiselect-border-color-default: rgba(222, 222, 222, 1);
--multiselect-border-color-focus: rgba(255, 0, 0, 1);
--multiselect-border-color-error: rgba(238, 9, 9, 1);
--tab-text-color-default: rgba(0, 0, 0, 1);
--tab-text-color-disable: rgba(200, 200, 200, 1);
--tab-bg-color-default: rgba(255, 255, 255, 1);
--tab-selected-text-color-default: rgba(0, 0, 0, 1);
--tab-selected-border-color-disable: rgba(200, 200, 200, 1);
--tab-selected-border-color-default: rgba(255, 0, 0, 1);
--tab-border-color-default: rgba(255, 255, 255, 1);
--circularprogresbar-primary-percent-text-color: rgba(0, 0, 0, 1);
--circularprogressbar-primary-indicator-bg-color-progress: rgba(0, 0, 0, 1);
--circularprogressbar-secondary-indicator-bg-color-step1: rgba(200, 200, 200, 1);
--circularprogresbar-secondary-percent-text-color: rgba(161, 163, 165, 1);
--circularprogressbar-secondary-indicator-bg-color-step2: rgba(161, 163, 165, 1);
--circularprogressbar-secondary-indicator-bg-color-step3: rgba(94, 97, 100, 1);
--circularprogressbar-secondary-indicator-bg-color-step4: rgba(0, 0, 0, 1);
--circularprogressbar-capacity-indicator-bg-color: rgba(222, 222, 222, 1);
--circularprogressbar-color-indicator-bg-color-step1: rgba(238, 9, 9, 1);
--circularprogressbar-color-indicator-bg-color-step2: rgba(255, 184, 0, 1);
--circularprogressbar-color-indicator-bg-color-step3: rgba(255, 122, 0, 1);
--circularprogressbar-color-indicator-bg-color-step4: rgba(17, 194, 14, 1);
--circularprogressbar-color-icon-color-sucess: rgba(17, 194, 14, 1);
--circularprogresbar-color-percent-text-color: rgba(0, 0, 0, 1);
--circularprogressbar-ticks-text-color: rgba(0, 0, 0, 1);
--progressbar-bg-color-default: rgba(245, 245, 245, 1);
--progressbar-progress-bg-color-default: rgba(0, 0, 0, 1);
--progressbar-progress-bg-color-disable: rgba(200, 200, 200, 1);
--progressbar-status-default: rgba(0, 0, 0, 1);
--progressbar-status-text-color-disable: rgba(161, 163, 165, 1);
--numeric-arrow-bg-color-default: rgba(245, 245, 245, 1);
--numeric-arrow-icon-color-default: rgba(0, 0, 0, 1);
--numeric-arrow-bg-color-press: rgba(231, 231, 231, 1);
--numeric-arrow-icon-color-disable: rgba(200, 200, 200, 1);
--combobox-message-border-color: rgba(126, 123, 123, 1);
--combobox-message-text-color: rgba(0, 0, 0, 1);
--combobox-message-bg-color: rgba(255, 255, 255, 1);
--combobox-summary-bg-color: rgba(249, 249, 249, 1);
--combobox-summary-border-color: rgba(126, 123, 123, 1);
--window-bg-color-default: rgba(255, 255, 255, 1);
--loanslider-track-bg-color-default: rgba(245, 245, 245, 1);
--loanslider-progress-bg-color-default: rgba(0, 0, 0, 1);
--loanslider-progress-bg-color-disable: rgba(200, 200, 200, 1);
--slider-handle-bg-color-default: rgba(0, 0, 0, 1);
--slider-handle-border-color-default: rgba(255, 255, 255, 1);
--slider-handle-icon-color: rgba(255, 255, 255, 1);
--slider-ticks-color: rgba(231, 231, 231, 1);
--slider-handle-bg-color-disable: rgba(231, 231, 231, 1);
--slider-handle-bg-color-hover: rgba(126, 123, 123, 1);
--slider-handle-bg-color-focus: rgba(255, 0, 0, 1);
--slider-track-bg-color-default: rgba(245, 245, 245, 1);
--slider-ticks-value-text-color-default: rgba(161, 163, 165, 1);
--slider-progress-bg-color-default: rgba(0, 0, 0, 1);
--slider-progress-bg-color-disable: rgba(200, 200, 200, 1);
--timepicker-window-border-color: rgba(231, 231, 231, 1);
--timepicker-nevigation-item-text-color-default: rgba(200, 200, 200, 1);
--timepicker-title-time-text-color: rgba(94, 97, 100, 1);
--timepicker-navigation-item-text-color-selected: rgba(0, 0, 0, 1);
--timepicker-nevigation-border-color-selected: rgba(222, 222, 222, 1);
--timepicker-window-bg-color: rgba(255, 255, 255, 1);
--timepicker-nevigation-bg-color-selected: rgba(255, 255, 255, 1);
--timepicker-hour-now-text-color: rgba(0, 0, 0, 1);
--timepicker-header-bg-color: rgba(251, 251, 251, 1);
--calender-item-text-color-default: rgba(0, 0, 0, 1);
--calender-item-text-color-hover: rgba(40, 40, 48, 1);
--calender-item-text-color-disable: rgba(200, 200, 200, 1);
--calender-item-bg-color-focus: rgba(231, 231, 231, 1);
--calender-item-bg-color-range: rgba(231, 231, 231, 1);
--calender-item-text-color-range: rgba(126, 123, 123, 1);
--calender-item-today-border-color-default: rgba(0, 0, 0, 1);
--calender-item-text-color-press: rgba(0, 0, 0, 1);
--calender-item-bg-color-press: rgba(245, 245, 245, 1);
--calender-item-border-color-press: rgba(222, 222, 222, 1);
--calender-item-today-border-color-disable: rgba(200, 200, 200, 1);
--calender-item-text-color-prev: rgba(126, 123, 123, 1);
--calender-item-selected-bg-color-default: rgba(0, 0, 0, 1);
--calender-item-selected-bg-color-hover: rgba(40, 40, 48, 0.800000011920929);
--calender-item-selected-bg-color-focus: rgba(255, 0, 0, 1);
--calender-item-selected-text-color: rgba(255, 255, 255, 1);
--calender-item-selected-bg-color-press: rgba(0, 0, 0, 1);
--calender-item-selected-bg-color-range: rgba(0, 0, 0, 1);
--calender-week-days-text-color: rgba(94, 97, 100, 1);
--calender-window-bg-color: rgba(255, 255, 255, 1);
--calender-header-bg-color: rgba(251, 251, 251, 1);
--calender-header-text-color: rgba(0, 0, 0, 1);
--calender-footer-text-color: rgba(0, 0, 0, 1);
--calender-footer-border-color: rgba(0, 0, 0, 1);
--calender-footer-bg-color: rgba(251, 251, 251, 1);
--calender-header-icon-color: rgba(0, 0, 0, 1);
--breadcrumb-text-color-default: rgba(0, 0, 0, 1);
--breadcrumb-text-color-disable: rgba(222, 222, 222, 1);
--breadcrumb-text-color-hover: rgba(40, 40, 48, 1);
--breadcrumb-arrow-icon-color: rgba(126, 123, 123, 1);
--breadcrumb-text-color-selected: rgba(0, 0, 0, 1);
--barcodescanner-icon-color: rgba(231, 231, 231, 1);
--barcodescanner-message-text-color-error: rgba(238, 9, 9, 1);
--barcosescanner-filename-text-color-default: rgba(126, 123, 123, 1);
--barcodescanner-border-color: rgba(255, 255, 255, 1);
--listview-footer-bg-color-default: rgba(245, 245, 245, 1);
--listview-text-color-default: rgba(0, 0, 0, 1);
--listview-bg-color-default: rgba(255, 255, 255, 1);
--listview-bg-color-selected: rgba(0, 0, 0, 1);
--listview-text-color-selected: rgba(255, 255, 255, 1);
--listview-footer-bg-color-hover: rgba(222, 222, 222, 1);
--listview-notification-border-color: rgba(255, 255, 255, 1);
--colorpicker-preview-nocolor-line-color: rgba(243, 23, 0, 1);
--colorpicker-preview-border-color: rgba(222, 222, 222, 1);
--colorpicker-preview-nocolor-bg-color: rgba(255, 255, 255, 1);
--colorpicker-preview-selectedcolor-bg-color: rgba(255, 99, 88, 1);
--colorpicker-nocolor-bg-color: rgba(248, 248, 248, 1);
--colorpicker-nocolor-line-color: rgba(243, 23, 0, 1);
--groupbutton-bg-color-default: rgba(255, 255, 255, 1);
--groupbutton-border-color-default: rgba(232, 232, 232, 1);
--groupbutton-text-color-default: rgba(0, 0, 0, 1);
--groupbutton-icon-color-default: rgba(0, 0, 0, 1);
--groupbutton-text-color-hover: rgba(255, 255, 255, 1);
--groupbutton-text-color-hover: rgba(255, 255, 255, 1);
--groupbutton-bg-color-hover: rgba(40, 40, 48, 0.800000011920929);
--groupbutton-bg-color-selected: rgba(255, 0, 0, 1);
--groupbutton-text-color-selected: rgba(255, 255, 255, 1);
--groupbutton-icon-color-selected: rgba(255, 255, 255, 1);
--groupbutton-text-color-disable: rgba(200, 200, 200, 1);
--groupbutton-text-color-focus: rgba(0, 0, 0, 1);
--groupbutton-icon-color-focus: rgba(0, 0, 0, 1);
--groupbutton-icon-color-disable: rgba(200, 200, 200, 1);
--groupbutton-border-color-disable: rgba(231, 231, 231, 1);
--groupbutton-bg-color-disable: rgba(248, 248, 248, 1);
--groupbutton-border-color-focus: rgba(255, 0, 0, 1);
--canvas-icon-color-default: rgba(94, 97, 100, 1);
--canvas-icon-bg-color-default: rgba(255, 255, 255, 1);
--canvas-icon-bg-color-selected: rgba(0, 0, 0, 1);
--canvas-icon-bg-color-hover: rgba(249, 249, 249, 1);
--canvas-icon-color-disable: rgba(200, 200, 200, 1);
--canvas-icon-color-selected: rgba(255, 255, 255, 1);
--listitem-text-color-disable: rgba(200, 200, 200, 1);
--label-toolbar-title: rgba(255, 255, 255, 1);
--listview-border-color-default: rgba(222, 222, 222, 1);
--listitem-container-border-color: rgba(231, 231, 231, 1);
--groupbutton-icon-color-selected: rgba(255, 255, 255, 1);
--labelstar-off-icon-color: rgba(161, 163, 165, 1);
--labelstar-on-icon-color: rgba(126, 123, 123, 1);
--labelstar-off-text-color: rgba(200, 200, 200, 1);
--labelstar-on-text-color: rgba(126, 123, 123, 1);
--messagebox-bg-color: rgba(255, 255, 255, 1);
--label-text-color-title: rgba(94, 97, 100, 1);
--label-text-color-subtitle: rgba(126, 123, 123, 1);
--label-text-color-display: rgba(255, 255, 255, 1);
--label-text-color-listvalue: rgba(0, 0, 0, 1);
--label-text-color-listcaption: rgba(108, 112, 115, 1);
--grid-cell-selected-bg-color: rgba(126, 123, 123, 1);
--icon-color-disable: rgba(200, 200, 200, 1);
--grid-cell-text-color-selected: rgba(255, 255, 255, 1);
--message-border-color: rgba(217, 217, 217, 1);
--drawer-bg-color: rgba(255, 255, 255, 1);
--drawer-icon-color-before: rgba(255, 180, 68, 1);
--drawer-icon-color-after: rgba(255, 255, 255, 1);
--drawer-text-color-default: rgba(255, 255, 255, 1);
--drawer-toggle-color: rgba(255, 220, 131, 1);
--drawer-text-color-selected: rgba(255, 180, 68, 1);
--window-border-color: rgba(222, 222, 222, 1);
--button-secondary-border-color-focus: rgba(255, 0, 0, 1);
--tab-border-color-hover: rgba(255, 0, 0, 1);
--grid-text-color-selected: rgba(255, 255, 255, 1);
--row-bg-bg-color: rgba(222, 222, 222, 1);
--label-text-color-specialtitle: rgba(255, 0, 0, 1);
--vanilla--other--black: rgba(0, 0, 0, 1);
--vanilla--other--white: rgba(255, 255, 255, 1);
--vanilla--other--error: rgba(238, 9, 9, 1);
--vanilla--other--required: rgba(255, 122, 0, 1);
--vanilla--other--notifications: rgba(21, 176, 197, 1);
--vanilla--other--contentnemu: rgba(3, 114, 149, 1);
--vanilla--neutral--900: rgba(75, 75, 75, 1);
--vanilla--neutral--800: rgba(94, 97, 100, 1);
--vanilla--neutral--700: rgba(126, 123, 123, 1);
--vanilla--neutral--600: rgba(161, 163, 165, 1);
--vanilla--neutral--500: rgba(200, 200, 200, 1);
--vanilla--neutral--400: rgba(222, 222, 222, 1);
--vanilla--neutral--300: rgba(231, 231, 231, 1);
--vanilla--neutral--200: rgba(245, 245, 245, 1);
--vanilla--neutral--150: rgba(249, 249, 249, 1);
--vanilla--neutral--100: rgba(248, 248, 248, 1);
--vanilla--neutral--50: rgba(252, 252, 252, 1);
--vanilla--secondary--900: rgba(4, 61, 79, 1);
--vanilla--secondary--800: rgba(2, 97, 128, 1);
--vanilla--secondary--700: rgba(0, 130, 171, 1);
--vanilla--secondary--600: rgba(5, 159, 207, 1);
--vanilla--secondary--500: rgba(14, 170, 220, 1);
--vanilla--secondary--400: rgba(48, 198, 245, 1);
--vanilla--secondary--300: rgba(106, 219, 255, 1);
--vanilla--secondary--200: rgba(171, 235, 255, 1);
--vanilla--secondary--100: rgba(232, 249, 255, 1);
--vanilla--primary--900: rgba(80, 106, 118, 1);
--vanilla--primary--800: rgba(99, 131, 146, 1);
--vanilla--primary--700: rgba(117, 155, 172, 1);
--vanilla--primary--600: rgba(128, 169, 187, 1);
--vanilla--primary--500: rgba(142, 187, 207, 1);
--vanilla--primary--400: rgba(172, 206, 221, 1);
--vanilla--primary--300: rgba(205, 231, 242, 1);
--vanilla--primary--200: rgba(229, 246, 254, 1);
--vanilla--primary--100: rgba(244, 251, 255, 1);

/* Text-size styles */
--link-default: 13px;
--link-focus: 13px;
--link-hover: 13px;
--button-text: 14px;
--floatbutton-text: 16px;
--caption-medium: 12px;
--input: 13px;
--place-holder-text: 14px;
--error-massage: 12px;
--chip: 14px;
--upload-status: 12px;
--upload-filename: 13px;
--progressbar-percent-large: 28px;
--progressbar-percent-small: 16px;
--progressbar-percent-medium: 20px;
--tooltip-text: 12px;
--tooltip-caption: 12px;
--timepicker-title-time: 11px;
--timepicker-nevigation-item-default: 14px;
--timepicker-nevigaion-item-selected: 14px;
--timepicker-hour-now: 14px;
--calender-date-default: 12px;
--calender-date-hover: 12px;
--calender-date-range: 12px;
--calender-date-press: 12px;
--calender-date-select: 12px;
--calender-week-days: 12px;
--calender-header-date-seleced: 14px;
--calender-date-selected: 12px;
--breadcrumb-default: 14px;
--breadcrumb-hover: 14px;
--breadcrumb-selected: 14px;
--tab-selected: 14px;
--tab-default: 14px;
--label-toolbar-title: 20px;
--labelstar-text-off: 14px;
--labelstar-text-on: 14px;
--label-message-text: 15px;
--progressbar-value: 12px;
--treeview-medium: 14px;
--treeview-large: 16px;
--otp: 20px;
--disaplay-large: 80px;
--display-medium: 64px;
--display-small: 40px;
--login-large: 50px;
--login-medium: 36px;
--login-small: 20px;
--label-small: 14px;
--label-medium: 18px;
--label-large: 22px;
--title-small: 18px;
--title-medium: 22px;
--title-large: 30px;
--subtitle-small: 14px;
--subtitle-medium: 16px;
--subtitle-large: 20px;
--list-large: 14px;
--list-medium: 14px;
--caption-small: 11px;
--note-small: 10px;
--note-medium: 12px;
--note-large: 13px;
--drawer-medium: 14px;
--drawer-large: 14px;
--caption-large: 13px;

/* Effect styles */
--row-shadow:  0px 1px 3px rgba(0, 0, 0, 0.2);
--tab-focus:  0px 0px 6px rgba(255, 0, 0, 0.25);
--window-shadow:  0px 5px 8px rgba(0, 0, 0, 0.2);
--treeview-item-focus:  0px 0px 8px rgba(0, 0, 0, 0.15);
--chip-focus-shadow:  0px 4px 4px rgba(255, 0, 0, 0.3);
--list-container-shadow:  0px 0px 5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.03), 0px 4px 5px rgba(0, 0, 0, 0.04);
--input-focus-shadow:  0px 4px 8px rgba(255, 0, 0, 0.3);
--tooltip-shadow:  0px 0px 4px rgba(0, 0, 0, 0.4);
--calendar-shadow:  0px 4px 8px rgba(0, 0, 0, 0.15);
--button-primary-focus:  0px 4px 8px rgba(255, 0, 0, 0.3);
--button-secondary-focus:  0px 4px 8px rgba(255, 0, 0, 0.3);
--button-secondary-press:  0px 0px 4px rgba(0, 0, 0, 0.6);
--floatbutton-shadow:  0px 0px 5px rgba(40, 40, 48, 0.2), 0px 2px 4px rgba(40, 40, 48, 0.2), 0px 4px 5px rgba(40, 40, 48, 0.4);
--floatbutton-shadow-disable:  0px 0px 5px rgba(200, 200, 200, 0.08), 0px 2px 4px rgba(200, 200, 200, 0.1), 0px 4px 5px rgba(200, 200, 200, 0.15);
--switch-focus:  0px 4px 8px rgba(255, 0, 0, 0.3);
--loanslider-handle-focus:  0px 0px 0px rgba(255, 0, 0, 0.5);
--groupbutton-shadow-focus:  0px 0px 6px rgba(255, 0, 0, 0.3);
--canvas-icon-shdow-focus:  0px 0px 6px rgba(255, 0, 0, 0.3);
--messagebox-box-shadow:  0px 6px 8px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(0, 0, 0, 0.1);
--grid-cell-edit-shadow:  0px 0px 2px rgba(255, 0, 0, 1);
--input-hover-shadow:  0px 2px 4px rgba(0, 0, 0, 0.15);
--card-focus-shadow:  0px 4px 3px rgba(255, 0, 0, 0.1), 0px 0px 4px rgba(255, 0, 0, 0.3);

}