
@use '../variable/variable' as *;
//link-menu-control//

.xstyle-xmenu-wrapper{

    
    & li.k-item{
            z-index: auto !important;
    }
    
      & .xstyle-ilink-wrapper{
        border-bottom: 1px solid #dedede !important;
        border-radius: 0 !important;
      }
    
        & .k-menu-link-text{
            font-size: 14px !important;
            color: #7E7B7B !important;
        }
        & ul{
            
    
          
         & a{

            font-size: 14px !important;
            border: none !important;
            text-align: right !important;
         }
        }
    }
    