@use '../variable/variable' as *;


.xstyle-ilink-wrapper{
    .x-link_Comp{
     
        text-decoration: $link-text-underling;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 130%;
        text-align: right;
        color: #1998D5;
        text-decoration: none;

        
  &:hover {
    color: #1998D5 !important;
    font-weight: 500;
  }
    }
}

