@use "../variable/variable" as *;

//radio disable//

.xstyle-radio-wrapper {

  margin-bottom: 5px;

  .k-radio{
    height: 14px;
    width: 14px;
  }
  label{
    color: #000000 !important;
    font-size: 13px !important;
  }
    &.x-readonly {
      opacity: 1 !important;
      & input.k-radio {
        border-color: #a1a3a5 !important;
        &:checked {
          border-color: #a1a3a5 !important;
          &::before {
            color: #a1a3a5 !important;
          }
        }
      }
  
      & label {
        font-size: 13px !important;
        &.x-control-caption-text {
          color: #000000 !important;
          font-size: 13px !important;
        }
      }
    }
  
    & label.k-radio-label {
      color: #000000 !important;
      font-size: 13px !important;
    }
  
    &.k-state-disabled {
      opacity: 1 !important;
      & input.k-radio {
        border-color: #a1a3a5 !important;
        &:checked {
          border-color: #a1a3a5 !important;
          &::before {
            color: #a1a3a5 !important;
          }
        }
      }
  
      & button span::before {
        color: #a1a3a5 !important;
      }
  
      & label {
        color: #a1a3a5 !important;
        font-size: 13px !important;
        &.x-control-caption-text {
          color: #000000 !important;
          font-size: 13px !important;
        }
      }
    }
  }

  
  .k-radio {
    &:checked {
      border-color: map-get($map: $Colors , $key: checkbox-color) !important;
      color: map-get($map: $Colors , $key: checkbox-color) ;
    }
  
    border-color: map-get($map: $Colors , $key: border-color-defualt) ;
    color: #7bd2f6;
    background-color: map-get($map: $Colors , $key: bg-qube) ;
    border-radius: 50%;
  
    &:hover {
      border-color: map-get($map: $Colors , $key: border-color-defualt);
      color: map-get($map: $Colors , $key: main-color);
      background-color: map-get($map: $Colors , $key: bg-qube);
    }
  }
  
  
  .xstyle-radio-wrapper .k-radio:focus, .x-damageTypeAndCamera .k-radio:focus {
    -webkit-box-shadow: 0 0 3px 0 map-get($map: $Colors , $key: main-color);
    box-shadow: 0 0 3px 0 map-get($map: $Colors , $key: main-color);
  }

  .k-radio.x-radio-input.s-radio-input{

    border: 1px solid black !important;

&:hover{
border: 1px solid black !important;
}

&:checked{

border: 1px solid map-get($map: $Colors, $key:main-color ) !important;
&:hover{
  border: 1px solid map-get($map: $Colors, $key:main-color ) !important;
}
}



}