

/*row*/
$row-background-color:#fff;
$row-margin:5px;
$row-margin-bottom:20px;
$row-padding:20px;
$row-border-radius:20px;
$row-box-shadow:0px 0px 8px rgba(123, 9, 141, 0.08);
$row-header-color:#7B098B;
$col-header-color:#7B098B;

mainbody > .row.DashboardPage{
    background: none;
    box-shadow: none;
 } 
.border{
    border: none !important;
}

#uber-container {
    >.xtafnit_pageContainer {
        >mainbody {
            >div {
                @media only screen and (max-width:768px) {
                    padding: 0;
                }
            }
        }
    }
}

mainbody {
 
    >.row {
      
        border-radius: 10px;
        padding: $row-padding;
        margin: $row-margin auto;
        margin-bottom: $row-margin-bottom;
        box-shadow: $row-box-shadow;

        .border{
          border: none !important;
         }
         &.border.border-0.boxShadow-0{
            background: none;
            box-shadow: none;
         } 


    }

    .x-section-header-wrapper .x-section-header  {
        background-color: none;
        color: $row-header-color;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    .x-row.s-row.x-section-header-wrapper {
        background: none;
        border: none !important;
        .col{
            padding-right: 0;
        }
    }


    .x-cell-header{
        font-family: "Heebo" !important;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: $col-header-color;
        height: auto;
    }

    .s-self-container   {
        span.x-dynamic-label-control{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 12px;
            text-align: right;
            color: #7B098B;
             
        }
    }
}


mainbody .col.flex-lg-row .x-self-container {
    width: 100%;
}