@use "../variable/variable" as *;


//tabstrip-control//

.xstyle-tab-wrapper {

  .k-complete{
    border: none !important;
  }
  .k-tabstrip-prev{
    border: none !important;
    display: flow-root;
    & .k-icon::before{
      content: "\e921";
      color: #7B098B;      
      font-family: 'icomoon';
      font-size: 20px;
      &:hover{
        font-weight: 700;
      }
    }
    &.k-disabled{
      & .k-icon::before{
        color: #a1a3a5;
      }
    }
  }
  .k-tabstrip-next{
    border: none !important;
    display: flow-root;
    & .k-icon::before{
      content: "\e91c";
      color: #7B098B;    
      font-family: 'icomoon';
      font-size: 20px;
      &:hover{
        font-weight: 700;
      }
    }
    &.k-disabled{
      & .k-icon::before{
        color: #a1a3a5;
      }
    }
  }
  .k-tabstrip:focus{
    box-shadow: none;
  }
    & .FF5A23.k-item {

      &.k-disabled{
        opacity: 1;
        span{
          color: #a1a3a5 !important;
        }
      }
      & span {
        opacity: 1 !important;
        color: #7b098b !important;
        border: none;
        font-size: 14px;
      }
    }
  
    & .k-tabstrip .k-tabstrip-items {
      padding: 5px;
      & .k-item.k-active {
        border: none !important;
  
        & span.k-link {
          border-bottom: 1px solid #7b098b !important;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }

  .xstyle-tab-wrapper {
    .k-tabstrip {
        background: $tabstrip-wrapper-background;
        border-color: $tabstrip-wrapper-border-color;
        margin-top: 30px;

        .k-content {
            border-color: $tabstrip-content-border-color;
            padding-right:0!important;
            padding-left:0!important;
        }

        .k-tabstrip-items {
            .k-item {
                background: $tabstrip-tab-background-color;
                border-color: $tabstrip-tab-active-border-color;
                border: none !important;

                &.k-state-active {
                    background: $tabstrip-tab-active-background-color;
                }

                .k-link {
                    color: map-get($map: $Colors, $key: main-color );
                }
            }
        }

        .k-tabstrip-next,
        .k-tabstrip-prev {
            color: $tabstrip-arrow-color !important;
            background: $tabstrip-arrow-background !important;
            top: $tabstrip-arrow-top-position !important;
        }
    }
}