.k-widget.k-window{

    max-width: 98% !important;
    background: #FBFBFB;
    padding: 35px !important;
    background: #FBFBFB;
    box-shadow: 0px 0px 10px rgba(123, 9, 139, 0.15) !important;
    border-radius: 10px;

    .k-window-titlebar.k-hstack{
        position: absolute;
        top: 0;
        background: none;
        border: none;
        left: 0;
        }

    .k-window-content{
        background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(123, 9, 141, 0.1);
    border-radius: 10px;
    padding: 30px !important;
    }



} 

.k-window .k-window-content header{

    position: sticky !important;


}