



@use '../variable/variable' as *;



.xstyle-autocomplete-wrapper   {

// disable // 

    &.k-state-disabled{

        & input.k-textbox{

            @extend %texbox-input;
           
        }

        & label{
            color: $control-caption-color-text-disable !important; 
          }
    }

    .k-autocomplete{
        border: none !important;
        &:focus{
            box-shadow: none;
            border: none        
        } 
    }
    & input{
      @extend %texbox-input;
      padding-right: 10px !important;

        &:focus{
            box-shadow:$control-box-shadow-focus !important;
            border: $control-border-focus !important;
        }

        &::placeholder{

            color: $control-color-placeholder !important;

        }
    }

    & label{
        @extend %texbox-label;

    }
}






