
// header main //
header.navbar-fixed-top.header-suppliers {
  display: grid;
  grid-template-columns: 80%20%;
  height: 121px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.1);
  border-radius: 10px;
  width: 95% !important;
  margin: auto;
  top: 10px;
  border: none !important;
.xstyle-dynamiclabelcontrol-wrapper     {
  height: 25px;
}
  & div{
    max-height: 121px;
  }

  // first-cube //

.mobileView{

  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
  & div.border-left{
      border-left:1px solid #000000 ;
  }
  & > div{
    align-self: center;
  }

  & .helloText{
    & span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: black;
    }
  }

  & .UserNameDetails{
    & span{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 30px;
      color: black;
    }
  }

  & .LastLoginDetails{
    & span{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: #A6A6A6;
      margin-top: 10px;
    }
  }
}

// secand cube //

.details {
& .left{

  & a{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    color: #059FCF;
  }
  & span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #000000;
  }
  .xstyle-dynamiclabelcontrol-wrapper > .col-4, 
  .details .left .xstyle-dynamiclabelcontrol-wrapper .col-33{

    flex: 0 0 0.1%;
    & label{
      margin-left: 5px;
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 25px;
      text-align: right;
      color: #690779;
    }
 } 
}


}

// logo //

.logo .x-self-container.s-self-container{
  position: absolute;
  width: 275px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

}