
@use '../variable/variable' as *;




mainbody {
&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InputInvoiceNoOrder),
&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InvoiceProForma){
    margin-top: 88px !important;
}

&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InputDeliveryCertificate){

    margin-top: 90px !important;
}
margin-top: 136px !important;
& > .row {
    background: $row-bg;
    box-shadow: $row-box-shadow;
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 15px;

    &.row-hidden{
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin-bottom: 0;
        & .col, .col-12{
            padding: 0;
        }
    }
    
    &.boxShadow-0.border-0{
        background: none ;
        box-shadow: none;
        padding: 0;
        & >div{
            padding: 0 ;
        }
    }
}
}


.add-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}