
    .xstyle-upload-wrapper:has(.k-file){
.k-upload-status.k-upload-status-total{
    display: none;
}
       & .k-upload-button span span.k-icon::before{
            color: #39B54A !important;
        }
    }
.xstyle-upload-wrapper{

.k-focus{
    box-shadow: none !important;
}
& [class^="k-file-validation-message !k-text-success"] {
    font-family: "Heebo" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px;
    color: #CDA3DD !important;
  }
  
  & [class="k-file-validation-message !k-text-error"] {
    font-family: "Heebo" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px;
  }
    & .k-file-invalid{
        border-top: 1px solid #690779 !important;
        border-bottom: none !important;
        & .k-file-name{
            font-weight: 400 !important;
            font-size: 14px !important;
            color: black !important;
        }


        & .k-file-invalid-group-wrapper{
            & .k-icon{
                color: #AAAAAA !important;
                font-size: 30px;
                top: 2px;
                &::before{
                    content: "\e9b0" !important;
                    font-family: 'icomoon' !important;
                }
            }
        }
    }


    & .k-upload-async{

        & .k-button-solid-base.k-upload-button{

       

            &.k-state-focused{
                box-shadow: none !important;
            }
          
        }
        & .k-button-solid-base:focus{
            box-shadow: none !important;
            border: none !important;
        }
        & .k-i-close{
            &::before{
                content: "\e904";
                font-family: 'icomoon';
                font-weight: bolder;
                color: #AAAAAA !important;
            }
        }


        & .k-file-group-wrapper{
            & .k-icon{
                color: #7B098B !important;
                font-size: 30px;
                top: 2px;
                &::before{
                    content: "\e920" !important;
                    font-family: 'icomoon' !important;
                }
            }
        }
        & .k-file.k-file-success{
            border-top: 1px solid #690779 !important;
            border-color: #690779 ;
            border-bottom: none !important;
        }

        & .k-upload-files.k-reset{
            border: none !important;
        }

        & .k-file-name{
            font-weight: 400 !important;
            font-size: 14px !important;
            color: black !important;
        }


        &.k-upload-empty{

       
            & .k-button-solid-base.k-upload-button{

               
                font-weight: 400 !important;
                &.k-state-focused{
                    box-shadow: none !important;
                }
              
            }
        }


        

        & .k-button-solid-base.k-upload-button{
           border: none;
           margin-bottom: 15px;
           background: #7B098B;
           border-radius: 10px;
           color: white !important;
           height: 50px;
           width: 200px;
        & span{
            
            & span.k-icon{
                margin-left: 10px !important;
                &::before{
                    color: white !important;
                    font-size: 22px !important;  
                }
            }
        }
    }
}
}

