@use "../variable/variable" as *;


//treebiew-control//

.xstyle-itreeview-wrapper {
    & .k-treeview-bot.k-treeview-top,
    & .k-treeview-mid {
      & span.k-in {
        font-family: "Heebo";
        font-style: normal;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 130%;
        text-align: right !important;
        color: #000000 !important;
  
        &:hover {
          background: none !important;
        }
      }
  
      & .k-i-expand {
        color: #000000 !important;
      }
  
      & .k-i-collapse {
        color: #c8c8c8 !important;
      }
    }
  }
  .k-treeview-leaf {
    &.k-focus {
      box-shadow: 0 0 0 0 white !important;
    }
  
    &:focus {
      box-shadow: 0 0 0 0 white !important;
    }
  
    &.k-selected {
      background: none !important;
    }
  }
  
  .k-treeview-leaf.k-in {
    color: #000000 !important;
  }
  
  