@use '../variable/variable' as *;

.container.pageContainer.xtafnit_pageContainer{
    margin-bottom: 0px !important;
}
.dashMission1,
.dashMission2,
.dashMission3,
.dashMission4,
.dashMission5{


 & div.row.x-row.s-row.border.d-flex.align-items-center:first-child  div.col.x-col.s-col:first-child{
     max-width: 0 !important;
 }  
}

.k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] .drawer-item-control-wrapper .k-panelbar .k-item{
  border: none;
}


@media only screen and (max-width: 850px) {

#TafnitCore_SaaSServer_TafnitCloud_UI_DashBorad{

& .DashboardPage {

    & .dashRightCol  .dashStatus.col,
    & .dashRightCol  .dashOverview.col {
        margin-right: 5px !important;
      }
}
  }
.dashMyMission {

  & .k-icon.k-i-more-vertical{
    &::before{
    transform: rotate(90deg) !important;
    top: 22px !important;
    right: -3px !important;
    }
  }
}
  .DashboardPage .dashMyMission .k-grid-content{

    &::-webkit-scrollbar{
      display: none !important;
    }
  }
  #TafnitCore_System_UI_App_WebSDK_PageInfo.xtafnit_pageContainer{

    width: auto  !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    position: absolute !important;
    top: -9px !important;
    direction: ltr;
    border-radius: 0px !important;
& .k-grid-content.k-auto-scrollable{
  &::-webkit-scrollbar{
    display: none !important;
  }
}

    & tr:last-child{

      & td{
      border: none !important;
      }
    }
    & td{
      box-shadow: none !important;
    }
    & tr{
      border-collapse: collapse !important;
      border-bottom: 1px solid #F5F5F5 !important;
      
    }
  }
  .k-tabstrip-prev,
  .k-tabstrip-next{
    display: none !important;
  }

  ul.k-tabstrip-items.k-reset{
    overflow: auto !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .DashboardPage .dashMission1 label,
  .DashboardPage .dashMission2 label,
  .DashboardPage .dashMission3 label,
  .DashboardPage .dashMission4 label,
  .DashboardPage .dashMission5 label{
    height: 50px !important;
    line-height: 110%;
    color: black !important;
  }

  .DashboardPage .dashMyMission{
    padding-bottom: 40px !important;

    & .xstyle-ilink-wrapper {
      position: absolute !important;
      bottom: -653% !important;
      z-index: 14;
      right: 29% !important;
      font-weight: 400 !important;
      font-size: 14px !important;
    }
  }
  .xstyle-gridv4-wrapper{

    & .k-dropdown.k-picker.k-dropdownlist-list{
        border: none;
        background: white;
        box-shadow: 0px 0px 8px rgb(123 9 141 / 8%) !important;
        color: #7B098B !important;
    }
    & .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap.k-pager-sm{

      justify-content: center !important;
      & a.k-link.k-pager-nav.k-pager-first.k-state-disabled{
        margin-right: 0px !important;
      }
    }

    & .x-control-content-wrapper.s-control-content-wrapper .k-toolbar.k-toolbar-resizable[data-role=toolbar]{

      margin-right: 0px !important;
    }

    & .x-control-content-wrapper.s-control-content-wrapper > .k-toolbar.k-toolbar-resizable a{
          
      background: #690779 !important;
    }

    & table[role="grid"]{

        border-collapse: separate !important;
        border-spacing: 0 1em !important;
      

      & tr td[role="gridcell"]{
        background: #FFFFFF !important;
        border: 1px solid #F5F5F5 !important;
        border-radius: 10px !important;
        box-shadow: 0px 0px 8px rgba(21, 20, 21, 0.08) !important;
        position: relative !important;

        & p{
          margin-bottom: 10px !important;
          font-weight: 400 !important;
          font-size: 16px !important;
        }

        & strong{
          font-weight: 700 !important;
          font-size: 16px !important;
          line-height: 100% !important;
          color: #7E7B7B !important; 
        }

        & strong:first-child{
          color: #000000 !important;
        }

        & button{
            position: absolute;
            top: 0;
            left: 35px;

            & i{
              font-size: 25px;
            }

        }

        & button:last-child{
          left: 0 !important;
        }
      }
    }
  }

    #TafnitCore_WorkFlow_UI_OverView .col.x-col.s-col.cube.workflow.justify-content-around.ml-1.ml-lg-2{
    flex: 0 0 100% !important;
    max-width: 97% !important;
    margin-bottom: 20px !important;
  }

  #TafnitCore_WorkFlow_UI_OverView .col.x-col.s-col.cube.workflow.justify-content-around > :last-child > :last-child{
    padding: 0 !important;
  }

  #TafnitCore_WorkFlow_UI_OverView{
    margin: auto !important;
  }


  .xstyle-radio-wrapper .x-RBComp{
    margin-bottom: 20px ;
  }

  .xstyle-radio-wrapper {
    & .x-control-caption-wrapper.s-control-caption-wrapper{
      & label.x-control-caption-text.s-control-caption-text{

        padding-right: 0 !important;
        margin-bottom: 15px !important;
        color: #7B098B !important;
        font-weight: 400 !important;
        margin-top: 15px !important;
      }
    }
    & .x-radio-spacer{
    margin-bottom: 20px !important;
  }
}

.xstyle-buttoncontrol-wrapper{
  & button.k-button.x-button.s-button{
    height: 50px !important;
  } 
}
  #TafnitCore_System_UI_App_WebSDK_Main input[type=text].k-textbox{
    height: 50px !important;
  }
 .xstyle-itoolbar-wrapper{
  height: 56px !important;
  box-shadow: 0px 6px 6px rgba(123, 9, 141, 0.1) !important;
  border-radius: 10px !important;
  & .k-button-group{
    display: none !important;
  }

  & #tbHeader{   
    margin-top: -17px !important;
    & span{
    font-size: 20px !important ;
    color: #7B098B !important;
    font-weight: 500 !important;
  }
}
  & .k-toolbar.k-toolbar-resizable{
    margin-right: 10px !important;

    & a.k-button-solid.k-button-solid-base.k-icon-button{
        & span{
          margin-top: -9px;
          margin-right: -15px;
        }
       & span:before{
        font-size: 16px !important;
       }
    }
    & .k-overflow-anchor.k-button.k-button-md.k-rounded-md.k-button-flat.k-button-flat-base{
    box-shadow: none !important;
    transform: rotate( -90deg );
    width: auto;
    height: 100%;
    margin-left: -11px;
    margin-top: -14px;
    display: none;
     & span:before{
      font-size: 22px !important;
     }
  }
}
}
  .k-widget.k-window.k-rtl:has(#MessageBoxWindow){
    width: 80% !important;
    height: 35% !important;
    padding: 15px !important;

    & #MessageBoxWindow{
      width: 98% !important;

      & button.k-button{
        width: 100% !important;
      }

      & .col-100.col-md-50.my-1.my-md-0:has(button){
          display: none !important;
      }
    }
    &  .k-window-titlebar.k-hstack{
      position: absolute !important;
      width: 10% !important;
      z-index: 4 !important;
      left: 28px !important;
      background: white !important;

      & span.k-button-icon.k-icon.k-i-close{
        font-size: 26px !important;
      }
    }

  }

  #TafnitCore_System_UI_App_WebSDK_Main.pageContainer > header.k-header {
    top: 65px !important;
}
#TafnitCore_System_UI_App_WebSDK_Main{

  & .xstyle-daterangev2-wrapper{

  & .x-date-wrapper{
    & input{
      height: 50px !important;
          background: white;
          padding-top: 0px !important;
          border: 1px solid #D9D9D9 !important;

          &:focus-within{
            box-shadow: 0px 0px 10px #f6ecfb !important;
            border-bottom: 1px solid #7B098B !important;
          }
    }
  }
    & label{
      padding-right: 0px !important;
    }
  
    & .x-control-content-wrapper.s-control-content-wrapper{
      & >div span:nth-child(1){
      & span.k-datepicker.k-input{

        border: none !important;
      
        & input{
          border-right: none !important;
          border: 1px solid #D9D9D9 !important;
          text-indent: 22px !important;
          height: 50px !important;
          background: white;
          padding-top: 0px !important;

          &:focus-within{
            box-shadow: 0px 0px 10px #f6ecfb !important;
            border-bottom: 1px solid #7B098B !important;
          }
        }
        & button{
          padding-left: 29px !important;
          margin-top: 6px;
         }
      }
      }

      & >div span:nth-child(2){
        text-align: right;
      display: block !important;
      margin-top: -24px;
      border: none !important;

       & input{
        border-right: none !important;
        border: 1px solid #D9D9D9 !important;
        text-indent: 22px !important;

        &:focus-within{
          box-shadow: 0px 0px 10px #f6ecfb !important;
          border-bottom: 1px solid #7B098B !important;
        }
       }
       & button{
        padding-left: 29px !important;
        margin-top: 6px;
       }
      }
    }
  }

  & .x-cell-header.s-cell-header{

    font-family: 'Heebo';
font-style: normal;
font-weight: 400 !important;
font-size: 14px;
line-height: 130%;
display: flex;
align-items: flex-end;
text-align: right;
color: #7B098B !important;
margin-bottom: 15px !important;
margin-top: 15px !important;
  }
 & .xstyle-xmenu-wrapper .k-menu{
    float: right !important;
  }
& .xstyle-buttoncontrol-wrapper .k-button, .k-time-footer.k-action-buttons .k-button{
  max-width: 100% !important;
}
& .xstyle-textareacontrol-wrapper{
  margin-bottom: 10px !important;
  & label{
    border: none !important;
    width: 100% !important;
    padding-right: 0px !important;
  }
 
&.mandatory{
  
  & label{
    border: none !important;
  }

  & textarea{
    border-right: 5px solid #ff7a00 !important;
  }
} 
}
& .xstyle-date-wrapper{
  margin-bottom: 60px !important;
  & span.k-datepicker.k-input.x-datePickerResponsive{
    height: 50px !important;
  }

  & input.x-datePickerResponsive.s-datePickerResponsive{
    border: 1px solid #D9D9D9 !important;
    height: 50px !important;
   

    &:focus-within{
      box-shadow: 0px 0px 10px #f6ecfb !important;
      border-bottom: 1px solid #7B098B !important;
    }
  }
  & button{
    padding-left: 29px !important;
    margin-top: 8px !important;
  }
  & label{
    padding-right: 0px !important;
  }
}
& .xstyle-daterangev2-wrapper{

  margin-bottom: 26px !important;

  & label{
    padding-right: 0px !important;
  }
}



  & .xstyle-numberrange-wrapper{
    margin-bottom: 60px !important;
    border-right: none !important;
    & label{
      padding-right: 0px !important;
    }
    & .x-numberrange{ 
      
      & span:last-child.k-textbox-container{
        text-align: right;
        display: block !important;
        margin-top: -24px;
        border: none !important;
       & span{
        padding-right: 0px !important;
       }
        & input{
          border-right: none !important;
          border: 1px solid #D9D9D9 !important;
          text-indent: 22px !important;
            &:focus-within{
            box-shadow: 0px 0px 10px #f6ecfb !important;
            border-bottom: 1px solid #7B098B !important;
          }
        }

      }


      & span:first-child.k-textbox-container{
        border: 1px solid #D9D9D9 !important;
        & input{
          text-indent: 22px !important;

          &:focus-within{
            box-shadow: 0px 0px 10px #f6ecfb !important;
            border-bottom: 1px solid #7B098B !important;
          }
        }

      }
  }

  &.x-readonly{ 
    margin-bottom: 80px !important;
    & div:nth-child(2){
       
      border: none !important;

  }
}
}

  & .xstyle-idropdownlist-wrapper{
    & label{
      padding-right: 0px !important;
    }
    border: none !important;
    margin-bottom: 60px !important;

    & .x-control-content-wrapper.s-control-content-wrapper{
      border: 1px solid #D9D9D9 !important;
      height: 50px !important;

      & span.k-dropdown.x-dropdown-comp{
        margin-top: 9px;
      }
    }
  }

 & .xstyle-lookuptafnit-wrapper{
  border: none !important;
  margin-bottom: 60px;

 & .x-lookup.s-lookup span.xLookupFullDescription{
       height: 50px !important;
  }

  & .x-lookup .x-selection-lookup .x-open-lookup .x-selection-lookup-button .x-input-group-text{
    margin-top: 9px !important;
  }
  & label{
    padding-right: 0px !important;
  }

  & .x-lookup-container.s-lookup-container{
    border: 1px solid #D9D9D9 !important;

    & .x-selection-lookup.s-selection-lookup.row{
      justify-content: space-between !important;

      & span.mandatory{
        display: none !important;
      }

      & div.col-67{
        flex: 0 0 80%;
        max-width: 80% !important;
      }

      & .x-open-lookup{
        flex: 0 0 14% !important;
      }
    }
  }

  & input.k-textbox {
    border-right: none !important;
    text-indent: 22px !important;
    &:focus-within{
      box-shadow: 0px 0px 10px #f6ecfb !important;
      border-bottom: 1px solid #7B098B !important;
    }
  }
  &.mandatory     {

     & input{
      border-right: 5px solid #ff7a00 !important;
    }
  }

  &.x-contextmenu{

   & .x-control-caption-wrapper.s-control-caption-wrapper::before{
    content: "" !important;
   }
   & .x-control-content-wrapper.s-control-content-wrapper:before {
    content: "\f0d8" !important;
    font-family: "Font Awesome 5 PRO";
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    top: 13px;
    margin-right: 8px;
    color: #037295 !important;

    
}

   }
 }  






 & .xstyle-textcontrol-wrapper, 
 & .p-floating-container, 
 & .xstyle-date-wrapper, 
 & .xstyle-password-wrapper, 
 & .xstyle-timepicker-wrapper, 
 & .xstyle-timepicker-wrapper{

    border: none !important;
    margin-bottom: 60px;
    & label{
      padding-right: 0px !important;
    }
    & input.k-textbox {
      border-right: none !important;
      border: 1px solid #D9D9D9 !important;
      padding-right: 22px !important;
      text-indent: 0;
      height: 50px !important;
      padding-left: 22px !important;
      &:focus-within{
        box-shadow: 0px 0px 10px #f6ecfb !important;
        border-bottom: 1px solid #7B098B !important;
      }
    }

    
    &.x-contextmenu{

      & div:nth-child(1)> div.x-control-caption-wrapper::before{
          content: "" !important;
      }
      & div:nth-child(2)> div.x-control-content-wrapper.s-control-content-wrapper::before{
          content: "\f0d8" !important;
          font-family: "Font Awesome 5 PRO";
          font-weight: 900;
          font-size: 18px;
          position: absolute;
          top: 13px;
          margin-right: 8px;
          color: #037295 !important;
      }
  }
  }

  .mandatory.p-floating-container,
  .xstyle-numberrange-wrapper.mandatory,
  .xstyle-timepicker-wrapper.mandatory,
  .mandatory.xstyle-textcontrol-wrapper,
  .xstyle-date-wrapper.mandatory,
  .xstyle-password-wrapper.mandatory,
  .xstyle-timepicker-wrapper.mandatory{


    & input{
      border-right: 5px solid #ff7a00 !important;

    }

  }



}


  .k-panelbar-group.k-group.k-panel > li.k-item.k-panelbar-item.k-level-0.k-level-1[role="treeitem"] > span.k-link > .k-panelbar-item-text{
    background: #FFFFFF !important;

    & span.x-dynamic-label-control{
      color: #7B098B !important;
    }

  }

  .k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] .drawer-item-control-wrapper .k-panelbar .k-item{
    border: none !important;
  }

  .k-drawer .k-panelbar .k-item .k-panel .k-item > span.k-link > span.k-panelbar-item-text,
  .k-panelbar-group.k-group.k-panel > li.k-item.k-panelbar-item.k-level-0.k-level-1[role="treeitem"] > span.k-link,
  .k-drawer .k-panelbar .k-item .k-panel .k-item.k-panelbar-header > .k-link,
  .k-drawer .k-panelbar .k-item .k-panel .k-item > .k-link > span.k-panelbar-item-text + span.k-icon,
  .k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] .drawer-item-control-wrapper .k-panelbar .k-group.k-panel,
  .k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] .drawer-item-control-wrapper .k-panelbar .k-group.k-panel .k-item.k-panelbar-header,
  .k-drawer-overlay .k-drawer .k-drawer-wrapper .k-drawer-items li.k-item:hover{
    background: #FFFFFF !important;

  }
  .k-drawer .k-panelbar .k-item .k-panel .k-item.k-panelbar-item  > .k-link{
    background: white !important;
  }
  .k-drawer-overlay .k-drawer .k-drawer-wrapper .k-drawer-items li.k-drawer-item:hover {
    background: white !important;
}
  .drawerSearch input.k-textbox{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(123 9 141 / 8%);
  }

  .k-icon.DrawerItem-icon{
    color: #7B098B !important;
  }
  .k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] .drawer-item-control-wrapper .k-panelbar .k-item .k-panelbar-expand,
  .k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] .drawer-item-control-wrapper .k-panelbar .k-item .k-panelbar-collapse{
    color: #DDC3E7 !important ;
  }

    .k-drawer-expanded > .k-rtl.k-widget.k-drawer{
        width: 96% !important;
        max-width: none !important;
        background: white !important;
        border-radius: 0 !important;

        & .k-drawer-wrapper{
            width: 100% !important;


        }
    }

    .k-drawer-overlay .k-drawer .k-drawer-wrapper .k-drawer-items li.k-panelbar-header:hover{
       background: white !important;
    }

    .k-drawer .k-drawer-items *:not(.popUpWindowCls *):not(input.k-textbox):not(.DrawerItem-icon) {
      color: black !important;
     }

    .k-drawer .k-drawer-items *:not(.popUpWindowCls *, input.k-textbox, .DrawerItem-icon){
        & li.drawerItemScroller:hover{
            background: white !important;
        }
     
    }
  
    div[uxid="toolsole"]{
        width: 13% !important;
    }
    #kiDrawer{
        margin-top: 16px !important;
    }
    .dashRightCol.col-100{
        flex: 0 0 100% !important;
    }
    .dashLeftCol{
        display: none !important;
    }
    header.k-header.headerCard {
      display: flex !important;
      margin: 0 !important;
      width: 100% !important;
      height: 65px !important;
      border-radius: 0px !important;
  

      & .xstyle-itoolbar-wrapper{
        box-shadow: none !important;
      }
      & .mobileView{
        justify-content: space-between !important;
  
  
        & .searchDesign  {
          margin-top: 0px !important;
          margin-right: 0px !important;
          top: 0px !important;
        }
      }
    }
  
    .doBorder div:first-child input.k-textbox.s-textbox.x-textbox{
      text-indent: 16%;
    }
    .logoImg div:first-child div:last-child div:first-child img{
  
      width: 101px ;
      margin-top: 6px !important;
      height: auto !important;
      min-height: 50px ;
      max-width: 315px ;
    }

    #uber-container{
        padding: 0 !important;
    }

    #TafnitCore_SaaSServer_TafnitCloud_UI_Main,
    #TafnitCore_System_UI_App_WebSDK_Menu{
        padding: 0 !important;
        margin-top: 0px !important;
    }

    .headerCard .k-toolbar.k-toolbar-resizable #kiDrawer.k-hidden{
      display: block !important;
    } 
  }
  




  @media (max-width: 850px) {

    .k-drawer-container .k-drawer .k-drawer-wrapper li[data-role=drawer-item] > span.icon-xtab-my-task{
      padding: 3px 20px !important;
      padding-left: 12px !important;
      right: -3px !important;
    }

    .k-drawer-overlay.k-drawer-right .k-drawer.k-widget {
      background: white !important;
    }
.k-drawer-items{

  & .d-flex.justify-content-between.align-items-center.text-Right.k-drawer-item.drawerSearch > span.k-icon.icon-xtab-small-search.DrawerItem-icon{
    top: 7px !important;
  }
  & .drawerSearch{
    position: relative !important;
  }
  & .drawer-item-control-wrapper {
    line-height: 130% !important;
  }

  & .x-image-wrapper{
    & + span.x-dynamic-label-control{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 300 !important;
      font-size: 16px !important;
      line-height: 16px;
      margin-top: 15px;
    }

    & + span + a.link_Comp.x-link_Comp.s-link_Comp{
      font-weight: 700 !important;
      font-size: 14px !important;
      line-height: 130% !important;
      color: #7B098B !important;
    } 

    & + span + a + span.x-dynamic-label-control.s-dynamic-label-control {
      font-weight: 300 !important;
      font-size: 12px !important;
    }
  }


  & img{
    width: 38% !important;
    margin-top: -25px;
  };
}
    .doBorder div:first-child{
      justify-content: normal !important;
  
      & input.k-textbox.s-textbox.x-textbox{
        text-indent: 22% !important;
      }
    }
  
    .mobileView{
   & .logo {
        margin: 0 !important;
        display: block !important;
   }
      & .minScreen {
        flex: 0 0 66% !important;
        border: none !important;
  
      }
  
      & .d-lg-flex.roundedAvatar,
      & .border-dark.invisible,
      & .textCard.invisible
    {
  
        display: none !important;
      }
    }
  
  
    .x-control-content-wrapper.s-control-content-wrapper {
   
    
    & .k-toolbar.k-toolbar-resizable[data-role="toolbar"] {

      & span.fa-bars{
        font-size: 28px !important;
        color: #000000 !important;
      }
  }
    }
  
  }



  @media only screen and (max-width: 720px){

    #TafnitCore_SaaSServer_TafnitCloud_UI_Login{

      & div[uxid="loginDetailsLeft"]{

          max-width: 100% !important;
          flex: 0 0 100% !important;
       }

    

  }
     
    #TafnitCore_SaaSServer_TafnitCloud_UI_DashBorad .dashRightCol .row.x-row.s-row.border div[uxid="rowNumber31"].border:first-child,
    #TafnitCore_System_UI_App_WebSDK_DashBoard .dashRightCol .row.x-row.s-row.border div[uxid="rowNumber31"].border:first-child{
     width: 234% !important;
     margin-top: 15px !important;
     justify-content: space-around !important;


      & .dashMission1,
      & .dashMission2,
      & .dashMission3,
      & .dashMission4,
      & .dashMission5{


        margin: 0px 0px !important;
        flex: 0 0 19% !important;

        & div.row.x-row.s-row.border.d-flex.align-items-center:first-child  div.col.x-col.s-col:first-child{
            max-width: 0 !important;
        }  
      }
    }

    div[uxid="colNumber1"]{
    overflow: auto !important;

    &::-webkit-scrollbar {
        display: none;
      }
    }
  }


  @media only screen and (max-width: 1279px){
    #TafnitCore_SaaSServer_TafnitCloud_UI_Login .boxShadow{

      flex: 0 0 50% !important;
      max-width: 50% !important;

    }

  }

  @media only screen and (max-width: 370px){

    .DashboardPage .dashMyMission{
  
      & .xstyle-ilink-wrapper.s-row.x-row {
        bottom: -625% !important;
        right: -14px  !important;
      }
    }

    #TafnitCore_SaaSServer_TafnitCloud_UI_Login{

      & .col-17.VerticalLine.leftVerticalLine,
      & .col-17.VerticalLine.rightVerticalLine{
        flex: 0 0 20% !important;
      }
    }
  }

  @media only screen and (max-width: 910px){

    #TafnitCore_SaaSServer_TafnitCloud_UI_Login{
      margin: 0 !important;

      & .x-self-container.s-self-container + div + div.border {
        width: 75% !important;
    }

      & .VerticalLine.leftVerticalLine,
      & .VerticalLine.rightVerticalLine{
        flex: 0 0 36% !important;
      }

      & .btnBackground .x-button-wrapper.s-button-wrapper .k-button.x-button.s-button{
        height: 50px !important;
        width: 92%;
        max-width: none !important;
    
      } 


      & .x-image-wrapper.s-image-wrapper > img {
        width: 245px !important;
        position: relative !important; 
    }
      & div[uxid="loginDetailsLeft"]{

          max-width: 100% !important;
          flex: 0 0 100% !important;
          padding: 18px !important;
          border-radius: 0px !important;
       }

       & .socialButtons {

          & > div.border:last-child{
            width: 93% !important;
             & > div.col.x-col.s-col.col-33  {
              padding: 0 !important;
             }
          }
       }

  }
  }

  @media only screen and (max-width: 700px){
    #TafnitCore_WorkFlow_UI_OverView .headerNone > div.cube-wrapper  {
   
      padding-left: 16px !important;
  }
    .DashboardPage .dashMyMission{
  
      & .xstyle-ilink-wrapper.s-row {
        bottom: -625% !important;
        right: 23% !important;
      }
    }
  }


  @media only screen and (max-width: 710px){
     
    .logoImg div:first-child div:last-child div:first-child img{
      margin-left: 20px !important;
    }

    #TafnitCore_SaaSServer_TafnitCloud_UI_Login .x-self-container.s-self-container{
      margin: 0 !important;
    }

    #TafnitCore_SaaSServer_TafnitCloud_UI_Login  .xstyle-tab-wrapper .k-tabstrip{
      margin-top: -4px !important;
    }
    
  }

  @media only screen and (max-width: 520px){
    .DashboardPage .dashMyMission{
  
      & .xstyle-ilink-wrapper.s-row {
        bottom: -625% !important;
        right: 9% !important;
        font-weight: 400 !important;
        font-size: 14px !important;
      }
    }

  }
  @media only screen and (max-width: 578px){



    
     
    .logoImg div:first-child div:last-child div:first-child img{
      width: 91px !important;
      margin-top: 6px !important;
    }
    .doBorder div:first-child > div > span.k-icon.icon-xtab-small-search {
      right: 4px !important;
  }
    header.k-header .mobileView .searchDesign{
      margin-right: 0px !important;
    }
    .col.x-col.s-col.d-lg-flex.align-items-center.minScreen {
      flex: 0 0 62% !important;
    }
  }

  @media (max-width: 393px) {


    #TafnitCore_SaaSServer_TafnitCloud_UI_Login .x-self-container.s-self-container + div + div.border.x-row.s-row {
      width: 90% !important;
  }
    .doBorder div:first-child input.k-textbox.s-textbox.x-textbox {
        text-indent: 26% !important;
    }

    .x-control-content-wrapper.s-control-content-wrapper .k-toolbar.k-toolbar-resizable{
        margin-right: 6px !important;
    }
    .x-control-content-wrapper.s-control-content-wrapper .x-image-wrapper.s-image-wrapper > img{
            min-height: 49px !important;
            margin-top: 34px !important;
            width: 76px !important;
            position: absolute;
            left: 0;
        }
        
    
        div[uxid="toolsole"]{
            width: 11% !important;
        }
    
      }


      @media (max-width: 430px) {

        #TafnitCore_System_UI_App_WebSDK_Login .x-self-container.s-self-container, #TafnitCore_SaaSServer_TafnitCloud_UI_Login .x-self-container.s-self-container {
          margin-bottom: 16px !important;
      }

      #TafnitCore_SaaSServer_TafnitCloud_UI_Login .k-tabstrip-items-wrapper.k-hstack > ul > li {
        height: auto;

        & span.k-link{
          font-size: 14px !important;
        }
      }

      }


      