
@use '../variable/variable' as *;


.xstyle-radio-wrapper .k-radio:checked, .x-damageTypeAndCamera .k-radio:checked {
    border-color: map-get($map: $Colors, $key: radio-button-on) !important;
  }
  
  .k-radio {
    &:checked {
      border-color: map-get($map: $Colors, $key: radio-button-on) !important;
      color: map-get($map: $Colors, $key: radio-button-on);
    }
  
    border-color: map-get($map: $Colors, $key: border-color-defualt);
    color: #7bd2f6;
    background-color: map-get($map: $Colors, $key: bg-qube);
    border-radius: 50%;
  
    &:hover {
      border-color: map-get($map: $Colors, $key: text-defualt );
      color: #7B098D;
      background-color: map-get($map: $Colors, $key: bg-qube);
    }
  }
  
  
  .xstyle-radio-wrapper .k-radio:focus, .x-damageTypeAndCamera .k-radio:focus {
    -webkit-box-shadow: 0 0 3px 0 map-get($map: $Colors, $key: radio-button-on);
    box-shadow: 0 0 3px 0 map-get($map: $Colors, $key: radio-button-on);
  }
  
  .k-radio:checked::before {
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    height: 9px;
    width: 9px;
  }

  .xstyle-radio-wrapper .k-radio:checked, .x-damageTypeAndCamera .k-radio:checked {
    border-color: map-get($map: $Colors , $key: main-color)  !important;
  }
  
  /* eran */
  
  .k-radio {
    &:checked {
      border-color: map-get($map: $Colors , $key: checkbox-color) !important;
      color: map-get($map: $Colors , $key: checkbox-color) ;
    }
  
    border-color: map-get($map: $Colors , $key: border-color-defualt) ;
    color: #7bd2f6;
    background-color: map-get($map: $Colors , $key: bg-qube) ;
    border-radius: 50%;
  
    &:hover {
      border-color: map-get($map: $Colors , $key: border-color-defualt);
      color: map-get($map: $Colors , $key: main-color);
      background-color: map-get($map: $Colors , $key: bg-qube);
    }
  }
  
  
  .xstyle-radio-wrapper .k-radio:focus, .x-damageTypeAndCamera .k-radio:focus {
    -webkit-box-shadow: 0 0 3px 0 map-get($map: $Colors , $key: main-color);
    box-shadow: 0 0 3px 0 map-get($map: $Colors , $key: main-color);
  }

  .k-radio.x-radio-input.s-radio-input{

    border: 1px solid black !important;

&:hover{
border: 1px solid black !important;
}

&:checked{

border: 1px solid map-get($map: $Colors, $key:main-color ) !important;
&:hover{
  border: 1px solid map-get($map: $Colors, $key:main-color ) !important;
}
}

}
