


#TafnitCore_SaaSServer_Funding_B2B_UI_AddLoaner{

    margin-top: 0 !important;

    .row-type {
        width: 98% !important;
    }

    mainbody > .row.row-main{
        width: 98% !important;
    }


    .col-buttons{
        justify-content: end;
        max-width: 102%;
        gap: 10px;
        display: grid;
        padding: 0;
        grid-template-columns: auto auto;

        button{
            width: auto !important;
            min-width: auto;
            padding: 0 30px;
        }
    }

    .row-type .col-type{
        padding: 20px 30px !important; 
    }
}