@use '../variable/variable' as *;











  .xstyle-buttoncontrol-wrapper{

    &.btn-special{
      & button{

       @extend %spicel-button;
       

      }
    }
    & button{
        @extend %button;
        margin-bottom: 15px;
        min-width: 200px;
        width: 100%;
        
      &:hover{
        background: $Button-bg-hover;
        opacity: 0.6;
        color: $Button-color-text;
        border: 1px solid $Button-color-border;
      }

      &:focus{
        border: 1px solid $Button-color-border-focus;
        filter: drop-shadow(0px 0px 6px rgba(255, 120, 11, 0.2));
        opacity: 1;
      }
        }

  }

  .xstyle-floatbuttonv2-wrapper{
    button{
      background:$Button-float-bg !important ;
      color: $Button-float-color !important;
    }
  }