




.x-footer.s-footer.k-header{
    background: $Footer-bg !important;
    border: none !important;
    display: flex;
    align-items: center;
    box-shadow: $Footer-box-shadow;
.xstyle-buttoncontrol-wrapper button.x-button.s-button{
    background: $Footer-button-bg  !important;
    margin-bottom: 0 !important;
}

}