



// grid header //


.k-grid {
    border: none;
    outline: 0;


    th,td{


      & input.k-checkbox{
        border-color: $Grid-checkBox-border;
        border-radius: 50%;

        &:checked{
          border-radius: 50%;
       
            &:before{
            background: $Grid-checkBox-bg;
            content: "";
            border-radius: 50%;
            }
        }
    
        &:focus{
            box-shadow: none;
        }
      }

      i,.k-icon{

        &::before{
        color: $grid-filter-icon !important ;
        font-weight: 300;
        }

        &.fa-circle::before{
          color: #000000 !important;
        }
      }
    }

    table {
        @media only screen and (min-width:700px) {
            width: 100% !important;
        }
    }

    .k-toolbar {
        background: $grid-header-background;


        &.k-grid-toolbar {
            border-color: $grid-header-toolbar-border-color !important;

            >a.k-button {
                align-items: center;

                >i {
                    margin-left: .1875rem;
                }
            }
        }

        .k-grid-serach {
            max-width: 100%;
            float: $grid-header-serach-float !important;
            border: $grid-header-serach-border !important;
            border-radius: $grid-header-serach-border-radius !important;
        }
    }

    .k-grid-header {
        background: $grid-header-background;
        border: none;
        padding: $grid-content-padding;


        .k-grid-filter {
            &.k-state-active {
                background: $grid-header-filter-active-background;

  
            }
        }

        tr {

          &.k-alt{
            background:$grid-tr-background-k-alt !important;
          }

            &:hover,
            &:hover td {
                background-image: none !important;
                background: $grid-tr-background-hover !important;

                td{
                  background: $grid-tr-background-hover !important;
                }
            }
        }
        

        th {
            &.k-header {
              font-family: 'Assistant';
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 130%;
              text-align: right;
              color: $Grid-color-title-th !important;
              
            }

              

            background: none;
            border: none !important;

            a {
                color: $grid-header-text-color !important;

                span {
                    &:before {
                        color: $grid-filter-icon;
                    }
                }
            }
        }

        thead {
            background: $grid-header-title-background;
        }
    }

    .k-grid-content {
        height: auto;
        overflow: auto;

       



    }

}



.k-separator{
  border: none !important;
}

  

@media only screen and (max-width: 850px) and (min-width: 700px){
  .k-pager-wrap.k-grid-pager.k-floatwrap{
    & .k-pager-first.k-pager-nav{

      margin-right: 10% !important;
    }

 
}
}
  
  .k-pager-wrap.k-grid-pager.k-floatwrap{
    margin-top: 30px !important;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: auto;
    justify-content: center;
    margin: auto;

   
    & >.k-pager-nav:hover{
      border: none !important;
      background: none !important;
    } 
  



    & .k-pager-info.k-label{

      position: absolute;
      right: 0;
    }
  

  }

  .k-window-content{
    margin-top: 20px;
  }
  
  .k-grid-content.k-auto-scrollable,.k-window-content{

    scrollbar-face-color: #bb2e71;
    scrollbar-track-color: #f3e9f8;
    scrollbar-arrow-color: #bb2e71;
  
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  
    &::-webkit-scrollbar {
      width: 10px !important;
      border-radius: 10px;
      position: absolute;
    }
  

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #f0f0f0;
    }
  
    &::-webkit-scrollbar-thumb {
      background:$grid-scrollbar-color;
      border-radius: 10px;
      
  
      &:hover {
        background:$grid-scrollbar-color-hover ;
        
      }
      }

  
    & >table>tbody>tr{
     
      &.k-alt{
        background:$grid-tr-background-k-alt !important;
      }

        &:hover,
        &:hover td {
            background-image: none !important;
            background: $grid-tr-background-hover !important;

            td{
              background: $grid-tr-background-hover !important;
            }
        }
    }
  
  
  
  
  
  
    & >table>tbody>tr>td>button{
      align-items: center;
      padding: 12px;
      padding-top: 17px;
  
      height: 50px;
      border: none !important;
      border-radius: 10px !important;
      background: none !important;

    

       &:hover{
        background:none !important ;
       }
      }
  

        
    
        & >table>tbody>tr>td{
  
          font-family:'Assistant';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          text-align: right !important;
          color: $Grid-color-text-td !important ;
          border: none;
          border-bottom:$grid-border-td;
          height: 50px ;
          padding-left: 19px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 10px;

          a{
     

            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 130%;
            text-align: right;
            color: $grid-color-link-td;
            text-decoration: none;
    
            
      &:hover {
        color: $grid-color-link-td !important;
        font-weight: 500;
        text-decoration: underline !important;
      }
        }
         
        }
  
  
  
  }



        .k-action-buttons {
          display: flex;
          flex-direction: row !important;
        
  
          > button {
            width: 45% !important;
            height: 30px;
            background: $Button-bg !important;
            border-radius: 10px !important;
            color: $Button-color-text !important;

            &.k-button-solid-base{
                background: #FFFFFF !important;
                border: 1px solid #DA3382  !important;
                color: #DA3382  !important;
            }
          }
        }
   
  
  