

//link-menu-control//



.xstyle-ilink-wrapper{
          
         & a{
    
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: $link-color;
         }
        }
    