


.payment-cube-row1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    margin-bottom: 15px;
    
    & > div {
        padding: 0;
    }
}

.payment-cube-row2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-bottom: 15px;

    & > div {
        padding: 0;
    }
}

.greyPanel{
    .gridHeaderButton{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 15px;
        padding: 0 ;

        & >div{
            align-self: center;
            top: 15px;
            position: relative;
            .xstyle-kicon-wrapper{
                background: $first-panel-bg-icon-button;
                width: 50px;
                height: 50px;
                border: $first-panel-border-icon-button;
                border-radius: 10px;
                align-items: center;
                & .k-icon{
                    &:before{
                        color: $first-panel-color-icon-button;
                        font-size: 22px;
                        font-weight: 400;
                    }
                }
                .x-kicon-caption{
                    display: none;
                }
            }


            .xstyle-buttoncontrol-wrapper{
                 .x-button-wrapper {
                    float: left;
                 }
                & button{
                   @extend %spicel-button;
                }
            }
        }
    }
}


