

 .xstyle-islider-wrapper{
    margin-top: 15px;

    .x-islider-wrapper{
        margin-top: 15px;
    }

    & .k-slider-items{
        margin-top: 33px;
        & li.k-tick{
          
            & .k-label{
                display: none;
            }

            &::before{

                content: "";
                border-radius: 50%;
                width: 8px !important;
                height: 8px;
                background: none;
                z-index: 20;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 3px;
            }

            &.k-tick-large::before{
                width: 0 !important;
                height: 0 !important;
            }
        }
    }

    & .k-slider-track{
        height: 14px !important;
        background: #E7E7E7;
        border-radius: 40px;
        margin-top: -7px !important;

        & .k-slider-selection{
            height: 14px !important;
            background: #007FC1;
            border-radius: 40px;
            margin-top: -7px;

         
        }

        & span.k-draghandle{

            width: 50px;
            height: 50px;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(2, 111, 158, 0.5);
            border-radius: 40px;
            border: none !important;
            filter: drop-shadow(-3px 2px 4px rgba(0, 0, 0, 0.25));
             filter: drop-shadow(-3px 2px 4px rgba(0, 0, 0, 0.25)) ;
             &::before{
                content: "\f51e";
                font-family: "Font Awesome 5 pro" !important;
                position: absolute;
                font-size: 16px;
                top: 50%;
                transform: translateY(-50%);
                margin: 0 auto;
                left: 0;
                right: 0;
                color: #007FC1 !important;
             }
        }


    }
}



.k-slider-tooltip{

    background: none !important;
    box-shadow: none !important;
    border: none !important;
    &::before{
        border: none !important;
    }
    & font{

        font-family: 'Assistant' !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 21px !important;
        text-align: center !important;
        color: #39AAFD !important;
        
        & .k-callout::before {


            border: none !important;
            background: none !important;
        }
    }
}