



.k-animation-container:has(.k-tooltip){
    background: none !important;
    .k-tooltip.k-widget.k-popup.k-group.k-reset{
      
        top: -85px;
        font-weight: 400 !important;
        padding: 0;
        background: none;
       border: none;
        
        &:before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            bottom: -8px;
            left: 60%;
            margin-left: -25px;
            background: #fff;
            transform: rotate(45deg);
            box-shadow: $tooltip-box-shadow !important;

        }  
    


    }

    & .k-tooltip-content{
        background: #fff !important;
        position: relative;
        text-align: center;
        padding: 6px;
        border-radius: 10px;
        box-shadow: $tooltip-box-shadow!important;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        font-family: "Assistant";
    
    }

    & .k-callout.k-callout-n{
     border: none;
    }
}