@use '../variable/variable' as *;


.x-xmenu  {
  border: 0 !important;
}
#TafnitCore_WorkFlow_UI_OverView{
  width: 99.2% !important;

  & .x-panelCtrl > .container {
    margin-top: 15px !important;
    padding: 0 10px;
}
 
  & .headerNone {

    background: map-get($map: $Colors, $key: bg-qube );
    box-shadow:  0px 0px 8px map-get($map: $Colors, $key: login-screen-boxshadow );
    border-radius: 10px;
    width: 99%;
    margin-top: 15px !important;
    padding: 0 !important;

    & > div{

      width: 100%;
      padding: 30px 30px !important;
      padding-left: 8px !important;
    }
  }

   & .col.x-col.s-col.cube.workflow.justify-content-around{

    @media screen and (max-width: 1443px) {
        flex: 0 0 33% !important;
        max-width: 32% !important;
    }

    @media screen and (max-width: 1112px) {
        flex: 0 0 48% !important;
        max-width: 49% !important;
    }
   


    box-sizing: border-box;
    width: 414.89px;
    height: 260px;
    flex: 0 0 24% !important;
    max-width: 26% !important;
    background: map-get($map: $Colors, $key: bg-qube );
    box-shadow: 0px 0px 12px rgba(123, 9, 141, 0.12);
    margin-left: 13px !important;
    border-radius: 10px;
    color: #000000 !important;
    min-height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;

  
    & >:first-child>div>div>div>div>div>span{
      font-family: map-get($map: $typographyVariables, $key: -font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
     
    }
  
    & >:nth-child(2){
      margin-top: -31px;
  
      & >div>div>div>div>div>span{
        font-family: map-get($map: $typographyVariables, $key: -font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: map-get($map: $Colors, $key: text-defualt ) !important;
      }
    }
  
  
    & >:last-child{
     
      display: block !important;
      margin-top: -24px !important;
      & >:first-child{
        display: flex !important;
      flex-direction: row !important;
      justify-content: right !important;
        &:first-child>div>div>div>div>span{
          font-family: map-get($map: $typographyVariables, $key: -font-family);
          font-style: normal;
          font-weight: 400;
          font-size: 62px;
          line-height: 62px;
          color: #7B098B;
          margin-top: -13px;
  
        }
         & >:last-child{
          margin-top: 14px;
          margin-right: 14px;
    
           & >div>div>div>span{
            font-family: map-get($map: $typographyVariables, $key: -font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 20px !important;
            line-height: 18px;
            color: #7B098B !important;
           }
         }
      }
  
      & >:last-child{
      margin-top: 44px;
      }
      
      & >:last-child>:first-child{
        flex-direction: row !important;
        display: flex !important;
      }
  
      & >:last-child>:first-child>:first-child{
      width: 48%;
      height: 42px;
  background: #DDC3E7 !important;
  border-radius: 10px;
  flex: none;
  flex-grow: 0;
  margin-left: 13px !important;

   &:hover{
    background: #7B098B !important;
  
    
   }
   &:hover span{
    color: white !important;
   }

   &:focus{
    background: #690779 !important;
   
   }

   &:focus span{
    color: white !important;
   
   }

  & >div>div>div>div>span{
    font-family: map-get($map: $typographyVariables, $key: -font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: map-get($map: $Colors, $key: text-defualt ) !important;
    
  
 
}
  
      }
      & >:last-child>:first-child>:last-child{
        max-width: 48% !important;
        height: 42px;
        background: map-get($map: $Colors, $key: bg-qube );  
        border: 1px solid map-get($map: $Colors, $key: border-color );
        border-radius: 10px;
        margin-top: 0px !important;

        &:hover{
          background: #F5F5F5 !important;
        }

        &:focus{
          background: map-get($map: $Colors, $key: border-color ) !important;
        }
  
        & >div>div>div>div>span{
  
          font-family: map-get($map: $typographyVariables, $key: -font-family);
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          color: #7E7B7B !important;
        }
    
        }
    }
  
  
  
  
  } 



     .k-icon.k-i-more-vertical{
       top: -10px;
     }
  
  }