$title-background: #10143A;
$card-body-background: white;
$card-body-box-shadow: 2px 2px 10px rgb(22 169 199 / 20%);
$color-text-title: #10143A;
$color-text-title-link: #10143A;
$color-icon-bell: #10143A;
$note-background: #45B4E3;
$note-color-text: white;


