@use "../variable/variable" as *;

// חלון הודעות//

.k-window:has(#MessageBoxWindow) {
    position: absolute;
    width: 795px !important;
    height: 392px !important;
    left: 260px;
    top: 122px;
    background: #fbfbfb;
    box-shadow: 0px 0px 15px rgba(123, 9, 141, 0.15) !important;
    border-radius: 10px;
    padding-bottom: 35px !important;
  
   
    & #MessageBoxWindow {
      width: 725px !important;
      height: 322px !important;
      background: #ffffff;
      box-shadow: 0px 0px 8px rgba(123, 9, 141, 0.08);
      border-radius: 10px;
      margin: auto;
  
      & #ctrlSectionMainSection {
        margin-top: 8% !important;
      }
      & .x-fa-info {
        color: #7b098d;
        &::before {
          content: "\e9a7";
          font-family: "icomoon";
        }
      }
  
      & .x-icons.x-fa-question {
        color: #7b098d;
        &::before {
          content: "\e97b";
          font-family: "icomoon";
        }
      }
  
      & .x-fa-error {
        color: #ee0909;
        background: none !important;
        &::before {
          content: "\e9a5";
          font-family: "icomoon";
        }
      }
  
      & span#controlMessageText {
        font-family: "Heebo";
        font-style: normal;
        font-weight: 400 !important;
        font-size: 20px !important;
        line-height: 130%;
        text-align: center;
        color: #000000 !important;
      }
      & button {
        width: 200px !important;
        height: 37px !important;
        border-radius: 10px !important;
        background: #7b098b !important;
        color: white !important;
        font-size: 14px !important;
        text-align: center;
  
        &:hover {
          background: #690779 !important;
        }
      }
    }
  }


  
  // הודעת שגיאה צפה //

  .alert-Message.failureMessage,
  .alert-Message.successMessage{

    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgb(123 9 141 / 10%), 0px 0px 5px rgb(123 9 141 / 20%);
    border-radius: 10px;
    padding: 30px 70px;
    height: 81px;
    color: #EE0909;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-family: 'Heebo';
    border: none ;
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
  }

  .alert-Message.successMessage{
    color: #7B098B !important;

    &::before{

      content: "\e9bf";
      font-family: 'icomoon';
      position: relative;
      top: 4px;
      left: 5px;
      font-size: 22px;
    }
  }

  //messagebox//
#MessageBoxWindow {
 
  #buttonbtn2,
  #buttonbtn1 {
      

      line-height: 2 !important;
  }

  #controlCell1Container {
      max-width: 100% !important;
      flex: 0 0 100% !important;
      text-align: center !important;
  }

  #controlCell2Container {
      max-width: 100% !important;
      flex: 0 0 100% !important;
      text-align: center !important;

     
  }

  #controlCell3Container {
      #buttonbtn1 {
          
          height: 40px;
          line-height: 2 !important;
          margin: auto;
      }
  }
}