@use "../variable/variable" as *;

// popup filter //

.k-popup.k-group.k-reset{
    min-width: 239px !important;
    background: #FFFFFF;
    border:none;
    box-shadow: 0px 6px 6px rgba(123, 9, 141, 0.1);
    border-radius: 10px;
   
    
    .k-filter-help-text {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 130%;
        padding-right:15px !important ;
        background: none !important;
        text-align: right !important;
        color: #7B098B !important;
        padding-top: 20px;
    }
    & .k-list-content.k-list-scroller{
      border: none !important;
      background-color: #FFFFFF !important;
      border-color: white;
    }
  
    & .k-list-optionlabel.k-state-disabled{
      display: none;
    }
  
     & li{
      height: 35px !important;
      background: map-get($map: $Colors, $key: bg-qube ) !important; 
      border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;

      
      &.k-focus{
        background: #F5F5F5 !important;
      }
  
      .k-link.k-menu-link{
       
        &:hover{
          background: #7B098B !important;
  
          span{
            color: white !important;
          }
        }

  
     
  
      .k-i-grid-icon{
        font-size: 22px;
        color: #7B098B;
      }
  
      .k-menu-link-text{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: right;
        color: #000000;
      }
  
      }
  
      &:hover{
  
        background: #F5F5F5 !important;
      }

      
      &:focus,&:focus-within{
        background: #ECECEC !important;
        border-bottom: 1px solid #D9D9D9 !important;
      }
     }
  
     & li.k-list-item.k-selected{
       display: none !important;
     }
    
  }

  .k-filter-menu {
    background: map-get($map: $Colors, $key: grid-bg-filtered);
    box-shadow: 0px 0px 8px map-get($map: $Colors, $key: login-screen-boxshadow);
    border-radius: 10px;
    border: none;
    height: auto;
    width: 200px;
  
    > .k-filter-menu-container {
  
      padding-right: 5px;
  
      > {
        .k-filter-help-text {
          width: 114%;
          background: map-get($map: $Colors, $key: main-color);
          color: white;
          margin-top: -7px;
          margin-right: -5px;
          height: 28px;
          text-align: center;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          padding-top: 12px;
          font-family: map-get($map: $typographyVariables, $key: -font-family);
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
        }
  
        .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md {
            margin: auto;
            margin-bottom: 15px;
            margin-top: 10px;
            box-sizing: border-box;
            height: 35px;
            right: 0;
            opacity: 0.2;
            border-bottom: 0.5px solid #d9d9d9 !important;
            opacity: 1 !important;
            font-family: "Heebo";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            background: none !important;
            width: 100%;
  
          > button > span {
            color: map-get($map: $Colors, $key: popup-text-defualt) !important;
            font-size: 23px !important;
            margin-left: 29px !important;
          }
        }
  
        .k-textbox.k-input.k-input-md.k-rounded-md.k-input-solid {
         
          height: 40px;
          left: 0px;
          background: map-get($map: $Colors, $key: bg-qube);
          border: 0.5px solid map-get($map: $Colors, $key: border-color);
          border-radius: 10px;
        }
  
        .k-action-buttons {
          display: flex;
          flex-direction: row !important;
        
  
          > button {
            width: 45% !important;
            height: 30px;
            background: map-get($map: $Colors, $key: button-important-bg) !important;
            border-radius: 10px !important;
            color: map-get($map: $Colors, $key: button-important-text) !important;

            &.k-button-solid-base{
                background: #FFFFFF !important;
                border: 1px solid #7B098B !important;
                color: #7B098B !important;
            }
          }
        }
      }
    }
  }
  