<<<<<<<< HEAD:system-design/components/_messageBox.scss

========
#MessageBoxWindow{
    .row{
        display: block;

        div{
            max-width: 100%;
            margin: auto;
            text-align: center;
        }
    }
}
>>>>>>>> d8024ddf2eb628e03a7b386290b8ee7da12a2b60:system-design/components/container-controls/_messageBox.scss

.x-icons {
    font-size: 50px;
    border-radius: 50%;

    &.x-fa-success {
        color: #1dbb00;
    }

    &.x-fa-error {
        color: #ef0000;
    }

    &.x-fa-question,
    &.x-fa-info {
        color: #006bef;
    }

    &.x-fa-warning {
        color: #ffbc00;
    }
}