





.xstyle-password-wrapper  {
    margin-top: 15px;
// disable // 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
& label{
  @extend %texbox-label;

}

    &.k-state-disabled{ 

      opacity: 1;


      & input.k-textbox{

        background: var(--input-bg-default) ;
         
      }

      & label{
          color: var(--label-disable) ; 
        }
    }

//input//

    & input{
      @extend %texbox-input;
      padding-right: 10px ;

     
      &.x-login-user-error{
        
        border-bottom: 1px solid var(--input-border-color-error) ;
      }

        &:focus{
          box-shadow:var(--input-focus-shadow) !important;
          border: 1px solid var(--input-border-color-focus) ;
            outline: none !important;
        }

        &::placeholder{

          color:var(--input-text-color-place-holder);

        }
    }


    // spicel input //

  
}






