#TafnitCore_Sales_V2_UI_NewCart{
    margin-top: -7px !important;
  
.secandary-title{
    span{
        text-align: center !important;
    }
}

.x-button-wrapper{
    text-align: center;
    margin-top: 20px;
}

.x-row:has(.user){
    margin-top: 30px;
    padding: 0 40px;
  
  }
}