


#TafnitCore_Sales_V2_UI_Product,
#TafnitCore_Sales_V2_UI_RoomOptionsDetails{

    margin-top: -7px !important;
    img{
        width: 100%;
    }

    .last-button{
        margin-top: -10px;
    }

}

#TafnitCore_Sales_V2_UI_Product{
    .tabs-filter{
        border-top: 1px solid #DEDEDE !important;
        padding-top: 20px;
        border-radius: 0 !important; 
    }
}