.xstyle-autocomplete-wrapper{

    margin-top: 5px ;
        & label{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            align-items: center;
            color: #004070;
            margin: 0;
        
        }
    
        & .k-autocomplete{
    
        border: none !important;
        background: none;
        box-shadow: none;
            & input{
                background: white !important;
                height: 45px !important;
                border: 1px solid #9BD5FF !important;
                border-radius: 10px;
                background: none;
                padding-right: 10px !important;
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 24px;
                align-items: center;
                text-align: right;
                color: #052136 !important;
                &:focus{
                    box-shadow: none !important;
                    border: 1px solid #F57920 !important;
                }
            }
            &:focus{
               
                box-shadow: none !important;
            }
    
          
            
        }
    
}