// drower //

.k-content:has(#TafnitCore_SaaSServer_Portal_Transportation_V2_UI_Main){
    .k-overlay{
 
     background: #052136 !important; 
     opacity: 0.2 !important;
    }
    
     & .x-drawer{
        
         height: auto !important;
         overflow: hidden;
         background: #FFFFFF;
         box-shadow: -4px 4px 4px rgba(0, 90, 141, 0.2);
         max-width: 240px;
       
         & .k-drawer-item{

            &:has(.x-dynamic-label-control){
                border-bottom: 1px solid #39AAFD;
            }
             &:has(.k-icon){
                 height: 60px;
                 padding: 0 15px;
             }
             & span.DrawerItem-icon{
                   position: relative;
                   top: 50%;
                   transform: translateY(-50%);
                   color: #004070;
                   font-size: 30px;
             }
 
             & .drawer-item-control-wrapper {
                 position: relative;
                 top: 50%;
                 transform: translateY(-50%);
                 color: #004070;
              
                 & span{
                     font-family: 'Heebo';
                     font-style: normal;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 100%;
                     display: flex;
                     align-items: center;
                     text-align: right;
                     color: #052136;
                     position: absolute;
                     top: 50%;
                     transform: translateY(-50%);
                 }
             }
            
             & a{
                 font-family: 'Heebo';
                 font-style: normal;
                 font-weight: 700;
                 font-size: 12px;
                 line-height: 18px;
                 display: flex;
                 align-items: center;
                 text-align: right;
                 color: #004070;
             }
         }
     }
 }