

.eroorMessage{


    & span{
        text-align: right !important;
        font-weight: 400 !important;
        font-size: 12px !important;
        color: #ED2F2F !important;
        margin-top: -10px;
    }
}

.col-12:has(.eroorMessage){
    padding: 0 !important;
}



.error-message{

    span.x-dynamic-label-control{
        color: #ED2F2F !important;
    }
}


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_ErrorMessage{
    img{
        width: 80%;
    }
}