
@use '../varible/varible' as *;


 div[uxid="tbID"], div[uxid="tbPassword"]{
    margin-top: 5px !important;
}
.xstyle-textcontrol-wrapper {



    &.k-state-disabled{

        & input.k-textbox{

            @extend %DisableInput;
        }

        & label{
            color: #CCCCCC !important; 
          }
    }

 &.shadowIn{
        margin-top: 10px !important;  
        & input{

            @extend %SpecialInput;
        }
    }
    & input{
      @extend %SimpleInput;
   

        &:focus{
            box-shadow: inset 4px 4px 5px rgba(57, 181, 74, 0.2) !important;
        }

        &::placeholder{

            color: #BBBBBB !important;

        }
    }
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_HomePage{
    .xstyle-textcontrol-wrapper {
  
        & input{
          font-size: 20px !important;
          border-radius: 30px !important;
        }
}
}




#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_AccidentReportPage,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_TreatmentOrder,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_DateCoordination,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_onTheVehicle,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_VehivleDetails,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_PersonalDriver,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Contact{
    
    & .tbMainSubject{
        & input.k-textbox{
          
           &::placeholder{
            color: black !important ;
           }
        }
        & label.s-control-caption-text{
            color: #7E7B7B !important;
        }
    }
& .xstyle-textcontrol-wrapper{

    &.x-readonly{
        opacity: 1 !important;
        & input.k-textbox.x-textbox.s-textbox{
           @extend %DisableInput;

        
       }

       & label{
           color:  #7E7B7B !important; 
         }
   }
    &.k-state-disabled{
         opacity: 1 !important;
        & input.k-textbox{

            @extend %DisableInput;
        }

        & label{
            color: #CCCCCC !important; 
          }
    }
    & input{
        @extend %SimpleInput;
        font-size: 16px !important;
            &:focus{
                border: 1px solid #E6E6E6 !important;
                box-shadow: 0px 0px 4px rgba(57, 181, 74, 0.3) !important;
                border-radius: 20px 0px !important;
            }
    }
    & label{
      @extend %SimpleCaption;  
    }

}
}



#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_DateCoordination{


    & .xstyle-textcontrol-wrapper{
        & input{
            margin-bottom: 15px !important;
            &::placeholder{
                color: black;
            }
            &:focus-within{
                background: #39B54A !important;
                box-shadow: inset 5px 5px 10px rgba(0, 1, 2, 0.15) !important;
                color: #FFFFFF !important;
                &::placeholder{
                    color: #FFFFFF !important;
                }
            }
        }
    }
}