


#TafnitCore_SaaSServer_Funding_B2B_UI_Main:has(#TafnitCore_SaaSServer_Funding_B2B_UI_Simulation){

  .button-next{
    .x-button-wrapper {
     margin-top: 40px;
    }
  }
}








  .xstyle-buttoncontrol-wrapper{

    &.button-next{
      .x-button-wrapper {
        width: 75%;
        margin: auto;
        text-align: end;

        button{
          width: auto !important;
          min-width: auto !important;
          padding: 0 30px;
        }
      }
    }
    &.k-state-disabled{
      opacity: 1 ;
      & button{
        background: $Button-bg-disabled;
        border: $Button-border-disabled;
        color:$Button-color-disabled;
      }

    }
    &.btn-special{
      & button{

       @extend %spicel-button;
       padding: 0 30px;
       width: auto !important;

       .k-icon{
        font-size: 30px;
       }

      }
    }
    & button{
        @extend %button;
        margin-bottom: 15px;
        padding: 0 30px;
        width: auto !important;
        border: none;
      &:hover{
        background: $Button-bg-hover;

        color: $Button-color-text;
        border: 1px solid $Button-color-border;
      }
      
      &:focus{
        border: 1px solid $Button-color-border-focus;
        filter:$Button-color-filter-focus ;
        opacity: 1;
      }
        }

  }

  .xstyle-floatbuttonv2-wrapper{
    button{
      background:$Button-float-bg !important ;
      color: $Button-float-color !important;
    }
  }