



.k-content:has(#TafnitCore_SaaSServer_Funding_B2C_UI_Main),
.k-content:has(#TafnitCore_SaaSServer_Funding_B2B_UI_Main){
  .k-overlay{

   background: $overlay-color !important; 
   opacity: 0.2 !important;
  }
  
   & .x-drawer{
      
       height: auto !important;
       overflow: hidden;
       background: $drawer-background-color;
       box-shadow: $drawer-box-shdow;
       border-radius: 10px;
       max-width: 240px;
       top: 78px;
       right: 8px;
       & .k-drawer-item{

          &:has(.x-dynamic-label-control){
              border-bottom:none;
          }
           &:has(.k-icon){
               height: 60px;
               padding: 0 15px;
           }
           & span.DrawerItem-icon{
                 position: relative;
                 top: 50%;
                 transform: translateY(-50%);
                 color: $drawer-icon-color;
                 font-size: 30px;
           }

           & .drawer-item-control-wrapper {
               position: relative;
               top: 50%;
               transform: translateY(-50%);
               color: $drawer-icon-color;
            
               & span{
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px !important;
                    line-height: 30px;
                    text-align: right;
                    color: $drawer-color-text;
                   position: absolute;
                   top: 50%;
                   transform: translateY(-50%);
               }
           }
          
           & a{
               font-family: 'Assistant';
               font-style: normal;
               font-weight: 700;
               font-size: 12px;
               line-height: 18px;
               display: flex;
               align-items: center;
               text-align: right;
               color: $drawer-color-link;
           }
       }
   }
}

.k-content:has(#TafnitCore_SaaSServer_Funding_B2B_UI_Main){
    & .x-drawer{

        top: 88px;
        border-radius: 10פס;
        right: 36px;
        border: none;

        .k-drawer-item{
            box-shadow: $drawer-k-drawer-item-box-shdow;
    
            & span.DrawerItem-icon{
                display: none;
             }
            & .drawer-item-control-wrapper {
    
                & span.x-dynamic-label-control {
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 130%;
                    text-align: right;
                    color:$drawer-k-drawer-item-color ;
                    
                }
            }
        }

    }


 


}