

.k-widget.k-window:has(#TafnitCore_System_UI_App_Tools_ChangeCompany){
    background: #FFFFFF !important;
    box-shadow: 0px 10px 10px rgba(1, 103, 177, 0.3) !important;
    border-radius: 8px !important;
    border: none !important;
    padding: 5px;
    height: auto !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 85% !important;
    margin: 0 auto;
    left: 0 !important;
    right: 0;

    & .k-window-content{
        margin-top: 30px !important;
    }

  & .k-window-titlebar{

    background: none !important;
    border: none !important;
    display: block;

    & .k-window-title{
        justify-content: center;
        margin-top: 35px !important;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        align-items: center;
        text-align: center;
        color: #E51925;
    }


    & .k-window-actions.k-hstack{

        position: absolute;
        top: 9px;
        left: 14px;
        & span{
        color: #727272 !important;
        font-size: 22px;

        
        }
    }
  }
    & #TafnitCore_System_UI_App_Tools_ChangeCompany{

        & .k-hidden{

           display: block !important;
        }

        & .k-overflow-anchor{
            display: none !important;
        }

        & .x-section-wrraper{
            border: none !important;
        }

        height: 170px !important;
      & div:has(.kendoToolbarHeader){

        position: absolute;
        bottom: 0;
        margin: 0 auto !important;
        left: 0;
        right: 0;
        height: auto !important;

        & .kendoToolbarHeader{
            display: grid;
            grid-template-columns: 0px 1fr 1fr;
            background: none;
            border: none;
            gap: 10px;

            & button{
                background: #00AEE9;
                border-radius: 0px;
                border: none !important;
                font-family: "Arial";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                height: 47px;
                display: flex;
                align-items: center;

            }
        }
      }


      & .xstyle-idropdownlist-wrapper{

        display: block;
        direction: rtl;


        & label{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            align-items: center;
            text-align: right !important;
            color: #00AEE9;
        }


        & div:has(.x-dropdown-comp){

            max-width: 100%;
            flex: 0 0 100%;

            & .x-dropdown-comp{
    
                height: 45px !important;
                border: 1px solid #DEDEDE;
                border-radius: 0px;
                background: none;
            
            
                & .k-input-value-text{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px !important;
                    line-height: 24px;
                    align-items: center;
                    text-align: right;
                    color: #052136 !important;
                }
            
                &:focus{
                    border: 1px solid #F57920 !important; 
                }
            
                & .k-input-button{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 3px;
                    border-radius: 0;
                    background: #00AEE9 !important;
                    padding: 19px;
            
                    & .k-icon{
                        padding: 9px;
                        &::before{
                            content: "\f0dc";
                            font-family: "Font Awesome 5 pro" !important;
                            color: white;
                            font-weight: 600;
                            font-size: 21px;
                           
            
                        }
                    }
                }
                
            }
            
            
            
        }

      }
    }
}



