


.xstyle-daterange-wrapper{

    margin-bottom: 15px;
    padding: 0 15px;
    .s-control-content-wrapper{
        margin-top: 12px;
    }
    .s-control-caption-text{
        
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                color: #00AEE9;
                margin-bottom: 5px;
       
    }




    .k-dateinput {
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        height: 45px;

        input{
            text-align: right;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
    }


    .k-floating-label-container>.k-label{
        right: -15px;
        top: 10px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #00AEE9;
    }
}