

.k-animation-container{

  & .k-popup{

    box-shadow: none !important;
    border: 1px solid #00AEE9;
    margin-top: 5px;
    & .k-list-content.k-list-scroller{
       
        background: none !important;
        padding: 12px 20px;
& ul{
  background: white !important;
}
        & li{
            height: 41px;

            &.k-selected.k-focus{
              background: #FCFCFC!important;
              color: #0167B1 !important;
              border: none;
              box-shadow: none;
            }

            &:hover{
              background: #FCFCFC!important;
              color: #0167B1 !important;
            }

            & span{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                align-items: center;
                text-align: right;
                color: #727272 !important;
            }

        }
    }
  }


}