.xstyle-textcontrol-wrapper {
    margin-top: 20px;
    & label {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #00AEE9;
        margin-bottom: 3px;
    
    }
      
    &.k-state-disabled label {
            color: #CCCCCC !important;
        }
    & input.k-textbox.x-textbox {
            margin-bottom: 10px !important;
            height: 45px;
            border: 1px solid #DEDEDE;
            border-radius: 0px;
            font-family: "Heebo";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #000000;
            padding-right: 10px !important;
       &:focus {
          border: 1px solid #F37A1F !important;
        }
       &::placeholder {
            color: #BBBBBB !important;
        }
    }


    &.k-state-disabled {

       opacity: 1 !important;
        & label{

            color: #AAAAAA !important;

        }

        & input{
            border: 1px solid #EEEEEE !important;
            background: none !important;
        }
    }

}