


.k-window:has(#TafnitCore_SaaSServer_Portal_Default_UI_DisplayInputInvoiceNoOrder){
    header{
        display: none;
    }

    height: auto !important;
}
#TafnitCore_SaaSServer_Portal_Default_UI_DisplayInputInvoiceNoOrder{


    margin: 0;

    mainbody {
        margin-top: 0px !important;
    }


    .labelTitle{
     
        .x-control-content-wrapper span {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            text-align: right;
            color: #000000;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover{
                white-space: normal;
            }
        }
       .x-control-caption-wrapper label {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: right;
        color: #676767;
      }
    
      .xstyle-dynamiclabelcontrol-wrapper .col-4 {
        max-width: 35%;
        flex: 0 0 35%;
      }
     
      .xstyle-dynamiclabelcontrol-wrapper{
        margin-bottom: 10px;
        .col-8 {
            max-width: 65%;
          }
      }
    }
    .total-panel .totalCol {
        padding-top: 10px !important;
    }

}