$title-background: #10A831;
$title-text: White;
$title-secondary: #10A831;
$title-secondary-bottom-border: #BDF2C9;
$icon-color : #4C7D32;
$required: #4C7D32;
$Focus-border:  #88DB9A;
$high-light-caption : #88DB9A;
$radio-button-on-background:  #10A831;
$radio-button-on-drop-shadow: 0px 0px 4px #4C7D32;;
$radio-button-on-border: #ffffff;
$upload-text: #10A831;
$upload-icon: #10A831;
$check-box-on-background: #10A831;
$check-box-on-drop-shadow: none;
$label-star-off-border: #FCDAC1;
$label-star-on-background: #FF7D19;
$link-text: #10A831;
$approve-icon-on: #4C7D32;
$button-background: #10A831;
$button-press-background: #3F934D;
$card-upload-file-icon-file: #10A831;
$card-upload-file-name-file: #495057;
$card-upload-file-ok-text: #10A831;
$card-upload-file-error-text: #DB0000;
$card-upload-file_error-icon-file: #DB0000;
$Box-shadow-footer: 0px -4px 8px rgba(76, 125, 50, 0.2);
$Box-shadow-button:inset 4px 4px 10px rgba(90, 31, 105, 0.3);
$Box-shadow-messagebox:0px -4px 8px rgba(76, 125, 50, 0.2);
$messagebox-icon-color:#4C7D32;
$messagebox-border-color:#4C7D32;
$signature-icon-before:#4C7D32;
$signature-icon-after:#4C7D32;






