$title-colo: #AE2A30;
$title-border: 1px solid #FFA0A4;;
$text-defult: #000000;

$icon-color-main: #AE2A30;
$icon-colot-text-main: #AE2A30;
$icon-play-stop-camera-bg: #334768;
$icon-color-defult:#334768;

$upload-coor-text-file: #7E7B7B;
$upload-coor-text-success: #334768;
$upload-file-error-text: #DB1C33;
$upload-file_error-icon-file: #DB1C33;
$upload-title: #334768;

$button-background: #AE2A30;
$button-press-background: #790D11;
$button-Box-shadow: inset 4px 4px 10px rgba(174, 42, 48, 0.2);

$radio-button-on-background:  #AE2A30;
$radio-button-on-drop-shadow: 0px 0px 4px #AE2A30; 
$radio-button-label-text: #000000; 

$check-box-on-background: #AE2A30;
$check-box-on-drop-shadow: 0px 0px 4px #AE2A30;
$check-box-label-text: #000000;

$icon-color : #334768;
$required: #AE2A30;
$focus-border:  #AE2A30;
$high-light-caption : #AE2A30;

$approve-icon-on: #334768;

$Box-shadow-footer:0px -4px 8px rgba(174, 42, 48, 0.2);

$messagebox-Box-shadow:0px -4px 8px rgba(174, 42, 48, 0.2);
$messagebox-icon-color:#334768;
$messagebox-border-color:#334768;

$signature-icon-before:#790D11;
$signature-icon-after:#334768;


