

div[uxid="rDocuments"]{


& .documents {

    background: #FFFFFF !important;
    border: 1px solid #BBBBBB !important;
    border-radius: 20px 0px !important;
    padding: 20px !important;
    margin-bottom: 10px !important;
    height: 110px;

    & .iconDocuments {
        padding: 0 !important;
        & span{
          color: #39B54A !important;
          position: absolute;
          top: 11px;
          font-size: 35px;
         
        }
    }

    & .mainDocuments {
        padding: 0 !important;
        & .x-self-container.s-self-container   {
            height: 20px !important;
        }
      & .TitleDocuments{
       
        & span{
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 130% !important;
            color: #39B54A !important;
            margin-bottom: 0 !important;
            text-align: right !important;
        }
      }

    
    & .FileNameDocuments{
        & span{
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 130% !important;
            color: black !important;
            margin-bottom: 0 !important;
            text-align: right !important;
        }
    }

    & .DateDocuments{
        & span{
            font-weight: 400 !important;
            font-size: 14px !important;
            line-height: 100% !important;
            color: #AAAAAA !important;
            margin-bottom: 0 !important;
            text-align: right !important;
        }
    }

    }

    & .linkDocuments {
        & a{
            font-weight: 400 !important;
            font-size: 12px !important;
            line-height: 100% !important;
            color: #39B54A !important;
            position: absolute;
            top: 27px;
        }
    }
}

}