


#TafnitCore.System.UI.App.PortalNew{
mainbody{

    // row-main //
& > .row,
.row-main{
    border: none !important;
    background: $row-main-vanilla-bg;
    box-shadow: $row-main-vanilla-box-shadow;
    border-radius: $row-main-vanilla-border-radius;
    padding: $row-main-vanilla-padding;
    margin: auto;
    margin-bottom: 15px;
    height: auto !important;
    min-width: 350px;
    


}

}

// row-radius //

.x-row.row-radius{

    border-radius: $row-radius-vanilla-border-radius;
   
}


// row-hidden //

.x-row.row-hidden{
    border: none !important;
    border-radius: $row-hidden-vanilla-border-radius;
    box-shadow: $row-hidden-vanilla-box-shadow;
    background: $row-hidden-vanilla-bg;
    width: 100%;
& >.col{
    padding: 0;
}
   
}

// row-border //

.x-row.row-border{
  
    border:$row-border-vanilla-border !important;

}

// row-bg-color //

.x-row.row-bg-color{
    background: $row-bg-color-vanilla-bg;
    box-shadow: $row-bg-color-vanilla-box-shadow;
}


// row-bg-color //

.x-row.row-flex{
  & > .col-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    & > .x-self-container {
        flex-grow: 1;
        flex-basis: 0;
    }
  }
}


.x-row.row-flex-scroll{

    & > .col-flex-scroll{
        overflow-y: hidden;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        gap: 15px;
        max-width: 95%;
        margin: auto;
    }
  }
}

.k-header.row.x-row {

    background: none;
    border: none;
    margin-bottom: 15px;

    & > .x-col{
        padding: 0;
        h3{
            font-family: 'Heebo';
            font-size: 16px;
            color: black;
        }
    }
}

h4.x-cell-header.s-cell-header{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Heebo';
    color: black;
}