
.xstyle-canvas-wrapper{

    border-radius: 8px;
    border: 1px solid var(--neutral-400, #D9D9D9);
    padding: 10px 20px;  



.x-canvas-wrapper-comp {

    .x-canvas-button-wrapper-comp {
        .x-canvas-button {
            outline: none;
            font-weight: bold;
            font-size: 100%;
            border-radius: 4px;
            display: inline-block;
            cursor: pointer;
            padding-right: 30px;
            padding-top: 27px;
            margin-left: 10px;
            color: #D9D9D9;
            border: 1px solid #D9D9D9;
            border-radius: 100%;
            width: 30px;
            height: 32px;
        }

        .x-canvas-save-button,
        .x-canvas-clear-button {
            float: right;
        }

        .x-canvas-comp {
            position: initial;
            margin: 0;
            padding: 0;
        }
    }
}

}