.xstyle-image-wrapper      {
    label{
        color: var(--vanilla-neutral-600, var(--color-grey-600, #A1A3A5));
        font-family: Heebo;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
    }
}