


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Main{

    & .activeFotrer.xstyle-dynamiclabelcontrol-wrapper.lFotter{
        & span.x-dynamic-label-control{
            color: #39B54A !important;
            font-weight: 700 !important;
       }
    }

    & .iconFotter{
        height: 70px !important;
        background: white !important;
        box-shadow: 0px -2px 4px rgb(57 181 74 / 10%);
        border-radius: 0px !important;
        border: none !important;

        & .icons{
            display: flex !important;
            justify-content: space-between !important;
            padding-right: 100px;
      
           & div.col-3{
            padding: 0 !important;
            &:active,
            &:focus-within{

                & .x-dynamic-label-control{
                    color: #39B54A !important;
                    font-weight: 700 !important;
               }
           }
           }

            & .lFotterPhone span{
                font-size: 12px !important;
                position: absolute;
                top: 46px !important;
               
            }
            & .lFotter span{
                font-size: 12px !important;
                position: absolute;
                top: 15px !important;
                color: black !important;
                font-weight: 400 !important;
            }
            & span{
                font-size: 24px !important;
                top: 13px !important;
                color: #39B54A !important;
                &.k-icon{
                    right: 32% !important;
                }
              
               
            }

            & div.col-2{
                position: absolute;
                top: -29px !important;
                left: -51px !important;
                background: white;
                width: 75px;
                height: 75px;
                font-size: 28px !important;
                border-radius: 50px;
                -webkit-box-shadow: 0px 0px 4px rgb(57 181 74 / 15%) !important;
                box-shadow: 0px 0px 4px rgb(57 181 74 / 15%) !important;
                right: 11px !important;
                max-width: 43%;
            }

            & .kPhone{
                & span{
                    position: absolute;
                    top: 22px !important;
                    right: 20% !important;
                    &::before{
                        top: -10px !important;
                    }
                }
            }
         

        }
    }
}