

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Main{

    & .headerDriver{
        height: 53px !important;
        background: white !important;
        box-shadow: 0px 2px 2px rgba(57, 181, 74, 0.1) !important;
        border: none !important;
        padding-right: 12px;
        & .headerDriverContainer{
            justify-content: space-between;
            border: none !important;
        }

        & .iLogoHeader {

            & .x-image-wrapper{
                text-align: left !important;
            }
            & img{
                width: 142px !important;
                margin-top: 8px !important;
                margin-left: 15px !important;
            }
        }
        & .kIconHeader {
     
            & .kBurger{
                & span{
                
                  font-size: 30px !important;
                  top: 12px;
                  &::before{
                    color: #39B54A !important;
                  }
                }
            }
            & .kMap{
                & span{
                    color: #39B54A !important;
                    font-size: 22px !important;
                    top: 14px;
                    left: -11px;
                    font-weight: 300 !important;
                  }
            }
        }

       
    }
}