
@use '../varible/varible' as *;

.xstyle-ilink-wrapper{
  & .x-control-content-wrapper.s-control-content-wrapper{
    text-align: center !important;
  }
    & a{
       @extend %SimpleLink;
    }
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Contact{

.line{
  height: 1px;
  background: #1D5B25 !important;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact-main{
 & .xstyle-dynamiclabelcontrol-wrapper{

  .x-control-content-wrapper{
    margin-top: -15px !important;
    margin-bottom: 10px !important;
    & span{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400  !important;
      font-size: 14px !important;
      color: #000 !important;
      line-height: 150%;
      text-align: right !important;

    }
  }
 }

  & .xstyle-ilink-wrapper{
    & .x-control-content-wrapper.s-control-content-wrapper{
      text-align: right !important;
    }
    & a{
      margin-bottom: 0 !important;
      direction: ltr !important;
      font-weight: 500 !important;
    }
    & label{
      font-family: 'Heebo';
    font-style: normal;
    font-weight: 400 ;
    font-size: 14px;
    color: #000 !important;
    line-height: 150%;
    }
  }

}

& .contact-icons{
  justify-content: center;
  margin-top: 40px ;

  & div{
    text-align: center !important;

  }
  & .k-icon{
    font-size: 30px;
    color: #7E7B7B !important;
  }
}

}