

#TafnitCore_SaaSServer_Funding_B2B_UI_Main{

    
.row-title{
    .k-icon-wrapper{
        text-align: center !important;
    }
    span.k-icon{
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;

    }

    span.x-dynamic-label-control{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 32px !important;
        line-height: 30px;
        text-align: center !important;
        margin-bottom: 15px;
        color: #026F9E !important;
    }
}
}