


#TafnitCore_SaaSServer_Funding_B2B_UI_J5{
    margin-top: 60px !important;
}

.Disabled{
    opacity: 0.4;
}

.message-j5{

    .k-icon-wrapper.x-kicon.col-icon{
        text-align: center !important;
        span{
            font-size: 50px;
        }
    }


    }
    mainbody > .row.row-main .message-j5 .x-dynamic-label-control.s-dynamic-label-control{
        text-align: center !important;
        color: #323C4B;
        text-align: center;
        font-size: 20px;
        font-family: Assistant;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin-top: 10px;
    }