


.x-islider-wrapper {
    .k-slider-horizontal .k-draghandle,.k-draghandle{
        width: 20px;
        height: 20px;
        border: 1px solid var(--slider-handle-border-color-default);
        background: var(--slider-handle-bg-color-default);
    }
    .k-slider-selection{

        background: var(--slider-progress-bg-color-default);
    }
    .k-slider-vertical {
        &:first-of-type {
            margin: 0px 40px;
        }
    }

    .x-islider-caption {
        text-align: center;
    }
}