


.x-multichoice-wrapper {
    letter-spacing: 0.02em;
    text-transform: uppercase;

    .x-multichoice-ul {
        list-style: none;
        width: 100%;
        border-radius: 4px;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        li {
            display: inline-block;
            padding: 0;
            width: 100%;
            border-radius: 4px;
            border: 1px solid var(--vanilla-neutral-400, #DEDEDE);
            background: var(--vanilla-neutral-200, #F5F5F5);
            max-width: none;
            padding: 0px 10px;
            .x-multichoice-row {
                display: block;
              
                label {
                    text-overflow: ellipsis;
                    cursor: pointer;
                    margin: 0;
                    color: var(--vanilla-other-black, var(--color-other-black, #000));
                    text-align: center;
                    font-family: Heebo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    &:before {
                        content: "";
                    }
                }

            input{
                display: none;
            }
            }
            

            &:has(input:checked){
                border-radius: 4px;
                border: 1px solid var(--vanilla-primary-400, #ACCEDD);
                background: var(--vanilla-primary-500, #8EBBCF);

                label{
                    color: white;
                }
            }

            &.x-multichoice-row-selected {
                border-radius: 5px;
            }
        }
    }
}