


.k-window:has(#TafnitCore_SaaSServer_Portal_Default_UI_WizardInput){
    header{
        display: none;
    }

    height: auto !important;
}
#TafnitCore_SaaSServer_Portal_Default_UI_WizardInput{

    margin: 0;

    .row-upload{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;

        .color-btn{
            margin-top: 10px;
        }
    }

    mainbody {
        margin-top: 0px !important;
    }
    .col:has(.xstyle-upload-wrapper){


        .k-upload-button{
            height: 50px !important;
        }

    }

    .xstyle-buttoncontrol-wrapper{
        text-align: center;
        margin-top: 95px;
    }

}