@use './variable/variable' as *;
@use './components/autocomplete';
@use './components/buttoncontrol';
@use './components/checkbox';
@use './components/date';
@use './components/daterangev2';
@use './components/drawer';
@use './components/dropdown';
@use './components/grid';
@use './components/header';
@use './components/infobubble';
@use './components/itreeview';
@use './components/link';
@use './components/linkmenucontrol';
@use './components/lookup';
@use './components/mandatory';
@use './components/messagebox';
@use './components/mobile';
@use './components/numberrange';
@use './components/password';
@use './components/popup';
@use './components/radiobutton';
@use './components/row';
@use './components/SearchRoutine';
@use './components/tabstrip';
@use './components/textareacontrol';
@use './components/textbox';
@use './components/timepicker';
@use './components/tollBar';
@use './components/tooltip';
@use './components/upload';
@use './components/usermenu';
@use './components/window';


@use './pages/dashboard';
@use './pages/page-overview';
@use './pages/page-salaryRequest';
@use './pages/workflow';
@use './pages/login';

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@100;300;500&display=swap");

body {
  background-color: #f5f6f8 !important;
  font-family: 'Heebo' !important;
}

.k-button {
  border: none !important;
  color: map-get($map: $Colors, $key: button-important-bg) !important;
}
.dashRightCol {
  padding: 0;
  flex: 0 0 84% !important;
  max-width: 100%;
}

.dashMyMission {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.roundedAvatar {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.doBorder div:first-child > div > span.k-icon.icon-xtab-small-search {
  right: 12px !important;
  top: 0px !important;
}



.contextmenu div:first-child > {
  mainbody {
    > .row.x-row.s-row.border {
      margin: 0 !important;
      padding: 0 !important;
      height: 99%;
      background: map-get($map: $Colors, $key: bg-qube);
      box-shadow: 0px 0px 15px rgba(126, 123, 123, 0.1);
      border-radius: 10px;

      > div > div:nth-child(2) {
        overflow-x: hidden;
        height: 80%;
      }
    }

    height: 93%;
    margin: 0px;
    padding: 0 !important;
  }

  a > span {
    color: #7e7b7b !important;
    font-size: 20px !important;
  }
}

#TafnitCore_System_UI_App_WebSDK_Main.container.pageContainer.xtafnit_pageContainer {
  margin-bottom: 0 !important;
  padding: 0;
  margin: 0px auto !important;

  & .popUpWindowCls .popup_close_btn {
    text-align: left;
    height: 25px;
    & a {
      height: 25px !important;
      background: none !important;
      top: 3px;
    }
  }
}

.contextmenu div:first-child > a > span::before {
  text-indent: 0 !important;
  top: 0% !important;
}

#TafnitCore_System_UI_App_WebSDK_Main {
  .container.pageContainer.xtafnit_pageContainer {
    overflow: hidden !important;
    padding-bottom: 15px !important;
    padding-top: 2px !important;
    background: #fafafa;
    box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 12%);
    background: white;
    border-radius: 10px;
  }

  .popUpWindowCls mainbody > .row {
    box-shadow: 0px 0px 15px rgb(126 123 123 / 10%) !important;
  }
  .popUpWindowCls .x-pagePopup mainbody {
    max-height: 45vh;
    overflow-y: auto;
    min-height: 5PX !important;
    padding: 5px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;

    &
      .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-itoolbar-wrapper {
      margin-bottom: 42px;
    }
    &::-webkit-scrollbar {
      border-radius: 10px;
      position: absolute;
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
      background: map-get($map: $Colors, $key: main-color);
      border-radius: 10px;

      &:hover {
        background: map-get($map: $Colors, $key: main-color);
      }
    }
  }

  .popup_close_btn.k-window-actions {
    & .k-button-icon {
      border: none !important;
      color: #00000075 !important;

      & .k-i-close:before {
        font-size: 18px !important;
      }
    }
  }

  .xstyle-iframe-wrapper.contextmenu iframe {
    scrollbar-face-color: #8733af;
    scrollbar-track-color: #f3e9f8;
    scrollbar-arrow-color: #8733af;

    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */

    &::-webkit-scrollbar {
      width: 10px !important;
      border-radius: 10px;
      position: absolute;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
      background: map-get($map: $Colors, $key: main-color);
      border-radius: 10px;

      &:hover {
        background: map-get($map: $Colors, $key: main-color);
      }
    }
  }
}

.contextmenu div:first-child > {
  .popUpWindowCls {
    height: 85% !important;
    width: 80% !important;
  }

  a {
    width: auto;
    height: auto;
    border: none !important;
    left: -41px;
    background: none !important;
  }

  iframe {
    height: 85% !important;
  }
}

mainbody > .row.x-row.s-row.border.border-0.boxShadow-0 {
  padding: 14px;
}

#TafnitCore_SaaSServer_TafnitCloud_UI_Main
  mainbody
  > .row.x-row.s-row.border.border-0.boxShadow-0,
#TafnitCore_System_UI_App_WebSDK_Menu
  mainbody
  > .row.x-row.s-row.border.border-0.boxShadow-0 {
  padding: 0px !important;
}

#TafnitCore_System_UI_App_WebSDK_DevPage.xtafnit_pageContainer.pageContainer.container.container-fluid.k-ltr {
  margin-top: 10px !important;
  width: 98% !important;
}

#TafnitCore_System_UI_App_WebSDK_Main.xtafnit_pageContainer.pageContainer.container.container-fluid.k-rtl {
  width: 98% !important;
  margin-top: 10px !important;
}

#TafnitCore_System_UI_App_WebSDK_Main.xtafnit_pageContainer mainbody {
  margin: 0px !important;
  padding-top: 10px;
}

.mobileView,
.minScreen {
  max-height: 120px !important;
}

a > .k-icon.k-i-more-vertical {
  transform: rotate(0deg) !important;
  left: 11px;
}

.k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-base.k-icon-button.k-create-event {
  border-radius: 50%;
  color: map-get($map: $Colors, $key: button-important-text) !important;
  background-color: map-get(
    $map: $Colors,
    $key: button-important-bg
  ) !important;
  font-size: 19px;
  border: 2px solid map-get($map: $Colors, $key: button-important-text) !important;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 25%);
}

.k-icon.k-i-more-vertical {
  color: map-get($map: $Colors, $key: text-disable) !important;
  font-size: 28px !important;
  transform: rotate(90deg) !important;
}

.cardDashbord
  div:first-child
  > ul
  > li
  > span.k-link.k-menu-link
  > span.k-menu-link-text {
  margin-top: -156% !important;
  margin-right: 6% !important;
}

.watermark {
  width: 95.5%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.selectLanguage {
  color: map-get($map: $Colors, $key: text-disable);
}

.dashOverview,
.dashStatus {
  margin-top: 0 !important;
}

.logo {
  flex: 0 0 24% !important;
  max-width: 351px;
  margin: auto;
  padding: 0 !important;

  /* display: block !important; */
  align-items: center !important;
}

.DashboardPage,
mainbody > .row.x-row.s-row.border.border-0.boxShadow-0 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.dashRightCol > .border {
  margin-top: 10px !important;
}

.logoImg .x-control-content-wrapper img {
  height: 120px;
  max-width: 315px;
}

.justify-content-end {
  justify-content: space-around !important;
}

.pt-3,
.py-3 {
  padding-top: 0 !important;
}

.navbar-fixed-top .k-header header .x-header .s-header .border {
  display: none;
}

@media only screen and (max-width: 2000px) and (min-width: 1440px) {
  .dashMyMission {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .dashLeftCol {
    margin-top: 10px !important;
    margin-right: 10px;
  }

  .dashRightCol > .border {
    margin-top: 10px !important;
    margin-right: 5px !important;
  }

  .DashboardPage,
  mainbody > .row.x-row.s-row.border.border-0.boxShadow-0 {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .dashDiary {
    margin-bottom: 16px !important;
  }

  .dashContact {
    margin-bottom: 15px !important;
  }

  .DashboardPage {
    & .link_Comp.x-link_Comp.s-link_Comp {
      font-size: 13px !important;
    }
    .dashLeftCol {
      -webkit-box-shadow: 0 0px 9px 0 !important;
      box-shadow: 0 0px 0px 0 !important;
      border-radius: 20px !important;
      padding-top: 20px !important;
      background: none !important;
      padding-top: 0 !important;
      padding: 0% !important;
    }

    .dashContact,
    .dashDiary {
      margin-top: 0 !important;
      background-color: map-get($map: $Colors, $key: bg-qube) !important;
      -webkit-box-shadow: 0px 0px 8px
        map-get($map: $Colors, $key: login-screen-boxshadow) !important;
      box-shadow: 0px 0px 8px
        map-get($map: $Colors, $key: login-screen-boxshadow) !important;
      border-radius: 20px !important;
      border-top: none !important;
    }
  }
}

#TafnitCore_SaaSServer_TafnitCloud_UI_DashBorad mainbody > .row,
#TafnitCore_System_UI_App_WebSDK_DashBoardmainbody > .row {
  width: 99.8% !important;
}

mainbody > .row {
  padding-right: 0;
  width: 100%;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0 !important;
}

.k-window .k-window-titlebar {
  background: map-get($map: $Colors, $key: bg-qube);
}



.k-rtl .details {
  .left .xstyle-dynamiclabelcontrol-wrapper {
    > .col-4,
    .col-33 {
      margin-left: 10px;
      display: none !important;
    }
  }

  .right {
    margin: auto;
    height: auto;
    max-width: 21%;
    flex: 0 0 26%;
    border: none !important;
  }
}

.doBorder {
  div:first-child {
    justify-content: space-between !important;
    width: 100%;
  }

  margin: auto;
  padding: 0;
  height: 73px;
  border: none !important;
}

.details .right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14%;
  flex: 0 0 34%;
  color: #464247 !important;
}

.xicons {
  margin-top: 36px;
  justify-content: space-between !important;
  margin-right: 10px;
}

.searchDesign {
  margin-top: 27px;
}

.details .left * {
  color: map-get($map: $Colors, $key: text-color);
  width: 100%;
}

.icon-ar,
.icon-en,
.icon-heb {
  font-size: 11px;
}

@media only screen and (min-width: 700px) {
  .cube-wrapper .cube {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%;
  }
}

.boxShadow {
  padding-top: 0 !important;
}



.goUpArrow {
  width: 50px !important;
}

::placeholder {
  font-weight: normal;
}



.k-picker-wrap .mandatory.active ~ .k-select {
  background: map-get($map: $Colors, $key: bg-qube) !important;
  border-color: map-get($map: $Colors, $key: bg-qube) !important;
}

.mandatory.active + .k-timepicker input {
  background: map-get($map: $Colors, $key: bg-qube) !important;

  ~ .k-select {
    background: map-get($map: $Colors, $key: bg-qube) !important;
  }
}

@media only screen and (min-width: 1480px) {
  .cube-wrapper .cube {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 22% !important;
    flex: 0 0 22% !important;
    max-width: 22% !important;
  }
}

@media (min-width: 900px) {
  .col-lg-67 {
    flex: 0 0 100%;
    max-width: 420px !important;
  }
}

// @media (max-width: 991px) {
//   .k-rtl .details .right {
//     flex-basis: 20% !important;
//     max-width: 20% !important;
//   }
// }

.searchDesign input.k-textbox {
  text-indent: 10% !important;
  border-radius: 20px !important;
  border: 0;
  box-shadow: 0px 0px 8px map-get($map: $Colors, $key: login-screen-boxshadow);
  border-radius: 20px;
  width: 100.5%;
  height: 40px;
}

.x-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1281px) {
  header {
    &.k-header {
      background-color: map-get($map: $Colors, $key: bg-qube) !important;

      .k-toolbar {
        background: map-get($map: $Colors, $key: bg-qube);
        border-bottom-left-radius: 15px;
      }
    }

    .k-icon,
    #username,
    #tbbEmail {
      color: #464247;
    }
  }
}

.xstyle-lookup-wrapper .x-lookup .x-selection-lookup .x-form-control,
.xstyle-lookuptafnit-wrapper .x-lookup .x-selection-lookup .x-form-control {
  border: 0;
  border-radius: 0;
  background: map-get($map: $Colors, $key: button-important-text);
  color: #000 !important;

}

.xLookupSplit {
  background-color: map-get(
    $map: $Colors,
    $key: button-important-text
  ) !important;
}

.xstyle-lookup-wrapper
  .x-lookup
  .x-selection-lookup
  .x-open-lookup
  .x-selection-lookup-button
  .x-input-group-text,
.xstyle-lookuptafnit-wrapper
  .x-lookup
  .x-selection-lookup
  .x-open-lookup
  .x-selection-lookup-button
  .x-input-group-text {
  background: map-get($map: $Colors, $key: button-important-text);
}

#TafnitCore_System_UI_App_WebSDK_Login .btnBackground .k-button,
#TafnitCore_SaaSServer_TafnitCloud_UI_Login .btnBackground .k-button {
  color: map-get($map: $Colors, $key: button-important-text) !important;
  height: 69px;
  background: map-get($Colors, button-important-bg) !important;
  border-radius: 10px !important;
  font-family: map-get(
    $map: $typographyVariables,
    $key: -font-family
  ) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 50px;
  margin-top: 5px !important;
  float: none;
}

.DashboardPage {
  .dashMission1,
  .dashMission2,
  .dashMission3,
  .dashMission4,
  .dashMission5 {
    min-height: 160px;
    margin-bottom: 0 !important;
    margin: auto 7.5px;
    border-radius: 10px !important;
  }

  .dashMission1 span,
  .dashMission2 span,
  .dashMission3 span,
  .dashMission4 span,
  .dashMission5 span {
    color: map-get($map: $Colors, $key: main-color);
    left: 18px;
  }

  .dashStatus {
    margin-left: 16.5px;
    margin-right: 9px !important;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .border
    > div
    > .x-self-container.s-self-container
    > .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-dynamiclabelcontrol-wrapper:first-child
    > {
    .order-2 {
      flex: 0 0 60%;
      margin: auto;
      margin-right: 0;
    }

    .order-1 {
      flex: 0 0 0%;
      margin-left: 4% !important;
      margin: auto;
      margin-right: 0;
    }
  }

  .DashboardPage {
    .dashMission1,
    .dashMission2,
    .dashMission3,
    .dashMission4,
    .dashMission5 {
      -webkit-box-flex: 0;
      margin-right: 5px;
    }
  }

  .logoImg {
    margin-right: 0 !important;
    width: 100%;
    height: 113px;
  }

  .doBorder div:first-child {
    justify-content: space-between !important;
  }

  .doBorder div:first-child > div > span.k-icon.icon-xtab-small-search {
    top: 0px !important;
  }

  .k-button.k-button-icon .k-icon:before,
  .k-grid-filter .k-icon:before,
  .k-header .k-icon:before {
    top: -25%;
  }

  #TafnitCore_System_UI_App_WebSDK_Login .k-icon:before,
  #TafnitCore_System_UI_App_WebSDK_UserMenu .k-icon:before,
  #TafnitCore_SaaSServer_TafnitCloud_UI_Login .k-icon:before,
  #TafnitCore_System_UI_App_WebSDK_UserMenu .k-icon:before {
    text-indent: 0 !important;
    top: 0 !important;
  }

  .searchDesign input.k-textbox {
    text-indent: 12% !important;
  }

  .xicons {
    margin-top: 11px;
  }

  .doBorder div:first-child {
    display: block;
  }

  .icon-ar,
  .icon-en,
  .icon-heb {
    margin-left: 20px !important;
  }

  .details .right > div:last-child {
    font-family: map-get($map: $typographyVariables, $key: -font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 30px;
  }

  .col-lg-67 {
    flex: 0 0 89%;
    max-width: 89%;
  }

  .searchDesign {
    margin-top: 14px;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1750px) {
  .DashboardPage {
    padding-left: 8px !important;
  }
}

@media screen and (max-width: 1750px) and (min-width: 700px) {
  #TafnitCore_System_UI_App_WebSDK_Login,
  #TafnitCore_SaaSServer_TafnitCloud_UI_Login {
    margin-bottom: 0 !important;
    .rightVerticalLine,
    .leftVerticalLine {
      flex: 0 23% !important;
    }
  }

  .dashStatus,
  .dashOverview {
    margin-bottom: 0 !important;
  }

  .DashboardPage {
    .dashDiary {
      height: 350px;
      margin: auto;
      border: none !important;
      background-color: map-get($map: $Colors, $key: bg-qube);
    }

    .dashLeftCol {
      -webkit-box-shadow: 0 0px 9px 0;
      box-shadow: 0 0px 0px 0;
      border-radius: 20px;
      background: none !important;
    }
  }

  .dashRightCol {
    padding: 0;
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .DashboardPage .dashLeftCol {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 10px !important;
    margin-right: 4px;
    padding-top: 0px !important;
  }

  .dashContact {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    max-width: 583px !important;
    height: 350px;
    border-radius: 20px !important;
    background-color: map-get($map: $Colors, $key: bg-qube) !important;
    margin-top: 10px !important;
    margin: auto 0.6vw !important;
  }

  .dashDiary {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    max-width: 100% !important;
    margin: auto 0.6vw !important;
  }

  .DashboardPage {
    .dashContact {
      box-shadow: 0px 0px 8px
        map-get($map: $Colors, $key: login-screen-boxshadow) !important;
      border-radius: 10px !important;
      -webkit-box-shadow: 0px 0px 8px
        map-get($map: $Colors, $key: login-screen-boxshadow) !important;
      margin-left: 14px !important;
    }

    .dashDiary {
      box-shadow: 0px 0px 8px
        map-get($map: $Colors, $key: login-screen-boxshadow) !important;
      border-radius: 10px !important;
      -webkit-box-shadow: 0px 0px 8px
        map-get($map: $Colors, $key: login-screen-boxshadow) !important;
      margin-right: 0px !important;
    }
  }
}

// @media screen and (max-width: 991px) and (min-width: 700px) {
//   .textCard div:nth-child(2) {
//     height: 28px !important;
//   }
// }

@media screen and (max-width: 1630px) {
  .k-rtl .details .right {
    margin: auto;
    height: auto;
    flex: 0 0 22%;
  }

  .doBorder {
    margin: auto;
    height: 91px;
  }
}

@media screen and (max-width: 1300px) {
  .headerCard {
    background-color: map-get($map: $Colors, $key: bg-qube) !important;
  }

  .searchDesign .k-icon-wrapper .k-icon {
    width: 20px !important;
    font-size: 16px !important;
    color: #9e30bf !important;
  }

  .k-rtl .searchDesign .k-icon-wrapper {
    right: 7px !important;
    left: initial !important;
  }
}

maxGridHeight .k-grid-content {
  max-height: 100% !important;
}

#TafnitCore_System_UI_App_WebSDK_Main {
  .buttonDesign {
    padding: 1px 0px 1px 0px;
  }

  td {
    padding-left: 20px;
  }

  .linkDesign div:nth-child(1) {
    height: 24px;
  }
}


/*  */

span.k-header.cs-btn.x-input-group-text.s-input-group-text.x-cs-btn.s-x-cs-btn {
  border: none !important;
}

.contextmenu div:nth-child(1) > {
  .x-text-control-container.s-text-control-container {
    display: flex;
    background: white !important;
    text-indent: 15px;
  }

  input {
    border-bottom: none !important;
    text-indent: 3px !important;
  }
}

.k-rtl .p-floating-container .k-input-inner {
  padding-top: 10px;
  padding-right: 0;
  text-indent: 22px;
}

.k-ltr.x-date-wrapper.s-date-wrapper {
  width: 100%;
}

.x-lookup.s-lookup {
  border-bottom: 1px solid;
  background: none;
}

.p-floating-container {
  position: relative;
  margin-bottom: 6px;
}

#TafnitCore_System_UI_App_WebSDK_Login .x-self-container.s-self-container,
#TafnitCore_SaaSServer_TafnitCloud_UI_Login .x-self-container.s-self-container {
  margin-bottom: 7px;
  overflow: hidden;

}

.x-datePickerResponsive {
  width: 100%;
}

.k-daterangepicker span {
  &:nth-child(3) > input,
  &:nth-child(1) > input {
    text-indent: 27px;
  }
}

div {
  &.x-control-content-wrapper
  

  &.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-checkbox-wrapper.dir-ltr
    > div.col-67.x-cell.s-cell
    > div.x-control-content-wrapper
    > ul.fieldlist
    > li
    > input:before {
    left: 84% !important;
    left: 87% !important;
    top: 7px !important;
  }
}

.minScreen {
  padding: 10px !important;
}

/* eran */

#TafnitCore_System_UI_App_WebSDK_Main {
  .justify-content-end {
    justify-content: space-between !important;
  }

  .xstyle-iframe-wrapper.contextmenu iframe {
    border: none !important;
  }

  .x-lookup.s-lookup input:focus-visible {
    outline: none !important;
  }


  .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-daterangev2-wrapper
    input,
  .xstyle-timepicker-wrapper input,
  .xstyle-lookuptafnit-wrapper input,
  .x-date-wrapper input,
  .s-date-wrapper input {
    padding: 0;
  }



  .k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-base.k-upload-button {
    padding-top: 20px;
  }
}

/* eran */

/* eran */

/* eran */

/* eran */
/* FIELDS 2*/
/* #TafnitCore_System_UI_App_WebSDK .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-textcontrol-wrapper.p-floating-container{
height: 37px;
padding: 0;
} */
/* eran */

/* eran */
/* month /num / numd */

.k-upload .k-dropzone .k-upload-button span {
  padding-bottom: 14px;
}

.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-upload-wrapper.dir-ltr.text-left
  label.x-control-caption-text.s-control-caption-text {
  text-align: right !important;
}

.requireDesign div:nth-child(1) span {
  &.mandatory.active.mandatory-icon > input.k-textbox.x-textbox.s-textbox {
    width: 99% !important;

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 5px solid map-get($map: $Colors, $key: requier) !important;
    border-bottom: 1px solid map-get($map: $Colors, $key: border-color-defualt) !important;
    text-indent: 7px !important;
    background-color: map-get($map: $Colors, $key: bg-qube) !important;
  }

  &.k-input-inner {
    padding-top: 10px !important;
  }
}

.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-idropdownlist-wrapper.p-floating-container
  div.x-control-content-wrapper
  span.k-picker.k-dropdownlist.x-dropdown-comp.s-dropdown-comp.k-picker-solid.k-picker-md.k-rounded-md
  span
  span.k-input-value-text {
  /* height: 37px; */
  padding-top: 3px !important;
}

.xstyle-idropdownlist-wrapper span.k-input-inner .k-input-value-text::before {
  vertical-align: middle !important;
}

#TafnitCore_System_UI_App_WebSDK_Login,
#TafnitCore_SaaSServer_TafnitCloud_UI_Login {
  & .xstyle-tab-wrapper .k-tabstrip .k-tabstrip-items .k-item span.k-link {
    color: #d9d9d9 !important;
  }

  &
    .xstyle-tab-wrapper
    .k-tabstrip
    .k-tabstrip-items
    .k-item.k-active
    span.k-link {
    color: #7b098b !important;
  }
  .k-tabstrip-items-wrapper.k-hstack {
    justify-content: space-around !important;

    > ul {
      width: 100% !important;

      > {
        li {
          width: 50% !important;
          margin-bottom: 26px;
        }

        .k-active {
          background: #ffffff !important;
          border-bottom: 1.5px solid #7d0a8c !important;
          opacity: 1;
          display: block;
          border-radius: 0px !important;

          &.k-first {
            filter: drop-shadow(-5px 5px 5px rgba(123, 9, 141, 0.1)) !important;
          }
        }

        li {
          background: map-get($map: $Colors, $key: bg-qube);
          border-bottom: 0.5px solid rgba(125, 10, 140, 0.2588235294) !important;
          opacity: 0.8;
          display: block;
        }
      }
    }
  }

  .fa-linkedin-in {
    background: #0a66c2;
    border-radius: 50px;
    font-size: 33px !important;
    width: 60px;
    height: 60px;
    color: white;
    margin-top: 20px;
  }

  .fa-facebook {
    font-size: 60px !important;
    color: #1877f2;
    margin-top: 20px;
  }

  .fa-google {
    font-size: 60px !important;
    margin-top: 20px;
  }

  &.clickDesign {
    cursor: pointer;

    &:hover {
      background: #fbfbfb;
      border-top: 0.5px solid map-get($map: $Colors, $key: border-color);
    }
  }

  .k-tabstrip-items-wrapper.k-hstack > ul > {
    .k-state-active > span.k-link,
    li > span.k-link {
      text-align: center !important;
      display: block !important;
      font-family: map-get($map: $typographyVariables, $key: -font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .rightVerticalLine {
    top: 13px;
    flex: 0 33%;
    max-width: 33%;
    border-top: 1px solid map-get($map: $Colors, $key: border-color) !important;
    margin-left: 14px;
  }

  .leftVerticalLine {
    flex: 0 33%;
    max-width: 33%;
    border-top: 1px solid map-get($map: $Colors, $key: border-color) !important;
    margin-right: 14px;
    top: 13px;
  }

  .x-self-container.s-self-container + div + div.border {
    width: 78%;
  }

  .x-barcodeBtnContainer .k-icon.k-i-preview {
    left: 9px;
    position: absolute;
    top: 7px;
    width: 33px;
    font-size: 18px;
  }

  .link_Comp.x-link_Comp.s-link_Comp {
    font-family: map-get($map: $typographyVariables, $key: -font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */

    text-align: right;

    /* Purple */

    color: map-get($map: $Colors, $key: main-color);
  }

  .x-image-wrapper.s-image-wrapper > img {
    width: 343px;
  }
}

#progressBoxShadow {
  margin-top: 6% !important;
}

.k-list-item.k-focus {
  box-shadow: inset 0 0 0 0 #59cfff !important;
}

#TafnitCore_System_UI_App_WebSDK_UserMenu .k-list-container,
.k-list-content {
  background-color: map-get($map: $Colors, $key: user-screen-color-icon);
}

.k-list-item {
  border-radius: 0px !important;
}

#TafnitCore_System_UI_App_WebSDK_UserMenu
  .xstyle-idropdownlist-wrapper
  .col-67 {
  border-right: none !important;
}

#TafnitCore_System_UI_App_WebSDK_UserMenu {
  .k-picker {
    padding-top: 0px !important;
  }

  mainbody .s-self-container span.x-dynamic-label-control{
    font-size: 13px;
    color: #000000;
  }

  mainbody > .row {
    color: map-get($map: $Colors, $key: text-defualt);
    box-shadow: 0 0px 0px 0 rgb(135 51 175 / 10%) !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    align-items: center;
    padding: 0px 0px 0px 0px !important;
    gap: 10px;
    width: 285px;
    height: 40px;
    background: map-get($map: $Colors, $key: bg-qube);

    /* Gray */
    border-top: 0.5px solid map-get($map: $Colors, $key: border-color) !important;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 0 !important;

      > div:nth-child(2) {
        > div > div:nth-child(1) {
          display: none !important;
        }

        width: 100%;
        margin: auto;
        font-family: map-get($map: $typographyVariables, $key: -font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        padding-top: 2px;
      }
    }
  }

  .k-icon {
    font-size: 20px;
    color: map-get($map: $Colors, $key: user-screen-color-icon);
    margin-left: 17px;
    margin-right: 12px;
  }

  .k-badge-solid.k-badge-solid-info {
    border: none !important;
    width: 23px;
    height: 18px;
    min-width: auto;
    margin: auto;
    background: map-get($map: $Colors, $key: taxt-notification) !important;
    border-radius: 20px !important;
  }

  mainbody > .row:first-child {
    > div {
      display: block !important;

      > div > div > div > div > span {
        text-align: center !important;
        margin-top: 18px;
        font-family: map-get($map: $typographyVariables, $key: -font-family);
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
        color: map-get($map: $Colors, $key: text-defualt);
      }
    }

    height: 65px;
    border: none !important;
  }

  .headerNone {
    width: 100%;
    overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &.pageContainer {
    position: absolute;
    width: 285px;
    height: auto;
    background: map-get($map: $Colors, $key: bg-qube);
    box-shadow: 0px 6px 6px map-get($map: $Colors, $key: login-screen-boxshadow),
      0px 0px 6px map-get($map: $Colors, $key: login-screen-boxshadow);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    padding: 0;
    top: -40px;
  }

  mainbody > .row {
    &:first-child > div > div:nth-child(2) > div > div:nth-child(1) {
      display: block !important;
      text-align: center;

      > div > a {
        font-family: map-get($map: $typographyVariables, $key: -font-family);
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: map-get($map: $Colors, $key: text-link) !important;
      }
    }

    &:nth-child(3) > div > div:nth-child(2) > div > div:nth-child(1) {
      display: block !important;
  
    }
  }
}

@keyframes myfirst {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}

#TafnitCore_System_UI_App_WebSDK_UserMenu.k-picker,
.k-picker {
  border: none !important;
  background: none !important;
  left: -8px;
}

#TafnitCore_System_UI_App_WebSDK_UserMenu.k-picker,
.k-picker > .k-input-button > span {
  margin-left: 29px !important;
  font-size: 20px !important;
  &.k-i-arrow-s::before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
  }
}

#TafnitCore_System_UI_App_WebSDK_UserMenu {
  mainbody
    > .row:nth-child(3)
    > div
    > div:nth-child(1)
    > div
    > div
    > div
    > div
    > span {
    top: 5px;
  }

  .k-switch-off .k-switch-track,
  .k-switch-on .k-switch-track {
    border: none;
    color: #003f59;
    background-color: map-get($map: $Colors, $key: bg-qube);
    background: #f5f5f5;
    box-shadow: inset 2px 2px 4px rgb(126 123 123 / 20%);
    border-radius: 10px;
  }

  .k-switch-off .k-switch-thumb {
    border: none !important;
    background: map-get($map: $Colors, $key: border-color) !important;
    width: 17px;
    height: 17px;
    right: -3px !important;
  }

  .k-switch-thumb.k-rounded-full {
    background: #7b098d;
    border: 1px solid #f5f5f5;
    width: 17px;
    height: 17px;
    right: 3px;
  }

  .k-switch-off {
    &.k-state-focused,
    &:focus {
      box-shadow: 0 0 0px 0px !important;
    }
  }

  .k-switch-on {
    &.k-state-focused,
    &:focus {
      box-shadow: 0 0 0px 0px !important;
    }
  }

  .k-switch {
    width: 38px !important;
    height: 21px;
  }

  .clickDesign {
    cursor: pointer;

    &:hover {
      background: #fbfbfb;
      border-top: 0.5px solid map-get($map: $Colors, $key: border-color);
    }

    &:active {
      background: #f5f5f5;
    }
  }

  .k-state-disabled {
    color: map-get($map: $Colors, $key: text-disable);
  }
}

.xstyle-idropdownlist-wrapper span.k-input-inner .k-input-value-text::before {
  vertical-align: unset !important;
}

.x-numberrange {
  width: 100% !important;
}

li:has > a.active {
  height: 100%;
}

.profileDesign .x-image-wrapper.s-image-wrapper img:hover {
  filter: drop-shadow(0px 0px 3px rgba(145, 64, 155, 0.5));
}

.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-kicon-wrapper
  span.k-icon.fal.fa-pencil-alt {
  position: absolute;
  left: 5.89%;
  right: 5.89%;
  top: 17.92%;
  bottom: 17.92%;
  background: map-get($map: $Colors, $key: main-color) !important;
}

#uber-container,
.container-fluid {
  max-width: 100%;
}

#TafnitCore_System_UI_App_WebSDK_Main
  .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-itoolbar-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px
    map-get($map: $Colors, $key: login-screen-boxshadow);
  box-shadow: 0px 0px 12px map-get($map: $Colors, $key: login-screen-boxshadow);
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px !important;
}

#TafnitCore_System_UI_App_WebSDK_Main {
  .justify-content-end {
    justify-content: space-between !important;
  }

  .xstyle-iframe-wrapper.contextmenu iframe {
    border: none !important;
  }

  .x-lookup.s-lookup input:focus-visible {
    outline: none !important;
  }



  .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-daterangev2-wrapper
    input,
  .xstyle-timepicker-wrapper input,
  .xstyle-lookuptafnit-wrapper input,
  .x-date-wrapper input,
  .s-date-wrapper input,
  .xstyle-numberrange-wrapper input {
    padding-right: 10px !important;
    padding: 0;
    max-width: 200px;
    flex: 0 0 70%;
    font-size: 13px;
  }



  .k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-base.k-upload-button {
    padding-top: 20px;
  }
}

.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-idropdownlist-wrapper.p-floating-container.requireDesign {
  height: 37px;
}

/* eran */

.k-upload .k-dropzone .k-upload-button span {
  padding-bottom: 14px;
}

/* eran */

.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-upload-wrapper.dir-ltr.text-left
  label.x-control-caption-text.s-control-caption-text {
  text-align: right !important;
}

.requireDesign
  div:nth-child(1)
  > .x-text-control-container.s-text-control-container
  span:nth-child(2) {
  width: 99%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 5px solid map-get($map: $Colors, $key: requier) !important;
  border-bottom: 1px solid map-get($map: $Colors, $key: border-color-defualt) !important;
  text-indent: 7px !important;
  background-color: map-get($map: $Colors, $key: bg-qube) !important;
}

/* eran */

#TafnitCore_System_UI_App_WebSDK_Login
  .requireDesign
  div:nth-child(1)
  > .x-text-control-container.s-text-control-container,
#TafnitCore_SaaSServer_TafnitCloud_UI_Login
  .requireDesign
  div:nth-child(1)
  > .x-text-control-container.s-text-control-container {
  width: 99%;
}

/* eran */

.x-numberrange > span:nth-child(2) {
  display: none;
}

/* eran */

.x-numberrange {
  border: 0;
  box-shadow: none;
}

/* eran */


/* eran */

.x-numberrange span:nth-child(1) > input {
  text-indent: 27px;
}

/* eran */

.x-numberrange input.k-textbox {
  border: 0;
  border-top: 0;

  border-left: 0;
  border-right: 0;
  color: map-get($map: $Colors, $key: text-defualt);
  border-radius: 0px;
}

/* eran */

.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-idropdownlist-wrapper.p-floating-container
  div.x-control-content-wrapper
  span.k-picker.dropdownlist.x-dropdown-comp.s-dropdown-comp.k-picker-solid.k-picker-md.k-rounded-md
  span {
  span.k-input-value-text {
    height: 37px;
  }

  padding: 0 !important;
}

/* eran */

/* eran */

.requireDesign div:nth-child(1) span.k-input-inner {
  padding-top: 10px !important;
}

/* eran */

/* eran */

.xstyle-numberrange-wrapper span.k-textbox-container {
  padding-top: 0px !important;
}

/* eran */

.requireDesign div:nth-child(1) > span:nth-child(3).k-textbox-container input {
  border: none !important;
  padding-right: 26px !important;
  width: 90%;
}

/* eran */

.xstyle-idropdownlist-wrapper span.k-input-inner .k-input-value-text::before {
  vertical-align: unset !important;
}

/* eran */

.x-numberrange {
  width: 100% !important;
}

/* eran */

/* eran */

li:has > a.active {
  height: 100%;
}


#TafnitCore_WorkFlow_UI_MyTasks {
  width: 98% !important;
  margin-top: 10px !important;
}
@media only screen and (min-width: 1600px) and (max-width: 1750px) {
  #TafnitCore_System_UI_App_WebSDK_Login,
  #TafnitCore_SaaSServer_TafnitCloud_UI_Login {
    & .boxShadow {
      height: auto;
      padding-bottom: 25px !important;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1450px) {
  #TafnitCore_System_UI_App_WebSDK_Login,
  #TafnitCore_SaaSServer_TafnitCloud_UI_Login {
    & .boxShadow {
      flex: 0 0 50% !important;
      max-width: 50%;
      height: auto;
    }

    & .btnBackground .k-button {
      top: -7px !important;
      width: 179px;
      height: 44px !important;
      font-size: 16px !important;
    }

    & .xstyle-buttoncontrol-wrapper {
      height: 82px !important;
    }
    & .socialButtons > div:nth-child(1) {
      margin-bottom: -34px !important;
    }

    & .k-tabstrip-items-wrapper.k-hstack {
      margin-top: -15px !important;
    }

    & .socialButtons > div:nth-child(2) {
      top: 48px !important;
    }

    & .x-self-container.s-self-container + div + div.border {
      top: 35px !important;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
  #TafnitCore_System_UI_App_WebSDK_Login,
  #TafnitCore_SaaSServer_TafnitCloud_UI_Login {
    & .btnBackground .k-button {
      top: 9px !important;
      height: 61px;
    }

    & .boxShadow > div:nth-child(3) {
      margin-bottom: 32px;
      top: 44px;
    }
    & .boxShadow > div:nth-child(2) {
      margin-bottom: -52px;
    }

    & .x-image-wrapper.s-image-wrapper > img {
      width: 226px !important;
    }
  }
}

.x-disabled + div .k-checkbox {
  border: 1px solid map-get($map: $Colors, $key: border-color) !important;
  border-radius: 1px !important;
}

.k-toolbar.k-toolbar-resizable {
  & div > .k-button {
    border: none !important;
    width: 60px !important;
    height: 60px !important;
    background: map-get($map: $Colors, $key: bg-qube) ;
    box-shadow: 0px 0px 8px map-get($map: $Colors, $key: login-screen-boxshadow) !important;
    border-radius: 10px !important;

    & span {
      font-size: 28px;
      width: 28px !important;
      height: 28px !important;
      &.k-icon k-i-more-vertical {
        top: -22px;
      }
    }
  }
}
#TafnitCore_System_UI_App_WebSDK_Main.pageContainer.x-pagePopup > .header {
  top: -31px !important;
  height: 100px;
  align-items: end;
  display: grid;
  background: #ffffff;
  padding-bottom: 10px;
}

#TafnitCore_System_UI_App_WebSDK_Main.pageContainer > header {
  top: 60px !important;
  background: none;
}





#tbbgroupA,
#tbbgroupC {
  width: 50px !important;
}

.x-control-content-wrapper
  > .k-toolbar.k-toolbar-resizable
  .k-button.k-disabled {
  & span.k-icon {
    color: #dee2e6 !important;
  }
}

mainbody > .row {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
}

.cardDashbord {
  & span {
    left: 13px;
    top: -10px;
    font-size: 34px;
  }
}

.plOverflowFix {
  & span {
    left: -4px !important;
    top: 4px !important;
  }
}
.k-i-calendar::before {
  content: "\e973";
  font-family: "icomoon";
  font-size: 20px;
  
}

.popUpWindowCls {
  max-width: 80% !important;
  margin: auto !important;
  right: 0 !important;
  z-index: 10003 !important;

  .x-pagePopup {
    max-width: 100% !important ;
  }
}

.headerNone::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.k-pager-wrap .k-link:focus {
  box-shadow: none !important;
}

.k-button:hover {
  background: none !important;
  border: so;
}
.k-i-preview:before {
  content: "\e997";
  font-family: "icomoon";
}

.gridHeaderButton .xstyle-xmenu-wrapper,
.dashStatus .xstyle-xmenu-wrapper,
.dashOverview .xstyle-xmenu-wrapper {
  & span.k-link.k-menu-link {
    left: -13px !important;
    top: -20px !important;
  }
}


.x-section-header-wrapper.s-section-header-wrapper {
  & .col {
    padding-right: 8px !important;
  }
}

.nameComp {
  label {
    height: auto !important;
    padding: 0px !important;
  }
}

.x-infoWrap .x-infoButton .x-infoBubble .x-infoBubbleContent {
  text-align: end !important;
}

.popUpWindowCls {
  & #TafnitCore_System_UI_App_WebSDK_SearchRoutineResult {
    & .k-button-icon {
      border: none !important;
      color: rgba(0, 0, 0, 0.4588235294) !important;
    }
  }
}

#progressBoxShadow {
  margin-top: 6% !important;
}

.x-groupbox-wrapper.s-groupbox-wrapper {
  & .col.x-col.s-col.d-flex {
    display: block;
  }
}

.k-button-flat.k-focus::after,
.k-button-flat:focus::after,
.k-button.k-button-clear.k-focus::after,
.k-button.k-button-clear:focus::after {
  opacity: 0 !important;
}

.k-button.k-active::before,
.k-button:active::before {
  opacity: 0 !important;
}
.dashStatus,
.dashOverview {
  margin-right: 0 !important;
}
.dashMyMission,
.dashStatus,
.dashOverview {
  & > div.border {
    & div.col.x-col.s-col:first-child {
      max-width: fit-content !important;
      margin-top: -30px !important;
      margin-right: -26px !important;
    }
  }

  & .gridHeaderButton {
    justify-content: space-between !important;
  }
}

.dashContact,
.dashDiary {
  & > div.border {
    & div.col.x-col.s-col:first-child {
      max-width: fit-content !important;
    }

    & div:last-child {
      margin-top: 4px !important;
    }
  }
}

#webSDKInfo {
  box-shadow: none !important;
  border: none !important;
  background: none !important;
  top: -9px;
  & span {
    font-size: 20px !important;
  }
}

.popUpWindowCls .xstyle-itoolbar-wrapper .k-toolbar {
  padding-left: 0px !important;
}

.statusColumn {
  color: #000000 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

//popup //
.k-group.k-menu-group.k-menu-group-md.k-popup {
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 30%) !important;
  border-radius: 10px !important;
  background: none !important;
  padding: 0 !important;
  width: 150px !important;

  & .menuRows {
    height: 34px;

    & .xMenuHover {
      padding: 0 !important;
      align-items: center;
      display: grid;

      span{
        font-size: 13px;
      }
    }
    &:hover {
      background: #7b098b !important;
      border-bottom: 2px solid #f5f5f5 !important;
      color: #ffffff !important;
      border-radius: 10px;

      & span {
        color: white !important;
        font-weight: 400 !important;
      }
    }

    padding: 0 !important;

    & div.col.x-col.s-col.px-0.pt-2.xMenuHover:first-child {
      border-top-right-radius: 10px !important;
      border-top-left-radius: 10px !important;
    }
    & div.col.x-col.s-col.px-0.pt-2.xMenuHover:last-child {
      border-bottom-right-radius: 10px !important;
      border-bottom-left-radius: 10px !important;
    }

    & div.col.x-col.s-col.px-0.pt-2.xMenuHover {
      max-width: 100% !important;
      background: none !important;
      height: auto;

      & span {
        text-align: right !important;
        padding-right: 15px;
      }
    }
  }
}

#TafnitCore_System_UI_App_WebSDK_PageInfo {
  & .k-grid-header {
    display: none !important;
  }
  .col.x-col.s-col {
    padding: 0 !important;
  }

  & td {
    padding-left: 15px !important;
    font-size: 14px;
    border-radius: 0 !important;
    border: none !important;
    direction: revert;
    & b {
      font-size: 13px !important;
    }
  }
  .k-grid-header {
    padding: 0px 0px !important;
  }
}

#TafnitCore_SaaSServer_TafnitCloud_UI_Main.xtafnit_pageContainer.pageContainer,
#TafnitCore_System_UI_App_WebSDK_Menu.xtafnit_pageContainer.pageContainer {
  margin-top: 0 !important;
}

.x-login-user-error-msg {
  color: red !important;
  font-size: 14px !important;
}

.x-login-user-info-msg {
  font-size: 14px;
  color: #ff7a00;
}

#TafnitCore_System_UI_App_WebSDK_DevPage {
  width: 98%;
  margin-top: 10px !important;

  .xstyle-checkbox-wrapper:has(.x-control-caption-wrapper) .x-control-content-wrapper{
    border: none !important;
  }
}

@media only screen and (max-width: 992px) {
  #TafnitCore_SaaSServer_TafnitCloud_UI_DashBorad,
  #TafnitCore_System_UI_App_WebSDK_DashBoard {
    & .dashRightCol {
      & .border:last-child {
        width: 100% !important;
      }
      & .dashOverview {
        margin-top: 10px !important;
        margin-right: 9px !important;
      }
    }

    & .dashLeftCol {
      margin-top: 0px !important;
      padding-top: 15px !important;
      margin-right: 6px;
    }
  }
}

#TafnitCore_System_UI_App_WebSDK_PageInfo .row.x-row.s-row.border {
  padding: 0 !important;
}

.gridHeaderButton {
  & .xstyle-ilink-wrapper {
    margin-top: -25px !important;
  }
}

.dashContact {
  & h4 {
    margin-right: -28px !important;
    width: 180% !important;
  }

  & > div.row.x-row.border.d-flex.align-items-center {
    margin-top: -15px !important;
  }
  & div.x-control-content-wrapper:has(a) {
    margin-top: 2px !important;
  }
}

.dashStatus {
  margin-bottom: 0 !important;
}

#viewerContainer {
  color: aquamarine !important;
}

#TafnitCore_System_UI_App_Tools_BusinessTierTracker {
  & .k-grid-pager a span.k-icon {
    transform: rotate(180deg);
  }
}



.k-content:has(#TafnitCore_xAgreements_UI_InvoiceDetailes), 
.k-content:has(#TafnitCore_xAgreements_UI_ApprovePayment){
  & .k-window-titlebar.k-hstack {
    flex-direction: row-reverse !important;
  }

  & .k-window {
    & .k-window-title {
      position: absolute;
      margin: 0 auto;
      right: 42%;
      top: 446%;
      z-index: 15000;
    }

    & #MessageBoxWindow {
      & #divCobuttonbtn1 {
        & .row {
          flex-direction: row-reverse !important;
          width: 70% !important;
          margin: auto !important;
          & div:nth-child(2) {
            & button.k-button {
              background: none !important;
              color: #7b098b !important;
              border: none !important;
              font-weight: 400 !important;
              font-size: 14px !important;
              line-height: 130% !important;
            }
          }

          & div:nth-child(1) {
            & button.k-button {
              max-width: 140px !important;
            }
          }
        }
      }

      & .x-icons.x-fa-question {
        margin-bottom: 50px;
        margin-top: -18px;
        font-weight: 400 !important;
        &::before {
          font-family: "icomoon" !important;
          content: "\e9b5" !important;
        }
      }
    }
  }
}

input {
  text-align: right;
}

.k-menu:not(.k-context-menu) > .k-item.k-hover,
.k-menu:not(.k-context-menu) > .k-item:hover {
  background: none !important;
  border: none;
  box-shadow: none;
}

.k-content:has(#TafnitCore_xAgreements_UI_InvoiceDetailes),
.k-content:has(#TafnitCore_xAgreements_UI_ApprovePayment){

  & .border:has( div[uxid="rIncome"].d-none){

        color: #7B098B;

      
  }

  & div[uxid="lIncomeSummary"]{
    margin-right: -25px;

    & span.x-dynamic-label-control {
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 500;
      text-align: left !important;
      font-size: 14px !important;
      line-height: 130% ;
      color: #000000 !important;
    }
    }

  & .card2 .options-card{
    height: 40px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
  }

& .card2,
& .card1 {
  & .col:has(.xstyle-gridv4-wrapper){
    padding: 0;

    & .xstyle-gridv4-wrapper{
      padding: 10px ;
    }
  }
}
  & .card1 .options-card{
    height: 40px;

    & .title-card2{
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      justify-content: space-between;
      padding: 0;

      & .CostSummary{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 0;
        gap: 5px;
        span{
          font-family: 'Heebo';
          font-style: normal;
          font-weight: 400;
          font-size: 14px !important;
          line-height: 130%;
          text-align: justify;
          color: #000000 !important;
        }
        & .bold-text{
          span{
            font-weight: 700;
       
          }
        }
      }
  
    }
  }

  & .kiIncome{
    grid-template-columns: 67% 1fr 1fr;
    display: grid;



    & .xstyle-kicon-wrapper{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

& div[uxid="rIncome"]{
  padding-left: 0;
  padding-right: 0;
}

& .main-OPT{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: grid;
    grid-template-columns: 57% auto auto;
}

& .secndary-title{
  align-self: center;
}

& .title-card2{

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  div[uxid="lCostSummary"]{
    & span{
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 130%;
    color: #000000 !important;
    }
  }


  & .x-self-container {

    position: relative ;
    align-self: center;
    width: 100%;


    & span{
      font-family: 'Heebo';
      font-style: normal !important;
      font-weight: 700 ;
      font-size: 16px !important;
      line-height: 130%;
      color: #7B098B;
    }
  }
}

  & .kIncome{

   & .k-icon-wrapper{
    text-align: left !important;
    margin-left: 10px;
   }
    & span.k-icon{
      font-size: 20px;
      color:#7B098B !important ;


    }
  }

  & .checkBox-Income{

    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0;

    & .xstyle-textcontrol-wrapper{
     height: 37px;
   
    }

    & .x-self-container{
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      & .x-radio-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        & .x-RBComp{
          padding: 0px 0px 0px 15px !important;
        }
      }
    }
  }
& .k-widget.k-window{
  height: 98% !important;
  top: 8px !important;



  & .k-window-titlebar{
    position:absolute;
    z-index: 1600;
    left: 6px;
  }

  & .k-window-content{
    overflow: auto !important;
    
    padding: 0px 15px 10px;
  }
}

}


.goUpArrowColumn{
  display: none;
}