//Company//


$Logo-tafnit:#64328A !default;
$Logo-tafnit:gradient(0deg, #1687C9 0%, #1998D5 17%, #1CA9E1 41%, #1EB2E8 66%, #1FB6EB 100%) !default;
$Logo-tafnit-disable: #B3B3B3 !default;
$Logo-tafnit-disable-light: #E1E1E1 !default;

//Basic//

$Text-Basic: black !default;
$Text-placeholder: #7E7B7B !default;
$Text-disable: #D9D9D9 !default;
$Background-main-screen:#FBFBFB !default;
$Background-cube: White !default;

$Drawer-line:#80A9BB !default;
$Main-color:#7D0A8C !default;
$Drawer: #7D0A8C !default;
$Text-link:#7D0A8C !default;

$Requier:#FF7A00 !default;
$Contacts-menu: #037295 !default;
$Notifications: #c3ce65 !default;
$Warning: #EE0909 !default;

//Grid//


$Text-Basic: black !default;
$Grid-text-title: #7E7B7B !default;
$Grid-icon-filter-off:#7E7B7B !default;
$Title-filtered-value:#7E7B7B !default;
$Button-filter-second: #D9D9D9 !default;
$Grid-stroke-under-line:#F5F5F5 !default;
$Popup-filter-background:#F5F5F5 !default;
$Background-filtered-value:#F5F5F5 !default; 
$Grid-line:#FFFFFF !default;
$Grid-checkBox-border:#007FC1  !default;;
$Grid-color-title-th:#323C4B   !default;;
$Grid-color-text-td:#323C4B   !default;;
$grid-icon-search-color:#007FC1  !default;;
$Grid-checkBox-bg:#007FC1  !default;;
$grid-header-title-background: none  !default;;
$grid-header-toolbar-border-color:#fff  !default;;
$grid-header-filter-active-background:#ccc  !default;;
$grid-header-filter-active-color:#fff  !default;;
$grid-border-td: 1px solid #F5F5F5  !default;;
$grid-filter-icon:#DA3382  !default;;
$grid-header-text-color:#868387  !default;;
$grid-header-background:#ffffff   !default;;
$grid-tr-background-hover:#CDE7F2    !default;;
$grid-tr-background-k-alt:#FCFCFC    !default;;
$grid-header-serach-float:right  !default;;
$grid-header-serach-border:1px solid #ccc  !default;;
$grid-header-serach-border-radius:1px solid #ccc  !default;;
$grid-color-link-td:#DA3382  !default;;
$grid-scrollbar-color:#da3382  !default;;
$grid-scrollbar-color-hover:#bb2e71  !default;;
$Icons: #7D0A8C !default;
$Grid-icon-filter-on: #7D0A8C !default;
$Button-filter:#7D0A8C !default;
$Current-number-page:#7D0A8C !default;
$Number-page:#DDC3E7 !default;
$Grid-line-hover:#FAF6FC !default;

// button //
$Button-bg-hover:#ACCEDD !default;
$Button-color-text: #FFFFFF !default;
$Button-color-border:none !default;
$button-border-color-focus:  #FFFFFF !default;
$Button-boxshadow-focus:  drop-shadow(0px 0px 6px #AE8B49) !default;
$Button-color-icon:#AE8B49  !default;
$Button-bg:#8EBBCF  !default;
$Button-bg-focus:#759BAC !default;
$Button-float-bg:#14008E !default;
$Button-float-color: white !default;

//Button + icons + popup//


$Text-Basic: black !default;
$Popup-button-primary-base: #F5F5F5 !default;
$User-screen-button-hover:#F5F5F5 !default;
$Button-important-icons: white !default;
$User-screen-button-primary-base: white !default;
$Button-background: white !default;

$Popup-button-press:#80A9BB !default;
$Button-important-background:#7D0A8C !default;
$Popup-button-hover:#7D0A8C !default; 
$Button-icons:#7D0A8C !default;
$Icon-close-drawer:#DDC3E7 !default;

// new //


/*controls*/
$control-caption-color-text: #323C4B !default;
$control-background: #FFFFFF !default;
$control-border-input: 1px solid #D9D9D9 !default;
$control-color-input:#000000 !default;
$control-radius-input:0px !default;
$control-caption-color-text-disable: #C7C7C7 !default;
$control-border-input-disable: 1px solid #D9D9D9 !default; ;
$control-border-focus:1px solid #D9D9D9 !default;
$control-box-shadow-focus: 0px 6px 5px 0px rgba(187, 216, 229, 0.30) !default;
$control-color-placeholder:#D9D9D9 !default;
$control-color-icon:#94B6C6 !default;
$control-border-error:1px solid #EE0909 !default;

//calnder //

$calendar-box-shadow:rgba(123, 9, 139, 0.1) 0px 0px 10px, rgba(123, 9, 139, 0.1) 0px 5px 8px  !default;
$calendar-bg-header:#FCFCFC !default;
$calendar-color-icon-header:#8EBBCF !default;
$calendar-color-text-header:#000000 !default;
$calendar-bg-body:#F5F5F5 !default;
$calendar-border-bottom-body:1px solid #8EBBCF !default;
$calendar-body-button-color:#80A9BB !default;
$calendar-body-butoon-color-text-focus:white !default;
$calendar-body-butoon-bg-focus:#8EBBCF !default;
$calendar-body-butoon-color-text-hover: #759BAC !default;
$calendar-body-butoon-border-hover:1px solid #80A9BB !default;
$calendar-month-color-days-focus:#ffffff !default;
$calendar-month-bg-days-focus:#80A9BB !default;
$calendar-month-color-today:#80A9BB !default;
$calendar-month-border-today: 1px solid #80A9BB !default;
$calendar-month-color-days-other-month:#8E8E8E !default;
$calendar-month-border-other-month-hover:1px solid #8E8E8E !default;
$calendar-month-color-other-month-hover:#8E8E8E !default;
$calendar-month-color-title:#759BAC !default;
$calendar-month-color-days:#759BAC !default;
$calendar-month-color-days-hover:#759BAC !default;
$calendar-month-border-days-hover:1px solid #80A9BB !default;
$calendar-fotter-color-text:#8EBBCF !default;


$upload-border-border-top:#BBD8E5 !default; 
$upload-color-text: white !default; 
$upload-color-icon: #BBD8E5 !default; 
$upload-color-success: #BBD8E5 !default; 
$upload-color-file-name: #000000 !default; 
//label//
$tab-script-border-bottom:#8EBBCF !default;
$tab-script-color-text:#7E7B7B !default;
%texbox-label{

   
    font-family: 'Heebo' ;
    font-style: normal ;
    font-weight: 500 ;
    font-size: 14px  ;
    line-height: 21px ;
    text-align: right ;
    color: $control-caption-color-text ;
    margin: 0 ;
    max-width: max-content ;
}

// popup //
$popup-border:1px solid #7E7B7B !default;
$popup-bg:white !default;
$popup-color-text:#000 !default;
$popup-bg-selected:#FAF6F0 !default;
$popup-color-text-selected:#8EBBCF !default;
$popup-bg-hover:#FAF6F0 !default;
$popup-color-text-hover:#8EBBCF !default;


// row //

$row-main-vanilla-box-shadow:0px 4px 8px rgba(187, 216, 229, 0.2), 0px 1px 3px rgba(187, 216, 229, 0.5)  !default;;
$row-main-vanilla-border-radius:10px  !default;;
$row-main-vanilla-padding:30px  !default;;
$row-main-vanilla-bg:#FFFFFF  !default;;
$row-radius-vanilla-border-radius:40px  !default;;
$row-border-vanilla-border:1px solid #A1A3A5  !default;;
$row-bg-color-vanilla-bg:#FBFBFB  !default;;
$row-bg-color-vanilla-box-shadow:0px 4px 10px rgba(217, 217, 217, 0.5), 0px 0px 4px #D9D9D9  !default;;
$row-hidden-vanilla-border-radius:0px  !default;;
$row-hidden-vanilla-box-shadow:none  !default;;
$row-hidden-vanilla-bg:none  !default;;

//input//

%texbox-input{

    
    background: $control-background ;
    border: $control-border-input  ;
    border-radius: $control-radius-input ;
    padding: 10px 20px ;
    font-family: 'Heebo' ;
    font-style: normal ;
    font-weight: 400 ;
    font-size: 16px  ;
    color: $control-color-input ;
    text-align: right ;
    width: 100% ;
}


// disable // 

%texbox-input-disable{

    background: $control-background ;
    border:$control-border-input-disable ;
}

// disable-caption // 

%texbox-label-disable{
    color: $control-caption-color-text-disable ;
}