/* Error: 2 arguments required, but only 1 was passed.
 *    ,
 * 75 | "-font-size": rem(14px),
 *    |               ^^^^^^^^^
 *    '
 *   base\variables\_colors.scss 75:15                             @forward
 *   base\variables\_masterVariable.scss 2:1                       @import
 *   site\Best-mobile\PortalSuppliers\variable\_variable.scss 2:9  @import
 *   site\Best-mobile\PortalSuppliers\style.scss 2:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: 2 arguments required, but only 1 was passed.\a    \2577 \a 75 \2502  "-font-size": rem(14px),\d\a    \2502                ^^^^^^^^^\a    \2575 \a   base\\variables\\_colors.scss 75:15                             @forward\a   base\\variables\\_masterVariable.scss 2:1                       @import\a   site\\Best-mobile\\PortalSuppliers\\variable\\_variable.scss 2:9  @import\a   site\\Best-mobile\\PortalSuppliers\\style.scss 2:9               root stylesheet';
}
