

#TafnitCore_Sales_V2_UI_Main{
margin: 0;


    .user{

        .x-dynamic-label-control{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            text-align: right;
            color: #000000;
        }

    }
}