$Title-colo: #FF780B;
$Title-border: 1px solid #FFBC93;;
$Text-defult: #000000;

$icon-color-main: #FF780B;
$icon-colot-text-main: #FF780B;
$icon-play-stop-camera-bg: #1B6C8E;
$icon-color-defult:#FF780B;

$Upload-coor-text-file: #7E7B7B;
$Upload-coor-text-success: #FF780B;
$upload-file-error-text: #DB1C33;
$upload-file_error-icon-file: #DB1C33;
$Upload-title: #334768;

$Button-background: #FF780B;
$Button-press-background: #aaaaaa;
$button-Box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3);;

$Radio-button-on-background:  #026F9E;
$Radio-button-on-drop-shadow: 0px -2px 6px rgba(255, 120, 11, 0.2); 
$Radio-button-label-text: #323C4B; 

$Check-box-on-background: #ffff;
$Check-box-on-drop-shadow: 0px -2px 6px rgba(255, 120, 11, 0.2);
$Check-box-label-text: #323C4B;

$icon-color : #FF780B;
$Required: #FF780B;
$Focus-border:  #ff780b;
$High-light-caption : #ff780b;

$Approve-icon-on: #CF6007;

$Box-shadow-footer:0px -2px 6px rgba(255, 120, 11, 0.2);

$messagebox-Box-shadow:0px -2px 6px rgba(255, 120, 11, 0.2);
$messagebox-icon-color:#FF780B;
$messagebox-border-color:#FF780B;

$signature-icon-before:#FF780B;
$signature-icon-after:#FF780B;


#TafnitCore_System_UI_App_Tools_FillAndSignV2Page{

    // title //

    .k-header.x-section-header-wrapper{
        border-bottom: $Title-border !important;
      .x-section-header.s-section-header{
        color: $Title-colo !important;
      }   
    }

    // button // 

     .x-footer div button.x-button.s-button{
        background-color: $Button-background !important;
        box-shadow: $button-Box-shadow !important;
     }

    .xstyle-buttoncontrol-wrapper{
        button.x-button.s-button{
            background-color: $Button-background !important;
            box-shadow: $button-Box-shadow !important;
            &:focus-within,
            &:focus{
                    background: $Button-press-background !important;  
                    box-shadow:  $Radio-button-on-drop-shadow !important;
            }
        }
    }


    // icon+text main // 
    .x-Icons .x-icon span{

        color: $icon-color-main;

    }
    
    .icon-title{
        color: $icon-colot-text-main;
    }

// radio button // 

&  .xstyle-radio-wrapper.x-control-wrapper{
 

    & input{
        &:checked{
    
            box-shadow: $Radio-button-on-drop-shadow !important;
        }


        &::before{
            color: $Radio-button-on-background !important;
            width: 10px !important;
           height: 10px !important;
        }
    }

   }


// check box //

  & .xstyle-checkbox-wrapper.x-control-wrapper {

    & input{
     

        &:checked{
            box-shadow: $Check-box-on-drop-shadow !important;
        }

        &:checked::before{
            background-color: $Check-box-on-background !important;

        }
    }
   }


   // icon stop + play + camera //

   .xstyle-kicon-wrapper {
   
   .k-icon{
    &.fa-camera-retro,
    &.fas.fa-play,
    &.fas.fa-stop{

       background: $icon-play-stop-camera-bg;

   }
  }
 }
// footer // 

& .s-footer.x-footer{
    box-shadow:  $Box-shadow-footer !important;
}

// signature //

.xstyle-signature-wrapper .GraphicalSignaturePlaceHolders .fas.fa-file-upload::before,
.xstyle-signature-wrapper .GraphicalSignaturePlaceHoldersSign .fas.fa-file-upload::before,
.xstyle-signature-wrapper .GraphicalSignaturePlaceHolders a::before{
   color: $icon-color-defult !important;
}

// focus color //

& .xstyle-textareacontrol-wrapper textarea{

    &:focus-visible{

        outline: 1px solid $Focus-border!important;
    }
}

& .xstyle-idropdownlist-wrapper span.k-picker.k-dropdownlist,
& .xstyle-textcontrol-wrapper input,
& .xstyle-autocomplete-wrapper input,
& .xstyle-geoaddress-wrapper input,
& .xstyle-googleaddress-wrapper input,
& .xstyle-intlphonenumber-wrapper input{
    &:focus,
    &:focus-within,
    &:active,
    &:focus-visible{
        border: 1px solid $Focus-border!important; 
        box-shadow: none !important;
    }
}

//uplod control //
.xstyle-upload-wrapper .k-file.k-file-success{
& .k-i-file-pdf,
& .k-i-file-data,
& .k-i-file-txt,
& .k-i-file,
& .k-i-file-image.k-file-group.k-icon{
    &::before{
        color: $icon-color-defult !important; 
    }
}
}
& .xstyle-upload-wrapper .k-file.k-file-success [class^="k-file-validation-message !k-text-success"]{
    color: $Upload-coor-text-success !important; 
}

& .xstyle-upload-wrapper .k-file-invalid [class="k-file-validation-message !k-text-error"]{
    color: $upload-file_error-icon-file;
}

& .xstyle-upload-wrapper .k-upload-button span{

    color: $Upload-title !important;
}

& .k-upload-button.k-focus{
    box-shadow: none !important;
    border: none;
}

& .xstyle-upload-wrapper .k-upload-button span::after{
    color: $Upload-title !important;
}

// date // 

.xstyle-date-wrapper{
.x-datePicker-pc{

    &:focus-within{
        box-shadow: none;
    }
    & input{
 
    &:active,
    &:focus{
        border: 1px solid $Focus-border!important; 
        box-shadow: none !important;
    }
}

}
    button{
        background: none;

        & span.k-icon.k-i-calendar {
            color: $icon-color-defult;
        }
    }
}


 
}



// message box //

.k-content:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page) {

    & .k-widget.k-window.k-rtl:has(#MessageBoxWindow) {
        border: 1px solid $messagebox-border-color  !important;
        box-shadow:$messagebox-Box-shadow !important;
    
        & .x-icons.x-fa-warning{
    
            &::before{
            color: $messagebox-icon-color !important;
            }
        }
         
    & #MessageBoxWindow{
       
    
    
    & button.k-button{
    
        background: $Button-background!important;
        box-shadow: $button-Box-shadow !important;
    
        &:focus{
    
            background: $Button-press-background !important;
        }
    
     }
    }
    }
}
