$Title-background: #FF7D19;
$card-body-background: white;
$card-body-box-shadow: 2px 2px 10px rgba(17, 130, 177, 0.2);
$color-text-title: #10A831;
$color-text-title-link: #10A831;
$color-icon-bell: #FF7D19;
$note-background: #10A831;
$note-color-text: white;


