

$Button-bg-hover:#927338 ;
$Button-color-text: #FFFFFF;
$Button-color-border:none;
$button-border-color-focus:  #FFFFFF;
$Button-boxshadow-focus:  drop-shadow(0px 0px 6px #AE8B49);
$Button-color-icon:#AE8B49 ;
$Button-bg:#AE8B49 ;
$Button-float-bg:#14008E;
$Button-float-color: white;
$special-button-bg:#FFFFFF;
$special-button-color-text:#AE8B49 ;
$special-button-color-border:1px solid #AE8B49 ;
$control-special-border: 1px solid #C7C7C7 ;
$control-special-color-text: #4E4E4E;
$control-special-radius-input:8px;
$control-caption-color-text: #4E4E4E;
$control-background: #FFFFFF;
$control-border-input: 1px solid #C7C7C7;
$control-color-input:#323C4B;
$control-radius-input:8px;
$control-caption-color-text-disable: #C7C7C7;
$control-border-input-disable: 1px solid #E7E7E7;;
$control-border-focus:1px solid #AE8B49;;
$control-box-shadow-focus:none;
$control-color-placeholder:#ADB5BD;
$control-color-icon:#AE8B49;
$control-border-error:1px solid #E91E63;
$checkbox-border: #000000 ;
$checkbox-caption: #000000 ;
$checkbox-color-checked: #AE8B49 ;
$checkbox-border-checked: #AE8B49 ;
$check-box-focus-border: none ;
$check-box-disable-border: #a6a6a6 ;
$check-box-disable-checked: #a6a6a6 ;
$check-box-focus-box-shadow: 0px 1px 1px 0px rgba(174, 139, 73, 0.30), 0px 2px 2px 0px rgba(174, 139, 73, 0.20); ;
$link-color: #625337;
$label-list-caption-color:#000000;
$label-list-value-color:#967A45;
$secandary-title-color:#AE8B49;
$row-bg:#fff;
$row-box-shadow: 0px 0px 2px rgba(2, 111, 158, 0.1), 0px 8px 8px rgba(2, 111, 158, 0.15);
$popup-border: #7E7B7B;
$popup-bg:white;
$popup-color-text:#000;
$popup-bg-selected:#FAF6F0;
$popup-color-text-selected:#967A45;
$popup-bg-hover:#FAF6F0;
$popup-color-text-hover:#967A45;
$popup-box-shadow:0px 0px 6px 0px rgba(166, 166, 166, 0.10), 0px 8px 5px 0px rgba(166, 166, 166, 0.10);
$messagebox-bg: #ffffff ;
$messagebox-bg-button: #AE8B49 ;
$messagebox-color-text: #000000 ;
$messagebox-color-icon: #AE8B49 ;
$messagebox-color-icon-close: #a6a6a6 ;
$messagebox-bg-button-focus: #AE8B49 ;
$messagebox-bg-button-hover: #927338 ;
$messagebox-box-shadow:0px 5px 8px 0px rgba(174, 139, 73, 0.10);
$tab-script-border-bottom:#927338;
$tab-script-color-text:#927338;
$bread-crumb-color-default:#000000;
$bread-crumb-color-active:#AE8B49;
$barcode-border-color:#A6A6A6;
$barcode-box-shdow:4px 4px 4px rgba(197, 162, 96, 0.2);
$user-title-color:#000000;
$tab-script-border-bottom:#927338;
$tab-script-color-text:#927338;
$link-color: #625337;
$scrollview-selected-image-box-shadow: 0px 0px 3px 0px rgba(174, 139, 73, 0.50);
$row-title-color: #AE8B49;
$icon-color:#625337;
$progressbar-bg:#FAF6F0;
$progressbar-bg-selected:#AE8B49;
$progressbar-color-text:#FFFFFF;
$grid-title-color:#AE8B49;
$grid-title-border-bottom:#AE8B49;
$grid-td-color:#000000;
$grid-td-border:#C7C7C7;
$grid-button-border:#AE8B49;
$grid-button-color-text:#AE8B49;
$grid-tr-bg-hover:#E7E7E7;
$grid-checkbox-border:#000000;
$grid-checkbox-border-checked:#AE8B49;
$grid-checkbox-icon-checked:#AE8B49;
$grid-checkbox-box-shadow-checked: 0px 1px 3px 0px rgba(174, 139, 73, 0.50), 0px 4px 8px 0px rgba(174, 139, 73, 0.20);
$floatbutton-bg:#16B2D5;
$floatbutton-box-shadow: 0px 0px 10px rgba(102, 191, 255, 0.4), 0px 6px 4px rgba(102, 191, 255, 0.6);
$floatbutton-text-color:white;
$card-image-border-focus:#AE8B49;
$card-image-box-shadow-focus:0px 6px 6px 0px rgba(174, 139, 73, 0.20);
$card-image-icon-active-color:#967A45;
$card-image-bg-title:#DEDEDE;
$card-image-title-color:#000000;
$card-details-title-color:#AE8B49;
$card-details-text-color:#000000;
$list-view-bg-line-default: #ffffff !default;
$list-view-icon-color-default: #b8a96f !default;
$list-view-text-default: #000000 !default;
$list-view-border-bottom: #e7e7e7 !default;
$list-view-hover-line: #f5f5f5 !default;
$list-view-selected-line: #b8a96f !default;
$list-view-selected-line-icon: #ffffff !default;
$list-view-selected-line-text: #ffffff !default;
$list-view-focus-border: #b8a96f !default;
$list-view-disable-bg: #f8f8f8 !default;
$list-view-disable-text: #c7c7c7 !default;
$list-view-disable-icon: #c7c7c7 !default;
$list-container-shadow: 0px 0px 5px 5px rgba(184, 169, 111, 0.20), 0px 2px 4px 0px rgba(184, 169, 111, 0.03), 0px 4px 5px 0px rgba(184, 169, 111, 0.04);
//label//

%texbox-label{

   
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 21px;
    text-align: right;
    color: $control-caption-color-text;
    margin: 0;
    height: 18px;
}

//input//

%texbox-input{

    height: 50px;
    background: $control-background;
    border: $control-border-input !important;
    border-radius: $control-radius-input;;
    padding: 10px 20px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: $control-color-input;
    text-align: right;
}


%texbox-input-special{


    height: 50px;
    background: $control-background;
    border: $control-special-border!important;
    border-radius: $control-special-radius-input;
    padding: 15px 30px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: $control-special-color-text;
    text-align: right;

}
// disable // 

%texbox-input-disable{

    background: $control-background;
    border:$control-border-input-disable;
}

// disable-caption // 

%texbox-label-disable{
    color: $control-caption-color-text-disable;
}


// special button //

%special-button{
    height: 50px !important;
    background: $special-button-bg;
    border-radius: 8px;
    font-family: "Heebo";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: $special-button-color-text;
    border: $special-button-color-border;
    
}

// button//

%button{
    background: $Button-bg;
    border: 1px solid $Button-color-border;
    border-radius: 8px;
    align-items: center;
    height: 50px !important;
    color: $Button-color-text;
    font-family: 'Heebo' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}