$title-background: #334768;
$title-text: White;
$title-secondary: #AE2A30;
$title-secondary-bottom-border: #FFA0A4;
$icon-color : #334768;
$required: #AE2A30;
$focus-border:  #AE2A30;
$high-light-caption : #AE2A30;
$radio-button-on-background:  #AE2A30;
$radio-button-on-border: white;
$radio-button-on-drop-shadow: #AE2A30;
$upload-text: #790D11;
$upload-icon:  #790D11;
$check-box-on-background: #AE2A30;
$check-box-on-drop-shadow: #AE2A30 20%;
$label-star-off-border: #FFA0A4;
$label-star-on-background: #790D11;
$link-text: #790D11;
$approve-icon-on: #334768;
$button-background: #AE2A30;
$button-press-background: #790D11;
$card-upload-file-icon-file: #334768;
$card-upload-file-name-file: #7E7B7B;
$card-upload-file-ok-text: #334768;
$card-upload-file-error-text: #DB1C33;
$card-upload-file_error-icon-file: #DB1C33;
$Box-shadow-footer: rgba(174, 42, 48, 0.2);
$Box-shadow-button: rgba(174, 42, 48, 0.2);
$Box-shadow-messagebox: rgba(174, 42, 48, 0.2);
$messagebox-icon-color:#334768;
$messagebox-border-color:#334768;
$signature-icon-before:#790D11;
$signature-icon-after:#334768;







