



.xstyle-checkbox-wrapper{


   & .x-checkbox{

      border-color: $checkbox-border;
<<<<<<< HEAD
   
=======
      width:14px;
      height: 14px;
      border-radius: 2px;
>>>>>>> d8024ddf2eb628e03a7b386290b8ee7da12a2b60

    &:checked{
        border-color: $checkbox-border-checked;
        &:before{
        color: $checkbox-color-checked;
        }
    }

    &:focus{
        box-shadow: none;
    }
   }

   & label{

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: $checkbox-caption;

   }


}