

//link-menu-control//

.xstyle-ilink-wrapper{
          
         & a{
    
          font-family: 'Heebo';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: $link-color;
         }

        }


    .xstyle-kicon-wrapper{ 
        &.back{

        
            
            .k-icon{
              margin-left: 5px;
              color: $link-color;
              font-size: 12px;
<<<<<<< HEAD
=======
              top: 0px;
>>>>>>> d8024ddf2eb628e03a7b386290b8ee7da12a2b60
            }

            .x-kicon-caption{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color:  $link-color;
                &:hover{
                    text-decoration: underline;
                }
            }
         }

        }
