



 div[uxid="tbID"], div[uxid="tbPassword"]{
    margin-top: 5px !important;
}
.xstyle-textcontrol-wrapper {

// disable // 

    &.k-state-disabled{

        & input.k-textbox{

            @extend %texbox-input;
           
        }

        & label{
            color: $control-caption-color-text-disable !important; 
          }
    }


    & input{
      @extend %texbox-input;
      padding-right: 10px !important;
<<<<<<< HEAD
=======
      padding-left: 10px !important;
>>>>>>> d8024ddf2eb628e03a7b386290b8ee7da12a2b60
      padding: 0;

        &:focus{
            box-shadow:$control-box-shadow-focus !important;
            border: 1px solid $control-border-focus !important;
        }

        &::placeholder{

            color: $control-color-placeholder !important;

        }
    }

    & label{
        @extend %texbox-label;

    }
}






