

$background: #FF7D19;
$main-square: #10A831;
$text-square: white;
$text-default: #495057;
$icon-description : #7E7B7B;
$shadow-big-cube:0px 0px 15px 15px rgba(0, 0, 0, 0.5);
$shadow-icon:drop-shadow(0px 0px 8px rgba(17, 130, 177, 0.3));
$shadow-icon-press: inset 2px 2px 4px rgba(17, 130, 177, 0.3);
$back-button: #FF7D19; 
$icon-approve : #10A831;
$title-approve: #FF7D19; 




