

.x-threeOptionSwitch-wrapper{

    & input{
        display: none ;
    }
    & i{
        color: grey;
        border-radius: 34px;
        background-color: transparent;
        margin: 0 5px;
        &.tos-false-isChecked{
            color: red !important;
            box-shadow: 0px 0px 2px red !important;
        }
    
        &.tos-true-isChecked{
            color: green !important;
            box-shadow: 0px 0px 2px green !important;
        }
    }

  

    & .fa-check-circle:hover{
        color: green;
        transition: 300ms;
        box-shadow: 0px 0px 4px green;
    }
    & .fa-times-circle:hover{
        color: red;
        transition: 300ms;
        box-shadow: 0px 0px 4px red;
    }
}


.xstyle-itreeview-wrapper {
    Overflow-y: auto;
    height: 100%;
    }
    
 
    #TafnitCore_Archive_UI_SearchByKeywords{
    
    ul.k-group.k-treeview-group li.k-item div + ul.k-group .k-treeview-toggle + .k-checkbox-wrapper input {
        display:none
    }
    .x-self-container.s-self-container  [uxid="TreeView"]{
    height: calc(100% - 37px);
    }
    // יש פה מלא IMPORTANTS לא הצלחתי לשנות בלי
    .x-barcodeBtnContainer .s-barcodeBtnContainer .k-header{
       left : 0 !important
    }

}
    