$title-colo: #45B4E3;
$title-border: 1px solid #94DEFD;;
$text-defult: #000000;

$icon-color-main: #45B4E3;
$icon-colot-text-main: #45B4E3;
$icon-play-stop-camera-bg: #10143A;
$icon-color-defult:#45B4E3;

$upload-coor-text-file: #7E7B7B;
$upload-coor-text-success: #1182B1;
$upload-file-error-text: #DB1C33;
$upload-file_error-icon-file: #DB1C33;
$upload-title: #45B4E3;

$button-background: #45B4E3;
$button-press-background: #aaaaaa;
$button-Box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3);
$button-focus-Box-shadow: 0px 0px 6px 0px rgba(229, 62, 7, 0.60) !default;
$button-background-hover:#E53E07 !default;
$button-secondary-focus-border:#ffffff !default;
$button-secondary-focus-color:#45B4E3 !default;
$button-secondary-border: #BDBFD5 !default;
$button-secondary-color: #45B4E3 !default;
$button-secondary-bg:#ffffff !default;
$button-secondary-bg-hover: #45B4E3 !default;
$button-secondary-color-hover: #ffffff !default;
$button-secondary-focus-box-shadow: 0px 0px 6px 0px rgba(90, 31, 105, 0.3) !default;


$radio-button-on-background: #45B4E3 ;
$radio-button-on-drop-shadow: 0px 0px 4px #1182B1; 
$radio-button-label-text: #000000; 

$check-box-on-background: #ffff;
$check-box-on-drop-shadow:  0px 0px 4px #1182B1;
$check-box-label-text: #000000;

$icon-color : #45B4E3;
$Required: #45B4E3;
$Focus-border:  #45B4E3;
$High-light-caption : #45B4E3;

$approve-icon-on: #45B4E3;
$box-shadow-footer:0px -4px 8px rgba(17, 130, 177, 0.2);

$messagebox-box-shadow:0px -4px 8px rgba(17, 130, 177, 0.2);
$messagebox-icon-color:#10143A;
$messagebox-border-color:#10143A;

$signature-icon-before:#10143A;
$signature-icon-after:#10143A;


