

//checkBox //
$CheckBox-border:#727272;
$CheckBox-border-checked:#F37A1F;
$CheckBox-color-checked: #FFFFFF;
$CheckBox-caption:#727272;

.xstyle-checkbox-wrapper{
    align-items: center;
    margin: 5px;

   & .x-checkbox{
      border: 1px solid $CheckBox-border;
      border-radius: 3px;
      margin-left: 7px;
      background: white !important;

    &:checked{
        border-color: $CheckBox-border-checked;
        background:#F37A1F !important;
        &:before{
        color: $CheckBox-color-checked;
        }
    }

    &:focus{
        box-shadow: none;
    }
   }

   & label{

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: $CheckBox-caption;

   }


}