

.xstyle-switch-wrapper{
   margin-top: 15px;
    label{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: #7E7B7B;
    }

    .k-switch {
        width: 80%;
    }

    .k-switch-off{

        .k-switch-track {

            background: #F5F5F5;
            box-shadow: inset -2px 2px 4px rgba(126, 123, 123, 0.2);
            border-radius: 10px;
            height: 21px;
            border: none;

            .k-switch-label-off{
                display: none;
            }
        }

        &:focus{
            box-shadow: none !important;
        }

        .k-switch-thumb {
            background: #DEDEDE;
            border: 1px solid #F5F5F5;
            width: 28px;
            height: 28px;

        }
    }
    .k-switch-on{
        .k-switch-track {

            background: #F5F5F5;
            box-shadow:inset -2px 2px 4px rgba(126, 123, 123, 0.2);
            border-radius: 10px;
            height: 21px;
            border: none;

            .k-switch-label-on{
                display: none;
            }
        }

        &:focus{
            box-shadow: none !important;
        }

        .k-switch-thumb {
            width: 28px;
            height: 28px;
            background: #77AB1A;
            border: 1px solid #F5F5F5;
            box-shadow:  0px 0px 4px rgba(119, 171, 26, 0.5);
            width: 28px;
            height: 28px;
        }
    }


    &:has(.x-control-caption-wrapper){
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap:0px;

        & > .col-4,& > .col-8{
            max-width: 100%;
        }

        .x-control-caption-wrapper{
            align-items: center;
            display: flex;
        }
        label{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #052436;

        }
    }
}