

.col-tab{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;


    .xstyle-dynamiclabelcontrol-wrapper{

        &.activeTab{
            padding: 2px 11px;
            background: #D1ECFF;
            border-radius: 15px;
            span{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                align-items: center !important;
                color: #0167B1;
            }
        }
        span{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #052436; 
        }
    }


    .xstyle-kicon-wrapper{

        &.activeTab{
            padding: 2px 11px;
            background: #D1ECFF;
            border-radius: 15px;
            span{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                align-items: center !important;
                color: #0167B1;
            }
        }
    }
}