

.INDhasDragTooltip #INDWrap #INDmenu-btn[data-INDdrag]{
    top: 50%;
    bottom: auto;
    left: -1px !important;
}



.xstyle-floatbuttonv2-wrapper{
   button.x-floatbutton{
    background: #16B2D5;
box-shadow: 0px 0px 10px rgba(102, 191, 255, 0.4), 0px 6px 4px rgba(102, 191, 255, 0.6);
    span{
        font-size: 62px;
        width: 75px;
        height: 75px;
        color: white;
    
    }
}


    &.tracker{
        button.x-floatbutton{
            background: #c5c5c5;
        box-shadow: 0px 0px 10px rgb(182 182 182 / 40%), 0px 6px 4px rgb(144 144 144 / 60%);
        }
    
   }
}
   
