

.xstyle-gridv4-wrapper{

    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    .x-grid-control{
        border: none;

     // thead //   
    .k-grid-header{
        background: none;
        border: none;

        th.k-header{
            border: none;
            background: none;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 130%;
            color: $grid-title-color;
            border-bottom: 2px solid $grid-title-border-bottom ;
            padding: 15px 8px;
        }
    }

    // td //

    .k-master-row{
        background: no-repeat;
        td{
            background: none;
            border: none;  
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: $grid-td-color;
            padding: 15px 8px;
            border-bottom: 1px solid $grid-td-border;

            button{
                width: 62px;
                background: none;
                color: $grid-button-color-text;
                border: 1px solid $grid-button-border;
                border-radius: 20px;
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                padding: 10px 20px;

                &:focus{
                    box-shadow: none;
                }
            }

        }
    }
}

.k-grid td.k-grid-content-sticky.k-selected:hover, 
.k-grid td.k-grid-content-sticky.k-state-selected:hover, 
.k-grid td.k-selected:hover, 
.k-grid td.k-state-selected:hover, 
.k-grid tr.k-selected:hover, 
.k-grid tr.k-state-selected:hover{
    background-color: $grid-tr-bg-hover;

}
.k-grid tr:hover td {
    background-color: $grid-tr-bg-hover!important;
}
.k-grid tr:hover{
    background: none;
}
}

.x-gridchkbxcontrolgrdOptions382975.k-checkbox{

    border: 1px solid $grid-checkbox-border;

    &:checked{

        border: 1px solid $grid-checkbox-border-checked ;

        &::before{
            color: $grid-checkbox-icon-checked;
        }
    }

    &:focus,&:focus-within{
        box-shadow:$grid-checkbox-box-shadow-checked;
    }
}