

//link-menu-control//



.xstyle-ilink-wrapper{
          
         & a{
    
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: $link-color;
            text-decoration-line: underline;
         }
        }
    