

.xstyle-progressbar-wrapper{
   
    .x-progressbar{
        background: $progressbar-bg;
        border:none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .k-selected{
            background:$progressbar-bg-selected ;
            right: 0 !important;
            border: none;
            border-radius: 0 !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 10px !important;
        }

        .k-progress-status{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $progressbar-color-text;
            z-index: 5;
    position: absolute;
    top: 5px;
        }
    }





}