

@use '../variable/variable' as *;

#TafnitCore_SaaSServer_Funding_B2B_UI_LoanSummery,
#TafnitCore_SaaSServer_Funding_B2B_UI_Dashboard{
    padding: 0;
    margin-top: -15px !important; 
.xstyle-image-wrapper{
    background: none;
    box-shadow: none;

    img{
        width: 100%;
        max-height: 410px;
    }
}

.wrapper-small-cube{
    background: none;
    box-shadow: none;
    position: absolute;
    justify-content: center;
    gap: 30px;
    z-index: 2;
    margin-top: -55px;



    .col-small-cube{
        min-height: 120px;
        background: #FFFFFF;
        box-shadow: $small-cube-box-shdow;
        border-radius: 10px;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 0px 30px !important;

        &:hover{
            background: #F8F9FA;
        }

        &.col-disabled{

            &:hover{
                background: #FFFFFF;
            }
            .k-state-disabled{
                opacity: 1;
            }
         
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            .x-dynamic-label-control{
                color: #CED4DA;
            }
            span.k-icon:before,
            span.k-icon::after{
                color: #CED4DA;
            }
            
        }

        .x-dynamic-label-control {
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            text-align: center;
            color: $small-cube-text-color;
        }

        span.k-icon{
            color: $small-cube-icon-color;
            font-size: 55px;
        }
    }
}

.wrapper-cube{
    margin-top: 106px !important;
    max-width: 330px;
    margin: 0;
    margin-right: 40px;

    .card-cube1{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        min-height: 52px;
        background: #FFFFFF;
        border: $cube-main-card-border;
        border-radius: 10px;
        padding: 10px 30px !important;
        margin-top: 25px;
        align-items: center;
    }
}

}