


@media only screen and (max-width: 1600px){

    

    #TafnitCore_SaaSServer_Funding_B2B_UI_Simulation,
    #TafnitCore_SaaSServer_Funding_B2B_UI_CreateCustomer,
    #TafnitCore_SaaSServer_Funding_B2B_UI_BDICheck,
    #TafnitCore_SaaSServer_Funding_B2B_UI_AdditionalLoaners,
    #TafnitCore_SaaSServer_Funding_B2B_UI_Survey,
    #TafnitCore_SaaSServer_Funding_B2B_UI_J5,
    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanSecurity,
    #TafnitCore_SaaSServer_Funding_B2B_UI_Extendedcreditreport,
    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanRequest{
        margin-top: 40px !important;

    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_Survey .row-customer .col-customer, 
    #TafnitCore_SaaSServer_Funding_B2B_UI_Extendedcreditreport .row-customer .col-customer{
        padding: 20px;
        
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_Survey .row-customer, 
    #TafnitCore_SaaSServer_Funding_B2B_UI_Extendedcreditreport .row-customer{
        width: 95%;
        margin-bottom: 20px;
        justify-content: center;
    }
    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanRequest mainbody > .row-main.row-float{
        max-width: 700px !important;
        padding: 5px 10px;
        bottom: -80px !important;
        display: grid;
        grid-template-columns: 70% 30%;
    }
    #TafnitCore_SaaSServer_Funding_B2B_UI_Main mainbody > .row.row-main.row-padding {
        padding-bottom: 63px;
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanRequest mainbody > .row-main.row-float .col-list {
        padding-right: 0px !important;
        padding-top: 15px !important;
        align-items: center;
        display: grid;
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanRequest mainbody > .row-main.row-float .col-list .row-hidden{
        display: block;
    }
    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanRequest mainbody > .row-main.row-float .col-float{
        border: none;
    }

    .border-mobile .xstyle-dynamiclabelcontrol-wrapper.slider-sum span{
        height: 62px;
    align-items: center;
    display: flex;
    justify-content: end;
    border-left: 1px solid #0f4167 !important;
    }

    .border.row.col-border-mobile{
        border-left: 1px solid #0f4167 !important;
        border-radius: 0 !important;
    }

    .border-mobile{
      
        margin-top: 15px
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_Main:has(#TafnitCore_SaaSServer_Funding_B2B_UI_Simulation) .button-next .x-button-wrapper {
        margin-top: 0;
    }
    //button//

    .xstyle-buttoncontrol-wrapper.button-next .x-button-wrapper{
        width: 93%;

    }

    //header //
    #TafnitCore_SaaSServer_Funding_B2B_UI_Main header:has(.wrapper-header){
        height: 50px;

    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_Main header.navbar-fixed-top .x-image-wrapper.s-image-wrapper{
        height: 50px;
    }
    #TafnitCore_SaaSServer_Funding_B2B_UI_Main header.navbar-fixed-top .x-image-wrapper.s-image-wrapper img{
        width: 130px !important;
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_Main header .wrapper-header .part1-header span{
        font-size: 20px;
    }

    //row//
    .row-grid{
        margin-top: 70px !important;
    }
    #TafnitCore_SaaSServer_Funding_B2B_UI_Main mainbody > .row.row-main{
        width: 95% !important;
    }

    .row-type{
        width: 95%;
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_Main mainbody > .row.row-main.row-float{
        bottom: -65px !important;
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_AddLoaner .row-title span.k-icon, 
    #TafnitCore_SaaSServer_Funding_B2B_UI_LotSelect .row-title span.k-icon, 
    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanTimeLine .row-title span.k-icon{
        font-size: 45px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    #TafnitCore_SaaSServer_Funding_B2B_UI_AddLoaner .row-title span.x-dynamic-label-control, 
    #TafnitCore_SaaSServer_Funding_B2B_UI_LotSelect .row-title span.x-dynamic-label-control,
     #TafnitCore_SaaSServer_Funding_B2B_UI_LoanTimeLine .row-title span.x-dynamic-label-control{
        font-size: 25px !important;
        margin-bottom: 0px;
     }


     .row-hidden.stepper2{
        width: 91.5%;
        height: 45px;
     }


     #TafnitCore_SaaSServer_Funding_B2B_UI_AddLoaner .row-title, 
     #TafnitCore_SaaSServer_Funding_B2B_UI_LotSelect .row-title,
      #TafnitCore_SaaSServer_Funding_B2B_UI_LoanTimeLine .row-title{
        padding: 0 !important;
      }
     //stepper//

     .xstyle-stepper-wrapper{
        height: 30px;
     }


     .xstyle-stepper-wrapper .k-step-list.k-step-list-horizontal .k-step-link .k-step-text{
        font-size: 13px;
     }

     .row-hidden.stepper2 .col-blue{
        height: 30px;
     }

     .row-hidden.stepper2 .col-blue span{
        font-size: 16px;
     }

    //dashboard//

    #TafnitCore_SaaSServer_Funding_B2B_UI_LoanSummery,
    #TafnitCore_SaaSServer_Funding_B2B_UI_Dashboard {
    
    .xstyle-image-wrapper img{
         height: 163px;
    }

      .wrapper-small-cube{
        margin-top: -50px;
        

        .col-small-cube{
            max-width: 255px;
            min-height: 90px;
            .x-dynamic-label-control{
                font-size: 20px;
            }
        }
      }

      .wrapper-cube{
        margin-top: 65px !important;
        margin-bottom: 20px !important;
        .sum-cube .x-dynamic-label-control{
            font-size: 70px !important;
        }

      }
}



//popup//

.k-widget.k-window{
    width: 60% !important;
}

.k-window-content{
    overflow: auto !important;
}

.k-widget.k-window #TafnitCore_SaaSServer_Funding_B2B_UI_LotSelect .text-lot{
    margin-top: 2px;
    margin-bottom: -2px;
}

.k-widget.k-window:has(#TafnitCore_SaaSServer_Funding_B2B_UI_AddLoaner){
    width: 100% !important;
    max-width: 95%;
}





#TafnitCore_SaaSServer_Funding_B2B_UI_Simulation .main-bdi{
    flex: 0 0 53%;
    max-width: 53%;
}


.col-slider{
    grid-template-columns: 1fr 28%;
    align-items: center;
    flex: 0 0 48%;
    margin-left: 20px;

    .xstyle-islider-wrapper{
        margin-top: 28px;
        gap: 20px;

        label{
            font-size: 14px;  
            margin-top: -17px;
        }

        .col-4{
            flex: 0 0 37.3333%;
            max-width: 37.3333%;
        }

        .col-8{
            flex: 0 0 55.666667%;
        }
    }
}

#TafnitCore_SaaSServer_Funding_B2B_UI_Login{

    .logo-img .x-image-wrapper{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        
        img{
            width: 216px !important;
            height: auto !important;
        }
    }

    img{
        height: 163px;
    width: 100%;
    }
}
}