.list{

    display: grid;
    grid-template-columns: auto 1fr;
    gap:4px;
    &::after{
        width: 11px;
    height: 11px;
    background: #FF780B;
    content: "";
    position: absolute;
    top: 8px;
    right: -16px;
       }
    label{
        width:max-content;
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        color: #323C4B;
 

    }

    span{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        margin-top: -4px;
        color: #323C4B;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}