//Company//
$Logo-tafnit:var(--Logo-tafnit);
$Logo-tafnit:var(--Logo-tafnit);
$Logo-tafnit-disable:var(--Logo-tafnit-disable);
$Logo-tafnit-disable-light:var(--Logo-tafnit-disable-light);

//Basic//

$Text-Basic:var(--Text-Basic);
$Text-placeholder:var(--Text-placeholder);
$Text-disable:var(--Text-disable);
$Background-main-screen:var(--Background-main-screen);
$Background-cube:var(--Background-cube);

$Drawer-line:var(--Drawer-line);
$Main-color:var(--Main-color);
$Drawer:var(--Drawer);
$Text-link:var(--Text-link);

$Requier:var(--Requier);
$Contacts-menu:var(--Contacts-menu);
$Notifications:var(--Notifications);
$Warning:var(--Warning);

//Grid//


$Text-Basic:var(--Text-Basic);
$Grid-text-title:var(--Grid-text-title);
$Grid-icon-filter-off:var(--Grid-icon-filter-off);
$Title-filtered-value:var(--Title-filtered-value);
$Button-filter-second:var(--Button-filter-second);
$Grid-stroke-under-line:var(--Grid-stroke-under-line);
$Popup-filter-background:var(--Popup-filter-background);
$Background-filtered-value:var(--Background-filtered-value) ;
$Grid-line:var(--Grid-line);
$Grid-checkBox-border:var(--Grid-checkBox-border);
$Grid-color-title-th:var(--Grid-color-title-th);
$Grid-color-text-td:var(--Grid-color-text-td);
$grid-icon-search-color:var(--grid-icon-search-color);
$Grid-checkBox-bg:var(--Grid-checkBox-bg);
$grid-header-title-background:var(--grid-header-title-background);
$grid-header-toolbar-border-color:var(--grid-header-toolbar-border-color);
$grid-header-filter-active-background:var(--grid-header-filter-active-background);
$grid-header-filter-active-color:var(--grid-header-filter-active-color);
$grid-border-td:var(--grid-border-td);
$grid-filter-icon:var(--grid-filter-icon);
$grid-header-text-color:var(--grid-header-text-color);
$grid-header-background:var(--grid-header-background);
$grid-tr-background-hover:var(--grid-tr-background-hover);
$grid-tr-background-k-alt:var(--grid-tr-background-k-alt);
$grid-header-serach-float:var(--grid-header-serach-float);
$grid-header-serach-border:var(--grid-header-serach-border);
$grid-header-serach-border-radius:var(--grid-header-serach-border-radius);
$grid-color-link-td:var(--grid-color-link-td);
$grid-scrollbar-color:var(--grid-scrollbar-color);
$grid-scrollbar-color-hover:var(--grid-scrollbar-color-hover);
$Icons:var(--Icons);
$Grid-icon-filter-on:var(--Grid-icon-filter-on);
$Button-filter:var(--Button-filter);
$Current-number-page:var(--Current-number-page);
$Number-page:var(--Number-page);
$Grid-line-hover:var(--Grid-line-hover);

// button //

$Button-bg-hover:var(--Button-bg-hover);
$Button-bg-disabled:var(--Button-bg-disabled);
$Button-border-disabled:var(--Button-border-disabled);
$Button-color-disabled:var(--Button-color-disabled);
$Button-color-text:var(--Button-color-text);
$Button-color-border:var(--Button-color-border);
$Button-color-border-focus:var(--Button-color-border-focus) ;
$Button-color-filter-focus:var(--Button-color-filter-focus);
$Button-color-icon:var(--Button-color-icon);
$Button-bg:var(--Button-bg);
$Button-float-bg:var(--Button-float-bg);
$Button-float-color:var(--Button-float-color);
//Button + icons + popup//


$Text-Basic:var(--Text-Basic);
$Popup-button-primary-base:var(--Popup-button-primary-base);
$User-screen-button-hover:var(--User-screen-button-hover);
$Button-important-icons:var(--Button-important-icons);
$User-screen-button-primary-base:var(--User-screen-button-primary-base);
$Button-background:var(--Button-background);

$Popup-button-press:var(--Popup-button-press);
$Button-important-background:var(--Button-important-background);
$Popup-button-hover:var(--Popup-button-hover) ;
$Button-icons:var(--Button-icons);
$Icon-close-drawer:var(--Icon-close-drawer);

// new //


/*controls*/
$control-caption-color-text:var(--control-caption-color-text);
$control-background:var(--control-background);
$control-border-input:var(--control-border-input);
$control-color-input:var(--control-color-input);
$control-radius-input:var(--control-radius-input);
$control-caption-color-text-disable:var(--control-caption-color-text-disable);
$control-border-input-disable:var(--control-border-input-disable);
$control-border-focus:var(--control-border-focus);
$control-box-shadow-focus:var(--control-box-shadow-focus);
$control-color-placeholder:var(--control-color-placeholder);
$control-color-icon:var(--control-color-icon);
$control-border-error:var(--control-border-error);

//calnder //

$calendar-box-shadow:var(--calendar-box-shadow);
$calendar-bg-header:var(--calendar-bg-header);
$calendar-color-icon-header:var(--calendar-color-icon-header);
$calendar-color-text-header:var(--calendar-color-text-header);
$calendar-bg-body:var(--calendar-bg-body);
$calendar-border-bottom-body:var(--calendar-border-bottom-body);
$calendar-body-button-color:var(--calendar-body-button-color);
$calendar-body-butoon-color-text-focus:var(--calendar-body-butoon-color-text-focus);
$calendar-body-butoon-bg-focus:var(--calendar-body-butoon-bg-focus);
$calendar-body-butoon-color-text-hover:var(--calendar-body-butoon-color-text-hover);
$calendar-body-butoon-border-hover:var(--calendar-body-butoon-border-hover);
$calendar-month-color-days-focus:var(--calendar-month-color-days-focus);
$calendar-month-bg-days-focus:var(--calendar-month-bg-days-focus);
$calendar-month-color-today:var(--calendar-month-color-today);
$calendar-month-border-today:var(--calendar-month-border-today);
$calendar-month-color-days-other-month:var(--calendar-month-color-days-other-month);
$calendar-month-border-other-month-hover:var(--calendar-month-border-other-month-hover);
$calendar-month-color-other-month-hover:var(--calendar-month-color-other-month-hover);
$calendar-month-color-title:var(--calendar-month-color-title);
$calendar-month-color-days:var(--calendar-month-color-days);
$calendar-month-color-days-hover:var(--calendar-month-color-days-hover);
$calendar-month-border-days-hover:var(--calendar-month-border-days-hover);
$calendar-fotter-color-text:var(--calendar-fotter-color-text);

//label//

%texbox-label{

   
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px ;
    line-height: 21px;
    text-align: right;
    color: $control-caption-color-text;
    margin: 0;
}

// popup //
$popup-border:1px solid #7E7B7B;
$popup-bg:white;
$popup-color-text:#000;
$popup-bg-selected:#FAF6F0;
$popup-color-text-selected:#8EBBCF;
$popup-bg-hover:#FAF6F0;
$popup-color-text-hover:#8EBBCF;


// row //

$row-main-vanilla-box-shadow:0px 4px 8px rgba(187, 216, 229, 0.2), 0px 1px 3px rgba(187, 216, 229, 0.5);
$row-main-vanilla-border-radius:10px;
$row-main-vanilla-padding:30px;
$row-main-vanilla-bg:#FFFFFF;

$row-radius-vanilla-border-radius:40px;

$row-border-vanilla-border:1px solid #A1A3A5;

$row-bg-color-vanilla-bg:#FBFBFB;
$row-bg-color-vanilla-box-shadow:0px 4px 10px rgba(217, 217, 217, 0.5), 0px 0px 4px #D9D9D9;

$row-hidden-vanilla-border-radius:0px;
$row-hidden-vanilla-box-shadow:none;
$row-hidden-vanilla-bg:none;

//input//

%texbox-input{

    height: 50px;
    background: $control-background;
    border: $control-border-input ;
    border-radius: $control-radius-input;
    padding: 10px 20px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px ;
    color: $control-color-input;
    text-align: right;
    width: 100%;
}


// disable // 

%texbox-input-disable{

    background: $control-background;
    border:$control-border-input-disable;
}

// disable-caption // 

%texbox-label-disable{
    color: $control-caption-color-text-disable;
}


:root{
   --Logo-tafnit: #{#64328A}; 
   --Logo-tafnit: #{gradient(0deg, #1687C9 0%, #1998D5 17%, #1CA9E1 41%, #1EB2E8 66%, #1FB6EB 100%)}; 
   --Logo-tafnit-disable: #{ #B3B3B3}; 
   --Logo-tafnit-disable-light: #{ #E1E1E1}; 
   --Text-Basic: #{ black}; 
   --Text-placeholder: #{ #7E7B7B}; 
   --Text-disable: #{ #D9D9D9}; 
   --Background-main-screen: #{#FBFBFB}; 
   --Background-cube: #{ White}; 
   --Drawer-line: #{#690779}; 
   --Main-color: #{#7D0A8C}; 
   --Drawer: #{ #7D0A8C}; 
   --Text-link: #{#7D0A8C}; 
   --Requier: #{#FF7A00}; 
   --Contacts-menu: #{ #037295}; 
   --Notifications: #{ #c3ce65}; 
   --Warning: #{ #EE0909}; 
   --Text-Basic: #{ black}; 
   --Grid-text-title: #{ #7E7B7B}; 
   --Grid-icon-filter-off: #{#7E7B7B}; 
   --Title-filtered-value: #{#7E7B7B}; 
   --Button-filter-second: #{ #D9D9D9}; 
   --Grid-stroke-under-line: #{#F5F5F5}; 
   --Popup-filter-background: #{#F5F5F5}; 
   --Background-filtered-value: #{#F5F5F5}; 
   --Grid-line: #{#FFFFFF}; 
   --Grid-checkBox-border: #{#007FC1}; 
   --Grid-color-title-th: #{#323C4B }; 
   --Grid-color-text-td: #{#323C4B }; 
   --grid-icon-search-color: #{#007FC1}; 
   --Grid-checkBox-bg: #{#007FC1}; 
   --grid-header-title-background: #{ none}; 
   --grid-header-toolbar-border-color: #{#fff}; 
   --grid-header-filter-active-background: #{#ccc}; 
   --grid-header-filter-active-color: #{#fff}; 
   --grid-border-td: #{ 1px solid #F5F5F5}; 
   --grid-filter-icon: #{#DA3382}; 
   --grid-header-text-color: #{#868387}; 
   --grid-header-background: #{#ffffff }; 
   --grid-tr-background-hover: #{#CDE7F2  }; 
   --grid-tr-background-k-alt: #{#FCFCFC  }; 
   --grid-header-serach-float: #{right}; 
   --grid-header-serach-border: #{1px solid #ccc}; 
   --grid-header-serach-border-radius: #{1px solid #ccc}; 
   --grid-color-link-td: #{#DA3382}; 
   --grid-scrollbar-color: #{#da3382}; 
   --grid-scrollbar-color-hover: #{#bb2e71}; 
   --Icons: #{ #7D0A8C}; 
   --Grid-icon-filter-on: #{ #7D0A8C}; 
   --Button-filter: #{#7D0A8C}; 
   --Current-number-page: #{#7D0A8C}; 
   --Number-page: #{#DDC3E7}; 
   --Grid-line-hover: #{#FAF6FC}; 
   --Button-bg-hover: #{#BB2E71}; 
   --Button-bg-disabled: #{#FFFFFF}; 
   --Button-border-disabled: #{#ADB5BD}; 
   --Button-color-disabled: #{#ADB5BD}; 
   --Button-color-text: #{ #FFFFFF}; 
   --Button-color-border: #{none}; 
   --Button-color-border-focus: #{ #FAC9E0}; 
   --Button-color-filter-focus: #{drop-shadow(0px 0px 6px rgba(255, 120, 11, 0.2))}; 
   --Button-color-icon: #{#DA3382}; 
   --Button-bg: #{#DA3382}; 
   --Button-float-bg: #{#007FC1}; 
   --Button-float-color: #{ white}; 
   --Text-Basic: #{ black}; 
   --Popup-button-primary-base: #{ #F5F5F5}; 
   --User-screen-button-hover: #{#F5F5F5}; 
   --Button-important-icons: #{ white}; 
   --User-screen-button-primary-base: #{ white}; 
   --Button-background: #{ white}; 
   --Popup-button-press: #{#690779}; 
   --Button-important-background: #{#7D0A8C}; 
   --Popup-button-hover: #{#7D0A8C}; 
   --Button-icons: #{#7D0A8C}; 
   --Icon-close-drawer: #{#DDC3E7}; 
   --control-caption-color-text: #{ #323C4B}; 
   --control-background: #{ #FFFFFF}; 
   --control-border-input: #{ 1px solid #D9D9D9}; 
   --control-color-input: #{#000000}; 
   --control-radius-input: #{0px}; 
   --control-caption-color-text-disable: #{ #C7C7C7}; 
   --control-border-input-disable: #{ 1px solid #D9D9D9}; 
   --control-border-focus: #{1px solid #D9D9D9}; 
   --control-box-shadow-focus: #{ 0px 6px 5px 0px rgba(187, 216, 229, 0.30)}; 
   --control-color-placeholder: #{#D9D9D9}; 
   --control-color-icon: #{#94B6C6}; 
   --control-border-error: #{1px solid #EE0909}; 
   --calendar-box-shadow: #{rgba(123, 9, 139, 0.1) 0px 0px 10px, rgba(123, 9, 139, 0.1) 0px 5px 8px }; 
   --calendar-bg-header: #{#FCFCFC}; 
   --calendar-color-icon-header: #{#7B098B}; 
   --calendar-color-text-header: #{#000000}; 
   --calendar-bg-body: #{#F5F5F5}; 
   --calendar-border-bottom-body: #{1px solid #7B098B}; 
   --calendar-body-button-color: #{#650872}; 
   --calendar-body-butoon-color-text-focus: #{white}; 
   --calendar-body-butoon-bg-focus: #{#7B098B}; 
   --calendar-body-butoon-color-text-hover: #{ #650872}; 
   --calendar-body-butoon-border-hover: #{1px solid #690779}; 
   --calendar-month-color-days-focus: #{#ffffff}; 
   --calendar-month-bg-days-focus: #{#650872}; 
   --calendar-month-color-today: #{#650872}; 
   --calendar-month-border-today: #{ 1px solid #690779}; 
   --calendar-month-color-days-other-month: #{#8E8E8E}; 
   --calendar-month-border-other-month-hover: #{1px solid #8E8E8E}; 
   --calendar-month-color-other-month-hover: #{#8E8E8E}; 
   --calendar-month-color-title: #{#650872}; 
   --calendar-month-color-days: #{#650872}; 
   --calendar-month-color-days-hover: #{#650872}; 
   --calendar-month-border-days-hover: #{1px solid #690779}; 
   --calendar-fotter-color-text: #{#7B098B}; 
}