

@import './Page/RemarksOrder.scss';
@import './Page/OrderNumber';
@import './Page/TradeIn';
@import './Page/AddAccessory.scss';
@import './Page/LookUp';

@import './components/radiobutton';
@import './components/drawer';
@import './components/label';
@import './components/button';
@import './components/link';

@import './variables/variables';


.fa-bars{
    font-size: 17px !important;
    color: black !important;
}
.k-overlay{
    opacity: 0.3 !important;
}
.xstyle-vkeyboard-wrapper input.x-textbox, 
.xstyle-numberrange-wrapper .x-numberrange input, 
.xstyle-multiselect-wrapper .x-multiselect-wrapper, 
.x-phoneNumber_wrapper .intl-tel-input input, 
.xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp, 
.xstyle-combobox-wrapper .x-combobox.k-combobox-clearable, 
.xstyle-autocomplete-wrapper .k-autocomplete, 
.xstyle-autocomplete-wrapper.k-state-disabled input.k-textbox, 
.xstyle-googleaddress-wrapper .x-control-content-wrapper, 
.xstyle-textwithbuttonsimple-wrapper .x-text-control-container, 
.xstyle-textcontrol-wrapper input, .xstyle-testcontrol-wrapper input, 
.xstyle-textareacontrol-wrapper textarea, .xstyle-textareaforut-wrapper textarea, 
.xstyle-password-wrapper input, .xstyle-daterange-wrapper .k-dateinput, 
.xstyle-date-wrapper span.k-datepicker, .xstyle-date-wrapper span.x-datetimepicker, 
.xstyle-date-wrapper span.x-timepicker.span, .xstyle-date-wrapper span.x-datePickerResponsive, 
.xstyle-datetimepicker-wrapper span.k-datepicker, .xstyle-datetimepicker-wrapper span.x-datetimepicker, 
.xstyle-datetimepicker-wrapper span.x-timepicker.span, .xstyle-datetimepicker-wrapper span.x-datePickerResponsive, 
.xstyle-timepicker-wrapper span.k-datepicker, .xstyle-timepicker-wrapper span.x-datetimepicker, 
.xstyle-timepicker-wrapper span.x-timepicker.span, .xstyle-timepicker-wrapper span.x-datePickerResponsive, 
.xstyle-daterangev2-wrapper span.k-datepicker, .xstyle-daterangev2-wrapper span.x-datetimepicker, 
.xstyle-daterangev2-wrapper span.x-timepicker.span, .xstyle-daterangev2-wrapper span.x-datePickerResponsive, 
.xstyle-date-wrapper .s-datePickerResponsive.x-datePicker-mobile, 
.xstyle-datetimepicker-wrapper .s-datePickerResponsive.x-datePicker-mobile, 
.xstyle-timepicker-wrapper .s-datePickerResponsive.x-datePicker-mobile, 
.xstyle-daterangev2-wrapper .s-datePickerResponsive.x-datePicker-mobile, 
.x-sectionDamageTypeAndCamera .x-pointNotesArea #notesAreaP,
.x-selection-lookup input{
    border-radius: 6px !important;
}


.xstyle-vkeyboard-wrapperx, 
.xstyle-numberrange-wrapper, 
.xstyle-multiselect-wrapper , 
.x-phoneNumber_wrapper, 
.xstyle-idropdownlist-wrapper, 
.xstyle-combobox-wrapper, 
.xstyle-autocomplete-wrapper, 
.xstyle-autocomplete-wrapper.k-state-disabled, 
.xstyle-googleaddress-wrapper, 
.xstyle-textwithbuttonsimple-wrapper , 
.xstyle-textcontrol-wrapper,  
.xstyle-textareacontrol-wrapper textarea, 
.xstyle-password-wrapper , 
.xstyle-daterange-wrapper, 
.xstyle-date-wrapper span.k-datepicker,  
.xstyle-date-wrapper span.x-timepicker.span, 
.xstyle-datetimepicker-wrapper span.k-datepicker,
.x-selection-lookup {
  label{
    font-size: 12px !important;
  }
}

.k-window{
    border-radius: 6px;
}

.icon-xtar-help{
  color: black;
}


.xstyle-gridv4-wrapper .x-grid-control .k-grid-content tr td:has(.k-grid-delete){
  justify-content:start;
}

.xstyle-gridv4-wrapper .x-grid-control .k-grid-content tr td a:has(.icon-xtar-wf-edit2){

  text-decoration: none;
  float: left;

  i{
    font-size: 18px;
  }
}