//Company//


$Logo-tafnit:#64328A;
$Logo-tafnit:gradient(0deg, #1687C9 0%, #1998D5 17%, #1CA9E1 41%, #1EB2E8 66%, #1FB6EB 100%);
$Logo-tafnit-disable: #B3B3B3;
$Logo-tafnit-disable-light: #E1E1E1;

//Basic//

$Text-Basic: black;
$Text-placeholder: #7E7B7B;
$Text-disable: #D9D9D9;
$Background-main-screen:#FBFBFB;
$Background-cube: White;

$Drawer-line:#690779;
$Main-color:#7D0A8C;
$Drawer: #7D0A8C;
$Text-link:#7D0A8C;

$Requier:#FF7A00;
$Contacts-menu: #037295;
$Notifications: #c3ce65;
$Warning: #EE0909;

//Grid//


$Text-Basic: black;
$Grid-text-title: #7E7B7B;
$Grid-icon-filter-off:#7E7B7B;
$Title-filtered-value:#7E7B7B;
$Button-filter-second: #D9D9D9;
$Grid-stroke-under-line:#F5F5F5;
$Popup-filter-background:#F5F5F5;
$Background-filtered-value:#F5F5F5; 
$Grid-line:#FFFFFF;


$Icons: #7D0A8C;
$Grid-icon-filter-on: #7D0A8C;
$Button-filter:#7D0A8C;
$Current-number-page:#7D0A8C;
$Number-page:#DDC3E7;
$Grid-line-hover:#FAF6FC;

//Button + icons + popup//


$Text-Basic: black;
$Popup-button-primary-base: #F5F5F5;
$User-screen-button-hover:#F5F5F5;
$Button-important-icons: white;
$User-screen-button-primary-base: white;
$Button-background: white;

$Popup-button-press:#690779;
$Button-important-background:#7D0A8C;
$Popup-button-hover:#7D0A8C; 
$Button-icons:#7D0A8C;
$Icon-close-drawer:#DDC3E7;
