@import './variable/variable';

// @import './components/toggleswitch';


.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) {

    .k-widget {
        padding: 0 !important;

        .k-window-titlebar {
            background: #F5F5F5 !important;
            width: 100%;
        }

        .k-window-actions {
            margin: none !important;
        }

        .k-window-actions {
            margin-left: 20px !important;
        }

        .row:last-of-type {
            .col-12:nth-of-type(1) {
                flex-grow: 0;
                flex: none;

                button {
                    width: fit-content !important;
                    padding-inline: 20px;
                    border-radius: 4px;
                    background: #159BC5;
                    color: white;
                }

                button:hover {
                    background: #29AFD9;
                }
            }

            .col-12:nth-of-type(2) {
                flex-grow: 0;
                width: fit-content;
                flex: none;

                button:hover {
                    color: white;
                    background: #29AFD9;
                }


                button {
                    width: fit-content !important;
                    padding-inline: 20px;
                    border-radius: 4px;
                    border: 1px solid #159BC5;
                    background: #FFF;
                    color: #159BC5;

                }
            }
        }

    }
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio {


    .xtafnit_pageContainer {
        height: auto;
    }

    * {
        transition: all 100ms cubic-bezier(0.62, -0.07, 0.69, 1.25);
    }

    .border {
        border: none;
    }

    .xstyle-itoolbar-wrapper:nth-of-type(1) {
        display: none;
    }



    .header-studio {
        padding-inline: 30px;
    }

    width: 100%;
    height: clamp(400px, 100vh, 100vh);
    display: flex;
    flex-direction: column;

    .x-control-caption-wrapper {
        display: flex;
    }

    button,
    a {
        cursor: pointer !important;
    }

    .container {
        padding: 0 !important;
    }

    &>mainbody {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        position: relative;
    }

    .container.pageContainer.xtafnit_pageContainer {
        margin: 0 !important;
    }

    div[uxid=colControlType] {
        & * {
            color: white;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:$title-component-title-component-bg-default;
        padding: 10px 20px !important;
        flex-direction: row;
    }

    div[xid=controlxstudioMainpanel] {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div[xid=controlxstudioMainpanel]>div {
        height: 100%;
        overflow: auto;
        max-height: calc(85vh - 1rem);
        display: flex;
        flex-direction: column;
        flex-grow: 0;

        mainbody {
            flex: 1 1 auto;
            margin: 0 !important;
        }

        header,
        footer,
        mainbody {
            position: relative;
            background-image: none;
            background-color: none;
            background: white;
            padding-bottom: unset !important;
        }
    }

    .ux-studio-border.ux-studio-xtafnit-container {

        header,
        footer,
        mainbody {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFC328FF' stroke-width='1' stroke-dasharray='30%2c 20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e") !important;
        }

        header.ux-studio-border-hover,
        footer.ux-studio-border-hover,
        mainbody.ux-studio-border-hover {
            background-image: none !important;
            border: 1px solid #E2AB1D !important;
        }

        header.ux-studio-border-hover::before,
        footer.ux-studio-border-hover::before,
        mainbody.ux-studio-border-hover::before {
            background-color: #E2AB1D;
        }


        .x-row {
            border-radius: 0;
        }

        .row,
        header,
        footer,
        mainbody {
            margin-block: 15px;
            padding: 15px;
        }

        mainbody {
            position: relative;
        }

        .row,
        .col {
            padding-block: 20px;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C8C8C8FF' stroke-width='1' stroke-dasharray='20%2c 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e") !important;
        }

        .row.ux-studio-border-hover,
        .col.ux-studio-border-hover {
            background-image: none !important;
            border: 1px solid #A1A3A5 !important;
        }

        .row.ux-studio-border-hover::before,
        .col.ux-studio-border-hover::before,
        .x-control-wrapper.ux-studio-border-hover::before {
            background-color: #a1a3a5;
        }

        .x-control-wrapper {
            margin-block: 20px;
            padding: 5px;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C8C8C8FF' stroke-width='1' stroke-dasharray='20%2c 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e") !important;

            &.ux-studio-bottom-border {
                border-bottom: 2px solid #074b5f !important;
            }

            &.ux-studio-top-border {
                border-top: 2px solid #074b5f !important;
            }
        }

        .x-control-wrapper.ux-studio-border-hover {
            background-image: none !important;
            border: 1px solid #A1A3A5 !important;
        }



        header::before,
        footer::before,
        mainbody::before,
        .row::before,
        .col::before,
        .x-control-wrapper::before {
            content: attr(data-controlType);
            position: absolute;
            top: -15px;
            left: 0;
            background-color: $studio-primary-400;
            padding-inline: 5px;
            color: $vanilla-other-white;
            font-family: Heebo;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        header::before,
        footer::before,
        mainbody::before {
            background-color: #FFC328;
        }


        .ux-studio-selected {
            background-image: none !important;
            border: 1px solid #2950D9 !important;
        }

        .ux-studio-selected::before {
            content: attr(data-controlType)"  \e9b8";
            background-color: #2950D9;
        }
    }

    .ux-studio-disabled-container #xTabPageTabPropsTabElementProps {

        .row,
        .col {
            background-color: $properties-list-proprties-list-bg-disable !important;
            pointer-events: none !important;

            &>* {
                color: $properties-list-proprties-list-text-disable !important;
            }
        }

    }

    &,
    div[uxid=xstudioMainRow] {
        border-radius: 0;
        padding: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    input[xid=controlcomboSearch] {
        border: 1px solid $text-field-text-field-input-default-border;
        background: $color-other-white;
        text-align: left;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    div[uxid=xstudioMainRow] {
        height: 100%;
        max-height: 96vh;
        background-color: white;
        display: grid;
        grid-template-columns: minmax(100px, 300px) 1fr minmax(100px, 300px);
        justify-content: center;
        padding-block: 20px !important;

        &>div:nth-of-type(1) {
            max-height: 88vh !important;
        }

        &>div:nth-of-type(4) {
            max-height: 80vh !important;
        }

        &>div:nth-of-type(1),
        &>div:nth-of-type(4) {
            @extend .ux-studio-specific-styling;
        }

        .x-treeview,
        div[uxid=xstudioComponent] {
            direction: ltr;
        }

        &>.col {
            padding-inline: 10px;
        }
    }

    div[uxid=xstudioMainpanelCol] {
        display: flex;
        flex-direction: column;
        height: 100%;

        & mainbody {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px;

            direction: ltr;
        }
    }

    div[uxid=xstudioMainpanelCol]>:nth-child(2) {
        max-height: 84vh;
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 100%;
    }

    div[uxid=xstudioMainpanelCol] {
        width: 100%;
        height: 100%;
        flex: 1 1 auto;

        .one {
            height: 100% !important;
            max-height: 84vh;
        }

        header,
        footer {
            margin-block: 20px !important;
            padding: 15px;
            min-height: 40px;
            position: relative;
            width: 100%;
        }

        header:has(div),
        footer:has(div) {
            min-height: unset;
        }
    }

    .xstyle-itreeview-wrapper {
        direction: ltr !important;
        max-height: 82vh;


        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background: #ffff;
        }

        &::-webkit-scrollbar-thumb {
            background: #29AFD9;
            border-radius: 10px;
        }


        &::-webkit-scrollbar-thumb:hover {
            background: darken(#29AFD9, 5);
        }

        .bg-warning {
            background: #29b0d975 !important;
        }
    }


    // |--------------------------------------------------------------------------------------------------
    // |  THIS STYLE ONLY APPLIES TO UX STUDIO SPECIFIC ELEMENTS
    // |--------------------------------------------------------------------------------------------------

    .ux-studio-specific-styling {

        .col,
        .col-1,
        .col-10,
        .col-11,
        .col-12,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-auto,
        .col-lg,
        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-auto,
        .col-md,
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-auto,
        .col-sm,
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-auto,
        .col-xl,
        .col-xl-1,
        .col-xl-10,
        .col-xl-11,
        .col-xl-12,
        .col-xl-2,
        .col-xl-3,
        .col-xl-4,
        .col-xl-5,
        .col-xl-6,
        .col-xl-7,
        .col-xl-8,
        .col-xl-9,
        .col-xl-auto {
            padding: 0;
        }

        .xstyle-textwithbuttonsimple-wrapper {
            span.x-textbox {
                padding: 0;
                border: none;
            }

            input.x-textbox,
            .x-text-control-container {
                width: 100%;
            }

            padding: 0%;
        }

        .x-textbox {
            border-radius: 0;
            border: 1px solid var(--text-field-text-field-input-default-border, #D9D9D9);
            display: flex;
            height: 30px;
            padding: 5px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            min-height: 30px;
            font-size: 13px;
        }

        .x-control-caption-text {
            color: var(--text-field-text-field-caption, #077294);
            text-align: left;

            /* desktop/label/default */
            font-family: Heebo;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 16.8px */
        }

        .filled button {

            padding: 10px 20px !important;
            border-radius: 10px !important;
            background: var(--btn-btn-primary-bg-default, #159BC5) !important;
            color: var(--btn-btn-primary-text-default, #FFF) !important;
            text-align: center !important;
            font-family: Heebo !important;
            font-size: 0.9rem !important;
            font-style: normal !important;
            font-weight: 500 !important;
            line-height: 120% !important;
        }

        .outlined button {

            padding: 5px !important;
            color: var(--btn-btn-primary-bg-default, #159BC5) !important;
            text-align: center !important;
            border: none !important;
            background-color: transparent !important;
            font-family: Heebo !important;
            font-size: 0.9rem !important;
            font-style: normal !important;
            font-weight: 500 !important;
            line-height: 120% !important;
        }

        .outlined button:hover {
            text-decoration: underline !important;
        }

        .k-header {
            direction: rtl;
        }

        .collapse>div {
            display: flex;
            cursor: default;
            flex-direction: column;
            gap: 10px;
            padding-block: 15px;
        }

        .xstyle-checkbox-wrapper {
            text-align: left;
            display: flex;
            justify-content: start;
            align-items: center;
            direction: ltr;

            li {
                display: flex;
                gap: 10px;
            }
        }
    }

    .x-pagePopup {
        padding-bottom: 20px !important;
    }


    #TafnitCore_System_UI_App_Tools_Studio_UxStudioSCPrompt {
        width: 620px;

        img {
            width: 230px;
        }

        .x-image-wrapper {
            text-align: center;
        }

        .x-control-wrapper {
            display: flex;
            flex-direction: column !important;
            align-items: left !important;
        }

    }

    .confirm-button button {
        border-radius: 4px;
        background: #159BC5;
        color: white;
    }

    .cancel-button button {
        border-radius: 4px;
        border: 1px solid #159BC5;
        background: #FFF;
        color: #159BC5;

    }

    .confirm-button button:hover {
        background: #29AFD9;
    }

    .cancel-button button:hover {
        color: white;
        background: #29AFD9;
    }


}


#TafnitCore_System_UI_App_Tools_Studio_SelectVersion {
    .x-control-wrapper {
        display: flex;
        flex-direction: column !important;
    }

    img {
        width: 230px;
    }

    .x-image-wrapper {
        text-align: center;
    }

}

#TafnitCore_System_UI_App_Tools_Studio_InitComplexControl {
    mainbody>*>div>div {
        flex-direction: row-reverse !important;
    }
}

@import './components/button';
@import './components/collapse';
@import './components/header';
@import './components/row';
@import './components/textcontrol';
@import './components/treeview-item';
@import './components/dropdown';
@import './components/popup';
@import './components/toggleswitch';