

.xstyle-xchart-wrapper{

    text{
        display: none;
    }
}

.xstyle-circularprogressbar-wrapper     {

.k-arcgauge-label{

    span{
        color: black !important;
        font-size: 20px;
        font-weight: 400;
    }
}
}