

.xstyle-textareacontrol-wrapper {

    margin-bottom: 15px;
    textarea{
        outline: none;
        background: #FFFFFF;
        border: 1px solid #C7C7C7;
        border-radius: 8px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: right;
        color: #000000;
        padding: 10px;
    }

    label{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #4E4E4E;
    }
}