

.xstyle-xmenu-wrapper{
    .x-xmenu{

        border:none;

        .k-menu-link {
        height: 50px;
        display: grid;
        align-items: center;
        padding: 15px;

        &.k-active{
            border: none;
            background: #FAF6F0 !important;
            border-radius: 50%;
        
        }
    }
    }
        .k-menu-item {
            background: none !important;
        }
    .k-animation-container{
      
        border-radius: 30px;
        background: white !important;
        border:none;
        top: 50px !important;
        left: 0 !important;
        height: auto !important;
        .k-menu-group{
       box-shadow: 0px 0px 6px 0px rgba(174, 139, 73, 0.10), 0px 8px 5px 0px rgba(174, 139, 73, 0.10) !important;
            border: none;
            border-radius: 8px;
            background: white;
            padding: 0px 0px;
            


            .xstyle-dynamiclabelcontrol-wrapper{
                padding: 15px 25px;
                border-bottom: 1px solid #E7E7E7;
                border-radius: 0px;
                span{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: #000000;
                }
            }


            .row-filter{
                padding: 10px 15px;
                 button{
                    width: 100% !important;
                    justify-content: center;
                    margin-top: 15px;
                 }

            }
        }
    }
}