



#TafnitCore_xHistadrut_UI_CustomerServiceCalls{

    //radio button // 

    .radio-border{
        flex: 0 0 95%;
        margin: auto;
        .x-radio-wrapper{
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 0px;
            justify-content: space-between;

            .x-RBComp{
                padding: 0 0  0 10px !important;
            }
        }


    }

     .customer-card{
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.5), 0px 0px 4px #D9D9D9;
        border-radius: 20px;
        width: 95%;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 20px 0;
        .part-1{
            display: grid;
            grid-template-columns: 1fr auto;
            span{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                color: #727272;
            }

        }
        .part-2{
            margin-top: 5px;

            .title{

                span{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 100%;
                    color: #0167B1;
                }
            }

            .text{
                span{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    color: #727272;
                }
            }

        }
        .part-3{
            display: grid;
            grid-template-columns: 1fr auto;
            margin-top: 20px;
            padding: 15px 20px 0px;
            align-items: center;
            border-top: 1px solid #DEDEDE;

            .xstyle-kicon-wrapper:has(.x-kicon-caption){

                &.open{
                    .fa-circle{
                        color: #77AB1A;
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }

                &.closed{
                    .fa-circle{
                        color: #E51925;
                        margin-left: 10px;
                    }
                }

                &.canceld{
                    .fa-circle{
                        color: #AAAAAA;
                        margin-left: 10px;
                    }
                }

                .x-kicon-caption{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    color: #000000;
                }
            }


            .fa-chevrons-left{
                color: #0167B1 ;
            }

        }
     }




}