
@use '../variable/variable' as *;


.xstyle-textcontrol-wrapper {
    margin-top: 15px;
// disable // 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */


    &.k-state-disabled{ 

      opacity: 1;

        & input.k-textbox{

          background: #F7F7F7 !important;
           
        }

        & label{
            color: $control-caption-color-text-disable !important; 
          }
    }


    & input{
      @extend %texbox-input;
      padding-right: 10px !important;

      &.x-login-user-error{
        
        border-bottom: 1px solid #DB0000 !important;
      }

        &:focus{
            box-shadow:$control-box-shadow-focus !important;
            border: $control-border-focus !important;
        }

        &::placeholder{

            color: $control-color-placeholder !important;

        }
    }

    & label{
        @extend %texbox-label;

    }
}






