@use '../variable/variable' as * ;

.xstyle-upload-wrapper {
    min-width: 300px;
}
.k-button-solid-base:focus{
    box-shadow: none !important;
    border: none;
}



.k-upload-files.k-reset{

    border-top:$upload-border-color !important;

    .k-file-group.k-icon{
        display: none;
    }
.k-file-name-size-wrapper{
    margin: 0 !important;
}
    .k-file-name{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: right;
        color: $upload-name-file-color;
        white-space: break-spaces;
        margin-bottom: 5px;
    }

  

        .k-i-x:before {
            
            content: "\e904" !important;
            font-family: "icomoon";
            font-size: 12px;
        }


        & [class^="k-file-validation-message !k-text-success"]{

            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            text-align: right;
            color: $upload-success-text-color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
    
}