@use './components/header';
@use './components/row';
@use './components/cubeDashboard';
@use './components/drawer';
@use './components/grid';
@use './components/linkmenucontrol';
@use './components/firstPanel';
@use './components/textcontrol';
@use './components/datecontrol';
@use './components/dropdown';
@use './components/button';
@use './components/checkBox';
@use './components/orderCube';
@use './components/popup';
@use './components/messageBox';
@use './components/mandatory';
@use './components/autocomplete';
@use './components/payment-cube';
@use './components/total-panel';
@use './components/upload';
@use './components/login';




@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Heebo:wght@100;300;500&display=swap");


body,html{
    font-family: 'Heebo';
    background: #F8F8F8 !important;
}
.border.row{
    border: none !important;
}