$title-colo: #10A831;
$title-border: 1px solid #BDF2C9;;
$text-defult: #000000;

$icon-color-main: #4C7D32;
$icon-colot-text-main: #4C7D32;
$icon-play-stop-camera-bg: #4C7D32;
$icon-color-defult:#4C7D32;

$upload-coor-text-file: #7E7B7B;
$upload-coor-text-success: #10A831;
$upload-file-error-text: #DB0000;
$upload-file_error-icon-file: #DB0000;
$upload-title: #10A831;

$button-background: #10A831;
$button-press-background: #3F934D;
$button-Box-shadow:inset 4px 4px 10px rgba(90, 31, 105, 0.3);

$radio-button-on-background: #10A831 ;
$radio-button-on-drop-shadow: 0px 0px 4px #4C7D32;
$radio-button-label-text: #000000; 

$check-box-on-background: #10A831;
$check-box-on-drop-shadow:  0px 0px 4px #4C7D32;
$check-box-label-text: #000000;

$icon-color : #4C7D32;
$required: #4C7D32;
$focus-border:  #88DB9A;
$high-light-caption : #88DB9A;

$approve-icon-on: #4C7D32;

$box-shadow-footer:0px -4px 8px rgba(76, 125, 50, 0.2);

$messagebox-Box-shadow:0px -4px 8px rgba(76, 125, 50, 0.2);
$messagebox-icon-color:#4C7D32;
$messagebox-border-color:#4C7D32;

$signature-icon-before:#4C7D32;
$signature-icon-after:#4C7D32;


