.xstyle-jsondisplay-wrapper{
  .x-control-content-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;

    .json-viewer{
        padding: 0 !important;
    }
  }
   .type-string{
    word-wrap: break-word !important;
    white-space: normal;
   }
}