

// PALETTE 



// COMPONENTS 
$componentsVariables: (

);



$mandatory-color: #ff7100 ;



//grid//
$grid-filter-icon:#FF5A23 ;
$Grid-color-title-th:#0C0E1F ;
$Grid-color-text-td:#323C4B ;
$grid-icon-search-color:#14008E;
$Grid-checkBox-bg:#14008E;
$Grid-checkBox-border:#14008E;
// drower //

$drawer-background-color:#FFFFFF;
$drawer-box-shdow:0px 0px 10px rgba(35, 40, 115, 0.2);
$drawer-icon-color:#000000;
$drawer-color-text:#323C4B;
$drawer-color-link:#004070;
$overlay-color: #052136;

// button //

$Button-bg-hover:#927338 ;
$Button-color-text: #FFFFFF;
$Button-color-border:none;
$Button-color-border-focus:  #FFFFFF;
$Button-boxshadow-focus:  drop-shadow(0px 0px 6px #AE8B49);
$Button-color-icon:#AE8B49 ;
$Button-bg:#AE8B49 ;
$Button-float-bg:#14008E;
$Button-float-color: white;

//spicel-button//

$spicel-button-bg:#FFFFFF;
$spicel-button-color-text:#AE8B49 ;
$spicel-button-color-border:1px solid #AE8B49 ;

// control spicel //

$control-spicel-border: 1px solid #000000 ;
$control-spicel-color-text: #4E4E4E;
$control-spicel-radius-input:0px;

/*controls*/
$control-caption-color-text: #4E4E4E;
$control-background: #FFFFFF;
$control-border-input: 1px solid #000000;
$control-color-input:#323C4B;
$control-radius-input:0px;
$control-caption-color-text-disable: #C7C7C7;
$control-border-input-disable: 1px solid #E7E7E7;;
$control-border-focus:1px solid #AE8B49;;
$control-box-shadow-focus:none;
$control-color-placeholder:#ADB5BD;
$control-color-icon:#232873;
$control-border-error:1px solid #E91E63;
//calnder //

$calendar-box-shadow:0px 0px 6px rgba(255, 120, 11, 0.2);
$calendar-bg-header:#FCFCFC;
$calendar-color-icon-header:#ff7100 ;
$calendar-color-text-header:#000000;
$calendar-bg-body:#F5F5F5;
$calendar-border-bottom-body:1px solid #ff7100 ;
$calendar-body-button-color:#df6403 ; 
$calendar-body-butoon-color-text-focus:white;
$calendar-body-butoon-bg-focus:#df6403 ;
$calendar-body-butoon-color-text-hover: white;
$calendar-body-butoon-border-hover:1px solid #ff7100 ;
$calendar-month-color-days-focus:#ffffff;
$calendar-month-bg-days-focus:#ff7100 ;
$calendar-month-color-today:#ff7100 ;
$calendar-month-border-today: 1px solid #ff7100 ;
$calendar-month-color-days-other-month:#8E8E8E;
$calendar-month-border-other-month-hover:1px solid #8E8E8E;
$calendar-month-color-other-month-hover:#8E8E8E;
$calendar-month-color-title:#ff7100 ;
$calendar-month-color-days:#ff7100 ;
$calendar-month-color-days-hover:#ff7100 ;
$calendar-month-border-days-hover:1px solid #ff7100 ;;
$calendar-fotter-color-text:#14008E;

//checkBox //
$CheckBox-border:#323C4B;
$CheckBox-border-checked:#14008E;
$CheckBox-color-checked: #FFFFFF;
$CheckBox-caption:#000000;
$CheckBox--checked-bg: #14008E;


// cube-dasboard //
$Cube-dashboard-colot-text:#4B1754;
$Cube-dashboard-bg:#FCFCFC;
$Cube-dashboard-box-shadow:0px 0px 10px rgba(13, 13, 13, 0.1);
$Cube-dashboard-color-price:#7B098B;
$Cube-dashboard-color-icon:#4B1754;

//first-panel//

$first-panel-color-title:#7B098B;
$first-panel-color-icon-button:#7B098B;
$first-panel-border-icon-button:1px solid #7B098B;;
$first-panel-bg-icon-button:#FFFFFF;

// row //

$row-bg:#fff;
$row-box-shadow: 0px 0px 2px rgba(2, 111, 158, 0.1), 0px 8px 8px rgba(2, 111, 158, 0.15);


// popup //
$popup-border:1px solid #CED4DA;
$popup-bg:white;
$popup-color-text:#323C4B;
$popup-bg-selected:#EEF7FB;
$popup-color-text-selected:#14008E;
$popup-bg-hover:#EEF7FB;
$popup-color-text-hover:#14008E;


// cube-main//

$cube-main-box-shadow:0px 0px 10px rgba(35, 40, 115, 0.2);
$cube-main-title-color:#323C4B;
$cube-main-sum-color:#14008E;
$cube-main-sum-icon: #14008E;
$cube-main-card-border: 1px solid #14008E;
$cube-main-card-num-color: #14008E;
$cube-main-card-text-color: #323C4B;
$cube-main-card-icon: #14008E;
$cube-main-text-color: #323C4B;
$cube-main-route-text-color: #14008E;
$cube-main-price-color:#14008E;


// cube-small //

$small-cube-box-shdow:0px 0px 2px rgba(35, 40, 115, 0.1), 0px 8px 8px rgba(35, 40, 115, 0.15);
$small-cube-text-color: #14008E;
$small-cube-icon-color: #323C4B;



// B2B header //

$B2B-header-border-col: 1px solid #f1c779;
$B2B-header-icon:#14008E;
$B2B-header-box-shadow:0px 5px 10px rgba(2, 111, 158, 0.1);
$B2B-header-text-defult:#000000;
$B2B-header-link-color:#ff7100 ;





//label//

%texbox-label{

   
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 21px;
    text-align: right;
    color: $control-caption-color-text;
    margin: 0;
}

//input//

%texbox-input{

    height: 50px;
    background: $control-background;
    border: $control-border-input !important;
    border-radius: $control-radius-input;
    padding: 10px 20px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: $control-color-input;
    text-align: right;
}


%texbox-input-spicel{


    height: 50px;
    background: $control-background;
    border: $control-spicel-border!important;
    border-radius: $control-spicel-radius-input;
    padding: 15px 30px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: $control-spicel-color-text;
    text-align: right;

}
// disable // 

%texbox-input-disable{

    background: $control-background;
    border:$control-border-input-disable;
}

// disable-caption // 

%texbox-label-disable{
    color: $control-caption-color-text-disable;
}


// spicel button //

%spicel-button{
    height: 50px !important;
    background: $spicel-button-bg;
    border-radius: 8px;
    font-family: "Heebo";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: $spicel-button-color-text;
    border: $spicel-button-color-border;
    
}

// button//

%button{
    background: $Button-bg;
    border: 1px solid $Button-color-border;
    border-radius: 8px;
    align-items: center;
    height: 50px !important;
    color: $Button-color-text;
    font-family: 'Heebo' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}