@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo";
  src: url("./Heebo/static/Heebo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  src: url("./Assistant/static/Assistant-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans_SemiCondensed-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open_Sans";
  src: url("./Open_Sans/static/OpenSans_SemiCondensed-SemiBoldItalic.ttf") format("truetype");
}/*# sourceMappingURL=font.css.map */