


.k-window:has(#TafnitCore_SaaSServer_Portal_Default_UI_WizardInvoices){
    header{
        display: none;
    }

    height: auto !important;
}
#TafnitCore_SaaSServer_Portal_Default_UI_WizardInvoices{


    margin: 0;

    mainbody {
        margin-top: 0px !important;
    }
    
.xstyle-buttoncontrol-wrapper     {
    text-align: center;
}
}