@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Heebo:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
.xstyle-idropdownlist-wrapper label, .xstyle-password-wrapper label, .xstyle-textcontrol-wrapper label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 21px;
  text-align: right;
  color: #4E4E4E;
  margin: 0;
  height: 18px;
}

.xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp, .xstyle-password-wrapper input, .xstyle-textcontrol-wrapper input {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7 !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #323C4B;
  text-align: right;
}

.xstyle-password-wrapper.special-input input, .xstyle-textcontrol-wrapper.special-input input {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7 !important;
  border-radius: 8px;
  padding: 15px 30px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #4E4E4E;
  text-align: right;
}

.xstyle-buttoncontrol-wrapper.btn-special button {
  height: 50px !important;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #AE8B49;
  border: 1px solid #AE8B49;
}

.xstyle-buttoncontrol-wrapper button {
  background: #AE8B49;
  border: 1px solid none;
  border-radius: 8px;
  align-items: center;
  height: 50px !important;
  color: #FFFFFF;
  font-family: "Heebo" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#TafnitCore_Sales_V2_UI_Login {
  margin: 0;
  padding: 0;
}
#TafnitCore_Sales_V2_UI_Login .xstyle-checkbox-wrapper {
  margin-top: 20px;
}
#TafnitCore_Sales_V2_UI_Login mainbody {
  margin-top: 0 !important;
}
#TafnitCore_Sales_V2_UI_Login .logo img {
  background: white;
  padding: 15px;
  border-radius: 50%;
  width: 176px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -90px;
}
#TafnitCore_Sales_V2_UI_Login img {
  max-height: 550px;
  width: 100%;
}
#TafnitCore_Sales_V2_UI_Login .xstyle-buttoncontrol-wrapper button {
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 35px;
}
#TafnitCore_Sales_V2_UI_Login .x-footer {
  display: none;
}

#TafnitCore_Sales_V2_UI_Main {
  margin: 0;
  padding: 0 30px;
}
#TafnitCore_Sales_V2_UI_Main .x-row:has(.user) {
  margin-top: 30px;
  padding: 0 40px;
}
#TafnitCore_Sales_V2_UI_Main .x-row:has(.user) {
  padding: 0 0px;
}
#TafnitCore_Sales_V2_UI_Main .tabs-filter {
  padding: 0;
}
#TafnitCore_Sales_V2_UI_Main img {
  width: 100px;
  margin-bottom: 10px;
}

#TafnitCore_Sales_V2_UI_CustormerCart {
  margin-top: 0;
}
#TafnitCore_Sales_V2_UI_CustormerCart .xstyle-circularprogressbar-wrapper {
  margin-top: 40px;
}

#TafnitCore_Sales_V2_UI_RoomOptions {
  margin-top: -7px !important;
}
#TafnitCore_Sales_V2_UI_RoomOptions img {
  width: 100%;
}
#TafnitCore_Sales_V2_UI_RoomOptions .card-title {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

#TafnitCore_Sales_V2_UI_Product,
#TafnitCore_Sales_V2_UI_RoomOptionsDetails {
  margin-top: -7px !important;
}
#TafnitCore_Sales_V2_UI_Product img,
#TafnitCore_Sales_V2_UI_RoomOptionsDetails img {
  width: 100%;
}
#TafnitCore_Sales_V2_UI_Product .last-button,
#TafnitCore_Sales_V2_UI_RoomOptionsDetails .last-button {
  margin-top: -10px;
}

#TafnitCore_Sales_V2_UI_Product .tabs-filter {
  border-top: 1px solid #DEDEDE !important;
  padding-top: 20px;
  border-radius: 0 !important;
}

#TafnitCore_Sales_V2_UI_ItemConfiguration {
  margin-top: -7px !important;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration img {
  width: 100%;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .dataAndScrollview img {
  width: 100%;
  border-radius: 8px;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView {
  padding: 0 0px 0 40px;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 {
  justify-content: space-between;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex:has(.k-icon) {
  grid-template-columns: auto 1fr;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex:has(.k-icon) .xstyle-buttoncontrol-wrapper button {
  padding: 0 10px;
  width: 50px !important;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex .xstyle-buttoncontrol-wrapper .btn-special button {
  width: 100% !important;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex .xstyle-buttoncontrol-wrapper button {
  width: 100% !important;
}
#TafnitCore_Sales_V2_UI_ItemConfiguration .col-scrollview {
  margin-top: 25px;
}

#TafnitCore_Sales_V2_UI_ProjectNotes {
  margin-top: -7px !important;
}
#TafnitCore_Sales_V2_UI_ProjectNotes img {
  width: 100%;
}

#TafnitCore_Sales_V2_UI_ItemQuery {
  margin-top: -7px !important;
}
#TafnitCore_Sales_V2_UI_ItemQuery img {
  width: 100%;
}

#TafnitCore_Sales_V2_UI_NewCart {
  margin-top: -7px !important;
}
#TafnitCore_Sales_V2_UI_NewCart .secandary-title span {
  text-align: center !important;
}
#TafnitCore_Sales_V2_UI_NewCart .x-button-wrapper {
  text-align: center;
  margin-top: 20px;
}
#TafnitCore_Sales_V2_UI_NewCart .x-row:has(.user) {
  margin-top: 30px;
  padding: 0 40px;
}

#TafnitCore_Sales_V2_UI_SelectItems {
  margin: 0 !important;
}
#TafnitCore_Sales_V2_UI_SelectItems .x-footer {
  display: none;
}
#TafnitCore_Sales_V2_UI_SelectItems mainbody {
  padding-bottom: 0 !important;
}

#TafnitCore_Sales_V2_UI_Product .row-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
  padding: 0 40px;
}
#TafnitCore_Sales_V2_UI_Product .row-cards:has(.templatex-wrapper) {
  display: block;
}

.xstyle-textcontrol-wrapper {
  margin-top: 15px;
}
.xstyle-textcontrol-wrapper input::-webkit-outer-spin-button,
.xstyle-textcontrol-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.xstyle-textcontrol-wrapper.k-state-disabled {
  opacity: 1;
}
.xstyle-textcontrol-wrapper.k-state-disabled input.k-textbox {
  background: #F7F7F7 !important;
}
.xstyle-textcontrol-wrapper.k-state-disabled label {
  color: #C7C7C7 !important;
}
.xstyle-textcontrol-wrapper input {
  padding-right: 10px !important;
}
.xstyle-textcontrol-wrapper input.x-login-user-error {
  border-bottom: 1px solid #DB0000 !important;
}
.xstyle-textcontrol-wrapper input:focus {
  box-shadow: none !important;
  border: 1px solid #AE8B49 !important;
}
.xstyle-textcontrol-wrapper input::-moz-placeholder {
  color: #ADB5BD !important;
}
.xstyle-textcontrol-wrapper input::placeholder {
  color: #ADB5BD !important;
}
@media (max-width: 1024px) {
  .row-cards .templatex-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 30px !important;
  }
  .card-img .card-title {
    min-height: 60px;
    align-items: center;
  }
  #TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
  }
  #TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex .xstyle-buttoncontrol-wrapper.btn-special button {
    padding: 0 10px;
    width: auto !important;
  }
  #TafnitCore_Sales_V2_UI_ItemConfiguration .col-detailView .row-flex-2 .col-flex .xstyle-buttoncontrol-wrapper button {
    padding: 0 10px;
    width: 100% !important;
  }
  .list .x-control-content-wrapper {
    margin-top: -3px;
  }
  .list span {
    font-size: 16px !important;
  }
  .list label {
    font-size: 16px !important;
  }
  .xstyle-circularprogressbar-wrapper circle {
    stroke-width: 20 !important;
  }
  .xstyle-circularprogressbar-wrapper path {
    stroke-width: 20 !important;
  }
}
.col {
  padding: 0;
}

.border {
  border: none !important;
  background: none !important;
  width: 100%;
  margin: auto;
}

.x-row:has(.user) {
  margin-top: 0px;
  padding: 0 40px;
}

.row-center {
  left: 0;
  right: 0;
  width: 65%;
  margin: 0 auto;
  margin-top: 65px;
}

.row-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 40px;
}
.row-title span {
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-align: center !important;
  color: #AE8B49;
}

.row-hidden {
  box-shadow: none;
  border: none;
  padding: 0;
}
.row-hidden > .col {
  padding: 0;
}

.row-card {
  display: grid;
  grid-template-columns: 1fr 25% 1fr;
  align-items: center;
  border: 1px solid #A6A6A6 !important;
  padding: 0px 20px;
  margin-bottom: 15px;
}
.row-card .x-button-wrapper {
  text-align: end;
}

.row-cards .templatex-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
  padding: 0 40px;
}

.title-page2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  background: #FAF6F0;
  gap: 10px;
  height: 50px;
  align-items: center;
  margin-bottom: 20px;
}
.title-page2 span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}
.title-page2 a {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #625337;
}

.x-row.row-flex {
  padding: 0 40px;
}
.x-row.row-flex > .col-flex {
  padding: 0;
  display: flex;
  gap: 15px;
  max-width: 100%;
  margin: auto;
  align-items: end;
}
.x-row.row-flex > .col-flex button {
  margin: 0;
}

.x-row.row-flex-2 > .col-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.x-row.row-flex-2 > .col-flex > .x-control-wrapper {
  flex-grow: 1;
  flex-basis: 0;
}

.x-row.row-grid > .col-grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 100%;
  margin: auto;
  align-items: end;
}
.x-row.row-grid > .col-grid button {
  margin: 0;
}

.x-row.row-grid-2col > .col-grid-2col {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 100%;
  margin: auto;
  align-items: end;
}
.x-row.row-grid-2col > .col-grid-2col button {
  margin: 0;
}

.row-scroll {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 90%;
  align-items: center;
}
.row-scroll .col-scroll {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  margin-top: 0px;
  gap: 20px;
}
.row-scroll .col-scroll > .x-self-container {
  align-items: center;
  display: grid;
  min-height: 120px;
  max-width: 200px !important;
  flex: 0 0 25%;
}
.row-scroll .k-icon {
  font-size: 25px;
  color: #C7C7C7;
  top: 0px;
}

.scrollview {
  text-align: center;
}
.scrollview img {
  width: 75% !important;
}

.selected-image img {
  filter: drop-shadow(0px 0px 6px #AE8B49);
  border: 1px solid #FFFFFF;
}

.padding-page {
  padding: 0 40px;
}

.flex-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  flex: 0 0 100%;
  gap: 15px;
}

.xtaf-linke-header {
  display: flex;
  justify-content: end;
}
.xtaf-linke-header .k-icon {
  color: #625337;
  font-size: 22px;
  margin-right: 5px;
}

.xstyle-password-wrapper {
  margin-top: 15px;
}
.xstyle-password-wrapper input::-webkit-outer-spin-button,
.xstyle-password-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.xstyle-password-wrapper.k-state-disabled {
  opacity: 1;
}
.xstyle-password-wrapper.k-state-disabled input.k-textbox {
  background: #F7F7F7 !important;
}
.xstyle-password-wrapper.k-state-disabled label {
  color: #C7C7C7 !important;
}
.xstyle-password-wrapper input {
  padding-right: 10px !important;
}
.xstyle-password-wrapper input.x-login-user-error {
  border-bottom: 1px solid #DB0000 !important;
}
.xstyle-password-wrapper input:focus {
  box-shadow: none !important;
  border: 1px solid #AE8B49 !important;
}
.xstyle-password-wrapper input::-moz-placeholder {
  color: #ADB5BD !important;
}
.xstyle-password-wrapper input::placeholder {
  color: #ADB5BD !important;
}
.xstyle-buttoncontrol-wrapper.k-state-disabled {
  opacity: 1;
}
.xstyle-buttoncontrol-wrapper.k-state-disabled button {
  background: #FFFFFF;
  border: 1px solid #ADB5BD;
  color: #ADB5BD;
}
.xstyle-buttoncontrol-wrapper.btn-special button {
  padding: 0 30px;
  width: auto !important;
}
.xstyle-buttoncontrol-wrapper.btn-special button .k-icon {
  font-size: 30px;
  margin: auto !important;
}
.xstyle-buttoncontrol-wrapper button {
  margin-bottom: 15px;
  padding: 0 30px;
  width: auto !important;
  border: none;
}
.xstyle-buttoncontrol-wrapper button:hover {
  background: #927338;
  color: #FFFFFF;
  border: 1px solid none;
}
.xstyle-buttoncontrol-wrapper button:focus {
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 0px 6px #AE8B49);
  opacity: 1;
}

.xstyle-ilink-wrapper a {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #625337;
  text-decoration-line: underline;
}

.list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}
.list > .x-cell {
  max-width: 100%;
}
.list label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}
.list span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #967A45;
}

.secandary-title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #AE8B49;
  text-align: center;
}

.xstyle-xchart-wrapper text {
  display: none;
}

.xstyle-circularprogressbar-wrapper .k-arcgauge-label span {
  color: black !important;
  font-size: 20px;
  font-weight: 400;
}

.x-footer {
  width: 100%;
  height: 83px;
  background: white;
}
.x-footer > .x-row.row-fotter-button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.x-footer > .x-row.row-fotter-button button {
  width: 100% !important;
  height: 83px !important;
  background: #676767;
  color: #FFFFFF;
  border-radius: 0;
}

.tabs-filter {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 0 40px;
}
.tabs-filter .tabs {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
}
.tabs-filter .tabs .activeTab {
  padding-bottom: 0px;
  border-bottom: 1px solid #927338;
  border-radius: 0;
}
.tabs-filter .tabs .activeTab span {
  font-weight: 500;
}
.tabs-filter .tabs span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #927338;
}
.tabs-filter .filter {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.tabs-filter .filter span {
  font-size: 20px;
  color: black;
}

.project-tabs {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  gap: 5px;
  margin-top: 40px;
  padding: 0 40px;
  align-items: center;
}
.project-tabs .templatex-wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 40px;
  align-items: center;
}
.project-tabs span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 130%;
  color: #000000;
}
.project-tabs span.k-icon {
  font-size: 12px;
}
.project-tabs .name-tabs {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}
.project-tabs .name-tabs .activeTab span {
  font-weight: 700;
  color: #AE8B49;
}

.xstyle-xmenu-wrapper .x-xmenu {
  border: none;
}
.xstyle-xmenu-wrapper .x-xmenu .k-menu-link {
  height: 50px;
  display: grid;
  align-items: center;
  padding: 15px;
}
.xstyle-xmenu-wrapper .x-xmenu .k-menu-link.k-active {
  border: none;
  background: #FAF6F0 !important;
  border-radius: 50%;
}
.xstyle-xmenu-wrapper .k-menu-item {
  background: none !important;
}
.xstyle-xmenu-wrapper .k-animation-container {
  border-radius: 30px;
  background: white !important;
  border: none;
  top: 50px !important;
  left: 0 !important;
  height: auto !important;
}
.xstyle-xmenu-wrapper .k-animation-container .k-menu-group {
  box-shadow: 0px 0px 6px 0px rgba(174, 139, 73, 0.1), 0px 8px 5px 0px rgba(174, 139, 73, 0.1) !important;
  border: none;
  border-radius: 8px;
  background: white;
  padding: 0px 0px;
}
.xstyle-xmenu-wrapper .k-animation-container .k-menu-group .xstyle-dynamiclabelcontrol-wrapper {
  padding: 15px 25px;
  border-bottom: 1px solid #E7E7E7;
  border-radius: 0px;
}
.xstyle-xmenu-wrapper .k-animation-container .k-menu-group .xstyle-dynamiclabelcontrol-wrapper span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.xstyle-xmenu-wrapper .k-animation-container .k-menu-group .row-filter {
  padding: 10px 15px;
}
.xstyle-xmenu-wrapper .k-animation-container .k-menu-group .row-filter button {
  width: 100% !important;
  justify-content: center;
  margin-top: 15px;
}

.card-img:focus-within, .card-img:active, .card-img:focus {
  border: 1px solid #AE8B49;
  border-radius: 10px;
  box-shadow: 0px 6px 6px 0px rgba(174, 139, 73, 0.2);
}
.card-img:has(.active) .card-title span::before {
  content: "\e9c0";
  font-family: "icomoon";
  font-size: 20px;
  position: relative;
  top: 4px;
  left: 5px;
  color: #967A45;
}
.card-img img {
  width: 100%;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.card-img .card-title {
  margin: 0;
  background: #DEDEDE;
  padding: 10px;
  border-radius: 0;
  margin-top: -1px;
}
.card-img .card-title span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center !important;
  color: #000000;
}

.card-detail .title-card span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #AE8B49;
  margin-top: 10px;
}
.card-detail span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}
.card-detail .xstyle-buttoncontrol-wrapper button {
  width: 100% !important;
  margin-top: 10px;
}

.xstyle-progressbar-wrapper .x-progressbar {
  background: #FAF6F0;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.xstyle-progressbar-wrapper .x-progressbar .k-selected {
  background: #AE8B49;
  right: 0 !important;
  border: none;
  border-radius: 0 !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 10px !important;
}
.xstyle-progressbar-wrapper .x-progressbar .k-progress-status {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  z-index: 5;
  position: absolute;
  top: 5px;
}

.title-page {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 14px;
}
.title-page .border-between {
  padding: 0 10px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 0;
}
.title-page span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center !important;
  color: #000000;
}

.text-secandary span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center !important;
  color: #625337;
  text-decoration: underline;
}

.user {
  margin-bottom: 25px;
}
.user .x-dynamic-label-control {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: right;
  color: #000000;
}

.xstyle-barcodetextcontrol-wrapper .x-text-control-container {
  display: none;
}
.xstyle-barcodetextcontrol-wrapper .x-text-with-button-wrapper .x-barcodeBtnContainer {
  border: 1px solid #A6A6A6;
  box-shadow: 4px 4px 4px rgba(197, 162, 96, 0.2);
  border-radius: 8px;
  width: 60px;
  height: 50px;
  max-width: 102px;
  background: no-repeat;
  top: 0;
  position: relative;
  display: block;
}
.xstyle-barcodetextcontrol-wrapper .x-text-with-button-wrapper .x-barcodeBtnContainer a {
  width: 60px;
  font-size: 30px;
}

.gray-bg {
  background: #F5F5F5 !important;
  padding: 0 40px;
  padding: 0 40px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.xstyle-gridv4-wrapper {
  padding: 0 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.xstyle-gridv4-wrapper .x-grid-control {
  border: none;
}
.xstyle-gridv4-wrapper .x-grid-control .k-grid-header {
  background: none;
  border: none;
}
.xstyle-gridv4-wrapper .x-grid-control .k-grid-header th.k-header {
  border: none;
  background: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #AE8B49;
  border-bottom: 2px solid #AE8B49;
  padding: 15px 8px;
}
.xstyle-gridv4-wrapper .x-grid-control .k-master-row {
  background: no-repeat;
}
.xstyle-gridv4-wrapper .x-grid-control .k-master-row td {
  background: none;
  border: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  padding: 15px 8px;
  border-bottom: 1px solid #C7C7C7;
}
.xstyle-gridv4-wrapper .x-grid-control .k-master-row td button {
  width: 62px;
  background: none;
  color: #AE8B49;
  border: 1px solid #AE8B49;
  border-radius: 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 10px 20px;
}
.xstyle-gridv4-wrapper .x-grid-control .k-master-row td button:focus {
  box-shadow: none;
}
.xstyle-gridv4-wrapper .k-grid td.k-grid-content-sticky.k-selected:hover,
.xstyle-gridv4-wrapper .k-grid td.k-grid-content-sticky.k-state-selected:hover,
.xstyle-gridv4-wrapper .k-grid td.k-selected:hover,
.xstyle-gridv4-wrapper .k-grid td.k-state-selected:hover,
.xstyle-gridv4-wrapper .k-grid tr.k-selected:hover,
.xstyle-gridv4-wrapper .k-grid tr.k-state-selected:hover {
  background-color: #E7E7E7;
}
.xstyle-gridv4-wrapper .k-grid tr:hover td {
  background-color: #E7E7E7 !important;
}
.xstyle-gridv4-wrapper .k-grid tr:hover {
  background: none;
}

.x-gridchkbxcontrolgrdOptions382975.k-checkbox {
  border: 1px solid #000000;
}
.x-gridchkbxcontrolgrdOptions382975.k-checkbox:checked {
  border: 1px solid #AE8B49;
}
.x-gridchkbxcontrolgrdOptions382975.k-checkbox:checked::before {
  color: #AE8B49;
}
.x-gridchkbxcontrolgrdOptions382975.k-checkbox:focus, .x-gridchkbxcontrolgrdOptions382975.k-checkbox:focus-within {
  box-shadow: 0px 1px 3px 0px rgba(174, 139, 73, 0.5), 0px 4px 8px 0px rgba(174, 139, 73, 0.2);
}

.xstyle-tab-wrapper {
  padding-top: 20px;
}
.xstyle-tab-wrapper .k-tabstrip:focus {
  box-shadow: none;
}
.xstyle-tab-wrapper .x-tab-control {
  background: none;
  border: none;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-items-wrapper {
  border: none;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-items-wrapper .k-tabstrip-item {
  background: none;
  border: none;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-items-wrapper .k-tabstrip-item .k-loading {
  border: none;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-items-wrapper .k-tabstrip-item span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #927338;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-items-wrapper .k-tabstrip-item.k-active {
  border-bottom: 1px solid #927338;
  background: none;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-items-wrapper .k-tabstrip-item.k-active span {
  font-weight: 700;
}
.xstyle-tab-wrapper .x-tab-control .k-tabstrip-content {
  background: none;
  border: none;
}

.INDhasDragTooltip #INDWrap #INDmenu-btn[data-INDdrag] {
  top: 50%;
  bottom: auto;
  left: -1px !important;
}

.xstyle-floatbuttonv2-wrapper button.x-floatbutton {
  background: #16B2D5;
  box-shadow: 0px 0px 10px rgba(102, 191, 255, 0.4), 0px 6px 4px rgba(102, 191, 255, 0.6);
}
.xstyle-floatbuttonv2-wrapper button.x-floatbutton span {
  font-size: 62px;
  width: 75px;
  height: 75px;
  color: white;
}
.xstyle-floatbuttonv2-wrapper.tracker button.x-floatbutton {
  background: #c5c5c5;
  box-shadow: 0px 0px 10px rgba(182, 182, 182, 0.4), 0px 6px 4px rgba(144, 144, 144, 0.6);
}

.xstyle-textareacontrol-wrapper {
  margin-bottom: 15px;
}
.xstyle-textareacontrol-wrapper textarea {
  outline: none;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 8px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: right;
  color: #000000;
  padding: 10px;
}
.xstyle-textareacontrol-wrapper label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #4E4E4E;
}

.k-window {
  border-radius: 10px;
  background: var(--white-card-background, #FFF);
  box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.1), 0px 8px 5px 0px rgba(166, 166, 166, 0.1) !important;
  width: 80% !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border: none;
  padding: 20px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  max-height: 90%;
}
.k-window .k-window-titlebar {
  background: none;
  border: none;
}
.k-window .text2 span {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-family: "Heebo";
  line-height: 130%;
}
.k-window .xstyle-gridv4-wrapper {
  padding: 0;
  margin-top: 5px;
}
.k-window .button-popup {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-top: 15px;
}

.popUpWindowCls {
  width: 80% !important;
  max-width: none !important;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 10006 !important;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView {
  box-shadow: none;
  background: no-repeat;
  border: none;
  overflow: hidden;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .xTAF-scrollview .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .xTAF-scrollview .carousel-inner {
  border-radius: 10px;
  background: none;
  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid white;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .xTAF-scrollview .carousel-inner .k-i-arrow-chevron-right, .popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .xTAF-scrollview .carousel-inner .k-i-arrow-chevron-left {
  font-size: 40px;
  opacity: 0.6;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .xTAF-scrollview .carousel-inner img {
  width: 100% !important;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .headerNone {
  padding: 0 !important;
}
.popUpWindowCls #TafnitCore_Sales_V2_UI_ScrollView .x-footer {
  display: none;
}

.k-window:has(#MessageBoxWindow) {
  background: #ffffff;
  box-shadow: 0px 5px 8px 0px rgba(174, 139, 73, 0.1);
  border-radius: 10px;
  border: none;
  max-height: 95%;
}
.k-window:has(#MessageBoxWindow) .k-window-titlebar.k-hstack {
  background: none !important;
  border: none;
}
.k-window:has(#MessageBoxWindow) .k-window-titlebar.k-hstack .k-button {
  margin-left: 0px;
}
.k-window:has(#MessageBoxWindow) .k-window-titlebar.k-hstack .k-i-close::before {
  content: "\e904";
  font-family: "icomoon";
  font-size: 14px;
  color: #a6a6a6;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow div#ctrlSectionMainSection {
  display: block;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow div#ctrlSectionMainSection > div {
  margin: auto;
  text-align: center;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow div#ctrlSectionMainSection > div i::before {
  content: "\e9cb";
  font-family: "icomoon";
  color: #AE8B49;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow div#ctrlSectionMainSection > div span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 100%;
  color: #000000;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow .x-icons {
  border-radius: 0;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow #divCobuttonbtn1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow #divCobuttonbtn1:focus, .k-window:has(#MessageBoxWindow) #MessageBoxWindow #divCobuttonbtn1:focus-within, .k-window:has(#MessageBoxWindow) #MessageBoxWindow #divCobuttonbtn1:active {
  border: 1px solid #FFFFFF;
  padding: 2px;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow button {
  min-width: 200px !important;
  height: 50px;
  background: #AE8B49;
  border-radius: 8px;
  border: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: white;
  margin: auto;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow button:focus, .k-window:has(#MessageBoxWindow) #MessageBoxWindow button:active, .k-window:has(#MessageBoxWindow) #MessageBoxWindow button:focus-within {
  background: #AE8B49;
}
.k-window:has(#MessageBoxWindow) #MessageBoxWindow button:hover {
  background: #927338;
}

.k-checkbox {
  border-color: #000000;
  border-radius: 1px !important;
}
.k-checkbox:checked {
  border-color: #AE8B49;
}
.k-checkbox:checked:before {
  color: #AE8B49;
}
.k-checkbox:focus {
  box-shadow: none;
}

.xstyle-checkbox-wrapper .x-checkbox {
  border-color: #000000;
  border-radius: 2px !important;
}
.xstyle-checkbox-wrapper .x-checkbox:checked {
  border-color: #AE8B49;
}
.xstyle-checkbox-wrapper .x-checkbox:checked:before {
  color: #AE8B49;
}
.xstyle-checkbox-wrapper .x-checkbox:focus {
  box-shadow: none;
}
.xstyle-checkbox-wrapper label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: #000000;
}

.xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp:focus, .xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp:focus-within {
  border: 1px solid 1px solid #AE8B49;
  box-shadow: none;
}
.xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp .k-input-inner {
  padding: 0;
}
.xstyle-idropdownlist-wrapper .k-input-button {
  left: 10px;
}
.xstyle-idropdownlist-wrapper .k-input-button:hover {
  background: none;
}
.xstyle-idropdownlist-wrapper .k-input-button span.k-icon::before {
  content: "\f0d7";
  font-size: 22px;
  font-family: "Font Awesome 5 Pro";
  color: #AE8B49;
  font-weight: 700;
}

.k-rtl .k-window-titlebar .k-window-actions {
  right: auto;
  left: -15px;
  position: relative;
}

.k-animation-container .k-popup {
  box-shadow: 0px 0px 5px 5px rgba(184, 169, 111, 0.2), 0px 2px 4px 0px rgba(184, 169, 111, 0.03), 0px 4px 5px 0px rgba(184, 169, 111, 0.04);
  border: #e7e7e7;
  border-radius: 10px;
  margin-top: 5px;
}
.k-animation-container .k-popup .k-list {
  border-radius: 10px;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller {
  border-radius: 10px;
  background: none;
  padding: 0;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller ul {
  background: #ffffff;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller li {
  height: 40px;
  padding: 0;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller li.k-selected.k-focus {
  background: #b8a96f;
  border: none;
  box-shadow: none;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller li.k-selected.k-focus .k-list-item-text {
  color: #ffffff;
  font-weight: 700;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller li:hover {
  background: #f5f5f5;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller li:hover .k-list-item-text {
  color: #000000;
  font-weight: 700;
}
.k-animation-container .k-popup .k-list-content.k-list-scroller li span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #000000;
}

body, html {
  font-family: "Heebo" !important;
}

#uber-container {
  background: white;
}

.navbar-fixed-top {
  position: relative;
}

.headerName {
  position: sticky;
  top: -1px;
  z-index: 10003;
}

.pageContainer {
  padding: 0;
}

.k-overlay {
  opacity: 0.3 !important;
  z-index: 10005;
}

.border-none {
  border: none !important;
}

.xstyle-image-wrapper .x-cell {
  padding: 0;
}

.icon-xtar-double-arrow-left::before {
  font-size: 10px;
}

.k-i-close:before {
  content: "\e904";
  font-family: "icomoon";
  font-size: 14px;
  color: #a6a6a6;
}/*# sourceMappingURL=style.css.map */