.dotIcon.xstyle-buttoncontrol-wrapper{
    bottom: 55%;
}

.x-button-small
{
    button{
        height: 30px !important;
    }
}
.btn-medium{
    button{
        height: 40px  ;
    }
}
.borderRadius{
    button{
        border-radius: 50px;
    }
}


.k-state-disabled{
    opacity: 1;
}
.k-button.k-disabled, .k-button[disabled]{
    border: 1px solid var(--button-primary-border-color-disable);
    background:  var(--button-primary-bg-color-disable);
    color: var(--button-primary-text-color-disable);
    opacity: 1;

    .k-icon::before{
        color: var(--button-primary-text-color-disable) !important;
    }
}

.x-button-float{
    button.k-button.k-disabled, button.k-button[disabled]{
        border: 1px solid var(--button-primary-border-color-disable);
        background:  var(--button-primary-bg-color-disable);
        color: var(--button-primary-text-color-disable);
        opacity: 1;

        .k-icon::before{
            color: var(--button-primary-text-color-disable);
        }
    }
    button.k-button {
      
        border-radius: 100px !important;
        height: 60px !important;
        width: 60px !important;
        background: var(--floatbutton-bg-color-default);
        box-shadow:var(--floatbutton-shadow);
        padding: 0;
        & .k-icon{
            color: var(--floatbutton-icon-color-default);
         }
    
         & .k-fab-text{
            font-family: 'Heebo';
            color: var(--floatbutton-text-color-dafault) !important;
         }
    
    
         &:hover{
            background: var(--floatbutton-bg-color-hover) !important;
         }
    
         &:focus{
            background: var(--floatburron-bg-color-focus) !important;
            border: 1px solid var(--floatbutton-border-color-focus) ;
            box-shadow: 0px 0px 5px 5px rgba(117, 155, 172, 0.20), 0px 2px 4px 0px rgba(117, 155, 172, 0.20), 0px 4px 5px 0px rgba(117, 155, 172, 0.40) !important;
    
            span{
                color: white !important;
            }
         }

         .k-icon{
            font-size: 28px;
         }
    }
}
.x-button-secondary{
   
    button.k-button.k-disabled, button.k-button[disabled]{
        border: 1px solid var(--button-secondary-border-color-disable);
        background:  var( --button-secondary-bg-color-disable);
        color: var(--button-secondary-text-color-disable);
        opacity: 1;
    }


    button.k-button {

        color: var(--button-secondary-text-color-default);
        background-color: var(--button-secondary-bg-color-default)  ;
        border: 1px solid var(--button-secondary-border-color-default);
        padding: 0; 
        &:hover{

            background-color:var(--button-secondary-bg-color-hover) ;
            color:var(--button-secondary-text-color-hover) ;
            border: 1px solid var(--button-secondary-border-color-hover);
    
            span{
                color:var(--button-secondary-text-color-hover);
            }

            .k-icon::before{
                color: var(--button-secondary-icon-color-hover);
            }
        }
        &:focus,&:focus-within{
            color: var(--button-secondary-text-color-default);
            background-color: var(--button-secondary-bg-color-default)  ;
            border: 1px solid var(--button-secondary-border-color-default);
            box-shadow: var(--button-secondary-focus);

            .k-icon::before{
                color: var(--button-secondary-icon-color-default) !important;
            }
        }
    
 .k-icon::before{
    color: var(--button-secondary-icon-color-default);
    font-size: 22px;
    right: -3px;
 }
        

    
    }
}

.x-button-medium{
    button.k-button {
        height: 40px !important;
    }  
}

button.k-button {
    
    border: none;
    color: var(--button-primary-text-color-default);
    background-color: var(--button-primary-bg-color-default)  ;
    border-radius: 4px;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
padding: 0;



.k-icon::before{
    color: var(--button-primary-icon-color-default);
}
    &.k-input-button{
        border: 0px ;
        position: absolute;
        left: 0;
        z-index: 10;
        height: auto ;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover{
        border: none;
        background-color:var(--button-primary-bg-color-hover) ;

        span{
            color:var(--button-primary-text-color-default);
        }
    }

    &:focus{
        background: var(--button-primary-bg-color-focus);
        box-shadow: var(--button-primary-focus);
    }

    .k-button-text{
        text-align: center;
        align-items: center;
        display: grid;
        font-family: Heebo;
        font-size: var(--input);

    }
    
    &.x-button {
        width: 100%;
        display: inline-block;
        padding-top: 0px;
        padding-bottom: 0px;

        .x-button_caption_text {
            position: relative;
            display: block;
        }
    }
    .k-icon{
        overflow: visible;
    }


}

/*row collapse button arrow*/



.k-ltr {
    .x-btn-collapse {
        right: 15px;
        left: auto;
    }
}

.k-filter-menu{
    .k-picker,.k-datepicker{
        background: #fafafa ;
        border: 0px ;
        border-bottom: 1px solid ;
        border-radius: 0;

        &:focus{
            color: #003f59;
            background-color: #fff ;
            box-shadow: 0 0 3px 0 hsla(0, 0%, 0%, 0.3);
        }
    }
    .k-icon-button{
        border: 0px ;
    }
}

.k-calendar-container{
    .k-button{
        background: transparent ;
        border: 0px ;
    }
}

.k-window{
    .k-icon-button{
        background: transparent ;
        border: 0px ;
    }
}

