

// body:has(#TafnitCore_System_UI_App_Login),html{
//     height: 100% !important;

//     #uber-container{
//         height: 100%;
//     }
// }


// #TafnitCore_System_UI_App_Login{
//     height: 100%;
//     padding: 0;
//     mainbody{
//         height: 100%;
//         & > .row{
//             background: var(--vanilla-neutral-150, #F9F9F9); 
//           height: 100% !important;
//           min-width:auto;
//           border-radius: 0;
//           padding-left: 0px;
//         }
//     }
//    .x-label-loginTitle{
//     margin-bottom: 60px;

//    }

//     div[uxid="loginDetailsLeft"]{
//         height: auto !important;
//         top: -70px;

//     }

//     div[uxid="cSocialBtnLogin"]{
//         padding: 0;
//         margin-top: 45px;
//     }

//     .xstyle-buttoncontrol-wrapper  {
//         button{
//             margin-top: 20px;
//         }
//     }
//     .xstyle-checkbox-wrapper      {
//         margin-top: 10px;
//     }
// div[uxid="rSocialBtnLogin"]{
//    & + .row{
     
//     border: none !important;
//     box-shadow: none;
//     position: absolute;
//     bottom: -40px;
//     left: 0;
//     right: 0;
//    }
// }

// }



.fa-google,.icon-google-1 {
    background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%, linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%, linear-gradient(-40deg, transparent 53%, #ea4335 54%), linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    &::before{
        position: initial !important;
    }
}

.fa-facebook-square,.icon-facebook{
    font-size: 20px;
    &::before{
    color: #1877F2 !important;
    }
}