





.xstyle-idropdownlist-wrapper{


  .x-control-caption-wrapper.s-control-caption-wrapper{
    position: absolute;
    top: -8px;
    z-index: 2;
    left: 20px;
    background: white;
    height: 17px;
    width: fit-content;
    padding: 0 10px;
    right: 10px;
  }


  &.x-dropdown-small{

    span.x-dropdown-comp.s-dropdown-comp{
      height: 30px;
      padding: 5px;
  
      .k-input-value-text{
        font-size: 12px !important;
  
      
      }
    }
  
    .k-input-button span.k-icon::before{
      font-size: 14px;
    }
  }





&.x-dropdown-medium{

  span.x-dropdown-comp.s-dropdown-comp{
    height: 40px;
    padding: 5px;

    .k-input-value-text{
      font-size: 16px !important;

    
    }
  }

  .k-input-button span.k-icon::before{
    font-size: 18px;
  }
}

&.x-dropdown-large{

  span.x-dropdown-comp.s-dropdown-comp{
    height: 55px;
    padding: 5px;

    .k-input-value-text{
      font-size: 20px !important;

    
    }
  }

  .k-input-button span.k-icon::before{
    font-size: 17px;
  }
}







  // readonly + disabled //

  &.k-state-disabled,
  &.x-readonly{
     & span.x-dropdown-comp.s-dropdown-comp{

      background: var(--input-bg-color-default) ;
      & span.k-icon{
          &::before{
            color: var(--label-text-color-disable) ; 
          }
         }


      
     }

     & label{
      color: var(--label-text-color-disable) ; 
    }
 }

 



  & span.x-dropdown-comp.s-dropdown-comp {
   
    font-size: 20px;





  }

  & label{

    font-size: 14px;
  }

 
  & .k-input-button{

  
    & span.k-icon{
      &::before{
        
        content: "\f0d7";
        font-size: 20px;

      }

  }
  
  }


}





