.x-label-display{

    &.x-label-large{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
        }
    }
    &.x-label-medium{
      span,label{
 
        font-family: "Ploni ML v2 AAA";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
        }
    }


}



.x-label-pagetitle{

    &.x-label-large{
        span,label{
 
            font-family: "Ploni ML v2 AAA";
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
        }
    }
    &.x-label-medium{
      span,label{
        font-family: "Ploni ML v2 AAA";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
        }
    }


}


.x-label-login{

    &.x-label-large{
        span,label{
 
            font-family: "Ploni ML v2 AAA";
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
        }
    }
    &.x-label-medium{
      span,label{
        font-family: "Ploni ML v2 AAA";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
        }
    }


}




.x-label-pagesubtitle{

    &.x-label-large{
        span,label{
 
            font-family: "Ploni ML v2 AAA";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
        }
    }
    &.x-label-medium{
      span,label{
        font-family: "Ploni ML v2 AAA";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
        }
    }


}


.x-label-default{

    &.x-label-large{
        span,label{
 
            font-family: "Ploni ML v2 AAA";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
    &.x-label-medium{
      span,label{
        font-family: "Ploni ML v2 AAA";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }


}



.x-label-note{

    &.x-label-large{
        span,label{
 
            font-family: "Ploni ML v2 AAA";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
        }
    }
    &.x-label-medium{
      span,label{
        font-family: "Ploni ML v2 AAA";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }
    }


}


.x-label-caption{


    &.x-label-medium{
      span,label{
        font-family: "Ploni ML v2 AAA";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }
    }

    &.x-label-small{
        span,label{
            font-family: "Ploni ML v2 AAA";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
        }
    }


}