


<<<<<<<< HEAD:system-design/components/_textbox.scss

========
>>>>>>>> d8024ddf2eb628e03a7b386290b8ee7da12a2b60:system-design/components/Simple/_textbox.scss



.xstyle-textcontrol-wrapper,.xstyle-testcontrol-wrapper {
    margin-top: 15px;
// disable // 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */


    &.k-state-disabled{ 

      opacity: 1;

        & input.k-textbox{

          background: var(--input-bg-color-default) ;
           
        }

        & label{
            color: var(--label-text-color-disable) ; 
          }
    }


    & input{
      @extend %texbox-input;
      padding-right: 10px ;
     
      &.x-login-user-error{
        
        border-bottom: 1px solid var(--input-border-color-error) ;
      }

        &:focus{
          box-shadow:var(--input-focus-shadow)  !important ;
          border: 1px solid var(--input-border-color-focus) ;
            outline: none !important;
        }

        &::placeholder{

          color:var(--input-text-color-place-holder);

        }
    }

    & label{
        @extend %texbox-label;

    }
}

.x-textbox.s-textbox{
  width: 100%;
}





