.xstyle-idropdownlist-wrapper{
    
    margin-top: 5px ;
        & label{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            align-items: center;
            color: #004070;
            margin: 0;
        
        }
    
        & .x-dropdown-comp{
    
            height: 45px !important;
            border: 1px solid #9BD5FF !important;
            border-radius: 10px;
            background: none;
        

            & .k-input-value-text{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 24px;
                align-items: center;
                text-align: right;
                color: #052136 !important;
            }

            &:focus{
                border: 1px solid #F57920 !important; 
            }
    
            & .k-input-button{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
    
                & .k-icon{
                    &::before{
                        content: "\f0dc";
                        font-family: "Font Awesome 5 pro" !important;
                        color: #0F6FB7;
                        font-weight: 600;
                        font-size: 21px;
    
                    }
                }
            }
            
        }
    
    
    
    }