


@import '../Tass/ErrorMessage/ErrorMessage';
@import '../Tass/FillAndSignV2Page/FillAndSignV2Page';
@import '../Tass/Surevy/Survey';
@import '../Tass/payment/payment';
@import '../../../Tass/style.scss';
@import '../Tass/FileViewer/FileViewer';



.k-content:has(#TafnitCore_SaaSServer_Survey_UI_Survey) .xstyle-ilink-wrapper.button-fnx  {
    a{
    border-radius: 30px !important;
    font-family: Heebo;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    text-align: center !important;
    color: white !important;
    margin-top: 14px !important;
    border: none;
    background: #ff5a23 !important;
    height: 40px !important;
    text-decoration: none;
    display: grid;
    align-items: center;

    &:hover{
        text-decoration: none;
    background: #E53E07 !important;
    }
    }
}