


.k-window {
    margin-top: 15px;
    #watermark{
        display:none;
    }

    footer{
        border-radius: 0 0 10px 10px !important;
    }
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        footer {
            position: absolute;
        }

        .x-pagePopup {
            margin: 0;
        }

    }

    footer {
        z-index: 10003;


    }

    .k-window-content {
        header {
            position: relative;
        }
    }
    .pageContainer.x-pagePopup {
        height: auto;
    }
}.k-window {
    margin-top: 15px;
    #watermark{
        display:none;
    }
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        footer {
            position: absolute;
        }

        .x-pagePopup {
            margin: 0;
        }

    }

    footer {
        z-index: 10003;


    }

    .k-window-content {
        header {
            position: relative;
        }
    }
    .pageContainer.x-pagePopup {
        height: auto;
    }

    border-radius: 4px;
    background: var(--vanilla-other-white, #FFF);
    box-shadow:  var(--window-shadow ) !important;
    border: none;
    padding: 20px;
    right: 0 !important;
    left: 0 !important;
    max-width: 95%;
    margin: 0 auto;
    .k-window-content{
        padding: 0 !important;
        margin-top: 30px;
    }
    .k-window-titlebar{

        border: none;     
        position: fixed;
        top: 0;
        z-index: 24;
        background: var(--window-header-bg-color);
        left: 0;

      .k-window-title{
        
            color: var(--window-window-title-header);
            text-align: right;
            font-family: 'Heebo';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
      }

      .k-window-action{
        color: #d9d9d9;
      }

    }

}