
@use '../variable/variable' as *;;



.cube.cubeFix{
    padding: 40px 20px 40px 40px;
    height: 148px;
    background: $Cube-dashboard-bg;
    box-shadow: $Cube-dashboard-box-shadow;
    margin-left: 20px;
    border-radius: 10px;
    margin-right: 20px;

    .x-dynamic-label-control{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $Cube-dashboard-colot-text;
    }

    .shekel-wrapper{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 5px;

        .x-self-container {
            top: 50%;
            transform: translateY(-50%);
            position: relative;

        }

        .x-dynamic-label-control{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 130%;
            color: $Cube-dashboard-color-price;
        }

        .k-icon {
          color: $Cube-dashboard-color-icon;
        }
    }

} 