@use '../variable/variable' as *;


.k-animation-container{
  .k-list-optionlabel{
    display: none !important;
  }
  & .k-popup{

    box-shadow: none !important;
    border: $popup-border ;
    border-radius: 00px;
    margin-top: 5px;
ד
    .k-list{
      border-radius: 00px;
    }
    & .k-list-content.k-list-scroller{
      border-radius: 00px;
        background: none !important;
        padding: 12px 20px;
& ul{
  background: $popup-bg !important;
}
        & li{
            height: 41px;

            &.k-selected.k-focus{
              background: $popup-bg-selected !important;
              border: none;
              box-shadow: none;

              .k-list-item-text{
                color: $popup-color-text-selected !important;
                font-weight: 700;
              }
            }

            &:hover{
              background: $popup-bg-hover;
            
              .k-list-item-text{
                color: $popup-color-text-hover !important;
                font-weight: 700;
              }
            }

            & span{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                align-items: center;
                text-align: right;
                color: $popup-color-text;
            }

        }
    }
  }


}