$title-colo: #14008e; 
$title-border: #14008e ; 
$text-defult: #000000; 
$icon-color-main: #14008e; 
$icon-colot-text-main: #14008e; 
$icon-play-stop-camera-bg: #232873; 
$icon-color-defult: #14008e; 
$upload-coor-text-file: #7e7b7b; 
$upload-coor-text-success: #14008e; 
$upload-file-error-text: #ff5a23; 
$upload-file_error-icon-file: #14008e; 
$upload-title: #ff5a23; 
$button-background: #ff5a23; 
$button-press-background: #ff5a23; 
$button-focus-Box-shadow: 0px 0px 6px 0px rgba(229, 62, 7, 0.60) ;
$button-background-hover:#E53E07 ;
$button-secondary-focus-border:#ffffff ;
$button-secondary-focus-color:#14008E ;
$button-secondary-border: #BDBFD5 ;
$button-secondary-color: #232873 ;
$button-secondary-bg:#ffffff ;
$button-secondary-bg-hover: #232873 ;
$button-secondary-color-hover: #ffffff ;
$button-secondary-focus-box-shadow: 0px 0px 6px 0px rgba(20, 0, 142, 0.60) ;

$radio-button-on-background: #14008e; 
$radio-button-label-text: #000000; 
$check-box-on-background: #14008e; 
$check-box-label-text: #14008e; 
$icon-color: #14008e; 
$required: #e53e07; 
$focus-border: #e53e07; 
$high-light-caption: #e53e07; 
$approve-icon-on: #e53e07; 
$messagebox-icon-color: #14008e; 
$messagebox-border-color: #e53e07; 
$signature-icon-before: #e53e07; 
$signature-icon-after: #e53e07; 

$messagebox-Box-shadow: 0px 10px 5px 0px rgba(20, 0, 142, 0.10), 0px 0px 8px 0px rgba(20, 0, 142, 0.30);
$radio-button-on-drop-shadow: 0px 0px 4px 0px rgba(20, 0, 142, 0.60);
$Box-shadow-footer: 0px -2px 6px 0px rgba(20, 0, 142, 0.10);
$button-Box-shadow: none;
$check-box-on-drop-shadow: 0px 0px 4px 0px rgba(20, 0, 142, 0.20);







