%inputFont{
    font-family: 'Assistant' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    color: #000000 !important;
    text-align: right !important;
    text-indent: 10px !important;
    height: 50px !important;
    background: #FBFBFB !important;
    border-radius: 8px !important;
    border: 1px solid #CCCCCC !important;
}


%labelMain{
    font-family: 'Assistant';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #7E7B7B;
    height: 20px !important;
}

html:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page){

    min-height: 100%;
    height: 100%;
}

#TafnitCore_System_UI_App_Tools_FillAndSignV2Page{
    .x-control-wrapper{
        flex-wrap: wrap;
        width: 100%;
      }
    margin-bottom: o !important;
    height: 100%;
    min-height: 100%;

    & .x-self-container:has(.xstyle-videorecording-wrapper){

        width: 100% !important;
        & .video-wrapper{

            max-width: 100% !important;
        & video{
            max-width: 100% !important;
        }
    }
    }

    & .x-section-header-wrapper{
        & div{
            padding: 0 !important;
        }
    }

    & .xstyle-dynamiclabelcontrol-wrapper{
        margin-bottom: 25px;
    }

    & div[uxid="lbDescription"]{
        padding-right: 30px;
        margin-top: 30px;


    }

    & div[uxid="lbDescription"]:has( ~ div[uxid="cbCheck"] .d-none),
    & div[uxid="lbDescription"]:has( ~ div[uxid="cbCheck"].d-none){


            padding-right: 0px !important;
            margin-top: 30px;

        }

    

    & div[uxid="cbCheck"]{
        position: absolute;
        top: 37x;
    }

    // תת כותרת //

    & h4.x-cell-header.s-cell-header{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 700 !important;
        font-size: 16px !important;
        color: #000000 !important;
        margin-top: 20px !important ;
        overflow:revert !important; 
        line-height: 100%;
    }
    & .xstyle-dynamiclabelcontrol-wrapper{
        & .x-dynamic-label-control {
            font-family: 'Assistant';
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 150% !important;
            color: black !important;
        }
    }
    & .k-header.x-section-header-wrapper{
           background: none !important;
           border-bottom: 1px solid #E1ABEF !important;
           margin-top: 20px !important;
           border-radius: 0px;
        & .x-section-header {
            font-family: 'Assistant' !important;
            font-style: normal !important;
            font-weight: 700 !important;
            font-size: 20px !important;
            line-height: 100% !important;
            color:#8C4D9C !important ;
        }
    
    }

    div[uxid="rselectPreventionOfDenial"]{
        border: none !important;
    }

    // button control //

    & .xstyle-buttoncontrol-wrapper{

        &.k-state-disabled{
            opacity: 1 !important;
            & button.k-button.x-button{
            height: 46px !important;
            border: 1px solid #BBBBBB !important;
            background: white !important;
            color: #7E7B7B !important;
            border-radius: 40px !important;
            box-shadow: none !important;
        }
    }
        
        & button{

            height: 46px !important;
            background: #8C4D9C !important;
            box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) !important;
            border-radius: 40px !important;
            font-family: 'Assistant';
            font-style: normal !important;
            font-weight: 700 !important;
            font-size: 20px !important;
            line-height: 26px !important;
            text-align: center !important;
            color: white !important;
            margin-top: 100px !important;
            border: none;
        }
    }


    // radio control //

    .xstyle-radio-wrapper {

          & input{
            background: #F5F5F5;
            border: 1px solid #CCCCCC;
            box-shadow: none !important;
    
            &:checked{
                border: 2px solid #FFFFFF !important;
                box-shadow: 0px 0px 4px #71078B !important;
            }

            &.k-radio::before{
                color: #8C4D9C !important;
                width: 12px !important;
                height: 12px !important;

            }
          }

          & label{
            font-family: 'Assistant' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 100% !important;
            color: black !important;
          }

    }


    // checkbox control //
   

    & .xstyle-checkbox-wrapper{


        &.x-control-wrapper {

            //flex-direction: row-reverse !important;
            .x-control-caption-wrapper {
                flex: auto;
            }
        
            .x-control-content-wrapper {
                flex-grow: 0.1 !important;
                width: auto;
            }

        }
       
        & label{
            font-family: 'Assistant' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 100% !important;
            color: black !important;
            transform: translateY(33%);
          }
          
          & input{
            background: #F5F5F5;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            box-shadow: none !important;
    
            &:checked{
                border: 2px solid #FFFFFF !important;
                box-shadow: 0px 0px 4px #71078B !important;
            }
           
           

            &.k-checkbox::before{
                background-color: #8C4D9C !important;
                width: 12px !important;
                height: 12px !important;
                content: "" !important;

            }
          }
    }

    .xstyle-image-wrapper{
        & img{
            margin-bottom: 20px !important;
        }
    }

    // text control //

    .xstyle-textcontrol-wrapper{
        display: block;
        margin-bottom: 25px !important;

        & input{
            @extend %inputFont;
            &:focus,
            &:focus-within,
            &:active{
                border: 1px solid #1F8FCE !important; 
            }
        }

        & label{
            font-family: 'Assistant';
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 100% !important;
            color: #7E7B7B !important;
        }
    }

    // idImg control // 

    .xstyle-identitycard-wrapper,
    .xstyle-driverlicense-wrapper{


        & .redRect{
            border: 1px solid #6E2C7E !important;
            border-radius: 8px !important;
            margin-top: 14px;
        }
    }


    // icon //

    .xstyle-kicon-wrapper{

       & .k-icon.fa-camera-retro{

        background: #0675B4;
        border-radius: 60px;
        width: 60px;
        height: 60px;
        padding: 9px 20px;
        margin-top: 25px !important;
        margin-bottom: 15px !important;

        &::before{
            content: "\f03e";
            font-family: "Font Awesome 5 pro" !important;
            color: #FFFFFF !important;
            font-size: 30px !important;
        }
    } 
    & .k-icon.fas.fa-play,
    & .k-icon.fas.fa-stop{

        background: #0675B4;
        border-radius: 60px;
        width: 60px;
        height: 60px;
        padding: 9px 20px;
        margin-top: 25px !important;
        margin-bottom: 15px !important;

        &::before{
            color: #FFFFFF !important;
            font-size: 30px !important;
        }
    } 

    & .x-kicon-caption{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 20px !important;
        line-height: 150% !important;
        color: #0675B4 !important;
    }
    }

    .x-footer {

        border: none !important;
        background: #FCFCFC !important;
        height: 76px !important;
        box-shadow: 0px -4px 8px rgba(113, 7, 139, 0.1) !important;
    
        & .row{
            border: none !important;
        }
    
        & div{
        
    
            & button.x-button.s-button {
                height: 46px !important; 
                background: #8C4D9C !important;
                box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) !important;
                border-radius: 40px !important;
                border: none !important;
                width: 95%;
                margin: auto;
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 700;
                font-size: 20px !important;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF !important;
                margin-top: 14px !important;
    
                & span {
                    position: absolute;
                    left: 10px;
                    top: 11px;
                }
    
                & .fa-paper-plane{
                    display: none !important;
                }
            }
        }
    }


    div{
        border: none !important;
    }



    // signature //

    .xstyle-signaturev2-wrapper .x-control-content-wrapper{


        .k-i-arrow-s{
            &::before{
                font-family: 'icomoon';
                content: "\e9bc";
                color: #0675B4;
                font-size: 22px;
            }
        }
     .toolbar{


        span.k-colorpicker , span.k-dropdownlist{
            border-radius: 8px;
            border: 1px solid var(--taa-s-neutral-400, #CCC);
            background: var(--taa-s-neutral-100, #FBFBFB);
            height: 50px !important;
        }
     }


     .x-signaturev2{
        border-radius: 4px;
       border: 1px solid var(--taa-s-neutral-400, #CCC) !important;
       padding: 10px 20px;
     }

     .k-input-inner:has(.k-input-value-text){
        height: 25px;
     }
     .k-signature-action.k-signature-maximize.k-button.k-icon-button{

        .k-icon{
            font-size: 24px;
            color: #6A3F75;
        }
     }


    .signature-clear-btn{
        margin-left: 10px;
        margin-bottom: 10px;

        span::before{
            font-size: 26px;
            margin-left: 0px;
            color: #AAAAAA; 
        }
     }


     .k-signature-line {
        position: absolute;
        bottom: 33%;
        z-index: 2;
        pointer-events: none;
        border-bottom-width: 1px !important;
        border-bottom-style: dashed !important;
        width: calc(98% - 8px);
        left: 0;
        right: 0;
        margin: 0 auto;
        border-color: #BBB !important;
    }

    .k-signature{
        min-height: 250px;
    }

    }




    // upload control //

    .xstyle-upload-wrapper{
        & .k-state-focused{
            box-shadow: none !important;
        }
       & .k-upload-button{
        justify-content: flex-start;
       } 
        & input+span{
            text-align: right !important;
            font-family: 'Assistant' !important;
            font-style: normal !important;
            font-weight: 600 !important;
            font-size: 16px !important;
            line-height: 100%;
            color: #0675B4 !important;
        }

        & .k-upload-files{
            border: none !important;
        }
        & .k-file-invalid{
            height: 80px !important;
            background: #FFFFFF !important;
            border: 1px solid #CCCCCC !important;
            border-radius: 8px !important;
            padding-top: 22px;
            margin-top: 20px;

            & .k-file-group.k-icon{
                &::before{
                    content: "\e9b0"; 
                    font-family: 'icomoon';
                    color:#db4240  !important ;
                }
            }

            & .k-file-name{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 130% !important;
                text-align: right !important;
                color: #7E7B7B !important;
            }

            & [class="k-file-validation-message !k-text-error"] {
                font-family: 'Heebo' !important;
                font-style: normal !important;
                font-weight: 400 !important;
                font-size: 14px !important;
                line-height: 100% !important;
                text-align: right !important;

            }
            
            & .k-icon-button{
                margin-top: -15px !important;
            }
        }
        .k-file.k-file-success{
            height: 80px !important;
            background: #FFFFFF !important;
            border: 1px solid #CCCCCC !important;
            border-radius: 8px !important;
            padding-top: 22px;
            margin-top: 20px;

            & .k-file-group.k-icon{
                top: 3px !important;
            }

            & .k-i-file-image{
                &::before{
                    content: "\e9af"; 
                    font-family: 'icomoon';
                    color:#6E2C7E  !important ;
                    
                }
            }

            & .k-i-file-pdf{
                &::before{
                    content: "\e9b1"; 
                    font-family: 'icomoon';
                    color:#6E2C7E  !important ;
                }
            }

            & .k-file-name{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 130% !important;
                text-align: right !important;
                color: #7E7B7B !important;
            }
            & [class^="k-file-validation-message !k-text-success"]{
                font-family: 'Heebo' !important;
                font-style: normal !important;
                font-weight: 400 !important;
                font-size: 14px !important;
                line-height: 100% !important;
                text-align: right !important;
                color: #6E2C7E !important;
            }

            & .k-icon-button{
                margin-top: -15px !important;
            }
        }
    }

    & .xstyle-date-wrapper{

        & input.s-datePicker-mobile{
            @extend %inputFont;
            padding-top: 15px;
            border: 1px solid #CCCCCC !important;
            &::placeholder{
                color: #BBBBBB !important;
                font-weight: 600 !important;
                font-size: 16px !important;
            }
        }
        & input{
            @extend %inputFont;
              &::placeholder{
                  color: #BBBBBB;
                  font-family: 'Assistant';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 100%;
              }
              &:focus,
              &:focus-within,
              &:active{
                  border: 1px solid #1F8FCE !important; 
              }
          }
        margin-bottom: 25px !important;
        & label{
            @extend %labelMain;
               direction: rtl !important;
           }
        & .x-datePickerResponsive{
            border: none !important;
            background: none !important;
      
            & input{
              @extend %inputFont;
                &::placeholder{
                    color: #BBBBBB;
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                }
            }

            & button{
            
                top: 12px;
                left: 10px;
                & span.k-icon{
                    font-size: 22px;
                    color: #0675B4;
                }
            }
        }
    }

}


.k-content:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page){
    padding: 0 !important;
    height: 100%;
    min-height: 100%;
  
    .k-widget.k-window:has(#MessageBoxWindow) {

        position: absolute;
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
        padding-bottom: 0px !important;
        background: #FFFFFF !important;
        border: 1px solid #8C4D9C !important;
        box-shadow: 0px 0px 8px rgba(113, 7, 139, 0.3), 0px 10px 5px rgba(113, 7, 139, 0.1) !important;
        border-radius: 10px !important;
      
        & .k-window-titlebar.k-hstack{
         background: none !important;
         flex-direction: row-reverse;
         border: none !important;

          & .k-icon{
            color: black !important;
            font-size: 20px !important;
          }
          & .k-window-title{
            display: none !important;
          }
        }
        & #MessageBoxWindow{

          
      
          & #ctrlSectionMainSection{
        
            display: block !important;
            & div{
                 margin: auto !important;
                 text-align: center;
                 margin-bottom: 10px !important;

                 & .x-fa-warning{
                    &::before{
                        font-family: 'icomoon' !important;
                        content: "\e9a6" !important;
                        color: #8C4D9C !important;
                        max-width: 100% !important;

                    }
                 }
            }
          }
       & .x-fa-info{
        color: #7B098D;
           &::before{
            content: "\e9a7";
            font-family: 'icomoon';
       }
      
      
      }
      
      & .x-icons.x-fa-question {
        color: #7B098D;
        &::before{
         content: "\e97b";
         font-family: 'icomoon';
        }
      }
      
      & .x-fa-error{
        color: #7B098D;
        background: none !important;
        &::before{
          content: "\e9a5";;
          font-family: 'icomoon';
        }
      }
      
      & span#controlMessageText{
        font-family: 'Heebo';
      font-style: normal;
      font-weight: 400 !important;
      font-size: 20px !important;
      line-height: 130%;
      text-align: center;
      color: #000000 !important;
      }
      & button{
        height: 46px;
        margin: auto;
        background: #8C4D9C !important;
        box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) !important;
        border-radius: 40px !important;
        color: white !important;
        font-size: 14px !important;
        text-align: center;
        margin-top: 10px !important;
        border: none !important;
        
          &:hover{
            background: #690779 !important;
          }
        }
      
        }
      }

  
    

}

body.bodyPayment{

    .logoImg{
        width: 66%;
        position: relative;
        top: 50%;
        margin: 0 auto;
        right: 0;
        transform: translateY(-50%);
        left: 0;
    
    }
}



.k-animation-container:has(.k-coloreditor){
    border-radius: 8px;
    border: 1px solid var(--taa-s-neutral-400, #CCC);
    background: var(--taa-s-neutral-100, #FBFBFB);

    .k-colorpicker-popup{
        box-shadow: none;
        border: none;
        background: none;

        .k-coloreditor{
            background: none;
        }
        .k-upload-button.k-button-solid-base{
            background: none !important;

       
        }
    }
}



html:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page){

.k-animation-container .k-dropzone > .k-upload-button.k-button-solid-base span::before{
    color: var(--secondery-600, #0675B4);
    text-align: right;
    font-family: Assistant;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
}


.k-animation-container:has(.k-list){
    border-radius: 8px;
    border: 1px solid var(--taa-s-neutral-400, #CCC);
    background: var(--taa-s-neutral-100, #FBFBFB);
    padding: 20px;

.k-popup,.k-list-content {
    box-shadow: none;
    border: none;
    background: none;
}

.k-list-item{
    border-radius: 8px;
    border: 1px solid var(--taa-s-neutral-300, #E6E6E6);
    background: var(--taa-s-other-white, #FFF);
    padding: 15px 20px;
    box-shadow: none;
    margin-bottom: 5px;
    margin-top: 5px;

    span{
        color: var(--taa-s-other-black, #000);
        text-align: right;
        font-family: Assistant;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }
}
}


}






.k-signature{
    min-height: 250px;
  .k-signature-action.k-signature-minimize{

        .k-icon{
            font-size: 24px;
            color: #6A3F75;
        }
     }
}