

#TafnitCore_SaaSServer_Meeting_UI_MeetingPage{

 
    margin: 0;

    & .headerNone{

        & .x-row{
            border: none !important;
            box-shadow: none;
        }
        
    & .x-iframe{

        border: none;

     
     }
}



}

