@use '../variables/masterVariable' as *;







$main-background-color:#8C4D9C;
$box-Details-background-color:#1F8FCE;

$font-family: "Assistant", sans-serif;


body.checkout-flow-v7.bg2{
  width: 90%;
  margin: auto;
}
#uber-container{
  padding: 0 !important;
}
#TafnitCore_SaaSServer_PaymentGetway_UI_SelectPayment{

& .price{
    padding-right: 0 !important;
    padding-top: 5px;
    border-top: solid 1px;
    margin-top: 75px;
}
@media only screen and (max-width: 1165px) {
  .col.x-col.s-col.col-12.titlePaymentOption > div > div.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-dynamiclabelcontrol-wrapper{
    width: 276px !important;
    margin: auto !important;
}

// &  .x-iframe-wrapper {
//   background-color: white;
//   top: 300px !important;
//   width: auto !important;
//   padding-right: 0% !important;
 
// }

// & .x-iframe.s-iframe {

//   width: 94%;
//   padding-left: 146px;

  
// }

  }

  // @media only screen and (max-width: 764px){
       
  //   & :.s-iframe{

    
  //   padding-right: 0% !important;
  //   }

  //   & .paymenIframe{
  //     padding-right: 0 !important;
  //   }
  // }
  
  

@media only screen and (max-width: 1165px) {





  & .price div {
    display: inline-block;
}



.row.x-row.s-row.border-0.paymentCard {
  margin-top: 130px ;
  height: 1000px !important;
  border-radius: 20px !important;
  border: none !important;
  background-color: rgb(255, 255, 255) !important;
  margin-right: 0 !important;
}



&  .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-dynamiclabelcontrol-wrapper.pricePayment .x-dynamic-label-control.s-dynamic-label-control {
  height: 100px;
  text-align: center !important;
  width: 100%;
  font-family: "Assistant", sans-serif;
  display: block;
  margin-top: 27px;
  font-weight: 900 !important;
  margin-left: 15px;
  font-size: 40px !important;
  color: white;
  font-weight: bold !important;
  margin-bottom: 0;
}

& .k-icon.fal.fa-shekel-sign {
  font-size: 18px;
  margin-top: 45px;
}


  & .titlePay {
    border-radius: 20px !important;
    margin-top: 130px !important;
    height: 215px !important;
  }
  & {
    width: 100% !important;
    height: 607px !important;
    margin: auto !important;
    background-color: $main-background-color!important;
    padding: 0px !important;
    position: relative;
  }

  
  & .x-dynamic-label-control {
    text-align: center !important;
  }
 & .textPricePayment {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 8px;
  }
  & .haderText {
    margin-top: 165px;
    font-family: "Assistant";
    font-style: normal;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 25px;
    color: black !important;
  }
  & .x-cell {
    padding-left: 0;
    padding-right: 0;
  }
//   & :.s-iframe {
//     padding-right: 0% !important;
//     height: 105vh !important;
// // & body.dektop{
  
// // }
//   }

  

  & .fotterText {
    margin-top: 5px;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #989696;
    height: 50px;
  }
  & .gal {
    padding: 0 !important;
    border: none !important;
    height: 29px;
  }
  & .row .x-row .s-row .border .border-0 {
    border-radius: 0px !important;
    background-color: $main-background-color!important;
  }
 & .btnPay button {
    background-color: $box-Details-background-color !important;
    color: rgb(255, 255, 255) !important;
    width: 274px !important;
    height: 69px !important;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 40px;
    font-family: "Assistant";
    font-style: normal;
    font-size: 30px !important;
    font-weight: 700;
    box-shadow: inset 4px 4px 10px rgba(12, 62, 73, 0.3);
  }
  & .btnPay {
    width: 68%;
    margin: auto;
  }
  & .watermark {
    background-color: rgb(255, 255, 255) !important;
  }
  & .PaymetnMS {
    width: 80% !important;
    height: 40% !important;
    background-color: $box-Details-background-color !important;
    position: absolute !important;
    z-index: 2;
    border-radius: 15px !important;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    font-family: "Assistant", sans-serif !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 300px !important;
  }
  & .logoPayment {
    margin-bottom: 43px !important;
    border-radius: 0px !important;
  }
  & .userNamePayment {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 9px;
    margin-top: 6px;
  }
  & .textPayment {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
  }
  & .textPayment2 {
    font-family: "Assistant" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 19px !important;
    line-height: 25px !important;
  }
  &  {
    line-height: 0;
    font-size: 19px !important;
    font-weight: 700 !important;
  }
  & .container-fluid {
    padding: 0px !important;
  }
 & .paymentOption{
    margin-top: 130px !important;
    height: 100% !important;
    border-radius: 20px !important;
    border: none !important;
    background-color: rgb(255, 255, 255) !important;
    margin-right: 0 !important;
  }




  // & .paymenIframe{

  //   position: absolute;
  //   top: 223px;
  //   bottom: 0px;
  //   right: 56px;
  //   margin: auto;
  //   width: 100% !important;
  //   left: 0px;
  //   padding-right: 17%;
    
  // }







  & .titlePaymentOption {
    text-align: center !important;
    font-family: "Assistant" !important;
    color: black !important;
    margin-top: 180px !important;
    font-size: 18px;
    padding-left: 59px;
    padding-right: 68px;
    padding-right: 0px !important;
  }
 & .buttonLayout {
    border: none;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 40px;

    
  }
  & .paymentButton {
    text-align: center;
    background-color: rgb(255, 255, 255) !important;
    border: none;
    margin-top: 30px;
    flex-basis: 29%;
    border-radius: 10px;
    max-width: 31%;
    color: rgb(0, 0, 0) !important;
    text-align: center;
  }
  & .k-button {
    background-color: rgb(255, 255, 255) !important;
    border: none;
  }
  & .paymentButton :hover {
    opacity: 0.9;
  }
  & .cardPrice {
    border: none !important;
    width: 220px;
    margin: auto;
  }
  & .price {
    padding: 0 !important;
  justify-content: center;
  margin-top: 0 !important;
    border: none !important;
    display: flex;
  }
  & .k-icon-wrapper {
    top: -27px;
  }
  & .iconShekl {
    margin-top: 47px;
	font-size: 50px !important;
  }
  & .buxPaymentSuccess {
    margin-top: 130px !important;
    height: 500px !important;
    border-radius: 20px !important;
    border: none !important;
    background-color: rgb(255, 255, 255) !important;
    margin-right: 0 !important;
  }
  & .iconSuccess {
    width: 202px;
    margin: auto;
    margin-top: 205px;
  }
  & .textSuccess {
    margin-top: 15px;
  }
  
}
@media only screen and (min-width:1165px) {


  & .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-dynamiclabelcontrol-wrapper.theUserName .x-dynamic-label-control.s-dynamic-label-control {
    color: white !important;
    /* font-weight: 900 !important; */
    font-size: 30px !important;
    justify-content: center !important;
    margin-bottom: 27px;
    font-weight: 800 !important;
    font-family: "Assistant";
    font-style: normal;
}



& .textIntoBlueBox {
  position: relative;
}



&  .x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-dynamiclabelcontrol-wrapper.thePrice .x-dynamic-label-control.s-dynamic-label-control {
    height: 100px;
    text-align: right !important;
    width: 100%;
    font-family: "Assistant", sans-serif;
    display: block;
    font-weight: 900 !important;
    font-size: 79px !important;
    color: white;
    font-weight: bold !important;
    margin-bottom: 0;
}


& .price div {
  display: inline-block;
}

& .k-icon.fal.fa-shekel-sign {
  font-size: 33px;
  margin-top: -13px;
}

  & {
    background-color: $main-background-color !important;
    width: 100% !important;
    height: 954px !important;
    margin: 0%;
    padding: 0%;
    margin: auto !important;
    max-width: 1900px !important;
   }
  & .x-image-wrapper {
    max-width: 1900px !important;
  }
  & .PaymetnMS {
    background-color: $box-Details-background-color !important;
    position: absolute;
    width: 466px;
    height: 470px;
    margin-right: 0%;
    z-index: 3;
    margin: auto;
    left: 659px;
    right: 0;
    top: 78px;
    bottom: 0;
    border-radius: 20px;
    color: rgb(255, 255, 255) !important;
    padding-right: 31px;
    padding-left: 49px;
  }
  
  & .paymentOption {
    width: 100%;
    position: absolute;
    left: -19px;
    top: 75px;
    bottom: 0;
    right: 0;
    padding-top: 0;
    width: 982px;
    padding-right: 0;
    margin-right: 30%;
    margin: auto;
    margin-top: 135px;
    width: 982px;
    height: 607px;
    padding-right: 176px;
    margin-right: 30%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 15px rgba(113, 7, 139, 0.2);
  }

  
 & .logoPayment {
    position: absolute;
    width: 100%;
    border-radius: 0px !important;
    margin-bottom: 100px;
  }
 & .buttonLayout {
  border: none !important;
  justify-content: left;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-left: 73px;
  height: 502px;
  /* width: 29px; */
  padding-bottom: 159px;
   grid-template-areas:
        "a s c"
        "a s c"
        "a b c";

      
  }

  & .titlePaymentOption {
    justify-content: left;
    display: flex;
    margin-top: 68px;
    padding-left: 81px;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
  }
  & .k-button {
    background: none !important;
    border: none;
    opacity: 0.7;
  }
  & .k-button:hover {
    opacity: 1 !important;
  }
  & .userNamePayment {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 9px;
    margin-top: 27px;
    margin-bottom: 10px;
  }
  & .textPayment {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 0;
    font-size: 27px;
    text-align: right;
    height: 147px;
    line-height: 1.6;
    border-radius: 0 !important;
  }
  & .textPayment2 {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 0;
    font-size: 27px;
    text-align: right;
    line-height: 1.6;
  }
  & .pricePayment {
   
    font-family: "Assistant";
    font-style: normal;
    font-weight: 900;
    font-size: 60.9px;
    height: 140px;
  }
  & .paymentButton {
    margin-right: 15px;
  }
  & .textPricePayment {
    margin-top: 9px;
    width: 146px;
    height: 8px;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;

    & span{
      width: 166%;
    margin-top: 86px !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    text-align: right;
    }
  }
  & .cardPrice {
    border: none !important;
  }
  & .k-icon-wrapper {
    float: left;
    margin-top: 64px;
    margin-left: 19px;
  }
  & .textPricePayment {
    margin-right: 0px;
  }



 & .gal {
    position: absolute;
  }



 
 & .btnPay button {
    background-color: $box-Details-background-color !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    width: 274px !important;
    height: 69px !important;
    border-radius: 40px;
    font-family: "Assistant";
    font-style: normal;
    font-size: 30px !important;
    font-weight: 700;
    box-shadow: inset 4px 4px 10px rgba(12, 62, 73, 0.3);
  }
 & .btnPay .x-control-content-wrapper {
    width: 274px !important;
    margin: auto;
  }
  & .btnPay {
    width: 100% !important;
    position: absolute;
    margin-top: 856px;
  }
 & .fotterText {
    position: absolute;
    width: 13% !important;
    margin-top: 930px !important;
    margin-right: 833px !important;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  & .haderText {
    margin-right: 525px;
    margin-top: 194px;
    position: absolute;
    color: rgb(255, 255, 255) !important;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
  }
  & .buxPaymentSuccess {
    height: 607px;
    width: 982px !important;
    border-radius: 15px;
    position: absolute;
    margin-right: 508px;
    margin-top: 237px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 15px 15px rgba(113, 7, 139, 0.2);
  }
  & .iconSuccess {
    width: 230px;
    margin-right: 571px;
    margin-top: 158px;
  }
  & .textSuccess {
    width: 200px;
    margin-right: 591px;
    margin-top: 21px;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    font-size: 22.4409px;
    line-height: 28px;
  }
  
}











@media only screen and (max-width: 1165px) {
  & .PaymetnMS {
    margin-right: 14px;
  }


  & .paymentOption {
    margin-right: 90px;
  }





}/*# sourceMappingURL=style.css.map */

@media only screen and (min-width: 1165px) {

& .x-iframe-wrapper {
  background-color: white;
  width: 982px;
  display: flex;
  width: 100%;
  position: absolute;
  left: -19px;
  top: 520px;
  bottom: 0;
  right: 0;
  padding-top: 0;
  width: 982px;
  padding-right: 0;
  margin-right: 30%;
  width: 982px;
  height: 607px;
  padding-right: 176px;
  margin: auto !important;
  border-radius: 20px !important;
}



.col.x-col.s-col.paymenIframe div:nth-child(4) {
  position: absolute;
  top: 771px;
  right: 412px;
  bottom: 0px;
  left: 0px;
}


.x-iframe{
  border: none !important;

  padding-right: 30% ;
  height: 580px !important;
  padding-bottom: 57px !important;

 .signup-body{
    width: 90%;
    margin: auto;
  }
  }

.signup-body{
  width: 90%;
  margin: auto;
}
}





.col.x-col.s-col.col-12.titlePaymentOption > div > div.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-dynamiclabelcontrol-wrapper {
  width: 431px;
  margin: auto;
}  


  & .titlePaymentOption {
    justify-content: center;
    display: flex;
    margin-top: 69px;
    padding-left: 0;
    padding-right: 284px ;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    width: 257px !important;
  }


 



  @media only screen and (max-width:1165px) {


    .col.x-col.s-col.textIntoBlueBox {
      padding-top: 10px;
  }


  .x-iframe{
    margin-top: 204px;
    padding-right: 20px !important;
    height: 103vh;
}
  
  //   .col.x-col.s-col.paymenIframe div:nth-child(4) {
  //     position: absolute !important;
  //     top: 642px !important;
  //     right: -108px !important;
  //     bottom: 0px !important;
  //     left: 0px !important;
  // }

  .col.x-col.s-col.price{
    padding: 0px !important;
  }

  & .textPricePayment span{
    margin-top: 29px !important;
  }


  }








.x-control-wrapper.s-control-wrapper.row.x-row.s-row.xstyle-buttoncontrol-wrapper.paymentButton button
{
  width: 100px !important;

  & span.x-button_caption_text{
    font-size: 16px;
    font-weight: 400;
    color: #7E7B7B;
  }
}


}

