

.xstyle-xmenu-wrapper {


    .k-group.k-menu-group{
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(2, 111, 158, 0.2) !important;
        border-radius: 10px;
        min-height: 150px;
        border:none;
        min-width: 200px;

        & .row{
            display: block;
        }

        .xstyle-dynamiclabelcontrol-wrapper{
            margin-bottom: 25px ;
            .x-dynamic-label-control{
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                text-align: right;
                color: #000000;
                text-align: center !important;
            }
        }


        .x-col:has(.k-icon){
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 15px;
            margin-bottom: 10px;
            .xstyle-dynamiclabelcontrol-wrapper{
                margin-bottom: 0;
                .x-dynamic-label-control{

                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: right;
                    color: #323C4B;
                    text-align: right !important;
                }
            }
        }
    }
}
