
@use '../varible/varible' as *;
div[uxid="lLastUpdate"]{
    margin-bottom: 20px ;
}



.xstyle-buttoncontrol-wrapper{
 margin-top: 10px !important;
&.k-state-disabled{
    opacity: 1 !important;
    & button.k-button{
        background: #FFFFFF !important;
        border: 1px solid #CCCCCC !important;
        color: #CCCCCC !important;
    }
}
& button{
border: none;
@extend %SimpleButton;
&:active{
    background: #267931 !important;
}

&:hover{
    background: #267931 !important;
    color: #FFFFFF !important;
}
}
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_HomePage{
    .xstyle-buttoncontrol-wrapper{
        & button{
            border-radius: 30px !important;
        }
}
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_HomePage,
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_DateCoordination{
    
    & img{
        width: 100% !important;
        margin-top: 20px;
    }
  
    & .optionDriver2{


        & .s-row.xstyle-buttoncontrol-wrapper{

            & button.k-button.x-button.s-button {

                border-radius: 0px 30px !important;
            }
        }

    }
    & .optionDriver,
    & .optionDriver2{
        padding: 0px 9px !important;
        & .s-row.xstyle-buttoncontrol-wrapper{

            & button.k-button{
                width: 100% !important;
                height: 90px !important;                
                background: #FFFFFF !important;
                box-shadow: 0px 2px 2px rgba(57, 181, 74, 0.1) !important;
                 border-radius: 30px 0px !important;
                 font-family: 'Heebo';
                font-style: normal;
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 130% !important;
                text-align: center !important;
                color: #000000 !important;
                margin-right: 0;
                border: none !important;
                &.x-button:focus-within{
                    background: #39B54A !important;
                    box-shadow: inset 5px 5px 10px rgba(0, 1, 2, 0.15) !important;
                    border-radius: 0px 20px !important;
                    color: #FFFFFF !important;
                  }

            }
        } 
    }

    & .editButton {
        & button{
            width: 100% !important;
            margin: auto !important;
            border-radius: 30px;
            font-size: 24px;
            line-height: 129%;
            font-weight: 700 !important;
            letter-spacing: 2px;
            & span.k-icon{
                float: left;
                top: -4px;
                left: -13px;
                font-size: 22px;
                color: #39B54A;
                background: white;
                padding: 18px;
                border-radius: 50px;
                &::before{
                    
                    border: 2px solid;
                    border-radius: 50px !important;
                    width: 88% !important;
                    height: 88% !important;
                    line-height: 27px !important;
                 
                }
            }

          
        }
        & span.x-dynamic-label-control{
            font-size: 14px !important;
            line-height: 100%;
            color: #000000 !important;
            font-weight: 400 !important;
        }
    }
}

.btn-special{
    & button.k-button.x-button{
        border: 1px solid #267931 !important;
        border-radius: 20px !important;
        background-color: #FFFFFF !important;
        color:#267931 !important;
        margin-top: 30px !important;
        box-shadow: none !important;
    }
}


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_AccidentReportPage{
    margin: 0px auto !important;
    & .xstyle-buttoncontrol-wrapper{

        & button.k-button{
            width: 100% !important;
            margin-right: 0 !important;
            margin-top: 10px !important;
        }
    }
}

#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_DateCoordination{
    & .xstyle-buttoncontrol-wrapper{

        & button.k-button{
          &.x-button:focus-within{
            background: #39B54A !important;
            box-shadow: inset 5px 5px 10px rgba(0, 1, 2, 0.15) !important;
            color: #FFFFFF !important;
          }
        }
    }
}

.buttonsSummary {
  margin-top: 20px !important;

    & button.k-button{
        background: none !important;
        color: #39B54A !important;
        border: none !important;
        box-shadow: none !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 130% !important;

        & span{
            font-size: 20px !important;
            margin-left: 7% !important;
        }
    }
}


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Login{

    .xstyle-textcontrol-wrapper.shadowIn input{
        margin-bottom: 10px;
    }
}