

@use '../varible/varible' as *;
.xstyle-intlphonenumber-wrapper{
    margin-top: 25px;

    & .selected-dial-code{
        margin-top: 9px;
        width: 64%;
        text-align: left;
        padding-left: 3px !important;
        border-right: 1px solid #cccccc !important;
    }
    &.k-state-disabled{
        opacity: 1 !important;
       & input{

           @extend %DisableInput;
       }

       & label{
           color: #CCCCCC !important; 
         }
   }
    & div{
        border: none !important;
    }

    & label{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 130% !important;
        text-align: right;
        color: #000000 !important;
    }

    & input{
    display: flex !important;
    border: none !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 20px !important;
    gap: 10px;
    width: 100% !important;
    height: 50px !important;
    background: #FFFFFF !important;
    border: 1px solid #cccccc !important;
    border-radius: 20px 0px !important;
    flex: none !important;
    margin-bottom: 0px !important;
    text-align: right !important;
    }

    & .selected-flag{
        background: none !important;
        font-family: 'Heebo' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 130% !important;
        color: #000000 !important;
       & .selected-flag{
        margin-top: 9px;
        margin-left: 4px;
       }
        
    }
}