

  .k-widget.k-window:has(#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SelectedGarageDetailes),
  .k-widget.k-window:has(#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SuccessMessage){
    position: absolute !important; 
    width: 90% !important;
    height: auto !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    top: 74px !important;
    background: #FFFFFF !important;
    border: 1px solid #BBBBBB !important;
    box-shadow: 0px 4px 4px rgb(57 181 74 / 20%), 0px 0px 4px rgb(57 181 74 / 10%) !important;
    border-radius: 20px 0px;

    & .k-header.header.x-header{
        display: none !important;
    }


    & #TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SelectedGarageDetailes{
        margin-bottom: 5px !important;
    }
    & .k-window-titlebar.k-hstack{
        background: none !important;
        border: none !important;
        position: absolute !important;
        direction: ltr;
        right: 18px !important;
        top: 10px;
        z-index: 1400;
        & span{
            color: #BBBBBB !important;
        }
      
    }

    & .k-header.header.x-header{
        display: none !important;
    }

    & .headerNone{
        margin-top: 55px !important;

        & .titleGarageDetailes {
            & h4{
                color: #39B54A !important;
                font-size: 16px !important;
                font-weight: 500 !important;
            }
        }

        & .textSpeed{
            position: absolute !important;
            top: 8px !important;
            left: 13px;
            & span{
                text-align: left !important;
                color: #39B54A !important;
                font-size: 12px !important;
                font-weight: 400 !important;
                overflow: hidden;
            }
        }

        & .textAddress{
            & span{
                text-align: right !important;
                font-weight: 400 !important;
                font-size: 14px !important;
                line-height: 100% !important;
                color: #BBBBBB !important;
                padding-right: 5px !important;
                overflow: hidden;
            }
        }

        & .secondaryTitle{
            & span{
                text-align: right !important;
                font-weight: 700 !important;
                font-size: 14px !important;
                line-height: 100% !important;
                color: black !important;
                margin-bottom: 5px ;
                overflow: hidden;
            }
        }

        & .secondaryText{
            & span{
                text-align: right !important;
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 130% !important;
                color: black !important;
                margin-bottom: 5px !important;
            }
        }

        & button{
             font-weight: 400 !important;
            & span{
               margin-left: 10px !important;
            }
        }
    }



  }

  .k-widget.k-window:has(#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SuccessMessage){

    top: 82px !important;
    border: none !important;
     #TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SuccessMessage {
        margin-bottom: 0 !important;
     }

    & .titleMessage{
        & span{
            color: #000000 !important;
            font-size: 16px !important;
            font-weight: 700 !important;
            margin-bottom: 0 !important;
            }
    }

    & .textMessage{

        & span{
        color: #000000 !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        margin-bottom: 8px !important;
        }
    }

    & .headerNone{
        margin-top: 38px !important;
    }

    & .k-window-titlebar.k-hstack{
        height: 0px !important;
        left: 4px !important;
        direction: rtl !important;
        right: 0 !important;
    }

  
  }


  .k-content:has(#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SuccessMessage),
  .k-content:has(#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_SelectedGarageDetailes){

    & .k-overlay{
        background: #133C19 !important;
       opacity: 0.9 !important;
    }
  }