@forward '../fonts/font.scss';
@forward '../components/animation';
@forward '../components/barcode';
@forward '../components/breadcrumb';
@forward '../components/button';
@forward '../components/calendar';
@forward '../components/canvas';
@forward '../components/carDamage';
@forward '../components/cell';
@forward '../components/chat';
@forward '../components/checkbox';
@forward '../components/compass';
@forward '../components/creditGuard';
@forward '../components/currentLocation';
@forward '../components/date-picker';
@forward '../components/diagram';
@forward '../components/drawer';
@forward '../components/drop-down';
@forward '../components/dropDownTree';
@forward '../components/fileViewer';
@forward '../components/footer';
@forward '../components/generalClass';
@forward '../components/grid';
@forward '../components/groupBox';
@forward '../components/header';
@forward '../components/imap';
@forward '../components/infoBubble';
@forward '../components/intelPhone';
@forward '../components/iSlider';
@forward '../components/layout';
@forward '../components/listview';
@forward '../components/loanSlider';
@forward '../components/lookup';
@forward '../components/mediaQuery';
@forward '../components/menu';
@forward '../components/messageBox';
@forward '../components/multiCheckboxDropdown';
@forward '../components/multichoice';
@forward '../components/multiselect';
@forward '../components/pFloating';
@forward '../components/popupSignature';
@forward '../components/popupwincls';
@forward '../components/progressBar';
@forward '../components/radio-button';
@forward '../components/rangeNumber';
@forward '../components/rating';
@forward '../components/scrollviewKendo';
@forward '../components/section';
@forward '../components/spinner';
@forward '../components/switch';
@forward '../components/textbox';
@forward '../components/timelineRTL';
@forward '../components/timepicker';
@forward '../components/treeview';
@forward '../components/upload';
@forward '../components/video';
@forward '../components/videoStream';
@forward '../components/virtual-keyboard';
@forward '../components/window';
@forward '../components/autocomplete';
@forward '../components/threeoptionsSwitch';
@forward '../components/linke';
@forward '../components/linklist';
@forward '../components/simpleXML';
@forward '../components/signature';
@forward '../pages/accessiblity-edit';



@forward '../pages/login';
@forward '../pages/payment';
@forward '../pages/Survey';
@forward '../pages/receipt';
@forward '../pages/errorPage';
@forward '../pages/FillAndSignV2Page';
@forward '../pages/meeting';
@forward '../pages/Transportation';
@forward '../pages/accessiblity-viewer';





@forward '../../studio/style.scss';

html:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page),
html:has(#TafnitCore_SaaSServer_Survey_UI_Survey){
  max-width: 420px !important;
  margin: auto !important;

  .x-footer {
    max-width: 420px !important;
    margin: auto !important;
  }

  #watermark{
    right: 0 !important;
  }
}
.x-login-user-error-msg{
  color: red !important;
}
.x-login-user-error{
    border-bottom: 1px solid red !important;
  }

a.k-icon{

  height: 100%;
}

   .k-i-marker-pin-target{
    width: 100%;
  }

  .xstyle-textcontrol-wrapper,
  .p-floating-container,
  .xstyle-date-wrapper,
  .xstyle-password-wrapper, 
  .xstyle-timepicker-wrapper,
  .xstyle-lookuptafnit-wrapper,
  .xstyle-idropdownlist-wrapper,
  .xstyle-autocomplete-wrapper,
  .xstyle-timepicker-wrapper{
    & input{
      text-align: right ;
    }
  }

  .xstyle-googleaddress-wrapper{

    & > div:nth-child(2){
      color: aquamarines;

      & .x-control-content-wrapper.s-control-content-wrapper{
    

        & .x-barcodeBtnContainer{
          width: 35px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 3px;
          top: 3px;
          border-radius: 1px;
        }
      }
    }
  }



  

  body.k-content{
    padding-right: 0px !important;
  }

 .k-content:has(.k-drawer-mini){


  #uber-container{

    padding-right: 50px !important;
  }
 }

 .redText{

  & span.x-dynamic-label-control {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #EE0909;
  }
 }


 .x-ltr{
  direction: ltr;
 }

 .x-rtl{
  direction: rtl;
 }


 .xstyle-textcontrol-wrapper {



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

}

.x-map {
  min-height: 350px;
}

.templatex-wrapper{
  all: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  .templatex-wrapper{
    all: initial;

  }
}

.x-dev-mode-edit-btn::before{
  color: black;
    pointer-events: all;
}


.x-control-wrapper{

  flex-wrap: nowrap;
  width: auto;
  & > * {
    flex-grow:1;
  }

  & .x-control-caption-wrapper{
    flex:0 0 33%;
    position:relative;    
   }

  & .x-control-content-wrapper{
    position:relative;
    width:100%;
  }
}


#TafnitCore_SaaSServer_OTP_UI_OTPValidation{
  padding: 0px 0px;

  #watermark{
    background: var(--background-light-grey, #F9F9F9);

  }
.xstyle-ilink-wrapper{

  .x-control-content-wrapper {
    text-align: center;
  }
}
  a{
    color: var(--system-colors-med-gray, #6B6E77);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    text-decoration-line: underline;
    margin-top: 30px;
  }
   div[uxid="rLogo"]{
    border: none !important;
    border-radius: 0;
    position: fixed;
    top: 0;
    height: 68px;
   padding: 14px 9px 14px 16px;
   background: var(--bright-blue, #14008E);
   }

.xstyle-image-wrapper{
   position: absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}

.xtaf-row-main{
padding: 0;
border: none !important;
background: none;
box-shadow: none;

.xtaf-title{
  span{
    color: var(--primary-colors-prime-blue, var(--prime-blue-white-1000, #232873));
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Heebo;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px;
    margin-top: 59px;
    margin-bottom: 10px;
  }
}

.xtaf-text{
  span{
    color: #6B6E77;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; 
  }
}


input{
  --otp-digits: 6;
  --otp-ls: 43px;
  --otp-gap: 1;
  --_otp-bgsz: calc(var(--otp-ls) + 1ch);
  --_otp-digit: 0;
  all: initial;
  background: linear-gradient(90deg, var(--otp-bg, #eee) calc(var(--otp-gap) * var(--otp-ls)), transparent 0), linear-gradient(90deg, var(--otp-bg, #EEE) calc(var(--otp-gap) * var(--otp-ls)), transparent 0 );
  background-position: calc(var(--_otp-digit) * var(--_otp-bgsz)) 0, 0 0;
  background-repeat: no-repeat, repeat-x;
  background-size: var(--_otp-bgsz) 100%;
  caret-color: var(--otp-cc, #222);
  caret-shape: block;
  clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);
  font-family: ui-monospace, monospace;
  font-size: var(--otp-fz, 1.5em);
  inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
  letter-spacing: var(--otp-ls);
  padding-block: var(--otp-pb, 10px);
  padding-inline-start: calc(((var(--otp-ls) - 1ch) / 2) * var(--otp-gap));
  /* margin: auto; */
  position: relative;
  margin-inline-start: calc(((var(--otp-ls) - -4ch) / 2) * var(--otp-gap));
  margin-top: 44px;
}
}

}