


#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_Messages{

    & .xstyle-dynamiclabelcontrol-wrapper{
        margin-bottom: 10px !important;
    }

    & .optionServ {


        background: #FFFFFF !important;
        border: 1px solid #BBBBBB !important;
        box-shadow: 0px 4px 4px rgba(57, 181, 74, 0.2), 0px 0px 4px rgba(57, 181, 74, 0.1) !important;
        border-radius: 40px 0px !important;
        margin-bottom: 20px !important;
        height: auto!important;
        width: 85% !important;

        & .border  {
            border: none !important;
        }

    }

    & .CloseMessage{
        
       margin-top: 15px !important;
       z-index: 1400;

       & span{
        color: #BBBBBB !important;
       }
    }

    & .DateMessage{
        position: absolute !important;
        top: 17px !important;
        left: 13px;
        & span{
            text-align: left !important;
            color: #AAAAAA !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            line-height: 100% !important;
        }
    }

    & .MessageTitleMessage{
       & span{
        color: #39B54A !important;
        font-weight: 700 !important;
        font-size: 24px !important;
        line-height: 25px !important;
        margin-top: 10px !important;
       }
    }

    & .MessageContentMessage span{


        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 130% !important;
        color: black !important;
    }
}