



mainbody {
&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InputInvoiceNoOrder),
&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InvoiceProForma){
    margin-top: 0px !important;
}

&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InputDeliveryCertificate){

    margin-top: 0px !important;
}
margin-top: 0px !important;
& > .row {
    background: $row-bg;
    box-shadow: $row-box-shadow;
    border-radius: 0px;
    padding: 30px 30px ;
    margin-bottom: 15px;

    & > .col-12,
    & > .col,
    & > .x-col{
        padding: 0;
    }

    &.row-hidden{
        box-shadow: none;
        border-radius: 0;
        padding: 0px 30px;
        & .col, .col-12{
            padding: 0;
        }
    }
    
    &.boxShadow-0.border-0{
        background: none ;
        box-shadow: none;
        padding: 0;
        & >div{
            padding: 0 ;
        }
    }
}
}

.row-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.x-row.row-grid-2col{
    padding: 30px 30px;
    & > .col-grid-2col{
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      max-width: 100%;
      margin: auto;
      align-items: end;

      button{
        margin: 0;
      }
    }
  }

  .greyPanel{

    .x-section-header-wrapper{
        & .col{
            padding-right: 0;
        }
        background: no-repeat;
        margin-bottom: 0px;
        .x-section-header {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            text-align: right;
            color:$row-color-title;
            ;
        }
    }

}


.xtaf-link-back{
    margin-bottom: 15px;
    a{
        color: $link-link-text-defaul;
        text-align: center;
        font-family: Heebo;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 13px */
        text-decoration-line: underline;
    }
}