


@import '../../Base-NewStyle/components/newStyle.scss';


@import './variable/variable';

@import './pages/login';
@import './pages/main';
@import './pages/CustomerCart';
@import './pages/RoomOptions';
@import './pages/RoomOptionsDetails.scss';
@import './pages/ItemConfiguration';
@import './pages/Notes';
@import './pages/ItemQuery';
@import './pages/NewCart';
@import './pages/SelectItems';
@import './pages/products';


@import './components/textbox';
@import './components/madia';
@import './components/row';
@import './components/password';
@import './components/button';
@import './components/link';
@import './components/label';
@import './components/chart';
@import './components/fotter';
@import './components/tabLabel';
@import './components/xMenu';
@import './components/cardimg';
@import './components/progressbar';
@import './components/title';
@import './components/barcode';
@import './components/bg';
@import './components/grid';
@import './components/tabscript';
@import './components/floatButton';
@import './components/textarea';
@import './components/popup';
@import './components/scrollview';
@import './components/messageBox';
@import './components/checkBox';
@import './components/dropdown';


@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Heebo:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


body,html{
    font-family: 'Heebo' !important;
}

#uber-container{
    background: white;
}

.navbar-fixed-top{
    position: relative;
}

.headerName{
    position: sticky;
    top: -1px;
    z-index: 10003;
}

.pageContainer{
    padding: 0;
}

.k-overlay {
    opacity: 0.3 !important;
    z-index: 10005;
}

.border-none{
    border: none !important;
}

.xstyle-image-wrapper .x-cell{
    padding: 0;
}

.icon-xtar-double-arrow-left::before{
    font-size: 10px;
}

.k-i-close:before {
    content: "\e904";
    font-family: "icomoon";
    font-size: 14px;
    color: #a6a6a6;
}