


.k-checkbox{
    width: 14px !important;
    height: 14px !important;
}
.xstyle-checkbox-wrapper{


   & .x-checkbox{

      border-color: $checkbox-border;
   

    &:checked{
        border-color: $checkbox-border-checked;
        &:before{
        color: $checkbox-color-checked;
        }
    }

    &:focus{
        box-shadow: none;
    }
   }

   & label{

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: $checkbox-caption;

   }


}