


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_VehicleFleet,#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_VehicleHistory{
.header-grid{
  .gridHeaderButton{
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    padding: 0px;
    border-top: 1px solid #8E8E8E;
    margin-top: 40px;

  }
}
}


.header-grid{
  .gridHeaderButton{
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    padding: 0px;
  

  }
}

// button bordr //
.gridHeaderButton{
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    padding: 0px;
    & .spicellBTN{

    
        & button{
        @extend %special-button;
        }
    }

    & button{
       
        @extend %button;

      &:hover{
        background: $button-bg-hover;
        color: $button-color-text-hover;
        border:1px solid $button-color-border;

        & span:before,& span:after{
          color: $button-color-icon !important;
        }
      }

      &:focus{
        background: $button-color-bg-focus;
        box-shadow:$button-box-shadow-focus;

        opacity: 1;
      }
      & span{
        color: $button-color-icon !important;
        font-size: 30px;
        right: -5px;


    }

   
    
    }



// button icon + text //
    & .icon-btn-text{
        & button{
            width: 110px;

            span:before{
                right: -15px;
            }
        }
    }
// button icon //
    & .icon-btn{
       
        & button{
            width: 50px !important;
            min-width: auto;

        }
    }
  }

  .xstyle-buttoncontrol-wrapper{

    &.spicelBTN{

      & button{
      @extend %special-button;


      &:hover{
        background: $special-button-bg-hover;
        color: $special-button-color-text-hover !important;
        border:none !important;
        span::before{
          color: $special-button-color-text-hover !important;
        }
      }

      &:focus{
        background: $special-button-bg-focus;
        color: $special-button-color-text-focus !important;
        opacity: 1;
        span:before,span::after{
          color: $special-button-color-text-focus !important;
        }
      }
      }
     }
    & button{
        @extend %button;
        max-width: 200px;
      &:hover{
        background: $button-bg-hover;
        color: $button-color-text-hover !important;
        border:1px solid $button-bg-hover;
        span::before{
          color: $button-color-text-hover !important;
        }
      }

      &:focus{
        background: $button-color-bg-focus;
        color: $button-color-text-focus !important;
        box-shadow: $button-box-shadow-focus;
        opacity: 1;
        span:before{
          color:  $button-color-text-focus !important;
        }
      }
        }

  }