

.header-customer {
  img{
      width: 100% !important;
      height: 45px !important;
    }
}
// header main //
header.navbar-fixed-top.header-customer {
  display: grid;
  grid-template-columns: 80%20%;
  height: 121px;
  background: $header-bg;
  box-shadow: $header-box-shadow;
  border-radius: 10px;
  width: 99% !important;
  margin: auto;
  top: 0px;
  border: none !important;
  position: sticky;
.xstyle-dynamiclabelcontrol-wrapper     {
  height: 25px;
}
  & div{
    max-height: 121px;
  }
div[uxid="iLogo"]{
  padding-left: 30px;
}
  // first-cube //

.mobileView{

  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
  & div.border-left{
      border-left:$header-border;
  }
  & > div{
    align-self: center;
  }

  & .helloText{
    & span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: $header-hellotext-color;
    }
  }

  & .UserNameDetails{
    & span{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 30px;
      color: $header-usernamedetails-color;
    }
  }

  & .LastLoginDetails{
    & span{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: $header-lastlogindetails-color;
      margin-top: 10px;
    }
  }
}

// secand cube //

.details {
& .left{

  & a{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    text-align: right;
    color: $header-link-color;
  }
  & span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: $header-details-span-color;
  }
  .xstyle-dynamiclabelcontrol-wrapper > .col-4, 
  .details .left .xstyle-dynamiclabelcontrol-wrapper .col-33{

    flex: 0 0 0.1%;
    & label{
      margin-left: 5px;
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 25px;
      text-align: right;
      color: $header-details-label-color;
    }
 } 
}


}

// logo //

.logo .x-self-container.s-self-container{
  position: absolute;
  width: 275px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

}