



mainbody {
&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InputInvoiceNoOrder),
&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InvoiceProForma){
    margin-top: 0px !important;
}

&:has(#TafnitCore_SaaSServer_Portal_Default_UI_InputDeliveryCertificate){

    margin-top: 0px !important;
}
margin-top: 0px !important;
& > .row {
    background: $row-bg;
    box-shadow: $row-box-shadow;
    border-radius: 10px;
    padding: 30px 30px ;
    margin-bottom: 15px;

    & > .col-12,
    & > .col,
    & > .x-col{
        padding: 0;
    }

    &.row-hidden{
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin-bottom: 0;
        & .col, .col-12{
            padding: 0;
        }
    }
    
    &.boxShadow-0.border-0{
        background: none ;
        box-shadow: none;
        padding: 0;
        & >div{
            padding: 0 ;
        }
    }
}
}

.row-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.x-row.row-grid-2col{
    padding: 30px 30px;
    & > .col-grid-2col{
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      max-width: 100%;
      margin: auto;
      align-items: end;

      button{
        margin: 0;
      }
    }
  }