$background: #004B93;
$main-square: #007FC1;
$text-square: white;
$text-default: #323C4B;
$icon-description : #7E7B7B;
$shadow-big-cube: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
$shadow-icon: drop-shadow(0px 0px 8px rgba(17, 130, 177, 0.3));
$shadow-icon-press: inset 2px 2px 4px rgba(17, 130, 177, 0.3);
$back-button: #007FC1; 
$icon-approve : #007FC1;
$title-approve: #007FC1; 




// bg // 
#TafnitCore_SaaSServer_PaymentGetway_UI_SelectPayment {
    background-color: $background !important;
    .titlePaymentOption{
        color: $text-default !important;
      }
}
@media only screen and (min-width: 1165px){
#TafnitCore_SaaSServer_PaymentGetway_UI_SelectPayment {

    .titlePaymentOption{
        color: $text-default !important;
      }
    .paymentOption{
        box-shadow: $shadow-big-cube !important;
    }
}
}





// cube //

#TafnitCore_SaaSServer_PaymentGetway_UI_SelectPayment .PaymetnMS{
    background-color: $main-square !important;
}