

#TafnitCore_SaaSServer_Portal_Agents_UI_Dashboard{

     .row-hidden{
        background: none;
     }

    .dashboard-row{
        display: grid;
        grid-template-columns: 60% 39%;
        gap: 15px;

        & > .col{
            background: #fff;
            box-shadow: 0px 0px 10px rgba(103, 103, 103, 0.1);
            border-radius: 10px;
            padding: 30px 30px;
            margin-bottom: 15px; 
        }
    }
.x-row:has(div[uxid="gOpenLeasingOrders"]){
    height: 100%;
}
.col:has(div[uxid="gOpenLeasingOrders"]){
    height: -webkit-fill-available;
    min-height: 140px;
    div[uxid="lGoToOpenLeasingOrder"]{
        position: absolute;
        left: 0px;
        bottom: 30px;
    }
}
    .x-marquee.s-marquee{
        font-size: 14px;
        font-family: 'Heebo';
        font-weight: 400;
        color: black;
    }

    .row:has(.xstyle-marquee-wrapper){
        height: 100%;
    }


}
