#TafnitCore_System_UI_App_Tools_Studio_UXStudio{

  div[uxid="xstudioComponent"]{
    max-height: 505px;
    overflow: auto;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
  }

  &::-webkit-scrollbar {
      width: 10px;
      background:#ffff;
  }

  &::-webkit-scrollbar-thumb {
      background:#29AFD9;
      border-radius:10px;
  }


  &::-webkit-scrollbar-thumb:hover {
      background: darken(#29AFD9, 5);
  }
  }
.x-section-header-wrapper:has(.x-btn-collapse){
  background: none;
  .x-btn-collapse #x-arrow-collapse{
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &::before{
      color: #ffffff;
    }
  }
  .col{
      
      display: flex;
      flex-direction: row-reverse;
      cursor: default;
      height: 28px;
      background: #1996BD;

      &:has(.collapsed){
          background: #075D78;
      }

  }
h3{
  background: none;
  color:  #ffffff;
  height: 30px;
  padding-left: 20px;
  text-align: left;
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  padding-right: 0;
}
  .x-btn-collapse {
      top: 0;
      position: relative;
      left: 0;
      border: none;
      width: 30px;
      height: 30px;
      background: none;
      align-items: center;
      display: grid;
      right: 0;
      margin: 0 auto;
      transform: rotate(0);
      &.collapsed{
          transform: rotate(0);
          span.k-i-arrow-60-down:before{
              content: "\f054";
              font-family: "Font Awesome 5 Pro";
          }
      }

      span.k-i-arrow-60-down:before{
          content: "\e404";
          font-family: "Font Awesome 5 Pro";
         
      }
  }
}
}