


#TafnitCore_System_UI_App_Tools_Studio_UXStudio{
// mainbody {

//     .ux-studio-border{
//     &.border-studio.xtaf-row-main,.xstudioRow.border-studio{
//         border-radius: 20px;
//         border: 1px dashed  black !important;
//         box-shadow: 0px 0px 6px 0px rgba(21, 155, 197, 0.80);
//     }

//     .xstudioCol{
//         &.border-studio {
//             border-radius: 0px;
//             border: 1px dashed  black !important;
   
//         }

// }

margin-top: 0px !important;
.xtaf-row-main,.xstudioRow{
    background: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 25px 10px;

    } 

    & > .col-12,
    & > .col,
    & > .x-col{
        padding: 0;
    }

    &.xtaf-row-hidden{
        box-shadow: none;
        border-radius: 0;
        padding: 0px 30px;
        & .col, .col-12{
            padding: 0;
        }
    }
    
    &.boxShadow-0.border-0{
        background: none ;
        box-shadow: none;
        padding: 0;
        & >div{
            padding: 0 ;
        }
    }
}


.xtaf-row-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.xtaf-add-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.x-row.xtaf-row-grid-2col{
    padding: 30px 30px;
    & > .col-grid-2col{
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      max-width: 100%;
      margin: auto;
      align-items: end;

      button{
        margin: 0;
      }
    }
  }

  .greyPanel{

    .x-section-header-wrapper{
        & .col{
            padding-right: 0;
        }
        background: no-repeat;
        margin-bottom: 10px;
        .x-section-header {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            text-align: right;
            color:$row-color-title;
            ;
        }
    }

}


.xtaf-link-back{
    margin-bottom: 15px;
    a{
        color: $link-link-text-defaul;
        text-align: center;
        font-family: Heebo;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 13px */
        text-decoration-line: underline;
    }
}