#TafnitCore_System_UI_App_Tools_Studio_UXStudio{

.xstyle-textcontrol-wrapper {
    margin-top: 15px;
// disable // 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */


    &.k-state-disabled{ 

      opacity: 1;

        & input.k-textbox{

          background: #F7F7F7 ;
           
        }

        & label{
            color: $control-caption-color-text-disable ; 
          }
    }


    & input{
      @extend %texbox-input;
      padding-right: 10px ;
     
      &.x-login-user-error{
        
        border-bottom: 1px solid #DB0000 ;
      }

        &:focus{
            box-shadow:$control-box-shadow-focus ;
            border: $control-border-focus ;
            outline: none !important;
        }

        &::placeholder{

            color: $control-color-placeholder ;

        }
    }

    & label{
        @extend %texbox-label;

    }
}

.x-textbox.s-textbox{
  width: 100%;
}

}