

.k-dropdown {
    width: 100%;

    span {
        &.k-icon {
            width: 100%;
        }

        &.k-input {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .k-select {
        // border-color: transparent;
        // background-color: transparent;
        // width: 100%;
        text-align: right;
    }
}




.xstyle-idropdownlist-wrapper{
margin-top: 15px;
&:has(.x-login-user-error-msg){
  & span.x-dropdown-comp.s-dropdown-comp {
  border-bottom: $control-border-error ;
  }
 }
  // readonly + disabled //

  &.k-state-disabled,
  &.x-readonly{
     & span.x-dropdown-comp.s-dropdown-comp{

      background: #F7F7F7 ;
         & span.k-icon{
          &::before{
            color: $control-caption-color-text-disable ; 
          }
         }
     }

     & label{
      color: $control-caption-color-text-disable ; 
       }
 }

 



  & span.x-dropdown-comp.s-dropdown-comp {
   
       @extend %texbox-input;

      

  &:focus,
  &:focus-within{
    border: $control-border-focus ;
    box-shadow: $control-box-shadow-focus;
  }

  & .k-input-inner{
    padding: 0
  }

  }

  & label{

    @extend %texbox-label;
  }

 
  & .k-input-button{
    left: -10px;
      &:hover{
        background: none;
      }
    & span.k-icon{
      &::before{
        
        content: "\f0d7";
        font-size: 20px;
        font-family: "Font Awesome 5 Pro";
        color: $control-color-icon;
        font-weight: 700;
      }

  }
  
  }


}


.k-list-scroller{
scrollbar-face-color: #8EBBCF;
scrollbar-track-color: #f3e9f8;
scrollbar-arrow-color: #8EBBCF;

/* width */
/* Track */
/* Handle */
/* Handle on hover */

&::-webkit-scrollbar {
  width: 10px ;
  border-radius: 10px;
  position: absolute;
}


&::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f0f0f0;
}

&::-webkit-scrollbar-thumb {
  background:#8EBBCF  ;
  border-radius: 10px;
  

  &:hover {
    background: #8EBBCF;
    
  }
  }

}


.k-animation-container{
  .k-list-optionlabel{
    display: none ;
  }
  & .k-popup{

    box-shadow: none ;
    border: $popup-border ;
    border-radius: 10px;
    margin-top: 5px;

    .k-list{
      border-radius: 10px;
    }
    & .k-list-content.k-list-scroller{
      border-radius: 10px;
        background: none ;
        padding: 12px 20px;
& ul{
  background: $popup-bg ;
}
        & li{
            height: 41px;

            &.k-selected.k-focus{
              background: $popup-bg-selected ;
              border: none;
              box-shadow: none;

              .k-list-item-text{
                color: $popup-color-text-selected ;
                font-weight: 700;
              }
            }

            &:hover{
              background: $popup-bg-hover;
            
              .k-list-item-text{
                color: $popup-color-text-hover ;
                font-weight: 700;
              }
            }

            & span{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                align-items: center;
                text-align: right;
                color: $popup-color-text;
            }

        }
    }
  }


}