

#TafnitCore_SaaSServer_Portal_Tools_UI_ReportGenerator{

    .back{
        padding-right: 0 !important;
        margin-bottom: 15px;
    }

    .col-grid-2col > .row{
        display: none;
    }

    .greyPanel > .col,
    .greyPanel > .col-12{
        padding-right: 0 !important;
    }
}