

//link-menu-control//

.xstyle-ilink-wrapper{
          
         & a{
    
          font-family: 'Heebo';
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 120%;
          color: $link-color;
          width: max-content;
         }

        }


    .xstyle-kicon-wrapper{ 
        &.back{

            padding-right: 20px;
            
            .k-icon{
              margin-left: 5px;
              color: $link-color;
              font-size: 12px;
            }

            .x-kicon-caption{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color:  $link-color;
                &:hover{
                    text-decoration: underline;
                }
            }
         }

        }
