
<<<<<<<< HEAD:system-design/components/_carDamage.scss
========


>>>>>>>> d8024ddf2eb628e03a7b386290b8ee7da12a2b60:system-design/components/Media-Control/_carDamage.scss
.x-cardamage-wrapper {
    .x-image-wrapper {
        .map {
            background-size: cover ;
            .map {
                background-size: cover ;
            }
        }
        .maphilighted {
            background-size: cover;
        }
    }

    .x-carMarksWindow {
        display: none;

        .x-controlGraphicalCarMarks {
            position: initial;
            width: 98%;
            height: 85%;
            margin: 2px;
            padding: 0;
            border: 1px solid #ccc;
            display: none;
        }

    }
}

/*car damage window*/
.x-sectionDamageTypeAndCamera {
    padding-bottom: 40px;

    .x-winHeadLine {
        display: inline-block;

    h4{
        color: var(--vanilla-other-black, #000);
        text-align: right;
        font-family: 'Heebo';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    }

    .x-damageTypeAndCamera {
        display: flex;
        width: 100%;

        .x-selectDamageType {
            font-size: 16px;
            width: 35%;
            float: left;

            .x-formDamageType {
                margin-right: 10px;
                display: inline-block;

                .s-radio-input{
                   border: 1px solid black;
                   
                   &:checked{
                    border: 1px solid #8EBBCF;

                
                   }

                   &:before{

                        background: #8EBBCF;
                   }
                }

                .x-radioDamageType {
                    margin-right: 10px;
                    color: var(--vanilla-other-black, #000);
                    text-align: right;
                    font-family: Heebo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px
                }
            }
        }

        .x-cameraSection {
            width: 65%;
            text-align: right;
            float: right;

            .x-imagePreview {
                position: relative;
                width: 40%;
                float: right;

                #lastImagePreview {
                    width: 95px;
                    height: 95px;
                    display: inline-block;
                    visibility: hidden;
                }
            }

            .x-cameraSection_btns_wrapper {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                float: right;
                align-items: center;

                .x-camera1 {
                    margin: 0 10px;

                    #cameraBtnPoint {
                        width: 40px;
                        height: 40px;
                        font-size: 1.5em;
                        border-radius: 50%;
                        border: 1px solid var(--vanilla-primary-300, #CDE7F2);
                        background: var(--vanilla-other-white, #FFF);
                        box-shadow: 0px 6px 5px 0px rgba(187, 216, 229, 0.30);

                        &:before{
                            font-weight: 200;
                            color: #8EBBCF;
                        }
                    }
                }

                .x-uploaderCD {
                    #x-file-add {
                        width: 40px;
                        height: 40px;
                        font-size: 1.5em;
                        border-radius: 50%;
                        border: 1px solid var(--vanilla-primary-300, #CDE7F2);
                        background: var(--vanilla-other-white, #FFF);
                        box-shadow: 0px 6px 5px 0px rgba(187, 216, 229, 0.30);

                        &:before{
                            font-family: 'icomoon';
                            content: "\e967";
                            color: #8EBBCF;
                        }
                    }
                }
            }
        }
    }

    .x-pointLinksArea {
        padding-top: 10px;
        display: none;
        width: 100%;
        h4{
            color: var(--vanilla-other-black, #000);
            text-align: right;
            font-family: 'Heebo';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
        #pointLinksAreaImgs {
            padding-left: 0;
            background: none;
            height: auto;
            overflow: hidden;
            border: none;
            margin: 0;
            display: inline-block;
            width: 100%;
        
       
            li {
                list-style-type: none;
                margin-right: 10px;
                border-radius: 5px;
                width: 100%;
                margin-top: 2px;

                .carDmLiDiv {
                    justify-content: start ;
                    height: 60px;
                    border-top: 1px solid var(--vanilla-primary-700, #759BAC);
                    padding-right: 25px;
                    width: fit-content;
                    &:before{
                        font-family: "icomoon";
                        content: "\e967";
                        color: #8EBBCF;
                        margin-left: 12px;
                        font-size: 22px;
                    }
                    >a {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 240px;
                        display: inline-block;
                        font-family: 'Heebo';
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                        color:black;
                    }

                    .carDmImagesRemove {
                        display: inline-block;
                        position: relative;
            
                        &:before{
                            content: "\e96c";
                            color: #8EBBCF;
                            margin-left: 12px;
                            font-family: "icomoon";
                            font-weight: 200;
                        }
                    }
                }
            }
        }
    }

    .x-pointNotesArea {
        padding-top: 10px;

        h4{
            color: var(--vanilla-other-black, #000);
            text-align: right;
            font-family: 'Heebo';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
        #notesAreaP {
            @extend %texbox-input;
            height: 50px;
            margin-bottom: 20px;
            outline: none ;
            width: 100%;
            box-sizing: border-box;

            &:focus{
                box-shadow:$control-box-shadow-focus ;
                border: $control-border-focus ;
            }
        }
    }

    .x-confirmCancelBtns {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        right: 0;
        margin: 0 auto;
        width: auto;
        border-radius: 4px 4px 0px 0px;
        background: var(--color-other-white, #FFF);
        box-shadow: 0px 0px 10px 0px rgba(103, 103, 103, 0.10);

        .k-button {
            float: right;
            width: 20%;
            font-size: 15px;
            margin: 0 2px;
            height: 40px !important;
        }

        #deleteBtnPoint {
            float: left;
        }
    }
}

#ImagePreviewCarDamageWindow {
    #PreviewOfCD {
        text-align: center;
    }
}

.k-rtl {
    .x-selectDamageType {
        float: right ;
    }

    .x-cameraSection {
        float: left ;
        text-align: left ;

        .x-cameraSection_btns_wrapper {
            float: left ;
        }
    }

    .x-pointLinksArea {
        #pointLinksAreaImgs {
            padding-right: 0 ;

            li {
                margin-left: 10px ;
                margin-right: 0px ;
            }
        }

    }

    .x-confirmCancelBtns {
        .k-button {
            float: left ;
        }

        #deleteBtnPoint {
            float: right ;
        }
    }
}