#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login{
  .xtaf-logo-image{
    .x-image-wrapper {
      text-align: center !important;
      margin-bottom: 15px;
    }

    img{
      width: 284px !important;
      height: auto !important;
      margin: auto;
    }
  }

  div[uxid="cPassword1"]{
    margin-bottom: 10px !important;
    margin-top: 25px !important;
  }
}

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody div[uxid="bLogin"] .x-button-wrapper .k-button{
  margin-top: -40px;
}

.bg-imag-login{

  img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
  }
}

.loginLayout{
  z-index: 10003;
  margin-top: 160px !important;
}

.x-login-user-error-msg{
  text-align: right;
  font-family: 'Heebo';
}

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .k-textbox {
  padding-left: 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .checkboxHorizontal > div > div > div {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 0% !important;
            flex: 0 1 0% !important;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .checkboxHorizontal > div > div > div:first-child
  {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 0% !important;
            flex: 1 0 0% !important;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody ::-webkit-input-placeholder {
  text-align: right;
}

#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-textcontrol-wrapper.x-login-user-error-msg{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlcHello"] {
  padding-top: 120px;
}

@media only screen and (max-height: 950px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlcHello"]{
    padding-top: 0px;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlcLogin1"] {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin: 20px auto;
  padding: 0;
}

@media screen and (min-width: 1050px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlcLogin1"]{
    padding-bottom: 25px !important;
    padding-top: 35px !important;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .x-button-wrapper{
  text-align: center;
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .x-button-wrapper .k-button {
  height: 56px;
  line-height: 56px;
  width: 100%;
  max-width: none;
}

@media screen and (max-width: 1050px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .x-button-wrapper .k-button{
    height: 40px;
    line-height: 40px;
    width: 200px;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody > .row {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30), 0px 10px 4px 0px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px;
}

@media screen and (min-height: 1200px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody > .row {
    margin-top: 160px !important;
  }
}

@media screen and (min-width: 800px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody > .row {
    margin-right: 65px !important;
  }
}

@media screen and (min-width: 1050px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody > .row {
    margin-right: 140px !important;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .loginLayout {
  background-color: white !important;
}

@media screen and (max-width: 1050px) {
  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .loginLayout {
    padding: 10px !important;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-password-wrapper span.k-textbox {
  border: 0;
}




#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .x-textbox {
  background: transparent !important;
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-checkbox-wrapperr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-checkbox-wrapper .x-control-caption-text{
  margin-right: 10px;
  line-height: 1.3;
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-checkbox-wrapper input {
  font-weight: bold;
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlrLogin"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 550px;
  min-height:450px;
  margin: 65px 80px 0px 0px !important;
    position: absolute;
    top: 50%;
}

@media only screen and (max-height: 950px) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody [xid="controlrLogin"]{
    min-height: 450px;
  }
}


#TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .loginContent {
  width: 400px;
  padding: 0;
  margin: auto;

  span{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .col{
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
  }

  #TafnitCore_SaaSServer_Portal_ImporterCustomers_UI_Login mainbody .xstyle-checkbox-wrapper {
    width: 97%;
  }
}

.loginTitle {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  
  }
  
  @media screen and (max-width: 1050px) {
    .loginTitle {
      font-size: 40px;
    }
  }
  
  .loginTitle2 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
  }
  
  @media screen and (max-width: 1050px) {
    .loginTitle2 {
      font-size: 16px;
    }
  }

  
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .checkboxHorizontal > div:first-child .x-login-user-error-msg {
      height: 40px;
    }
  }
