

.total-panel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

   .border-bottom{
    border-bottom: 1px solid #8E8E8E !important;
    margin-bottom: 15px;
   }

    .labelTitle{
        height: 25px;
        display: grid;
        grid-template-columns: 1fr auto;
        & >.x-cell{
            max-width: 100%;
        }
    label{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 120% !important;
        text-align: right !important;
        color: #8E8E8E !important;
    }
    
    & span.s-dynamic-label-control.x-label{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 120%;
        color: #000000 !important;
        text-align: left !important;
        direction: ltr;
    }
    
    }
    
    .totalCol{
        padding-top: 10px;
        border-top: 1px solid #8E8E8E;

        .labelTitle.xstyle-textcontrol-wrapper{
            height: auto !important;
            display: grid;
        grid-template-columns: 1fr auto;

        & >.x-cell{
            max-width: 100%;
        }
           label{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 16px !important;
            line-height: 120%;
            text-align: right;
            color: #4E4E4E;
           }

           input{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 16px !important;
            line-height: 120%;
            text-align:left !important;
            color: $specail-label-text-color;
            height: auto !important;
            border: none;
            padding-right: 10px;
            direction: ltr;
           }
        }
    }
    
}

.total-body-row2{
    .xstyle-dynamiclabelcontrol-wrapper{
        span{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 14px !important;
            line-height: 100%;
            color: #650872;
        }
    }
}