


.xstyle-upload-wrapper:has(.k-file){
.k-upload-status.k-upload-status-total{
    display: none;
}
       & .k-upload-button span span.k-icon::before{
            color: #39B54A !important;
        }
    }
.xstyle-upload-wrapper{


.k-dropzone{
     margin-bottom:5px;
}

.k-focus{
    box-shadow: none !important;
}


& [class^="k-file-validation-message !k-text-success"] {
    font-family: "Heebo" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px;
    color: $upload-color-success !important;

  }
  
  & [class="k-file-validation-message !k-text-error"] {
    font-family: "Heebo" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px;
  }
    & .k-file-invalid{
        border-top: 1px solid $upload-border-border-top !important;
        border-bottom: none !important;
        & .k-file-name{
            font-weight: 500 !important;
            font-size: 14px !important;
            color: $upload-color-file-name !important;
            font-family: 'Heebo';
        }


        & .k-file-invalid-group-wrapper{
            & .k-icon{
                color: $upload-color-icon !important;
                font-size: 30px;
                top: 2px;
                &::before{
                    content: "\e9b0" !important;
                    font-family: 'icomoon' !important;
                }
            }
        }
    }


    & .k-upload-async{

        & .k-button-solid-base.k-upload-button{

       

            &.k-state-focused{
                box-shadow: none !important;
            }
          
        }
        & .k-button-solid-base:focus{
            box-shadow: none !important;
            border: none !important;
        }
        & .k-i-close{
            &::before{
                content: "\e904";
                font-family: 'icomoon';
                font-weight: bolder;
                font-size: 12px;
                color: $upload-color-icon !important;
            }
        }


        & .k-file-group-wrapper{
            & .k-icon{
                font-size: 30px;
                top: 2px;

                &.k-i-file-pdf{
                &::before{
                    content: "\ea65" !important;
                    color: $upload-color-icon !important;
                    font-family: 'icomoon';
                }

                &:after{
                    content: "\ea66" !important;
                    color: $upload-color-icon !important;
                    font-family: 'icomoon';
                }
            }

            &.k-i-file-data{
                &::before{
                    content: "\ea5e" !important;
                    color:$upload-color-icon !important;
                    font-family: 'icomoon';
                }

                &:after{
                    content: "\ea5f" !important;
                    color: $upload-color-icon !important;
                    font-family: 'icomoon';
                }
            }
            }
        }
        
        & .k-file.k-file-success{
            border-top: 1px solid $upload-border-border-top !important;
            border-color: $upload-border-border-top;
            border-bottom: none !important;
        }

        & .k-upload-files.k-reset{
            border: none !important;
        }

        & .k-file-name{
            font-weight: 500 !important;
            font-size: 14px !important;
            color: black !important;
            font-family: 'Heebo';
        }


        &.k-upload-empty{

       
            & .k-button-solid-base.k-upload-button{

               
                font-weight: 400 !important;
                &.k-state-focused{
                    box-shadow: none !important;
                }
              
            }
        }


        

        & .k-button-solid-base.k-upload-button{
           border: none;
           margin-bottom: 15px;
           background: $button-bg;
           border-radius: 10px;
           color:$button-color-text ;
           height: 50px !important;
           width: 200px !important;
           font-weight: 500;
        & span{
            
            & span.k-icon{
                margin-left: 10px !important;
                &::before{
                    color: $button-color-icon !important;
                    font-size: 22px !important;  
                }
            }
        }

        &:hover{
            background: $button-bg-hover ;
            color: $button-color-text-hover ;
            border:1px solid $button-color-border;

            & span{
            
                & span.k-icon{
                 
                    &::before{
                        color: $button-color-icon-hover !important;
        
                    }
                }
            }

        
        }

        &:focus,&:focus-within{
            background: $button-color-bg-focus !important;
            color: $button-color-text-focus !important;
            box-shadow: $button-box-shadow-focus !important;
            opacity: 1;
            & span{
            
                & span.k-icon{
                 
                    &::before{
                        color:  $button-color-text-focus !important;
        
                    }
                }
            }
      
          }
    }
}
}

.text-upload{
    position: absolute;
    top: 45px;
    left: -16px;
span.x-dynamic-label-control{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 100%;
    color: $upload-color-text;
    margin-top: 11px;
 }
}

.k-treeview-leaf{

    &.k-hover{
        background: none !important;
    }

    .k-sprite.fa-file{
        &:before{
            font-family: 'icomoon';
            color:$upload-color-icon;
            font-size: 16px;
            content: "\e930";
            font-weight: 100;
        }
    }

    .k-treeview-leaf-text{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #000000; 
    }


}

.k-upload-files {
    margin-top: 20px;
}