@use '../variable/variable' as *;

//label//

%texbox-lable{

   
    color: #7E7B7B !important;
    font-size: 14px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    display: grid;
    align-items: center;
    height: auto !important;
}

//input//

%texbox-input{

    border: none !important;
    background: none !important;
    border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
    color: map-get($map: $Colors, $key:  text-defualt) !important;
    padding-right: 10px; 
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    text-align: right !important;


}

//icon-eye-grid//

.k-i-preview{
    color: #7B098B !important;
    margin-top: 4px;
}


//button-control//
.k-timeselector{
    background: white !important;
    box-shadow: 0px 0px 8px rgba(123, 9, 141, 0.08) !important;
    border-radius: 10px !important;

    & .k-time-separator{
        margin-top: -67px !important;

        
    }
    & .k-time-header{
        justify-content: end !important;
        & span.k-title{
        display: none !important;
        }
    }
    & span.k-title{
    height: 2.5em;
    line-height: 2.5em !important;
    margin-top: -20px;
    background: white !important; 
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #7E7B7B !important;
    }
    & .k-time-container.k-content.k-scrollable{
    top: 8px !important; 

    &  .k-reset li.k-item{
        border: none !important;
        height: 25px !important;
        color: #000000 !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        margin-right: -28px;
        &:hover{
           background: none !important; 
           color: #7B098B !important;
        }
    }
    }

    & .k-time-list-wrapper{
        height: calc(10.00000001em + -30px) !important;
        background-color: white !important;
    }
   
    & .k-time-highlight{
        top: 31% !important;
        border-bottom: 2px solid #D9D9D9  !important;
        border-top: 2px solid #D9D9D9  !important;
    }
    & .k-time-list-container {
        justify-content: space-between;
        width: 70%;
        margin: auto;
        direction: ltr !important;
        & .k-time-list{
            top: -51px !important;
           
        }
    }

& .k-time-footer.k-action-buttons{
width: 79%;
margin: auto !important;
justify-content: space-between;
border: none !important;


}
}

.xstyle-buttoncontrol-wrapper,
.k-time-footer.k-action-buttons{
    & .k-button {

        max-width: 140px !important;
        line-height: 16px;
        height: 37px !important;
        border-radius: 10px !important;
        background: #7B098B !important;
        color: white !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        float: left;
        &:hover{
            background:#690779 !important ;
        }
        &:focus{
            background: #7B098B !important;
            outline: none !important;

        }
    
    }
}


//link-menu-control//

.xstyle-xmenu-wrapper{

  & .xstyle-ilink-wrapper{
    border-bottom: 1px solid #dedede !important;
    border-radius: 0 !important;
  }

    & .k-menu-link-text{
        font-size: 14px !important;
        color: #7E7B7B !important;
    }
    & ul{
        
    
      
     & a{

        color: #7B098B !important;
        font-size: 14px !important;
        border: none !important;
        text-align: right !important;
     }
    }
}

//required-control//

    .mandatory.p-floating-container,
    .xstyle-numberrange-wrapper.mandatory,
    .xstyle-timepicker-wrapper.mandatory,
    .mandatory.xstyle-textcontrol-wrapper,
    .xstyle-date-wrapper.mandatory,
    .xstyle-password-wrapper.mandatory,
    .xstyle-timepicker-wrapper.mandatory  {

       border-right: 5px solid map-get($map: $Colors, $key: requier ) !important;
       border-top-right-radius: 0px !important;
       border-bottom-right-radius: 0px !important;
       
     
            & >div:nth-child(2) span{
   
               border-bottom: none !important;
              
              
            }
   
        
       }

       //range-control//

    .xstyle-numberrange-wrapper{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        height: 41px;
        margin-bottom: 5px;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-right: 5px solid white ;
        &.x-readonly div:nth-child(2){
            height: 38px;
            border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;
            & label{
                @extend %texbox-lable;
                padding-right: 17px;
                height: auto !important;
                display: grid;
                align-items: center;
                line-height: 1.2;
                max-height: 2.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

            }
        }
        & input{
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;

            &::placeholder{
                color: #ECECEC !important;
            }
        }
       }


//basic-css-control + readonly-control + disable-control + contextmenu-control//

       .xstyle-textcontrol-wrapper,
       .p-floating-container,
       .xstyle-date-wrapper,
       .xstyle-password-wrapper, 
       .xstyle-timepicker-wrapper,
       .xstyle-lookuptafnit-wrapper, 
       .xstyle-autocomplete-wrapper,
       .xstyle-timepicker-wrapper{

        & input.k-textbox.x-textbox.s-textbox:focus-within{
            border: 1px solid #DDC3E7 !important;
            -webkit-box-shadow: 0px 0px 10px #f6ecfb !important;
            box-shadow: 0px 0px 10px #f6ecfb !important;
        
        }

        // &:active{
        //     border: 1px solid #DDC3E7 !important;
        //      box-shadow: 0px 0px 10px #F6ECFB !important;
        // }


        &.x-contextmenu{

            & div:nth-child(1)> div.x-control-caption-wrapper::before{
                content: "\f0d8" !important;
                font-family: "Font Awesome 5 PRO";
                font-weight: 900;
                font-size: 18px;
                position: absolute;
                top: 7px;
                margin-right: 1px;
                color: #037295 !important;
            }
        }

        &.x-readonly{
            & div:last-child input{
              color: black!important;
              &::placeholder{
                color: #ECECEC !important;
            }
            
            }
            & button span::before{
                color: #C8C8C8 !important;
            }
        }

        
        &.k-state-disabled{
               opacity: 1 !important;
               & label.x-control-caption-text {
               
                color: #C8C8C8 !important;
                 }
              & div:last-child input{
                color: #C8C8C8 !important;
                &::placeholder{
                    color: #ECECEC !important;
                }
              
              }

              & button span::before{

                color: #C8C8C8 !important;
              }
        }

        
        border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        height: 41.21px;
        margin-bottom: 5px;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-right: 5px solid white ;
       & .col-33{
        display: flex;
        align-items: center;
    }


       & div:nth-child(1) {

     
         & label{
        @extend %texbox-lable;
        padding-right: 17px;
        height: auto !important;
        display: grid;
        align-items: center;
        line-height: 1.2;
        max-height: 2.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

         }


         }



         &:has(.x-control-caption-wrapper){

            & div:last-child input{
                border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
            }
         }
            & div:last-child input{
                @extend %texbox-input;
                border: none !important;
                font-size: 14px !important;
                height: 37px !important;
                &::placeholder{
                    color: #ECECEC !important;
                    text-indent: 10px !important;
                }

                &:focus-within{
                    border: 1px solid #DDC3E7 !important;
                    box-shadow: 0px 0px 10px #F6ECFB !important;
                }
               
            
            }
        

            & div:last-child span{
                border: none !important;
                height: 36px;
                border-radius: 0px !important;

            }


       }

       //link-control//

    //    .xstyle-textcontrol-wrapper{

    //     & input.k-textbox.x-textbox{
    //         color: #7B098B !important;
    //     }
    //    }


//title-control//

.x-section-header.s-section-header{

    font-style: normal;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 130%;
    text-align: right;
    color: #000000 !important;

}


//first-title-control//

.x-cell-header.s-cell-header{

font-family: map-get($map: $typographyVariables, $key: -font-family);
font-style: normal;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 16px;
text-align: right;
color: map-get($map: $Colors, $key: text-defualt ) !important;
}


//checkbox require//

.xstyle-checkbox-wrapper.mandatory{

   
 & input{

    border-color: map-get($map:  $Colors, $key: requier ) !important;
    &::placeholder{
        color: #ECECEC !important;
    }

    &.k-checkbox:focus{
        border: 2px solid #DDC3E7 !important;
    }

 }

 & input:checked{

    border-color: map-get($map:  $Colors, $key: main-color) !important;
 }

    
}


//checkbox disable + readonly//

.x-readonly{

    & input.k-checkbox {
        border: 1px solid #7E7B7B !important;
        border-radius: 1px !important;
    
        &::before{
            color: #C8C8C8 !important;
        }
    }
    
    & label.k-checkbox-label {
        color: #7E7B7B !important;
    }
}
.k-button.k-disabled, .k-button[disabled], .k-disabled .k-button{
    opacity: 1 !important;
}

.k-state-disabled{

& input.k-checkbox {
    border: 1px solid #C8C8C8 !important;
    border-radius: 1px !important;

    &::before{
        color: #C8C8C8 !important;
    }
}

& label.k-checkbox-label {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 25px;
    text-align: right;
    color: #C8C8C8 !important;
}


} 


//radio disable//

.xstyle-radio-wrapper{


    &.x-readonly{

        opacity: 1 !important;
        & input.k-radio{
         border-color: #7E7B7B  !important;
         &:checked{
            border-color: #7E7B7B  !important;
            &::before{
    
                color: #7E7B7B !important;
            }
         }
    
        }
    
        & label{
            color: #7E7B7B  !important;
            font-size: 14px !important;
            &.x-control-caption-text {
                color: #000000 !important;
                font-size: 16px !important;
            }
          
        }

        
    }

    & label.x-control-caption-text {
        color: #000000 !important;
        font-size: 16px !important;
    }

   &.k-state-disabled {
      opacity: 1 !important;
    & input.k-radio{
     border-color: #C8C8C8 !important;
     &:checked{
        border-color: #C8C8C8 !important;
        &::before{

            color: #C8C8C8 !important;
        }
     }

    }

    & button span::before{

        color: #C8C8C8 !important;
    }
    

    & label{
        color: #C8C8C8 !important;
        font-size: 14px !important;
        &.x-control-caption-text {
            color: #000000 !important;
            font-size: 16px !important;
        }
      
    }
   }



}



.xstyle-daterangev2-wrapper{


    & input{
        color: #000000 !important;
        font-size: 14px !important;
        &::placeholder{
            color: #ECECEC !important;
        }
    }
    & .col-33{
        display: flex;
        align-items: center;
    }

  & .x-control-content-wrapper{

        & >div>span:nth-child(1){

            width: 55%;
            margin-left: 11px;
        }

        & >div>span:nth-child(2){

            display: flex;
            width: 55%;
            border-bottom: 1px solid #C8C8C8;

            & >span:nth-child(1){

               padding-right: 16px;
                margin-left: 12px;
                margin-top: 11px;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px !important;
                color: #7E7B7B !important;
              
            }

            & span.k-datepicker.k-input.x-datePickerResponsive{
                border: none !important;
                 
                & input{
                    border-right: 1px solid #C8C8C8 !important;
                   
                    &::placeholder{
                        color: #ECECEC !important;
                    }
                }
            }
        }




  }





}



// file control //

.xstyle-upload-wrapper{

    
    & .k-file-group.k-i-file-config{
        font-size: 24px;
        color:  #7E7B7B !important;
        top: 4px;
        &::before{
            content: "\e9ad" !important;
            font-family: "icomoon";
        }
    }

    & .k-file-success .k-progress {
        background-color: #15b0c5;
    }

    & .k-file.k-file-error{

        & .k-file-group.k-i-file-config{
            font-size: 24px;
            color:  #7E7B7B !important;
            top: 4px;
            &::before{
                content: "\e9b0";
                font-family: "icomoon";
            }
        }
    }


    & .k-file.k-file-success{

        & .k-file-group.k-i-file-image{
            font-size: 24px;
            color:  #7E7B7B !important;
            top: 4px;
            &::before{
                content: "\e9af";
                font-family: "icomoon";
            }
        }

        & .k-file-group.k-i-file-config{
            font-size: 24px;
            color:  #7E7B7B !important;
            top: 4px;
            &::before{
            content: "\e9ad" !important;
            font-family: "icomoon";
            }
        }

        & .k-file-group.k-i-file-txt{
            font-size: 24px;
            color:  #7E7B7B !important;
            top: 4px;
            &::before{
                content: "\e9b6";
                font-family: "icomoon";
            }
        }

        
        & .k-file-group.k-i-file-data{
            font-size: 24px;
            color:  #7E7B7B !important;
            top: 4px;
            &::before{
                content: "\e9ac";
                font-family: "icomoon";
            }
        }

        & .k-file-group.k-i-file{
            font-size: 24px;
            color:  #7E7B7B !important;
            top: 4px;
            &::before{
                content: "\e9ae";
                font-family: "icomoon";
            }
        }
    }

    & .k-dropzone{
        & .k-button-solid-base:focus-within{
            box-shadow: none !important;
            border: none !important;
        }

        &  .k-button.k-button-md.k-rounded-md.k-upload-button{
            border: none !important;

            & span{
                margin-right: -68px;
            }
            & span::before{
                font-size: 24px;
                font-weight: 500;
                content: "\e967";
                font-family: "icomoon";
            }
        }
    }

    & .k-upload-files.k-reset{
        border: none !important;
    }
    & .k-file-validation-message.k-text-success{
        font-family: 'Heebo' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        line-height: 18px;
        color: #15b0c5 !important;
    }

    & .k-file-validation-message.k-text-error{
        font-family: 'Heebo' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        line-height: 18px;

    }
    & .k-file-name{
        font-family: 'Heebo' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        line-height: 17px !important;
        color: #000000 !important;
    }

    & .k-file-group.k-icon.k-i-file-pdf{
        font-size: 24px;
        font-size: 24px;
        color:  #7E7B7B !important;
        top: 4px;
        &::before{
            content: "\e9b1";
            font-family: "icomoon";
        }
    }

    & button.k-button.k-icon-button.k-button-md.k-rounded-md{
        border: none !important;

        & span.k-i-close{
            font-size: 24px;
            color:  #000000 !important;
            &::before{
            content: "\e908";
            font-family: "icomoon";
            }
        }

        & span.k-i-retry{
            font-size: 24px;
            color:  #000000 !important;
            &::before{
            content: "\e9ab";
            font-family: "icomoon";
            }
        }
    } 
}


// range-control + date-control//
.k-datepicker.k-input.x-datePickerResponsive.s-datePickerResponsive.x-datePicker-pc.s-datePicker-pc.k-input-solid.k-input-md.k-rounded-md{
    opacity: 1 !important;
}
.k-datepicker.k-input.x-datePickerResponsive.s-datePickerResponsive.x-datePicker-pc
.s-datePicker-pc.k-input-solid.k-input-md.k-rounded-md{
    border: none ;
    
}

.xstyle-numberrange-wrapper,
.xstyle-daterangev2-wrapper{
    border-right: 5px solid white ;

    & .col-33{
        display: flex;
        align-items: center;
    }


    & div:nth-child(1).col-33 {
        border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;
        height: 38px !important;
         & label{
        @extend %texbox-lable;
        padding-right: 17px;
        
         }
        }
& div:nth-child(2).col-67 {


& .x-date-wrapper.s-date-wrapper{

    &:nth-child(1)>span{

        border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important;
    
    }
    margin-left: 10px;
        &>span.k-datepicker{
                border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;
                
               
        }
        }
    }
        & .x-numberrange{

            & span:first-child.k-textbox-container{
                margin-left: 10px;
                border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;
                border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;

                & input:focus-within{
                    border: 1px solid #DDC3E7 !important;
                    -webkit-box-shadow: 0px 0px 10px #f6ecfb !important;
                    box-shadow: 0px 0px 10px #f6ecfb !important;
                
                }
            }

            & span:last-child.k-textbox-container{
                
                    width: 94%;
                    display: flex;
                    -webkit-box-direction: normal;
                    flex-flow: inherit;
                     border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important;

                     & div{
                        width: 100% !important;
                        border: none !important;
                     }

                

                & input{
                    max-width: 100%;
                    border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
                    text-indent: 10px;
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important; 
                    &::placeholder{
                        color: #ECECEC !important;
                    }
                    &:focus-within{
                        border: 1px solid #DDC3E7 !important;
                        -webkit-box-shadow: 0px 0px 10px #f6ecfb !important;
                        box-shadow: 0px 0px 10px #f6ecfb !important;
                    
                    }
                }

                & span{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px !important;
                    align-items: center;
                    text-align: right;
                    color: #7E7B7B !important;
                    margin-left: 13px;
                    margin-top: 11px !important;
                    padding-right: 7px !important;
                }
            }


        }  

}



//search-grid-control//

.searchDesign  .xstyle-textcontrol-wrapper{

    border: none !important;

    & input.k-textbox{
        border-right: none !important;
        border-radius: 20px !important;

        &::placeholder{
            color: #ECECEC !important;
        }
    }
}


//textarea-control//

.xstyle-textareacontrol-wrapper{

& textarea:focus{
    outline: none !important;
      border: 1px solid #DDC3E7 !important;
    -webkit-box-shadow: 0px 0px 10px #f6ecfb !important;
    box-shadow: 0px 0px 10px #f6ecfb !important;
}
    &.mandatory label{
        border-right: 5px solid map-get($map: $Colors, $key: requier );
        padding-right: 17px !important;
    }

    & label{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #7E7B7B;
    border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
    width: 26%;
    margin-bottom: 10px;
    padding-right: 22px;
    }
}

.xstyle-date-wrapper{

    margin: 0 !important;
    margin-bottom: 5px !important;
}


.k-textbox{
    border-radius: 10px !important;
    border-color: #C8C8C8 !important;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 130%;
    text-align: right;
    padding: 10px;
    color: #000000 !important;
    
}

//dropdown-control//

.xstyle-idropdownlist-wrapper{

 .k-widget.k-picker {
        padding-top: 6px;
    }
    &.mandatory{
        border-right: 5px solid map-get($map: $Colors, $key: requier );
    }
    height: 41.21px !important;
    border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
    margin-bottom: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-right: 5px solid white;
    & .col-67{
         height: 37px !important;
        border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
     
    }

    & span.k-input-value-text{
        color: #000000 !important;
        font-size: 14px !important;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    & .col-33{
        display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
  
   &.mandatory label{
   
    padding-right: 17px;
   }
   & .x-disabled{

    &+div label{
        color: #C8C8C8 !important;
    }
   }
   & label{
    color: #7E7B7B !important;
    font-size: 14px !important;
     height: auto;
     display: grid;
     align-items: center;
    padding-right: 17px;
   }



}





.k-list-content.k-list-scroller{

    
    &::-webkit-scrollbar {
        border-radius: 10px;
        height: 100% !important;
        position: absolute;
      }

      &::-webkit-scrollbar-button {
        height: 100% !important;
      }
  
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #f0f0f0;
        height: 100% !important;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #C8C8C8 !important;
        border-radius: 10px;
       
  
        &:hover {
          background:  #C8C8C8 !important;
          
        }
      }
    }
  
    .k-list-container span.k-list-item-text, .k-list-content span.k-list-item-text{
        color: black !important;
        font-size: 14px !important;

    }


    //lookup//

    .xstyle-lookuptafnit-wrapper{
        border-right: 5px solid white ;
        margin-bottom: 5px;
        height: 41px;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important; 


    &.k-state-disabled{
        & .x-lookup .x-selection-lookup {
          & input.x-form-control{
            color:#ECECEC !important ;
          }
          & span.xLookupFullDescription{
            color:#ECECEC !important ;
          }
    }
    }
        & .col-33{
            display: flex;
            align-items: center;
            &.x-open-lookup{
                display: block !important;
            }
        }
    
      
    &.mandatory {
        border-right: 5px solid map-get($map: $Colors, $key: requier );
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important; 
    }

        border-bottom: 1px solid map-get($map: $Colors, $key: border-color ) !important ;

         & div:nth-child(1) label{

          @extend %texbox-lable;
          padding-right: 17px;
          display: grid;
         align-items: center;
         line-height: 1.2 !important;
         max-height: 2.5em;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;

         }

         & .x-lookup.s-lookup{

            border: none !important;
            & input{
                border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important; 
                text-indent: 10px !important;
                color: #000000 !important;
                &::placeholder{
                    color: #ECECEC !important;
                }
            }
            & span.xLookupFullDescription{
                border-right: 1px solid map-get($map: $Colors, $key: border-color ) !important ;
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important; 
                text-indent: 10px !important;
                color: #000000 !important;

            }
         }

    }


//treebiew-control//

.xstyle-itreeview-wrapper{

             & .k-treeview-bot.k-treeview-top,
             & .k-treeview-mid{

            
                & span.k-in{

                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 400 !important;
                    font-size: 14px !important;
                    line-height: 130% ;
                    text-align: right !important;
                    color: #000000 !important;

                    &:hover{
                        background:none !important;
                     }
                }


                & .k-i-expand{

                    color: #000000 !important;
                }

                & .k-i-collapse{

                    color:#C8C8C8 !important;
                }
             }



    }
    .k-treeview-leaf{
        &.k-focus{
            box-shadow: 0 0 0 0 white !important;
        }

        &:focus{
            box-shadow: 0 0 0 0 white !important;
        }
    
    &.k-selected{

        background: none !important;
        
    }

}

.k-treeview-leaf.k-in{
    color: #000000 !important;
}


//tabstrip-control//


.xstyle-tab-wrapper{

& .k-tabstrip-item.k-item{

    & span{
    opacity: 1 !important;
    color: #7B098B !important;
    }
}



& .k-tabstrip .k-tabstrip-items{ 

   
    & .k-item.k-state-active{

  
       border: none !important;

        & span.k-link{
        
           border-bottom: 1px solid #7B098B !important;
        }


    }
}
}


.x-button-wrapper{

    & .k-button[disabled]{

        background: white !important;
        border-radius: 10px;
        border: none !important;
        border: 1px solid #C8C8C8 !important;
        opacity: 1 !important;
        color: #C8C8C8 !important;
    }
}


textarea{
    height: 150px;
}




.x-infoWrap.s-infoWrap{

    right: 10%;
   

    & .x-infoButton .x-infoBubble::after{

        font-size: 18px !important;
        color: #7B098B !important;
    }
}

.xstyle-lookuptafnit-wrapper.k-state-disabled{

    & span.s-x-cs-btn{
        color:#C8C8C8 !important ;
    }
}

.xstyle-lookuptafnit-wrapper.x-readonly{

    & span.s-x-cs-btn{
        color:#C8C8C8 !important ;
    }

} 


.dynamicTitle .x-dynamic-label-control.s-dynamic-label-control{

    color: #7B098B !important;
    padding-right: 5px;

    &:hover{
        color: #690779 !important;
    }

}

.x-control-caption-text.s-control-caption-text{


    @extend %texbox-lable;
    padding-right: 22px;
    display: grid;
   align-items: center;
}

.k-tabstrip-item{

        border: none !important;


    & span{
        border: none !important;
        background: none !important;
    }
}

#panelbarnavbarControl.k-panelbar{


    border: none !important;
& .k-item.k-panelbar-header{
   
    border: none ;
    background: #FBFBFB !important;
    margin-bottom: 8px !important;
    width: 100%;


&.k-state-active{
    background: none !important;
    & span.k-link{
        background: #F5F5F5 !important;

        & .k-panelbar-item-text{
            color: #000000 !important;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 700 !important;
            font-size: 14px;
            line-height: 18px;
        }
        
        &:focus{
            box-shadow: none !important;
         }
    }
}    

& span.k-link{

    background: none ; 
    border-right: 3px solid #7B098B !important ;
    height: 38px;

    &:hover{
        background: #F5F5F5 !important;
    }
 &:focus{
    box-shadow: none !important;
 }

    & .k-panelbar-item-text{
        color: #000000 !important;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    & .k-icon {
        font-size: 22px;
        color:#690779 !important ;
    }
}
& .k-panelbar-group.k-group.k-panel{

    & .k-panelbar-item{
        height: 38px;
        display: flex;
        text-indent: 8px;
        color: black;
        font-weight: 400;
        font-size: 14px;

        &:hover{
            font-weight: 700 !important;
        }
    
    }
margin-top: 8px !important;

    & .k-link{

        border: none !important;
        background: none !important;
        
    }

}

}



}

.classifiedButton{
    button:has(.icon-xtab-next){
        direction: ltr ;
    }
}

.k-panelbar .k-group>.k-item>.k-link.k-state-selected, .k-panelbar .k-group>.k-panelbar-item>.k-link.k-state-selected, .k-panelbar .k-panelbar-group>.k-item>.k-link.k-state-selected, .k-panelbar .k-panelbar-group>.k-panelbar-item>.k-link.k-state-selected{
    color: #7B098B !important;
}


.buttonWithIcon {

& >div>div>div>.k-button.x-button.s-button {
    width: 50px !important;
    height: 37px !important;
}

}

.k-timeselector{

    & .k-time-header {
    
    width: 76%;
    margin: auto;
    & button{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #7B098B !important;
        border: none !important;
        background: none !important;
        margin-left: -19px;
    }
}
}

.x-groupbox-wrapper.s-groupbox-wrapper{

    & .x-groupbox-caption.s-groupbox-caption{
        color: #000000 !important;
        font-size: 16px !important;
    }
}