

@use '../variable/variable' as *;
@media only screen and (max-width: 1281px) {
    #TafnitCore_xAgreements_UI_InvoiceDetailes{
        padding: 0 15px !important;
        margin-top: 15px !important;
        & #TafnitCore_xAgreements_UI_PopUpOptions.xtafnit_pageContainer.pageContainer{
            margin-top: 106px !important;
            width: 23% !important;
            margin-right: 58% !important;
            margin-left: 0 !important;
        }
       & .header.k-header{
            position: sticky !important;
            margin-bottom: 15px !important;
            top: 15% !important;
        }
    }

    #TafnitCore_xAgreements_UI_InvoiceLinesService,
    #TafnitCore_xAgreements_UI_InvoiceLinesGoods,
    #TafnitCore_xAgreements_UI_InvoiceLinesFinance{
        margin-top: 15px !important;
        width: 98% !important;
        & .k-icon-wrapper{
            background: none !important;
            & span.icon-xtar-all-task {
            
                color: #7B098B !important;
                margin-top: 15px;
                margin-bottom: 10px;
         
            }
          }
          & .x-dynamic-label-control.s-dynamic-label-control{
            margin-bottom: 30px !important;
            font-weight: 400 !important;
            font-size: 24px !important;
            line-height: 32px !important;
            text-align: center !important;
            color: #7B098B !important;
            margin-top: 11px !important;
          }
    }
}

.k-tooltip.k-widget.k-popup.k-group.k-reset{
    border: 1px solid #D9D9D9 !important;
    box-shadow: 0px 0px 5px rgba(123, 9, 141, 0.25) !important;
    border-radius: 10px !important;
    text-align: center !important;
    color: #7E7B7B !important;
    font-size: 14px !important;
    top: -35px;
    font-weight: 400 !important;
}
#TafnitCore_xAgreements_UI_InvoiceDetailes{

   

    #pageTitle > span > span{
        font-weight: 400 !important;
    }

    & .xstyle-ilink-wrapper{
        margin-top: 20px !important;
    }


    & .x-dynamic-label-control{
        color: black !important;
        font-size: 14px !important;
    }
    & .icon-xtab-previous,
    & .icon-xtab-next{
        color: #7B098B !important;
        font-size: 22px !important;
    }

    & .k-toolbar-first-visible{
        height: 110px !important;
        box-shadow: 0px 6px 6px rgba(123, 9, 141, 0.1) !important;
        border-radius: 10px !important;
        width: 81%;
        margin-left: 20px;
        background-color: #FFFFFF !important;
    }
    
     & .x-control-content-wrapper.s-control-content-wrapper > .k-toolbar.k-widget.k-toolbar-resizable > :nth-child(2) > span{
           color:#7B098B !important;
           font-weight: 400 !important;
            font-size: 30px !important;
            line-height: 30px !important;
            height: fit-content !important;
            margin: auto !important;
            margin-right: 20px !important;
    }
   & div.k-button-group{

    height: 110px !important;
    background: #F5F5F5 !important;
    box-shadow: 0px 6px 6px rgba(123, 9, 141, 0.1) !important;
    border-radius: 10px !important;
    padding-right: 30px !important;
    padding-left: 10px !important;

    & a.k-button{
        box-shadow: 0px 4px 4px rgba(123, 9, 141, 0.2), 0px 0px 8px rgba(123, 9, 141, 0.2) !important;
        border-radius: 10px !important;
        margin-left: 20px !important;
        
    }
   }

 

   & #TafnitCore_xAgreements_UI_PopUpOptions{
    background: none !important;
    box-shadow: none !important;
    width: 17% !important;
    margin-left: 7% !important;
    margin-top: 5px !important;

    & .headerNone{
        box-shadow: none !important;
        filter: drop-shadow(0px 0px 8px rgba(123, 9, 141, 0.08)) !important;
        border-radius: 10px !important;

        & .row.x-row.s-row.border{
            box-shadow: none !important;
            padding: 0 !important;

            & > div{

                display: flex !important;
                padding: 10px !important;
                &:nth-child(1){
                    border-top-right-radius: 10px !important ;
                    border-top-left-radius: 10px !important ;
                }

                &:nth-child(2){
                    border-bottom-right-radius: 10px !important ;
                    border-bottom-left-radius: 10px !important ;
                }

                &:hover{
                    background: #7B098B !important;
                }
                &:hover .x-self-container span{
                    color: rgb(255, 255, 255) !important;
                   }

                   &:hover .x-self-container div:nth-child(2) span{
                    color: rgb(255, 255, 255) !important;
                   }
                

                & div.x-self-container:nth-child(1){
                   

                    & span.k-icon{
                        color: #7B098B ;
                        font-size: 24px !important;
                    }
                }

                & div.x-self-container:nth-child(2){
                    width: 100% !important;
                    
                    & span{
                        font-weight: 400 !important;
                        color: black !important;
                        font-size: 14px !important;
                        margin-right: 7px;
                    }

                    & .xstyle-dynamiclabelcontrol-wrapper{
                        & div.col-33:nth-child(1){
                            display: none !important;
                        }
                    }
                }    
            }
        }  
    }
   }



}

 .k-widget.k-window{
    background: #FBFBFB !important;
    & .k-window-titlebar.k-hstack{
       height: 35px !important;
       background: none !important;
       & span.k-i-close{
           font-size: 26px;
           top: 3px;
           left: 4px;
           color: #7E7B7B !important;
       }

    }
    & i.fas.fa-exclamation-triangle.x-icons.x-fa-warning{
        color: #7B098B !important;
        background: none !important;
        &::before{
            content: "\e90f" !important;
            font-family: 'icomoon';
        }
       }
  }

  #MessageBoxWindow  #buttonbtn2{
    margin: auto !important;
  }
  


  .k-widget.k-window:has(#TafnitCore_WorkFlow_UI_ConfirmActivity),
  .k-widget.k-window:has(#TafnitCore_WorkFlow_UI_Documents),
  .k-widget.k-window:has(#TafnitCore_WorkFlow_UI_History),
  .k-widget.k-window:has(#TafnitCore_xAgreements_UI_InvoiceLinesFinance),
  .k-widget.k-window:has(#TafnitCore_xAgreements_UI_InvoiceLinesService),
  .k-widget.k-window:has(#TafnitCore_xAgreements_UI_InvoiceLinesGoods),
  .k-widget.k-window:has(#TafnitCore_WorkFlow_UI_DeclineReason),
  .k-widget.k-window:has(#TafnitCore_WorkFlow_UI_ApproveReason){
    height: auto !important;
    padding: 35px 25px 25px;
    width: 50% !important;
    @media only screen and (max-width: 1280px) {
        height: 85% !important;
    }

    & .xstyle-buttoncontrol-wrapper .k-button{
        width: 140px !important;
    }
    & .secondaryTitle{
        & span{
        font-size: 20px !important
        };
    }
    & .k-grid .k-grid-header-wrap th{
        font-weight: 700 !important;
    }
    & .bt-confirm {
       margin-top: 35px !important;
        & button{
            float: none !important;
            margin: auto !important;
        }
        & a{
            margin-top: 8px !important;
        }
    }
& .k-window-titlebar.k-hstack{
    position: absolute !important;
     left:0 !important;
     top: 0;
}
& #TafnitCore_WorkFlow_UI_ConfirmActivity,
  #TafnitCore_WorkFlow_UI_Documents,
  #TafnitCore_WorkFlow_UI_History,
  #TafnitCore_xAgreements_UI_InvoiceLinesGoods,
  #TafnitCore_xAgreements_UI_InvoiceLinesService,
  #TafnitCore_xAgreements_UI_InvoiceLinesFinance,
  #TafnitCore_WorkFlow_UI_DeclineReason,
  #TafnitCore_WorkFlow_UI_ApproveReason{
    background: #FFFFFF !important;
    box-shadow: 0px 0px 8px rgba(21, 20, 21, 0.08) !important;
    border-radius: 10px !important;

 

    & .k-picker:focus-within, 
    & .k-widget.k-picker:focus-within {
    
      box-shadow: none !important;
    }

    & .headerNone .border{
        box-shadow: none !important;
    }
}
    & .k-icon-wrapper{
    background: none !important;
    & span.fa-file-check{
        
        color: #7B098B !important;
        &::before{
        content: "\e9b3" !important;
        font-family: 'icomoon' !important;
        }
    }
  }

  & span.icon-xtar-task-in-care,
  & span.icon-xtar-wf-edit,
  & span.icon-xtar-wf-no,
  & .icon-xtar-wf-yes{
  
    color: #7B098B !important;
 
}


  & .x-cell-header.s-cell-header{
   
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    text-align: center !important;
    color: #7B098B !important;
  }

  & .x-dynamic-label-control{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400 !important;
    color: black !important;
    font-size: 16px !important;
    margin-top: 40px ;
    line-height: 130% !important;
  }

}


.k-widget.k-window:has(#TafnitCore_WorkFlow_UI_Documents),
.k-widget.k-window:has( #TafnitCore_WorkFlow_UI_History),
.k-widget.k-window:has( #TafnitCore_xAgreements_UI_InvoiceLinesGoods),
.k-widget.k-window:has( #TafnitCore_xAgreements_UI_InvoiceLinesService),
.k-widget.k-window:has(#TafnitCore_xAgreements_UI_InvoiceLinesFinance){

    & .k-icon-wrapper{
        background: none !important;
        margin-top: 30px;
        & span.icon-xtar-wf-attach,
        & span.icon-xtar-all-task{
            
            color: #7B098B !important;
             
        }
    }

        & .x-dynamic-label-control.s-dynamic-label-control{
            margin-bottom: 30px !important;
            font-weight: 400 !important;
            font-size: 24px !important;
            line-height: 32px !important;
            text-align: center !important;
            color: #7B098B !important;
            margin-top: 11px !important;
          }
        
      & .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap .k-pager-first{
        margin-right: 40%;
      }

      & .xstyle-buttoncontrol-wrapper{
        margin-top: 30px !important;
      }
      & i.fa-file-pdf{

        &::before{
            content: "\e959" !important;
            font-family: 'icomoon';
        }
      }
      & .k-grid .k-grid-content td a{
        float: left;
      }
}