

.total-panel{
    display: grid;
    grid-template-columns: auto auto auto;

   .border-bottom{
    border-bottom: 1px solid #8E8E8E !important;
    margin-bottom: 15px;
   }

    .labelTitle{
    label{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-align: right;
        color: #8E8E8E;
    }
    
    & span{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #000000;
        text-align: left !important;
    }
    
    }
    
    .totalCol{

        .labelTitle.xstyle-textcontrol-wrapper{

           label{
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 500;
            font-size: 20px !important;
            line-height: 120%;
            text-align: right;
            color: #4E4E4E;
           }

           input{
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 500;
            font-size: 20px !important;
            line-height: 120%;
            text-align:left !important;
            color: #7B098B;
            height: auto !important;
            border: none;
            padding-right: 10px;
           }
        }
    }
    
}

.total-body-row2{
    .xstyle-dynamiclabelcontrol-wrapper{
        span{
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 500;
            font-size: 14px !important;
            line-height: 100%;
            color: #650872;
        }
    }
}