




.x-drawer{
    height: auto;
    background: $drawer-bg;
    box-shadow:$drawer-box-shdow ;

    .k-drawer-item{
        border-top: 1px solid $drawer-color-border;

        &:has(.icon-xtab-close){
          &.k-selected{
            background: none !important;
  
            span.k-icon,span.x-dynamic-label-control{
              color: #A1A3A5;
            }
            
          }
        }
        &.k-selected{
          background: #5E955C !important;

          span.k-icon,span.x-dynamic-label-control{
            color: #FFFFFF;
          }
          
        }
  
        &:hover{
          background: #F5F5F5 !important;
          span.k-icon,span.x-dynamic-label-control{
            color: #000000;
          }
        }
      span.k-icon{
        color: $drawer-color-icon;
        
      &.icon-xtab-close{
        color: #A1A3A5;
        font-size: 12px;
      }
      }


      span.x-dynamic-label-control{
        color:  $drawer-color-text;
        text-align: right;
        font-family: Heebo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
      
  
    }



}