

#TafnitCore_SaaSServer_Funding_B2B_UI_AdditionalLoaners{

    margin-top: 60px !important;
    .col-AddLoaner{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 16px;
        margin-top: 30px;

        .k-icon.icon-xtar-portal-refrash-lovim{
            top: 2px;
            font-size: 47px;

            &:hover{
                &::before{

                    content: "\ea32";
                }
                &::after{

                    content: "\ea33";
                }
            }
        }
    }
     .card-offer{
    

        .wrapper-card-offer{
            min-height: auto;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(2, 111, 158, 0.2);
            border-radius: 10px;
            padding: 25px;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;

            .text-offer{
                span{
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                text-align: right;
                color: #323C4B;
                }
            }

            .text-offer-icon{
                display: grid;
                grid-template-columns: auto auto auto;
                span.x-dynamic-label-control {
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    text-align: right;
                    color: #323C4B;
                    }
                .xstyle-kicon-wrapper {
                    position: absolute;
                    right: 130px;
                }
            }

            .blance{
                position: absolute;
                top: 10px;

                .x-xmenu {
                    border: none !important;
                }
            }

      
        }
     }

     .refresh-icon {
        top: 22px;
        right: 0;
        width: 10%;
    }

    .xstyle-buttoncontrol-wrapper     {
        padding-right: 30px ;
        max-width: 350px !important;
    }
}



#TafnitCore_System_UI_App_Tools_FillAndSignV2Page{
    margin-top: 20px !important;
  

}