

#TafnitCore_SaaSServer_Funding_B2B_UI_BDICheck{

    margin-top: 60px !important;

   .main-bdi{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
   }




     .x-iframe{
        border: 1px solid #ADB5BD;
     }

   .text-bdi{
    margin-bottom: 25px;
    span{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: right;
        color: #323C4B;
    }
   }


.xstyle-buttoncontrol-wrapper{
    text-align: center;
}
}