

#TafnitCore_SaaSServer_Funding_B2B_UI_LoanSecurity{

    margin-top: 90px !important;

.wrapper-uplode{
  grid-template-columns: auto !important;

  .body-upload{
    max-width: 400px;
  }
}

.col-list{
  margin-top: 30px;

  .list{
    line-height: 0;
  }
}
}