

@import'../../../../../base/variables/masterVariable';
// PALETTE 
$Colors: (
"bg-main-screen": #F8F8F8,
"bg-qube": #ffffff,
"button-bg": #ffffff,
"button-icons": #7d0a8c,
"button-important-bg": #7d0a8c,
"button-important-icon": #ffffff,
"button-important-text": #ffffff,
"button-text-defualt": #000000,
"contacts-menu": #037194,
"drawer": #650872,
"drawer-icon-openclose": #ddc3e6,
"drawer-icons": #ffffff,                
"drawer-line": #690679,
"grid-bg-filtered": #f5f5f5,
"grid-button-filter-button-second": #d9d9d9,
"grid-icon-filer-on": #FF780B,
"grid-icon-filter-off": #7e7a7a,
"grid-icons": #FF780B,
"grid-line": #ffffff,
"grid-page-number": #ddc3e6,
"grid-popup-filter-bg": #f5f5f5,
"grid-popup-filter-bg-button-off": #ffffff,
"grid-popup-filter-bg-subjec": #d9d9d9,
"grid-popup-filter-bg-value ": #ffffff,
"grid-popup-filter-button": #FF780B,
"grid-popup-filter-button-text": #ffffff,
"grid-popup-filter-stroke": #d9d9d9,
"grid-popup-filter-title": #FF780B,
"grid-stroke-under-line": #f5f5f5,
"grid-text-defualt": #000000,
"grid-text-title": #7e7a7a,
"grid-title-filtered": #7e7a7a,
"main-color": #7d0a8c,
"page-number-current": #7d0a8c,
"popup-bg": #7d0a8c,
"popup-bg-press": #690679,
"popup-bg-primary-base": #fafafa,
"popup-icon": #ffffff,
"popup-icons": #7d0a8c,
"popup-stroke": #f5f5f5,
"popup-text": #ffffff,
"popup-text-defualt": #000000,
"radio-button-off": #000000,
"radio-button-on": #7d0a8c,
"requier": #ff7a00,
"taxt-notification": #15b0c5,
"text": #7e7a7a,
"text-defualt": #000000,
"text-disable": #d9d9d9,
"border-color": #d9d9d9,
"text-link": #7d0a8c,
"user-screen-button": #f5f5f5,
"user-screen-button-primary-base": #ffffff,
"user-screen-color-icon": #7d0a8c,
"warning": #ee0909,
"border-color-defualt": black,
"checkbox-color": #7B098B,
"login-screen-boxshadow": rgba(123, 9, 141, 8%),
"login-screen-border" : #7d0a8c,
"dashboardpage-boxshadow-color": rgb(0 45 65 / 8%),
"grid-scoller-background": #FF780B,
"overview-screen-color": #7B098B,
);


// COMPONENTS 
$componentsVariables: (

);



$mandatory-color: #DA3382;



//grid//
$grid-filter-icon:#DA3382;
$Grid-color-title-th:#323C4B ;
$Grid-color-text-td:#323C4B ;
$grid-icon-search-color:#007FC1;
$Grid-checkBox-bg:#007FC1;
$Grid-checkBox-border:#007FC1;
// drower //

$drawer-background-color:#FFFFFF;
$drawer-box-shdow:0px 0px 10px rgba(2, 111, 158, 0.2);
$drawer-icon-color:#004070;
$drawer-color-text:#323C4B;
$drawer-color-link:#004070;
$overlay-color: #052136;

// button //

$Button-bg-hover:#BB2E71;
$Button-color-text: #FFFFFF;
$Button-color-border:none;
$Button-color-border-focus: #FAC9E0;;
$Button-color-icon:#DA3382;
$Button-bg:#DA3382;
$Button-float-bg:#007FC1;
$Button-float-color: white;

//spicel-button//

$spicel-button-bg:#FFFFFF;
$spicel-button-color-text:#DA3382;
$spicel-button-color-border:1px solid #DA3382;



/*controls*/
$control-caption-color-text: #323C4B;
$control-background: #FFFFFF;
$control-border-input:1px solid #CED4DA;
$control-color-input:#323c4b;
$control-radius-input:0px;
$control-caption-color-text-disable: #C7C7C7;
$control-border-input-disable: 1px solid #E7E7E7;;
$control-border-focus:1px solid #FAC9E0;
$control-box-shadow-focus: 0px 0px 6px rgba(218, 51, 130, 0.2);
$control-color-placeholder:#C7C7C7;
$control-color-icon:#007FC1;
$control-border-error:1px solid #DB0000;
//calnder //

$calendar-box-shadow:0px 0px 6px rgba(255, 120, 11, 0.2);
$calendar-bg-header:#FCFCFC;
$calendar-color-icon-header:#DA3382;
$calendar-color-text-header:#000000;
$calendar-bg-body:#F5F5F5;
$calendar-border-bottom-body:1px solid #DA3382;
$calendar-body-button-color:#BB2E71; 
$calendar-body-butoon-color-text-focus:white;
$calendar-body-butoon-bg-focus:#A11F5D;
$calendar-body-butoon-color-text-hover: white;
$calendar-body-butoon-border-hover:1px solid #DA3382;
$calendar-month-color-days-focus:#ffffff;
$calendar-month-bg-days-focus:#DA3382;
$calendar-month-color-today:#DA3382;
$calendar-month-border-today: 1px solid #DA3382;
$calendar-month-color-days-other-month:#8E8E8E;
$calendar-month-border-other-month-hover:1px solid #8E8E8E;
$calendar-month-color-other-month-hover:#8E8E8E;
$calendar-month-color-title:#DA3382;
$calendar-month-color-days:#DA3382;
$calendar-month-color-days-hover:#DA3382;
$calendar-month-border-days-hover:1px solid #DA3382;;
$calendar-fotter-color-text:#007FC1;

//checkBox //
$CheckBox-border:#323C4B;
$CheckBox-border-checked:#007FC1;
$CheckBox-color-checked: #FFFFFF;
$CheckBox-caption:#000000;
$CheckBox--checked-bg: #007FC1;


// cube-dasboard //
$Cube-dashboard-colot-text:#4B1754;
$Cube-dashboard-bg:#FCFCFC;
$Cube-dashboard-box-shadow:0px 0px 10px rgba(13, 13, 13, 0.1);
$Cube-dashboard-color-price:#7B098B;
$Cube-dashboard-color-icon:#4B1754;

//first-panel//

$first-panel-color-title:#7B098B;
$first-panel-color-icon-button:#7B098B;
$first-panel-border-icon-button:1px solid #7B098B;;
$first-panel-bg-icon-button:#FFFFFF;

// row //

$row-bg:#fff;
$row-box-shadow: 0px 0px 2px rgba(2, 111, 158, 0.1), 0px 8px 8px rgba(2, 111, 158, 0.15);


// popup //
$popup-border:1px solid #CED4DA;
$popup-bg:white;
$popup-color-text:#323C4B;
$popup-bg-selected:#EEF7FB;
$popup-color-text-selected:#026F9E;
$popup-bg-hover:#EEF7FB;
$popup-color-text-hover:#026F9E;


// cube-main//

$cube-main-box-shadow:0px 0px 10px rgba(2, 111, 158, 0.2);
$cube-main-title-color:#323C4B;
$cube-main-sum-color:#026F9E;
$cube-main-sum-icon: #026F9E;
$cube-main-card-border: 1px solid #007FC1;
$cube-main-card-num-color: #026F9E;
$cube-main-card-text-color: #323C4B;
$cube-main-card-icon: #026F9E;
$cube-main-text-color: #323C4B;
$cube-main-route-text-color: #026F9E;
$cube-main-price-color:#026F9E;


// cube-small //

$small-cube-box-shdow:0px 0px 2px rgba(2, 111, 158, 0.1), 0px 8px 8px rgba(2, 111, 158, 0.15);
$small-cube-text-color: #007FC1;
$small-cube-icon-color: #323C4B;



// B2B header //

$B2B-header-border-col: 1px solid #79b6f1;
$B2B-header-icon:#007FC1;
$B2B-header-box-shadow:0px 5px 10px rgba(2, 111, 158, 0.1);;
$B2B-header-text-defult:#000000;
$B2B-header-link-color:#DA3382;





//label//

%texbox-label{

   
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 21px;
    text-align: right;
    color: $control-caption-color-text;
    margin: 0;
}

//input//

%texbox-input{

    height: 50px;
    background: $control-background;
    border: $control-border-input !important;
    border-radius: $control-radius-input;
    padding: 10px 20px;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    color: $control-color-input;
    text-align: right;
}


// disable // 

%texbox-input-disable{

    background: $control-background;
    border:$control-border-input-disable;
}

// disable-caption // 

%texbox-label-disable{
    color: $control-caption-color-text-disable;
}


// spicel button //

%spicel-button{
    height: 50px !important;
    background: $spicel-button-bg;
    border-radius: 10px;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: $spicel-button-color-text;
    border: $spicel-button-color-border;
    
}

// button//

%button{
    background: $Button-bg;
    border: 1px solid $Button-color-border;
    border-radius: 10px;
    align-items: center;
    height: 50px !important;
    color: $Button-color-text;
    font-family: 'Assistant' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}