@use './components/header';
@use './components/bgCube';
@use './components/row';
@use './components/title';
@use './components/buttoncontrol';
@use './components/progressbar';
@use './components/windowDropDown';
@use './components/mobile';

@use './pages/SavingsProducts';
@use './pages/LoanSelection';
@use './pages/MonthlyIncome';
@use './pages/CreditCardConsent';

#TafnitCore_SaaSServer_Portal_FnxFunding_UI_StartPage{
    width: 60%;
    margin-right: 150px;
    margin-top: 30px !important; 
}

html{
    background: #F5F6FA !important;
}

body{
    background: none !important;
}

.previous-item{
    padding: 0;
    .x-kicon-caption{
        font-family: 'Ploni DL 1.1 AAA';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #232873;
        margin-right: 5px;
    }

    .k-icon {
        color: #232873;
        top: -1px;
        font-size: 20px;
    }
}