
$title-background: #14008e; 
$card-body-background: #ffffff; 
$color-text-title: #14008e; 
$color-text-title-link: #000000; 
$color-icon-bell: #ff5a23; 
$note-background: #ff5a23; 
$note-color-text: #ffffff; 

$card-body-box-shadow: 2px 2px 10px 0px rgba(20, 0, 142, 0.20);


 
    