.k-content:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page){
    padding: 0 !important;

    .k-widget.k-window:has(#MessageBoxWindow) {

        border: 1px solid #BD2E39 !important;
        box-shadow: 0px 0px 8px rgba(139, 7, 7, 0.3), 0px 10px 5px rgba(113, 7, 139, 0.1) !important;

      
        & #MessageBoxWindow{

          
      
          & #ctrlSectionMainSection{
        
            
            & div{
             

                 & .x-fa-warning{
                    &::before{

                        color: #BD2E39 !important;

                    }
                 }
            }
          }
       & .x-fa-info{
        color: #BD2E39;
      }
      
      & .x-icons.x-fa-question {
        color: #BD2E39;
      }
      
      & .x-fa-error{
        color: #BD2E39 ;
      }
      
    
      & button{
        background: #BD2E39 !important;
          &:hover{
            background: #BD2E39 !important;
          }
        }
      
        }
      }
    }

    #TafnitCore_System_UI_App_Tools_FillAndSignV2Page.xtafnit_pageContainer {
      .xstyle-radio-wrapper {
      
          & input{
            border: 2px solid #FFFFFF !important;
            box-shadow: 0px 0px 4px #000  !important;
            border-radius: 20px !important;
      
            &.k-radio::before{
                color: #BD2E39  !important;
                width: 12px !important;
                height: 12px !important;
      
            }
          }
      
          & label{
            font-family: 'Assistant' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 100% !important;
            color: black !important;
          }
      
      }
      
      
      // checkbox control //
      
      
      & .xstyle-checkbox-wrapper{
      
       
        & label{
            font-family: 'Assistant' !important;
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 100% !important;
            color: black !important;
          }
          
          & input{
            background: #F5F5F5 !important;
            border: 1px solid #CCCCCC !important;
            box-shadow: 0px 0px 4px #000 !important;
            border-radius: 4px !important;
           
      
            &.k-checkbox::before{
                background-color: #BD2E39  !important;
                width: 12px !important;
                height: 12px !important;
                content: "" !important;
      
            }
          }
      }
      
      }
      
      
       #TafnitCore_System_UI_App_Tools_FillAndSignV2Page .x-section-header-wrapper.s-section-header-wrapper {
              background-image: none !important;
              background-color: $funding-x-section-header-wrapper !important;
              border-bottom: 1px solid #000 !important;
          }
      
          #TafnitCore_System_UI_App_Tools_FillAndSignV2Page .xstyle-checkbox-wrapper input.k-checkbox {
              box-shadow: 0px 0px 4px #000 !important;
          }
      
      
      #TafnitCore_System_UI_App_Tools_FillAndSignV2Page .k-header.x-section-header-wrapper .x-section-header.x-section-header{
          color: #000 !important;
      }