

$bg-header: #334768;
$bg-small-cube: #AE2A30;
$color-text-small-cube: #FFFFFF;
$bg-main-cube: #FFFFFF;
$color-text-main-cube:#334768;
$box-shadow-main-cybe: 2px 2px 10px rgba(39, 62, 116, 0.2);
$color-icon-bell:#334768;
$color-title:#334768;
$color-text:#000000;


