

.k-widget.k-window:has(#TafnitCore_System_UI_App_Tools_SocialIdentification){

    background: #FFFFFF;
    box-shadow: 0px 4.91781px 4.91781px #05425C;
    border-radius: 10px;
    border: none;
    width: 90% !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    top: 3% !important;
    height: auto !important;
    max-height: 90%;
    #TafnitCore_System_UI_App_Tools_SocialIdentification{
        margin-bottom: 0 !important;
        .x-footer{
            display: none !important;
        }
    }
    .k-header.header {
        display: none;
    }
    .x-row{
        padding: 0 !important;
        background: none !important;
        box-shadow: none !important;
    }

    .k-window-titlebar{
        background: none;
        border: none;
    }
.wrapper-card-ID{
    max-width: 340px;
    margin: auto;
    max-height: 240px;
    min-height: 230px;
    .bg-user{
        position: absolute;
        width: 92px;
        top: 84px;
        right: 23px;
    }
    .bg-ID{
        position: absolute;
        padding: 0;
        width: 100%;

        img{
            min-height: 218px;
        }
    }



    .wrapper-parts{
        display: grid;
        grid-template-columns: 100px 1fr;
        margin-top: 97px;
        margin-right: 8px;
    }

    .ID-part1{

        display: grid;
        align-items: flex-end;
        grid-template-rows: 1fr auto;
    }

    .ID-part2{
        padding-left: 24px;
    }
    .ID-part1,
    .ID-part2{
.x-control-caption-wrapper,.x-control-content-wrapper {
    display: grid;
}
        label{
       
            font-style: normal;
            font-weight: 400;
            font-size: 5.40462px;
            line-height: 100%;
            color: #757575;
        }

        span{
          
            font-style: normal;
            font-weight: 600;
            font-size: 10.8092px;
            line-height: 100%;
            color: #323C4B;
            height: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}


.btn-license{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    text-align: center;

    button{
        min-width: 110px;
        width: auto !important;
    }
}

}