%inputFont{
    font-family: 'Assistant' ;
    font-style: normal ;
    font-weight: 600 ;
    font-size: 16px ;
    line-height: 100% ;
    color: #000000 ;
    text-align: right ;
    text-indent: 10px ;
    height: 50px ;
    background: #FBFBFB ;
    border-radius: 8px ;
    border: 1px solid #CCCCCC ;
}


%labelMain{
    font-family: 'Assistant';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #7E7B7B;
    height: 20px ;
}

html:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page){

    min-height: 100%;
    height: 100%;
}

#TafnitCore_System_UI_App_Tools_FillAndSignV2Page{

    margin-bottom: o ;
    height: 100%;
    min-height: 100%;

    & .x-self-container:has(.xstyle-videorecording-wrapper){

        width: 100% ;
        & .video-wrapper{

            max-width: 100% ;
        & video{
            max-width: 100% ;
        }
    }
    }

    & .x-section-header-wrapper{
        & div{
            padding: 0 ;
        }
    }

    & .xstyle-dynamiclabelcontrol-wrapper{
        margin-bottom: 25px;
    }

    & div[uxid="lbDescription"]{
        padding-right: 30px;
        margin-top: 30px;


    }

    & div[uxid="lbDescription"]:has( ~ div[uxid="cbCheck"] .d-none),
    & div[uxid="lbDescription"]:has( ~ div[uxid="cbCheck"].d-none){


            padding-right: 0px ;
            margin-top: 30px;

        }

    

    & div[uxid="cbCheck"]{
        position: absolute;
        top: 73px;
    }

    // תת כותרת //

    & h4.x-cell-header.s-cell-header{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 700 ;
        font-size: 16px ;
        color: #000000 ;
        margin-top: 20px  ;
        overflow:revert ; 
        line-height: 100%;
    }
    & .xstyle-dynamiclabelcontrol-wrapper{
        & .x-dynamic-label-control {
            font-family: 'Assistant';
            font-style: normal ;
            font-weight: 400 ;
            font-size: 16px ;
            line-height: 150% ;
            color: black ;
        }
    }
    & .k-header.x-section-header-wrapper{
           background: none ;
           border-bottom: 1px solid #E1ABEF ;
           margin-top: 20px ;
           border-radius: 0px;
        & .x-section-header {
            font-family: 'Assistant' ;
            font-style: normal ;
            font-weight: 700 ;
            font-size: 20px ;
            line-height: 100% ;
            color:#8C4D9C  ;
        }
    
    }

    div[uxid="rselectPreventionOfDenial"]{
        border: none ;
    }

    // button control //

    & .xstyle-buttoncontrol-wrapper{

        &.k-state-disabled{
            opacity: 1 ;
            & button.k-button.x-button{
            height: 46px ;
            border: 1px solid #BBBBBB ;
            background: white ;
            color: #7E7B7B ;
            border-radius: 40px ;
            box-shadow: none ;
        }
    }
        
        & button{

            height: 46px ;
            background: #8C4D9C ;
            box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) ;
            border-radius: 40px ;
            font-family: 'Assistant';
            font-style: normal ;
            font-weight: 700 ;
            font-size: 20px ;
            line-height: 26px ;
            text-align: center ;
            color: white ;
            margin-top: 100px ;
            border: none;
        }
    }


    // radio control //

    .xstyle-radio-wrapper {

          & input{
            background: #F5F5F5;
            border: 1px solid #CCCCCC;
            box-shadow: none ;
    
            &:checked{
                border: 2px solid #FFFFFF ;
                box-shadow: 0px 0px 4px #71078B ;
            }

            &.k-radio::before{
                color: #8C4D9C ;
                width: 12px ;
                height: 12px ;

            }
          }

          & label{
            font-family: 'Assistant' ;
            font-style: normal ;
            font-weight: 400 ;
            font-size: 16px ;
            line-height: 100% ;
            color: black ;
          }

    }


    // checkbox control //


    & .xstyle-checkbox-wrapper{

       
        & label{
            font-family: 'Assistant' ;
            font-style: normal ;
            font-weight: 400 ;
            font-size: 16px ;
            line-height: 100% ;
            color: black ;
            transform: translateY(33%);
          }
          
          & input{
            background: #F5F5F5;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            box-shadow: none ;
    
            &:checked{
                border: 2px solid #FFFFFF ;
                box-shadow: 0px 0px 4px #71078B ;
            }
           
           

            &.k-checkbox::before{
                background-color: #8C4D9C ;
                width: 12px ;
                height: 12px ;
                content: "" ;

            }
          }
    }

    .xstyle-image-wrapper{
        & img{
            margin-bottom: 20px ;
        }
    }

    // text control //

    .xstyle-textcontrol-wrapper{
        display: block;
        margin-bottom: 25px ;

        & input{
            @extend %inputFont;
            &:focus,
            &:focus-within,
            &:active{
                border: 1px solid #1F8FCE ; 
            }
        }

        & label{
            font-family: 'Assistant';
            font-style: normal ;
            font-weight: 400 ;
            font-size: 16px ;
            line-height: 100% ;
            color: #7E7B7B ;
        }
    }

    // idImg control // 

    .xstyle-identitycard-wrapper,
    .xstyle-driverlicense-wrapper{


        & .redRect{
            border: 1px solid #6E2C7E ;
            border-radius: 8px ;
            margin-top: 14px;
        }
    }


    // icon //

    .xstyle-kicon-wrapper{

       & .k-icon.fa-camera-retro{

        background: #0675B4;
        border-radius: 60px;
        width: 60px;
        height: 60px;
        padding: 9px 20px;
        margin-top: 25px ;
        margin-bottom: 15px ;

        &::before{
            content: "\f03e";
            font-family: "Font Awesome 5 pro" ;
            color: #FFFFFF ;
            font-size: 30px ;
        }
    } 
    & .k-icon.fas.fa-play,
    & .k-icon.fas.fa-stop{

        background: #0675B4;
        border-radius: 60px;
        width: 60px;
        height: 60px;
        padding: 9px 20px;
        margin-top: 25px ;
        margin-bottom: 15px ;

        &::before{
            color: #FFFFFF ;
            font-size: 30px ;
        }
    } 

    & .x-kicon-caption{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400 ;
        font-size: 20px ;
        line-height: 150% ;
        color: #0675B4 ;
    }
    }

    .x-footer {

        border: none ;
        background: #FCFCFC ;
        height: 76px ;
        box-shadow: 0px -4px 8px rgba(113, 7, 139, 0.1) ;
    
        & .row{
            border: none ;
        }
    
        & div{
        
    
            & button.x-button.s-button {
                height: 46px ; 
                background: #8C4D9C ;
                box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) ;
                border-radius: 40px ;
                border: none ;
                width: 95%;
                margin: auto;
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 700;
                font-size: 20px ;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF ;
                margin-top: 14px ;
    
                & span {
                    position: absolute;
                    left: 10px;
                    top: 11px;
                }
    
                & .fa-paper-plane{
                    display: none ;
                }
            }
        }
    }


    div{
        border: none ;
    }



    // signature //

    .xstyle-signature-wrapper{

        & span.signatureColorPicker{

            border-radius: 0px ;
         }
    
    
       & .GraphicalSignaturePlaceHoldersSign,.GraphicalSignaturePlaceHolders{
            border: 1px solid #CCCCCC ;
            border-radius: 8px ;
            padding: 20px ;

            & a img{
                display: none ;
            }

            & a::before{
                content: "\f12d" ;
                font-family: "Font Awesome 5 pro" ;
                color: #0675B4 ;
                font-size: 22px;
                font-weight: 100;

            }

            & .fas.fa-file-upload{

                &::before{
                    content: "\f357" ;
                    font-family: "Font Awesome 5 pro" ;
                    color: #0675B4 ;
                    font-size: 22px;
                    font-weight: 100;
                   
                }
            }
        }
    
        & .x-signature-canvas{
           border-top: none ;
           border-bottom: 1px dashed #ccc ;
        }
    }


    // upload control //

    .xstyle-upload-wrapper{
        & .k-state-focused{
            box-shadow: none ;
        }
       & .k-upload-button{
        justify-content: flex-start;
       } 
        & input+span{
            text-align: right ;
            font-family: 'Assistant' ;
            font-style: normal ;
            font-weight: 600 ;
            font-size: 16px ;
            line-height: 100%;
            color: #0675B4 ;
        }

        & .k-upload-files{
            border: none ;
        }
        & .k-file-invalid{
            height: 80px ;
            background: #FFFFFF ;
            border: 1px solid #CCCCCC ;
            border-radius: 8px ;
            padding-top: 22px;
            margin-top: 20px;

            & .k-file-group.k-icon{
                &::before{
                    content: "\e9b0"; 
                    font-family: 'icomoon';
                    color:#db4240   ;
                }
            }

            & .k-file-name{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px ;
                line-height: 130% ;
                text-align: right ;
                color: #7E7B7B ;
            }

            & [class="k-file-validation-message !k-text-error"] {
                font-family: 'Heebo' ;
                font-style: normal ;
                font-weight: 400 ;
                font-size: 14px ;
                line-height: 100% ;
                text-align: right ;

            }
            
            & .k-icon-button{
                margin-top: -15px ;
            }
        }
        .k-file.k-file-success{
            height: 80px ;
            background: #FFFFFF ;
            border: 1px solid #CCCCCC ;
            border-radius: 8px ;
            padding-top: 22px;
            margin-top: 20px;

            & .k-file-group.k-icon{
                top: 3px ;
            }

            & .k-i-file-image{
                &::before{
                    content: "\e9af"; 
                    font-family: 'icomoon';
                    color:#6E2C7E   ;
                    
                }
            }

            & .k-i-file-pdf{
                &::before{
                    content: "\e9b1"; 
                    font-family: 'icomoon';
                    color:#6E2C7E   ;
                }
            }

            & .k-file-name{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px ;
                line-height: 130% ;
                text-align: right ;
                color: #7E7B7B ;
            }
            & [class^="k-file-validation-message !k-text-success"]{
                font-family: 'Heebo' ;
                font-style: normal ;
                font-weight: 400 ;
                font-size: 14px ;
                line-height: 100% ;
                text-align: right ;
                color: #6E2C7E ;
            }

            & .k-icon-button{
                margin-top: -15px ;
            }
        }
    }

    & .xstyle-date-wrapper{

        & input.s-datePicker-mobile{
            @extend %inputFont;
            padding-top: 15px;
            border: 1px solid #CCCCCC ;
            &::placeholder{
                color: #BBBBBB ;
                font-weight: 600 ;
                font-size: 16px ;
            }
        }
        & input{
            @extend %inputFont;
              &::placeholder{
                  color: #BBBBBB;
                  font-family: 'Assistant';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 100%;
              }
              &:focus,
              &:focus-within,
              &:active{
                  border: 1px solid #1F8FCE ; 
              }
          }
        margin-bottom: 25px ;
        & label{
            @extend %labelMain;
               direction: rtl ;
           }
        & .x-datePickerResponsive{
            border: none ;
            background: none ;
      
            & input{
              @extend %inputFont;
                &::placeholder{
                    color: #BBBBBB;
                    font-family: 'Assistant';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                }
            }

            & button{
            
                top: 12px;
                left: 10px;
                & span.k-icon{
                    font-size: 22px;
                    color: #0675B4;
                }
            }
        }
    }

}


.k-content:has(#TafnitCore_System_UI_App_Tools_FillAndSignV2Page){
    padding: 0 ;
    height: 100%;
    min-height: 100%;
  
    .k-widget.k-window:has(#MessageBoxWindow) {

        position: absolute;
        left: 0 ;
        right: 0 ;
        margin: 0 auto;
        padding-bottom: 35px ;
        background: #FFFFFF ;
        border: 1px solid #8C4D9C ;
        box-shadow: 0px 0px 8px rgba(113, 7, 139, 0.3), 0px 10px 5px rgba(113, 7, 139, 0.1) ;
        border-radius: 20px ;
      
        & .k-window-titlebar.k-hstack{
         background: none ;
         flex-direction: row-reverse;
         border: none ;

          & .k-icon{
            color: black ;
            font-size: 20px ;
          }
          & .k-window-title{
            display: none ;
          }
        }
        & #MessageBoxWindow{

          
      
          & #ctrlSectionMainSection{
        
            display: block ;
            & div{
                 margin: auto ;
                 text-align: center;
                 margin-bottom: 10px ;

                 & .x-fa-warning{
                    &::before{
                        font-family: 'icomoon' ;
                        content: "\e9a6" ;
                        color: #8C4D9C ;
                        max-width: 100% ;

                    }
                 }
            }
          }
       & .x-fa-info{
        color: #7B098D;
           &::before{
            content: "\e9a7";
            font-family: 'icomoon';
       }
      
      
      }
      
      & .x-icons.x-fa-question {
        color: #7B098D;
        &::before{
         content: "\e97b";
         font-family: 'icomoon';
        }
      }
      
      & .x-fa-error{
        color: #7B098D;
        background: none ;
        &::before{
          content: "\e9a5";;
          font-family: 'icomoon';
        }
      }
      
      & span#controlMessageText{
        font-family: 'Heebo';
      font-style: normal;
      font-weight: 400 ;
      font-size: 20px ;
      line-height: 130%;
      text-align: center;
      color: #000000 ;
      }
      & button{
        height: 46px;
        margin: auto;
        background: #8C4D9C ;
        box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) ;
        border-radius: 40px ;
        color: white ;
        font-size: 14px ;
        text-align: center;
        margin-top: 10px ;
        border: none ;
        
          &:hover{
            background: #690779 ;
          }
        }
      
        }
      }

  
    

}

body.bodyPayment{

    .logoImg{
        width: 66%;
        position: relative;
        top: 50%;
        margin: 0 auto;
        right: 0;
        transform: translateY(-50%);
        left: 0;
    
    }
}


















