@use '../variables/masterVariable' as *;


.iconOnly {
    .k-button {
        background: transparent ;
        border: none ;
        color: black ;

        .k-icon {
            font-size: 40px ;
        }

        &:hover {
            box-shadow: none ;
        }

        &:active {
            box-shadow: none ;
        }
    }
}

.rowIcons{
    height: 75vh;
    align-items: center;
}