
%inputFont{
    font-family: 'Assistant' ;
    font-style: normal ;
    font-weight: 600 ;
    font-size: 16px ;
    line-height: 100% ;
    color: #000000 ;
    text-align: right ;
    text-indent: 10px ;
    height: 50px ;
    background: #FBFBFB ;
    border-radius: 8px ;
    border: 1px solid #CCCCCC;
    padding-right: 0 ;
    direction: rtl;
}


%labelMain{
    font-family: 'Assistant';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    color: #7E7B7B;
}


#TafnitCore_SaaSServer_Survey_UI_Survey{

    .x-highlight{

        & label{
            color: #8C4D9C ;
        }
        & input.k-textbox.x-textbox.s-textbox{
            border: 1px solid #8C4D9C ;
        }
    }

    // error message // 

    .x-login-user-error{

        border: 1px solid red ;
    }

    .x-login-user-error-msg{
        margin-top: 3px;
    }
padding: 0 ;
div[uxid="SurveyMainSec"]{
    height: 118px ;
}
   & .k-state-disabled{
        opacity: 1 ;
   }
    & .surveyTitle{
        position: absolute;
        height: 268px;
        left: 0px;
        top: 118px;
        background: #8C4D9C;
        border-radius: 20px 20px 0px 0px;
        border: none ;

        & .surveyBodyTitle{
            position: absolute;
            top: 15%;
            transform: translateY(-15%);
           & .mainTitle{
           & span{
            font-weight: 700 ;
            font-size: 24px ;
           }
        }
           & span{
            font-family: 'Assistant' ;
            font-style: normal ;
            font-weight: 400 ;
            font-size: 20px ;
            line-height: 100% ;
            color: #FFFFFF ;
           }
        }
    }
    & .xstyle-buttoncontrol-wrapper{

        &.k-state-disabled{
            opacity: 1 ;
            & button.k-button.x-button{
            height: 46px ;
            border: 1px solid #BBBBBB ;
            background: white ;
            color: #7E7B7B ;
            border-radius: 40px ;
            box-shadow: none ;
        }
    }
        & button.x-button{

            height: 46px ;
            background: #8C4D9C ;
            box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) ;
            border-radius: 40px ;
            font-family: 'Assistant';
            font-style: normal ;
            font-weight: 700 ;
            font-size: 20px ;
            line-height: 26px ;
            text-align: center ;
            color: white ;
            margin-top: 14px ;
            border: none;
        }
    }

    & .x-login-user-error-msg{
        font-family: 'Assistant' ;
        font-style: normal ;
        font-weight: 400 ;
        font-size: 13px ;
        line-height: 100% ;
        color: #E60404 ;
    }
    & .mandatory{
        & label.x-control-caption-text{
            margin-right: 12px ;
            &::before{
                content: "*";
                font-family: "Font Awesome 5 pro" ;
                position: absolute;
                top: -8px;
                right: 3px;
                font-size: 8px;
                color: #0675B4;
            }
        }
        & input{
            background:#FBFBFB  ;
        }
    }

    & div[uxid="SurveyMainSec"]{
        border: none ;
        box-shadow: none ;

    }

    & div[uxid="sQuestions"]{
        min-height: 611px;
        background: #FFFFFF ;
        border-radius: 20px ;
        border: none ;
        margin-top:115px ;
        padding: 30px 15px ;
        width: 100%;
        position: absolute;
        right: 0;
    }

    & .title{
        position: absolute;
        height: 268px;
        left: 0px;
        top: 107px;
        background: #8C4D9C;
        border-radius: 20px 20px 0px 0px;

        & div.x-self-container:nth-child(1){
            margin-top: 20px;

            & span{
                font-family: 'Assistant';
                font-style: normal;
                font-weight: 700;
                 font-size: 36px;
                 color: #FFFFFF ;
            }
        }

        & span{
            font-weight: 100;
             font-size: 25px;
             font-family: 'Assistant';
            font-style: normal;
             color: #FFFFFF ;
        }
    }



    //date control//

    .xstyle-date-wrapper  {
        margin-bottom: 25px ;
        & label{
         @extend %labelMain;
            direction: rtl ;
        }

        & input.s-datePicker-mobile{
            @extend %inputFont;
            padding-top: 15px;
            border: 1px solid #CCCCCC ;
            &::placeholder{
                color: #BBBBBB ;
                font-weight: 600 ;
                font-size: 16px ;
            }
            &.k-input:focus,
            &.k-input:focus-within,
            &.k-input:active{
                border: 1px solid #1F8FCE ; 
                box-shadow: none ;
            }
        }

        & span.k-datepicker{
            height: 50px ;
            background: #FBFBFB ;
            border-radius: 8px ;
            border: none ;

            &.k-input:focus,
            &.k-input:focus-within,
            &.k-input:active{
                border: 1px solid #1F8FCE ; 
                box-shadow: none ;
            }

            & input{
               @extend %inputFont;
                &::placeholder{
                    color: #BBBBBB ;
                    font-weight: 600 ;
                    font-size: 16px ;
                }

                

            }

          
        }

        & button{
            font-size: 29px;
            background: none;
            & span{
                font-size: 21px;
                color: #004B93 ;
                font-weight: 300 ;
                &::before{

                    content: "\f274" ;
                    font-family: "Font Awesome 6 Pro";
                }
            }
        }
    }

    // upload //

    & .xstyle-upload-wrapper {
        margin-bottom: 25px ;
        & .k-state-focused{
            box-shadow: none ;
        }
        & .k-upload-files{
            border: none ;
        }


        & .k-file-invalid{
            height: 80px ;
            background: #FFFFFF ;
            border: 1px solid #CCCCCC ;
            border-radius: 8px ;
            padding-top: 18px;
            margin-top: 20px;
      
            & .k-file-invalid-group-wrapper{
                margin-top: 4px ;
            }

            & .k-file-group.k-icon{
                &::before{
                    content: "\e9b0"; 
                    font-family: 'icomoon';
                    color:#db4240   ;
                }
            }

            & .k-file-name{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px ;
                line-height: 130% ;
                text-align: right ;
                color: #7E7B7B ;
            }

            & [class="k-file-validation-message !k-text-error"]{
                font-family: 'Heebo' ;
                font-style: normal ;
                font-weight: 400 ;
                font-size: 14px ;
                line-height: 100% ;
                text-align: right ;

            }
            
            & .k-icon-button{
                margin-top: -15px ;
            }
        }
        .k-file.k-file-success{
            height: 80px ;
            background: #FFFFFF ;
            border: 1px solid #CCCCCC ;
            border-radius: 8px ;
            padding-top: 22px;
            margin-top: 20px;
             
            & .k-file-group-wrapper{
                margin-top: 3px ;
            }

            & .k-i-file-pdf{
                &::before{
                    content: "\e9b1"; 
                    font-family: 'icomoon';
                    color:#6E2C7E   ;
                }
            }

            & .k-i-file-image{
                &::before{
                    content: "\e9af"; 
                    font-family: 'icomoon';
                    color:#6E2C7E   ;
                    
                }
            }

            & .k-i-file-data{
                &::before{
                    content: "\e9ac";
                    font-family: 'icomoon';
                    color:#6E2C7E;
                    
                }
            }
            
            
            & .k-i-file-txt {
                &::before{
                    content: "\e9b6";
                    font-family: 'icomoon';
                    color:#6E2C7E;
                    
                }
            }
            & .k-i-file{
                &::before{
                    content: "\e9ae";
                    font-family: 'icomoon';
                    color:#6E2C7E;
                    
                }
            }
            
            
       




            & .k-file-name{
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px ;
                line-height: 130% ;
                text-align: right ;
                color: #7E7B7B ;
            }

            & [class^="k-file-validation-message !k-text-success"]{
                font-family: 'Heebo' ;
                font-style: normal ;
                font-weight: 400 ;
                font-size: 14px ;
                line-height: 100% ;
                text-align: right ;
                color: #6E2C7E ;
            }

            & .k-icon-button{
                margin-top: -15px ;
            }
        }
        & label{
            @extend %labelMain;
        }

        & .k-upload-button{
            justify-content: end;

            & span::after{
                content: "\f357";
                font-family: "Font Awesome 5 pro" ;
                font-size: 18px;
                margin-right: 7px;
                font-weight: 100;
            }
        
        }
    }

    //dropdown control //
    .xstyle-idropdownlist-wrapper {
        margin-bottom: 25px ;
        & label{
            @extend %labelMain;
        }


        & span.k-picker.k-dropdownlist{
            height: 50px ;
            background: #FBFBFB ;
            border-radius: 8px ;
            border: none ;
            border: 1px solid #CCCCCC ;
            

            &:focus,
            &:focus-within,
            &:active{
                border: 1px solid #1F8FCE ; 
                box-shadow: none 
            }


            & input{
                @extend %inputFont;
                &::placeholder{
                    color: #BBBBBB ;
                    font-weight: 600 ;
                    font-size: 16px ;
                }

            }

            & .k-input-value-text{
                font-family: 'Assistant' ;
                font-style: normal ;
                font-weight: 600 ;
                font-size: 16px ;
                line-height: 100% ;
                color: #000000 ;
                text-align: right ;
                text-indent: 10px ;
            }

          
        }

        & .k-icon-button{
            font-size: 29px;
            & span{
                font-size: 21px;
                color: #0675B4 ;
                &::before{
                    content: "\f354";
                    font-family: "Font Awesome 5 pro" ;
                    font-weight: 100;
                    
                }
            }
        }

    }

    & div[uxid="cQuestions"]{
        & .x-self-container:last-child {
            margin-bottom: 80px ;
        }
    }

  
    // textarea //

    .xstyle-textareacontrol-wrapper{

        margin-bottom: 25px ;
        & label{
            @extend %labelMain;
        }

        & textarea{
            height: 176px ;
            background: #F8F8F8 ;
            border-radius: 8px;
            border: none ;
            border: 1px solid #CCCCCC ;
            padding-top: 10px ;
            padding-right:10px ;
            text-indent: 0 ;

            @extend %inputFont;
            &:focus-visible{
                outline: 1px solid #1F8FCE ; 
            }
        }
    }


    //star//

    & .xstyle-krating-wrapper.x-control-wrapper:has(.k-state-selected){

        & .k-icon.k-i-close-circle{
    
            color: #8C4D9C ;
          
         }
    
    
       }

    .xstyle-krating-wrapper{

        & label{
            @extend %labelMain;
        }

        & .k-icon.k-i-close-circle{
            color: #CCCCCC ;
            font-size: 24px;
            margin-top: 7px ;
            &:hover{

                color: #CCCCCC ;
            }
            &::before{
                content: "\e9a5";
                font-family: "icomoon";
                font-size: 24px ;
                font-weight: 600;
            }
        }

       & .kendo-rating{

        display: grid;
        grid-template-columns: 10% 90%;

        & .k-rating.k-widget{
            display: grid;
            grid-template-columns: 85% 15%;
          

           & .k-rating-label{
            direction: ltr;
            & span{
                font-family: 'Assistant' ;
                font-style: normal ;
                font-weight: 400 ;
                font-size: 16px ;
                line-height: 100% ;
                text-align: right ;
                color: #7E7B7B ;
            }
           }

            & .k-rating-container{
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                

                & .k-icon{
                    margin: auto;
                    color: #E1ABEF;
                    font-size: 28px;
                    &::before{
                        content: "\e9c5";
                        font-family: 'icomoon';
                    }
                
                }

                & .k-icon.k-i-star{
                     text-shadow: none ;
                    color: #8C4D9C ;
                    &::before{
                        content: "\e9c6";
                        font-family: 'icomoon';
                    }
                }
            }
        }

       }

    }


    // text control //

    .xstyle-textcontrol-wrapper {
        margin-bottom: 25px ;
        & label{
            @extend %labelMain;
        }

        & input{
           
            @extend %inputFont;
            &:focus,
            &:focus-within,
            &:active{
                border: 1px solid #1F8FCE ; 
            }
        }
   }

   // radio button // 

   .xstyle-radio-wrapper{
    margin-bottom: 25px ;
    & label{
        @extend %labelMain;
    }

    & label.k-radio-label{
        color:  black ;
    }

    & input{

        border: none ;
        background: #F5F5F5;
        border: 1px solid #CCCCCC ;
        box-shadow: none ;

        &:checked{
            border: 2px solid #FFFFFF ;
            box-shadow: 0px 0px 4px #71078B ;
        }


        &::before{
            color: #71078B ;
            width: 10px ;
    height: 10px ;
        }
    }

   }

   // signature // 
   .xstyle-signature-wrapper{
    margin-bottom: 25px ;
    & label{
        @extend %labelMain;
    }

     & span.signatureColorPicker{

        border-radius: 0px ;
     }


   & .GraphicalSignaturePlaceHoldersSign,.GraphicalSignaturePlaceHolders{
        border: 1px solid #CCCCCC ;
        border-radius: 8px ;
        padding: 20px ;

        & a img{
            display: none ;
        }

        & a::before{
            content: "\f12d" ;
            font-family: "Font Awesome 5 pro" ;
            color: #0675B4 ;
            font-size: 22px;
            font-weight: 100;

        }
    }

    & .x-signature-canvas{
       border-top: none ;
       border-bottom: 1px dashed #ccc ;
    }
   }

   // check box //

   .xstyle-checkbox-wrapper {
    margin-bottom: 25px ;
    & label{
        @extend %labelMain;
    }

    & input{
        background: #F5F5F5;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        box-shadow: none ;

        &:focus-within{
            border: 1px solid #1F8FCE;
        }

        &:checked{
            border: 2px solid #FFFFFF ;
            box-shadow: 0px 0px 4px #71078B ;
        }

        &:checked::before{
            background: #8C4D9C;
            content: "" ;
        }
    }
   }
   
   .xstyle-autocomplete-wrapper{

    & input{
        &::before{
            content: "\f354";
            font-family: "Font Awesome 5 pro" ;
            font-weight: 100;
            font-size: 21px;
            color: #0675B4 ;
        }
    }
   }


   // logo //
      div[uxid="SurveyMainSec"]{
        display: grid;
        align-items: center;
      }
   & div[uxid="SurveyLogo"]{


       & img{
        max-height: 118px;
        position: relative;
        height: 80% ;
      
       }

   }


   //popupsSignature//

   .xstyle-popupsignature-wrapper{

    & label{
        @extend %labelMain;
    }

    & .GraphicalSignaturePlaceHolders{
        height: 237px ;
        border: 1px solid #CCCCCC ;
        border-radius: 8px ;
        padding: 10px ;
        margin-bottom: 20px ;
        &::after{
            content: "\e9ca";
            font-family: "icomoon";
            position: absolute;
            bottom: 17px;
            font-size: 35px;
            left: 8px;
            color: #0675B4;
        }
    }
   }


   .xstyle-geoaddress-wrapper{

    & .k-i-marker-pin-target{
        &::before{
            content: "\f124" ;
            font-family: "Font Awesome 5 pro" ;
        }
    }
   }
   .xstyle-googleaddress-wrapper{
    & .x-barcodeBtnContainer.s-barcodeBtnContainer{
        top: 50% ;
        transform: translateY(-50%) ;
        height: 45px;
    }
    & a{
        top: 0px ;
        &::before{
            content: "\f3c5" ;
            font-family: "Font Awesome 5 pro" ;
        }
    }
   }

   .xstyle-autocomplete-wrapper,
   .xstyle-geoaddress-wrapper,
   .xstyle-googleaddress-wrapper,
   .xstyle-intlphonenumber-wrapper{

    margin-bottom: 25px ;
    & label{
        @extend %labelMain;
    }

    & .selected-flag{
        background: none;
        border-right: 1px solid #7E7B7B;
        height: 30px ;
        padding-right: 7px;
        margin-top: 9px;
        width: 95px;

        & .selected-dial-code{
            font-family: "Assistant";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: black;
            margin-top: 7px;
            margin-left: 3px;
        }
    }

    & span.k-autocomplete{
        border: none ;
        &:focus,
        &:focus-within{
            box-shadow: none ;
        }
    }

    & .x-barcodeBtnContainer{
        background: none ;
        & a{
            color:#0675B4 ;
            font-weight: 100 ;
            font-size: 23px ;
        }
    }

    & input{

        background: #FBFBFB ;
       border-radius: 8px ;
       height: 50px ;
       border: none ;
       border: 1px solid #CCCCCC ;
       @extend %inputFont;
       &:focus,
       &:focus-within,
       &:active{
           border: 1px solid #1F8FCE ; 
           box-shadow: none ;
       }
    }
  
   }


   // linke control //

   .xstyle-ilink-wrapper {

    & a{
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-align: right;
        color: #0675B4;
        font-family: 'Assistant';
        font-style: normal;
    }
   }

// canvas control // 

.xstyle-canvas-wrapper{
margin-bottom: 25px ;
    & .x-control-content-wrapper{
        border: 1px solid #CCCCCC ;
        border-radius: 8px ;
        padding: 17px;

    & .k-icon{
        margin-top: -7px;
        border-radius: 50px;
        padding-right: 28px;
        border: 1px solid;
        color: #BBBBBB;
        
        &.canvasSaveBtn-indicate-saved{
          background: #8C4D9C ;
          color: white ;  
        }

        &.k-i-close{
            margin-left: 10px;
        }
    }

     & .x-canvas-comp{
        margin-top: 15px ;
        width: -webkit-fill-available;
     }
    }
}


.x-footer {

    border: none ;
    background: #FCFCFC ;
    height: 76px ;
    box-shadow: 0px -4px 8px rgba(113, 7, 139, 0.1) ;

    & .row{
        border: none ;
    }

    & div[uxid="cSubmit"]{
    

        & button.x-button.s-button {
            height: 46px ; 
            background: #8C4D9C ;
            box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) ;
            border-radius: 40px ;
            border: none ;
            width: 95%;
            margin: auto;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 700;
            font-size: 20px ;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF ;
            margin-top: 14px ;

            & span {
                position: absolute;
                left: 10px;
                top: 11px;
            }

            & .fa-paper-plane{
                display: none ;
            }
        }
    }
}


&div[uxid="cQuestions"]{
    padding: 0 ;
}
.xstyle-freehandhtml-wrapper{
    margin-top: 50px ;
  & center{
    background: none ;
    border: none ;
    border-bottom: 1px solid #E1ABEF ;
    text-align: right ;
    font-family: 'Assistant' ;
    font-weight: 700 ;
    font-size: 20px  ;
   border-radius: 0px ;
    line-height: 140% ;
    color: #8C4D9C ;
  }  
}



}

#uber-container:has(#TafnitCore_SaaSServer_Survey_UI_Survey){
    padding: 0 ;

}

.k-content:has(#TafnitCore_SaaSServer_Survey_UI_Survey){
    padding: 0 ;

    .k-widget.k-window:has(#MessageBoxWindow) {

        & div {
            overflow: hidden;
        }
        position: absolute;
        left: 0 ;
        right: 0 ;
        margin: 0 auto;
        padding-bottom: 35px ;
        background: #FFFFFF ;
        border: 1px solid #8C4D9C ;
        box-shadow: 0px 0px 8px rgba(113, 7, 139, 0.3), 0px 10px 5px rgba(113, 7, 139, 0.1) ;
        border-radius: 20px ;
      
        & .k-window-titlebar.k-hstack{
         background: none ;
         flex-direction: row-reverse;
         border: none ;

          & .k-icon{
            color: black ;
            font-size: 20px ;
          }
          & .k-window-title{
            display: none ;
          }
        }
        & #MessageBoxWindow{

          
      
          & #ctrlSectionMainSection{
        
            display: block ;
            & div{
                 margin: auto ;
                 text-align: center;
                 margin-bottom: 10px ;
                 max-width: 100% ;

                 & .x-fa-warning{
                    &::before{
                        font-family: 'icomoon' ;
                        content: "\e9a6" ;
                        color: #8C4D9C ;

                    }
                 }
            }
          }
       & .x-fa-info{
        color: #7B098D;
           &::before{
            content: "\e9a7";
            font-family: 'icomoon';
       }
      
      
      }
      
      & .x-icons.x-fa-question {
        color: #7B098D;
        &::before{
         content: "\e97b";
         font-family: 'icomoon';
        }
      }
      
      & .x-fa-error{
        color: #EE0909 ;
        background: none ;
        &::before{
          content: "\e9a5";;
          font-family: 'icomoon';
        }
      }
      
      & span#controlMessageText{
        font-family: 'Heebo';
      font-style: normal;
      font-weight: 400 ;
      font-size: 16px ;
      line-height: 130%;
      text-align: center;
      color: #000000 ;
      }
      & button{
        height: 46px;
        margin: auto;
        background: #8C4D9C ;
        box-shadow: inset 4px 4px 10px rgba(90, 31, 105, 0.3) ;
        border-radius: 40px ;
        color: white ;
        font-size: 20px ;
        text-align: center;
        margin-top: 10px ;
        border: none;
        line-height: 130% ;
    
        
          &:hover{
            background: #690779 ;
          }
        }
      
        }
      }

   & .k-animation-container{

    top: 434.188px;
    width: 86% ;
    margin: 0 auto;
    left: 0 ;
    right: 0 ;

& .k-list-filter{
    padding: 3px ;

    & .k-input:focus{
        box-shadow: none ;
    }
}
    & .k-searchbox.k-input{
        height: 40px ;
        background: #FFFFFF ;
        border: 1px solid #BBBBBB ;
        border-radius: 8px ;
        color: #BBBBBB ;

        & .k-icon{
              
            margin-right: 10px ;
        }   
     }

        & div{
            background: none ;
            border: none ;
            box-shadow: none ;
            height: auto ;
        }
        & .k-popup.k-group.k-reset.k-rtl{
    
            padding: 30px 20px;
            margin: 0px auto;
            left: 0px;
            width: auto ;
            right: 0px;
            background: #FCFCFC ;
            border: 1px solid #CCCCCC ;
            border-radius: 8px;
            top: 10px;
            transform: none ;
            height: auto ;
            min-width: auto ;
        }
    
        & li{
            background: #ffffff ;
            border: 1px solid #E6E6E6 ;
            height: 40px ;
            margin-bottom: 5px;
            border-radius: 8px;
            &.k-focus{
                background: #F5F5F5 ;
                border: 1px solid #1F8FCE ; 
                box-shadow: inset 4px 4px 4px rgba(217, 217, 217, 0.5) ;
                border-radius: 8px ;
            }
    
            &:hover{
                background: #F5F5F5 ;
                border: 1px solid #E6E6E6 ;
                box-shadow: inset 4px 4px 4px rgba(217, 217, 217, 0.5) ;
                border-radius: 8px ;
            }

            & span.k-list-item-text{
                font-family: 'Assistant' ;
                font-style: normal ;
                font-weight: 400 ;
                font-size: 16px ;
                line-height: 100%;
                color: #000000 ;
            }
        }
    }

}

.k-window:has(.x-signature-canvas){

    left: 0 ;
    padding: 0 20px;
    right: 0 ;
    margin: 0 auto;
    padding-bottom: 35px ;
    background: #FFFFFF ;
    border: 1px solid #8C4D9C ;
    -webkit-box-shadow: 0px 0px 8px rgb(113 7 139 / 30%), 0px 10px 5px rgb(113 7 139 / 10%) ;
    box-shadow: 0px 0px 8px rgb(113 7 139 / 30%), 0px 10px 5px rgb(113 7 139 / 10%) ;
    border-radius: 20px ;
    width: 93%;

    & .k-window-titlebar.k-hstack {
        background: none ;
        border: none ;

        & a{
            left: -13px;
        }

        & .k-icon {
            color: black ;
            font-size: 20px ;
        }

    }

    & span.signatureColorPicker {
        border-radius: 0px ;
    }

    & .x-signature-canvas{
        border-top: none ;
        border-bottom: 1px dashed #ccc ;
        overflow: hidden ;
    }

    & #toolbarSignatureFrame{

        & a img {
            display: none ;
        }

        & a:nth-child(1)::before{
            content: "\e9bf";
            font-family: 'icomoon';
            color: #BBBBBB ;
            font-size: 30px;
            position: absolute;
            right: 9px;
            top: -4px;

        }
        & a:nth-child(2)::before{
            content: "\e9c2";
            font-family: 'icomoon';
            color: #BBBBBB ;
            font-size: 30px;
            position: absolute;
            right: 40px;
            top: -4px;
        }
    }

} 

#TafnitCore_SaaSServer_Survey_UI_Survey{

    .xstyle-switch-wrapper{

        label{
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            text-align: right;
            color: #7E7B7B;
        }

        .k-switch-off{

            .k-switch-track {

                background: #F5F5F5;
                box-shadow: inset -2px 2px 4px rgba(126, 123, 123, 0.2);
                border-radius: 10px;
                height: 21px;
                border: none;

                .k-switch-label-off{
                    display: none;
                }
            }

            &:focus{
                box-shadow: none ;
            }

            .k-switch-thumb {
                background: #DEDEDE;
                border: 1px solid #F5F5F5;
                width: 28px;
                height: 28px;

            }
        }
        .k-switch-on{
            .k-switch-track {

                background: #F5F5F5;
                box-shadow: inset -2px 2px 4px rgba(126, 123, 123, 0.2);
                border-radius: 10px;
                height: 21px;
                border: none;

                .k-switch-label-on{
                    display: none;
                }
            }

            &:focus{
                box-shadow: none ;
            }

            .k-switch-thumb {
                width: 28px;
                height: 28px;
                background: #8C4D9C;
                border: 1px solid #F5F5F5;
                box-shadow: 0px 0px 4px rgba(113, 7, 139, 0.5);
                width: 28px;
                height: 28px;
            }
        }

    }
}