
.k-window:has(#TafnitCore_CarOrder_UI_AddingFuturePayment){
    width: 350px !important;
    height: fit-content !important;
    top: 82% !important;
    left: 35% !important;
    margin: unset;
    position: absolute !important;

}