


.k-calendar-container.k-popup.k-group.k-reset.k-rtl{
    border: none;
    background: none;
    background: white !important;
    border-radius: 20px 0px;
    box-shadow: rgb(57 181 74 / 40%) 0px 0px 10px !important;
    margin: 0 auto;
    right: 0;
    left: 0;

    & .k-footer{
        background: white !important;
    }
    & .k-widget.k-calendar{

        & .k-calendar-view{
            width: 90% !important;
            background: white !important;

            & th{
                font-family: 'Heebo';
            font-style: normal;
            font-weight: 700 !important;
            color: black !important;
            font-size: 10px !important;
            line-height: 16px !important;
            }

            & tbody{
                & tr{
                    & td{

                    
                        &.k-calendar-td.k-state-disabled{
                            & a.k-link{
                                  color: #E6E6E6 !important;
                                  font-weight: 500 !important;
                                font-size: 14px !important;
                                line-height: 22px !important;
                            }
                        }

                        &.k-state-focused a.k-link{
                            box-shadow: none !important;
                            background: #267931 !important;
                            border: 2px solid #7BCE86 !important;
                            border-radius: 50px !important;
                            color: white !important;


                        }

                        &:last-child{
                            color: black !important;
                        }

                        font-family: 'IBM Plex Sans';
                        font-style: normal;
                        font-weight: 500 !important;
                        font-size: 14px !important;
                        line-height: 22px !important;
                        color: #5AC168 !important;
                    }
                }
            }
        }
        & .k-header.k-hstack{
            background: white !important;
            border: none !important;
            padding: 15px !important;
            border-radius: 20px;
       
            & a{
                color: #39B54A !important; 
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 700 !important;
                font-size: 16px !important;
                line-height: 24px !important;
            }

            & a.k-nav-prev{
                & span::before{
                    font-family: 'Font Awesome 5 Pro' !important;
                    content: "\f053" !important;
                    color: #39B54A !important;
                }
            }
            & a.k-nav-next{
                & span::before{
                    font-family: 'Font Awesome 5 Pro' !important;
                    content: "\f054" !important;
                    color: #39B54A !important;
                }
            }

        }

        & .k-footer{
            & a{
                color: #39B54A !important;  
            }
        }
    }
}
  
#TafnitCore_SaaSServer_Portal_PortalDrivers_UI_DateCoordination{

    & .xstyle-calendar-wrapper{
      

        & .k-calendar .k-today .k-link{

            border: 1px solid #BDE6C3 !important;
            border-radius: 50px;
            color: #39B54A !important;
            box-shadow: none !important;
            font-weight: 700 !important;
            font-size: 14px !important;

            &:focus{
                color: white !important;
            }
          }
        & .k-widget.k-calendar{

            background: white !important;
            border: none !important;
            border-radius: 20px 0px !important;
            width: 100% !important;
            
            & .k-header.k-hstack{
                background: white !important;
                border: none !important;
                padding: 15px !important;
                width: 80% !important;
                margin: auto !important;
                & a{
                    color: #39B54A !important; 
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 700 !important;
                    font-size: 16px !important;
                    line-height: 24px !important;
                }

                & a.k-nav-prev{
                    & span::before{
                        font-family: 'Font Awesome 5 Pro' !important;
                        content: "\f053" !important;
                        color: #39B54A !important;
                    }
                }
                & a.k-nav-next{
                    & span::before{
                        font-family: 'Font Awesome 5 Pro' !important;
                        content: "\f054" !important;
                        color: #39B54A !important;
                    }
                }

            }



            & .k-calendar-view{
                width: 100% !important;

                & th{
                    font-family: 'Heebo';
                font-style: normal;
                font-weight: 700 !important;
                color: black !important;
                font-size: 10px !important;
                line-height: 16px !important;
                }

                & tbody{
                    & tr{
                        & td{

                            &.k-calendar-td.k-other-month{
                            
                                color: #E6E6E6 !important;
                            
                            
                        }
                            &.k-calendar-td.k-state-disabled{
                                & a.k-link{
                                      color: #E6E6E6 !important;
                                }
                            }

                            &.k-state-focused a.k-link,
                            &.k-state-selected a.k-link{
                                box-shadow: none !important;
                                background: #267931 !important;
                                border: 2px solid #7BCE86 !important;
                                border-radius: 50px !important;
                                color: white !important;


                            }

                            &:last-child{
                                color: black !important;
                            }

                            font-family: 'IBM Plex Sans';
                            font-style: normal;
                            font-weight: 500 !important;
                            font-size: 14px !important;
                            line-height: 22px !important;
                            color: #5AC168 !important;
                        }
                    }
                }
            }
        }
    }
}