
@use '../varible/varible' as *;


.drop{
    padding-right: 0 !important;
}

.xstyle-idropdownlist-wrapper{
    &.k-state-disabled,
    &.x-readonly{
        opacity: 1 !important;
       & span.x-dropdown-comp.s-dropdown-comp{

           @extend %DisableInput;

           & span.k-icon{
            &::before{
           content: "";
            }
           }
       }

       & label{
           color: #CCCCCC !important; 
         }
   }
    & span{
        color: #000000 !important;
        font-weight: 400 !important;
        font-size: 16px !important;
    }
    & span.x-dropdown-comp.s-dropdown-comp {
        @extend %SimpleInput;
     

  
    &:focus,
    &:focus-within{
        border: 1px solid #E6E6E6 !important;
        box-shadow: 0px 0px 4px rgba(57, 181, 74, 0.3);
        border-radius: 20px 0px;
    }

    }

    & label{
        @extend %SimpleCaption; 
       
    }

    & button{
        margin-left: 10px !important;
    }
    & .k-input-button{
        margin-left: 15px;
    }
    & span.k-icon{
        &::before{
            content: "\f0d7";
            font-family: "Font Awesome 5 Pro";
            font-weight: 700;
            font-size: 30px;
            right: -5px;
            color: #39B54A !important;
        }

    }

}


.k-animation-container{
    width: 94% !important;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;
    & div{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }
    & .k-popup.k-group.k-reset.k-rtl{
        width: 86% !important;
        border-radius: 20px 0px;
      
        margin: 0px auto;
        left: 0px;
        right: 0px;
        background: rgb(255, 255, 255) !important;
        box-shadow: 0px 4px 4px rgba(57, 181, 74, 0.2), 0px 0px 4px rgba(57, 181, 74, 0.1) !important;
        top: 0px;
    }
    div.k-list-content span.k-list-item-text{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 130% !important;
        color: #000000 !important;
    }

    ul{
        padding: 30px 20px;
    }

    & li{
        background: #FBFBFB !important;
        border: 1px solid #E6E6E6 !important;
        height: 40px !important;
        margin-bottom: 5px;
        border-radius: 20px;

    &.k-selected.k-focus {
        background: #F5F5F5 !important;
        border: 1px solid #E6E6E6 !important;
        box-shadow: inset 4px 4px 4px rgba(217, 217, 217, 0.5) !important;
        border-radius: 20px !important;

        & span{
            font-weight: 700 !important;
        }
    } 
        // &:nth-child(1){
        //     background: #FFFFFF !important;
        //     box-shadow: 0px 0px 4px rgba(57, 181, 74, 0.3) !important;
        // }

        &:hover{
            background: #F5F5F5 !important;
            box-shadow: 0px 0px 4px rgba(57, 181, 74, 0.3) !important;
            border-radius: 20px !important;
            
            & span:hover{
            font-weight: 700 !important;
            }
        }
    }
}