



.main-title{
padding: 0 !important;
    & .x-dynamic-label-control {
        font-family: 'Ploni DL 1.1 AAA';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #232873;
        margin-top: 40px;
        
    }
}

.card-start{

    background: #FFFFFF !important;
    border-radius: 6px;
    padding: 40px 34px;
    margin-bottom: 40px;
    margin-top: 40px;
.title-card{
    & .x-dynamic-label-control {

        font-family: 'Ploni DL 1.1 AAA';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #333333;

    }
}



}

.secndary-title{
    padding: 0 !important;
    margin-bottom: 40px;
    & .x-dynamic-label-control{
        font-family: 'Ploni DL 1.1 AAA';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #232873;
    }
}


.text-card{

    textarea{
        min-height: 300px ;
        border: none;
        background: none;
        outline: none !important;
        margin-top: 15px;
        font-family: 'Ploni DL 1.1 AAA';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #333333;
        resize: none;
    }
}

@media only screen and (max-width: 1680px){

    textarea.k-textbox.k-textarea{
       min-height: 480px ;
    }

}