.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-form-field label, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper label, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #077294;
  margin: 0;
}

.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-textbox.k-input.k-input-md.k-rounded-md.k-input-solid, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-input.k-textbox, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-numerictextbox, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input {
  height: 40px;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 0px;
  padding: 10px 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  color: #000000;
  text-align: right;
}

.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button.k-button-solid-primary {
  height: 40px !important;
  background: #B1BA1D;
  border-radius: 0px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  width: auto !important;
  min-width: 200px;
  border: 1px solid #B1BA1D;
}

.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button {
  background: #159BC5;
  border: none;
  border-radius: 0px;
  align-items: center;
  height: 40px !important;
  color: #ffffff;
  font-family: "Heebo" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  min-width: 200px;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio div[uxid=xstudioComponent] {
  max-height: 505px;
  overflow: auto;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio div[uxid=xstudioComponent]::-webkit-scrollbar-track {
  border-radius: 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio div[uxid=xstudioComponent]::-webkit-scrollbar {
  width: 10px;
  background: white;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio div[uxid=xstudioComponent]::-webkit-scrollbar-thumb {
  background: #29AFD9;
  border-radius: 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio div[uxid=xstudioComponent]::-webkit-scrollbar-thumb:hover {
  background: #239fc5;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) {
  background: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .x-btn-collapse #x-arrow-collapse {
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .x-btn-collapse #x-arrow-collapse::before {
  color: #ffffff;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .col {
  display: flex;
  flex-direction: row-reverse;
  cursor: default;
  height: 28px;
  background: #1996BD;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .col:has(.collapsed) {
  background: #075D78;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) h3 {
  background: none;
  color: #ffffff;
  height: 30px;
  padding-left: 20px;
  text-align: left;
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  padding-right: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .x-btn-collapse {
  top: 0;
  position: relative;
  left: 0;
  border: none;
  width: 30px;
  height: 30px;
  background: none;
  align-items: center;
  display: grid;
  right: 0;
  margin: 0 auto;
  transform: rotate(0);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .x-btn-collapse.collapsed {
  transform: rotate(0);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .x-btn-collapse.collapsed span.k-i-arrow-60-down:before {
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-section-header-wrapper:has(.x-btn-collapse) .x-btn-collapse span.k-i-arrow-60-down:before {
  content: "\e404";
  font-family: "Font Awesome 5 Pro";
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio {
  width: 98%;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .row-hidden-studio {
  box-shadow: none;
  padding: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .row.border.ux-studio-border, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .row .border .ux-studio-border {
  border: 1px dashed #7E7B7B !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .row.border.ux-studio-border:focus, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .row.border.ux-studio-border:active, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .row .border .ux-studio-border:focus, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .row .border .ux-studio-border:active {
  border: 1px dashed #7E7B7B !important;
  box-shadow: 0px 0px 6px 0px rgba(21, 155, 197, 0.8) !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio div[uxid=UXStudioToolbar] {
  display: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .header-studio {
  background: var(--studio-other-white, #FFF);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  height: 45px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .header-studio .col-header2 {
  justify-content: left;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .header-studio .col-header1, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .header-studio .col-header2 {
  gap: 15px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .header-studio .col-header1 .k-icon, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .header-studio .col-header2 .k-icon {
  color: #000;
  font-size: 25px;
  font-weight: 200;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody {
  margin-top: 0px !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .ux-studio-border.border-studio.xtaf-row-main, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .ux-studio-border .xstudioRow.border-studio {
  border: 1px dashed black !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .ux-studio-border.border-studio.xtaf-row-main:hover, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .ux-studio-border .xstudioRow.border-studio:hover {
  box-shadow: 0px 0px 6px 0px rgba(21, 155, 197, 0.8);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .ux-studio-border .xstudioCol.border-studio {
  border: 1px dashed black !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .ux-studio-border .xstudioCol.border-studio:hover {
  box-shadow: 0px 0px 6px 0px rgba(21, 155, 197, 0.8);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .xtaf-row-main, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody .xstudioRow {
  background: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 25px 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .col-12, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .col, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody > .x-col {
  padding: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody.xtaf-row-hidden {
  box-shadow: none;
  border-radius: 0;
  padding: 0px 30px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody.xtaf-row-hidden .col, #TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody.xtaf-row-hidden .col-12 {
  padding: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody.boxShadow-0.border-0 {
  background: none;
  box-shadow: none;
  padding: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio mainbody.boxShadow-0.border-0 > div {
  padding: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-row-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-add-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-row.xtaf-row-grid-2col {
  padding: 30px 30px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-row.xtaf-row-grid-2col > .col-grid-2col {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 100%;
  margin: auto;
  align-items: end;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-row.xtaf-row-grid-2col > .col-grid-2col button {
  margin: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .greyPanel .x-section-header-wrapper {
  background: no-repeat;
  margin-bottom: 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .greyPanel .x-section-header-wrapper .col {
  padding-right: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .greyPanel .x-section-header-wrapper .x-section-header {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  color: #366934;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-link-back {
  margin-bottom: 15px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-link-back a {
  color: #78AAB4;
  text-align: center;
  font-family: Heebo;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 13px */
  text-decoration-line: underline;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper {
  margin-top: 15px;
  /* Firefox */
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input::-webkit-outer-spin-button,
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper.k-state-disabled {
  opacity: 1;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper.k-state-disabled input.k-textbox {
  background: #F7F7F7;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper.k-state-disabled label {
  color: #C8C8C8;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input {
  padding-right: 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input.x-login-user-error {
  border-bottom: 1px solid #DB0000;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input:focus {
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
  border: #B7DFEC;
  outline: none !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input::-moz-placeholder {
  color: #c7c7c7;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-textcontrol-wrapper input::placeholder {
  color: #c7c7c7;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .x-textbox.s-textbox {
  width: 100%;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-focus, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-selected {
  box-shadow: none;
  border: none;
  background: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item {
  padding-right: 16px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot {
  border-bottom: 1px solid #D9D9D9;
  background: #29AFD9;
  height: 40px;
  padding: 10px 10px 10px 15px;
  justify-content: left;
  align-items: center;
  max-width: 100%;
  flex-direction: row-reverse;
  position: relative;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top:hover, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid:hover, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot:hover {
  background: #D9D9D9 !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top .k-treeview-toggle, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid .k-treeview-toggle, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot .k-treeview-toggle {
  position: absolute;
  right: 30px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top .k-sprite, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid .k-sprite, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot .k-sprite {
  display: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top .k-treeview-leaf, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid .k-treeview-leaf, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot .k-treeview-leaf {
  color: #FFF !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top .k-treeview-leaf:hover, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid .k-treeview-leaf:hover, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot .k-treeview-leaf:hover {
  background: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top .k-i-expand:before,
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-top .k-i-collapse:before, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid .k-i-expand:before,
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-mid .k-i-collapse:before, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot .k-i-expand:before,
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-bot .k-i-collapse:before {
  content: "\e965";
  font-family: "icomoon";
  color: #FFF;
  font-size: 13px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-top, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-mid, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-bot {
  background: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-top .k-sprite, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-mid .k-sprite, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-bot .k-sprite {
  display: block;
  margin-right: 5px;
  margin-left: 0;
  height: 25px;
  width: 20px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-top .k-sprite:before, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-mid .k-sprite:before, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-bot .k-sprite:before {
  content: "\e991";
  font-family: "icomoon";
  color: #159BC5;
  font-size: 20px;
  font-weight: 400;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-top .k-treeview-leaf, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-mid .k-treeview-leaf, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .k-treeview-lines .k-treeview-item .k-treeview-group .k-treeview-item .k-treeview-bot .k-treeview-leaf {
  color: #000 !important;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp:focus, #TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp:focus-within {
  border: 1px solid #B7DFEC;
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper span.x-dropdown-comp.s-dropdown-comp .k-input-inner {
  padding: 0;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper .k-input-button {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper .k-input-button:hover {
  background: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-idropdownlist-wrapper .k-input-button span.k-icon::before {
  content: "\f0d7";
  font-size: 22px;
  font-family: "Font Awesome 5 Pro";
  color: #159BC5;
  font-weight: 700;
}

.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-rtl .k-window-titlebar .k-window-actions {
  right: auto;
  left: -15px;
  position: relative;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup {
  box-shadow: 0px 0px 5px 5px rgba(57, 181, 74, 0.1), 0px 2px 4px 0px rgba(57, 181, 74, 0.03), 0px 4px 5px 0px rgba(57, 181, 74, 0.04);
  border: #e7e7e7;
  border-radius: 10px;
  margin-top: 5px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list {
  border-radius: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller {
  border-radius: 10px;
  background: none;
  padding: 12px 20px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller ul {
  background: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller li {
  height: 41px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller li.k-selected.k-focus {
  background: #29AFD9;
  border: none;
  box-shadow: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller li.k-selected.k-focus .k-list-item-text {
  color: #ffffff;
  font-weight: 700;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller li:hover {
  background: #f5f5f5;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller li:hover .k-list-item-text {
  color: #000000;
  font-weight: 700;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-popup .k-list-content.k-list-scroller li span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: right;
  color: #000000;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window {
  background: #FFFFFF;
  box-shadow: 0px 5px 8px 0px rgba(57, 181, 74, 0.1);
  border-radius: 10px;
  border: none;
  padding: 0px 20px 20px;
  max-height: 95%;
  height: auto !important;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .container.pageContainer.xtafnit_pageContainer {
  position: relative;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(#TafnitCore_SaaSServer_Portal_ContractorsSuppliers_UI_ProjectSelect) {
  right: 0;
  margin: 0 auto;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 60% !important;
  left: 0 !important;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(#TafnitCore_SaaSServer_Portal_ContractorsSuppliers_UI_ProjectSelect) #TafnitCore_SaaSServer_Portal_ContractorsSuppliers_UI_ProjectSelect.container.pageContainer.xtafnit_pageContainer {
  top: 0;
  width: 100%;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .k-button.k-active::before, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .k-button:active::before {
  opacity: 1;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .k-window-titlebar {
  border: none;
  background: none;
  top: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .k-window-titlebar span {
  color: #a6a6a6;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .k-window-content {
  overflow: auto !important;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .x-footer {
  background: none;
  border: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window #TafnitCore_SaaSServer_Portal_Default_UI_userDetailes {
  margin-bottom: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window #TafnitCore_SaaSServer_Portal_Default_UI_userDetailes header {
  display: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window #TafnitCore_SaaSServer_Portal_Default_UI_userDetailes mainbody {
  margin-top: 0px;
  padding-bottom: 22px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window #TafnitCore_SaaSServer_Portal_Default_UI_userDetailes .k-grid-header {
  display: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .ttitle-border {
  padding: 7px 5px;
  border-bottom: 1px solid #366934;
  border-top: 1px solid #366934;
  margin-top: 15px;
  margin-bottom: 15px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .ttitle-border span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #366934;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .text-secondary span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 20px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .text-spicel label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #366934;
  margin-bottom: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .col-list {
  padding-bottom: 15px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  height: 25px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .list span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .list label {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #690779;
  width: -moz-max-content;
  width: max-content;
  margin-top: 5px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .col-grid {
  padding: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .col-button {
  box-shadow: none;
  border: none;
  padding: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .xstyle-gridv4-wrapper {
  padding: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .xstyle-gridv4-wrapper .toolbar.x-embeddedToolbar span.k-searchbox {
  background: #FFFFFF;
  border: 1px solid #A6A6A6 !important;
  border-radius: 10px;
  height: 40px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .xstyle-gridv4-wrapper .toolbar.x-embeddedToolbar span.k-searchbox input {
  text-align: right;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .xstyle-gridv4-wrapper td {
  padding-left: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window .xstyle-gridv4-wrapper tr:nth-child(2) {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #690779;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-input.k-textbox input, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-numerictextbox input {
  text-align: right;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-input.k-textbox:focus-within, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-numerictextbox:focus-within {
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
  border: #B7DFEC;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-edit-form-container {
  width: 100%;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-window-title {
  margin-top: 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #366934;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-popup-edit-form {
  padding: 0;
  margin-top: 20px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) .k-edit-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button {
  margin-right: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button.k-button-solid-primary:hover {
  background: #29AFD9;
  color: white;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button.k-button-solid-primary:hover span::before {
  color: white;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button.k-button-solid-primary:focus:before {
  background: #159BC5;
  color: white;
  opacity: 1;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button.k-button-solid-primary:focus:before span {
  color: white;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button:hover {
  background: #29AFD9;
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window:has(.k-edit-form-container) button:focus {
  background: #159BC5;
  opacity: 1;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-grid-content.k-auto-scrollable, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-content, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-list-scroller {
  scrollbar-face-color: #7B098B;
  scrollbar-track-color: #f3e9f8;
  scrollbar-arrow-color: #7B098B;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-grid-content.k-auto-scrollable::-webkit-scrollbar, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-content::-webkit-scrollbar, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-list-scroller::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  position: absolute;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-grid-content.k-auto-scrollable::-webkit-scrollbar-track, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-content::-webkit-scrollbar-track, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-list-scroller::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f0f0f0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-grid-content.k-auto-scrollable::-webkit-scrollbar-thumb, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-content::-webkit-scrollbar-thumb, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-list-scroller::-webkit-scrollbar-thumb {
  background: #366934;
  border-radius: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-grid-content.k-auto-scrollable::-webkit-scrollbar-thumb:hover, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-content::-webkit-scrollbar-thumb:hover, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-list-scroller::-webkit-scrollbar-thumb:hover {
  background: #267931;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu {
  background: #FFFFFF;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 5px 8px 0px rgba(57, 181, 74, 0.1);
  border-radius: 10px;
  border-radius: 10px;
  height: auto;
  width: 230px;
  padding: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container {
  padding: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-filter-help-text {
  width: 100%;
  background: white;
  color: #000000;
  height: 28px;
  text-align: right;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding-top: 12px;
  font-family: "hebbo";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md {
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
  width: 100%;
  margin-bottom: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md:focus, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md:focus-within {
  border: 1px solid #B7DFEC;
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md .k-input-button {
  left: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md .k-input-button:hover {
  background: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-picker.k-dropdownlist.k-picker-solid.k-picker-md.k-rounded-md .k-input-button span.k-icon::before {
  content: "\f0d7";
  font-size: 22px;
  font-family: "Font Awesome 5 Pro";
  color: #159BC5;
  font-weight: 700;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox {
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
  width: 100%;
  margin-bottom: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox:focus, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox:focus-within {
  border: #B7DFEC;
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox .k-button {
  left: -8px;
  background: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox .k-button:hover {
  background: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-numerictextbox .k-button span.k-icon::before {
  color: #159BC5;
  font-size: 25px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker {
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
  width: 100%;
  margin-bottom: 10px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker:focus, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker:focus-within {
  border: #B7DFEC;
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker .k-input-button {
  left: 10px;
  background: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker .k-input-button:hover {
  background: none;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-datepicker .k-input-button span.k-icon::before {
  content: "\e973";
  font-size: 22px;
  font-family: "icomoon";
  color: #159BC5;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-textbox.k-input.k-input-md.k-rounded-md.k-input-solid {
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-textbox.k-input.k-input-md.k-rounded-md.k-input-solid input {
  text-align: right;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-textbox.k-input.k-input-md.k-rounded-md.k-input-solid:focus, .k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-textbox.k-input.k-input-md.k-rounded-md.k-input-solid:focus-within {
  border: 1px solid #B7DFEC;
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons {
  display: flex;
  flex-direction: row;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button {
  width: 45%;
  height: 40px;
  background: #159BC5;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 14px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button:hover {
  background: #29AFD9;
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button:hover span::before {
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button:focus {
  background: #159BC5;
  box-shadow: 0px 4px 8px 0px rgba(142, 187, 207, 0.5);
  color: #ffffff;
  opacity: 1;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button:focus span {
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button.k-button-solid-base {
  background: #B1BA1D;
  border: 1px solid #B1BA1D;
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button.k-button-solid-base:hover {
  background: #9FA717;
  color: #ffffff;
  border: 1px solid #64cb72;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button.k-button-solid-base:hover span::before {
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button.k-button-solid-base:focus {
  background: #9FA717;
  box-shadow: none;
  color: #ffffff;
  border: 1px solid #64cb72;
  opacity: 1;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-animation-container .k-filter-menu > .k-filter-menu-container > .k-action-buttons > button.k-button-solid-base:focus span {
  color: #ffffff;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-i-close {
  font-size: 18px;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-titlebar .k-window-action {
  opacity: 1;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-titlebar .k-window-action:focus::after {
  opacity: 0;
}
.k-content:has(#TafnitCore_System_UI_App_Tools_Studio_UXStudio) .k-window-titlebar .k-window-action::before {
  background: none;
  opacity: 1;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio {
  position: absolute;
  top: -32px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .k-switch {
  height: 35px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .k-switch .k-switch-track {
  height: 20px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .k-switch .k-switch-thumb {
  height: 23px;
  width: 30px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col span {
  color: #7E7B7B;
  text-align: right;
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .xstyle-switch-wrapper .k-switch-off .k-switch-track {
  background: #F5F5F5;
  box-shadow: inset -2px 2px 4px rgba(126, 123, 123, 0.2);
  border-radius: 10px;
  border: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .k-switch-label-off {
  display: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .xstyle-switch-wrapper .k-switch-off:focus {
  box-shadow: none !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .xstyle-switch-wrapper .k-switch-off .k-switch-thumb {
  background: #DEDEDE;
  border: 1px solid #F5F5F5;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .xstyle-switch-wrapper .k-switch-on .k-switch-track {
  background: #F5F5F5;
  box-shadow: inset -2px 2px 4px rgba(126, 123, 123, 0.2);
  border-radius: 10px;
  border: 1px solid #159BC5;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .k-switch-label-on {
  display: none;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .xstyle-switch-wrapper .k-switch-on:focus {
  box-shadow: none !important;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xtaf-switch-studio .x-col .xstyle-switch-wrapper .k-switch-on .k-switch-thumb {
  background: #159BC5;
  box-shadow: 0px 0px 4px rgba(126, 123, 123, 0.2);
}

.bg-warning {
  background: rgba(41, 176, 217, 0.4588235294) !important;
}

.ux-studio-bottom-border {
  border-bottom: 2px solid #074b5f !important;
}

.ux-studio-top-border {
  border-top: 2px solid #074b5f !important;
}

.border {
  border: none !important;
}

header {
  border: none !important;
}

#TafnitCore_System_UI_App_Tools_Studio_UXStudio {
  width: 98%;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-itreeview-wrapper {
  direction: ltr !important;
  max-height: 450px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-itreeview-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-itreeview-wrapper::-webkit-scrollbar {
  width: 10px;
  background: white;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-itreeview-wrapper::-webkit-scrollbar-thumb {
  background: #29AFD9;
  border-radius: 10px;
}
#TafnitCore_System_UI_App_Tools_Studio_UXStudio .xstyle-itreeview-wrapper::-webkit-scrollbar-thumb:hover {
  background: #239fc5;
}/*# sourceMappingURL=style.css.map */