$title-background: #10143A;
$title-text: White;
$title-secondary: #45B4E3;
$title-secondary-bottom-border: #94DEFD;
$icon-color : #10143A;
$required: #45B4E3;
$focus-border:  #45B4E3;
$high-light-caption : #45B4E3;
$radio-button-on-background:  #45B4E3;
$radio-button-on-drop-shadow: 0px 0px 4px #AE2A30;
$radio-button-on-border: #CCCCCC;
$upload-text: #1182B1;
$upload-icon: #1182B1;
$check-box-on-background: #026F9E;
$check-box-on-drop-shadow: none;
$label-star-off-border: #94DEFD;
$label-star-on-background: #45B4E3;
$link-text: #0D6394;
$approve-icon-on: #45B4E3;
$button-background: #45B4E3;
$button-press-background: #30587C;
$card-upload-file-icon-file: #1182B1;
$card-upload-file-name-file: #495057;
$card-upload-file-ok-text: #1182B1;
$card-upload-file-error-text: #DB1C33;
$card-upload-file_error-icon-file: #DB1C33;
$box-shadow-footer: 0px -4px 8px rgba(17, 130, 177, 0.2);
$box-shadow-button: inset 4px 4px 10px rgba(90, 31, 105, 0.3);
$box-shadow-messagebox: 0px -4px 8px rgba(17, 130, 177, 0.2);
$messagebox-icon-color:#10143A;
$messagebox-border-color:#10143A;
$signature-icon-before:#10143A;
$signature-icon-after:#10143A;
$pop-up-canvas-box-shadow: 0px -4px 8px rgba(17, 130, 177, 0.2)!default;
$list-view-border-selected:#10143A !default;
$switch-bg-on:  #026F9E !default;
$switch-box-shadow-on:0px 0px 4px rgba(17, 130, 177, 0.2)E !default;



